[2020-12-04 07:24] frederickjh commented on #2132
I have had this happen with a couple of podcast even with not being able to edit the URL. I think they changed something and then Antennapod saw the episodes as being different.

[2020-12-04 07:33] frederickjh commented on #2132
@ByteHamster  Is there a write up anywhere on how to do this for the advance user?

Is the export and import that you are talking about that found in the menu in Antennapod at Settings > Storage > Import/Export >  then either Database import or Database export?

Is the file exported a sqlite database?

[2020-12-04 10:39] vsandre opened #4735 "Reseting sleep timer with shaking does not work"
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info
**App version**: 2.0.3
**App source**: F-Droid
**Android version**: 11
**Device model**: Samsung S20

# Bu

[2020-12-04 13:22] tothpsk opened #4736 "pause for interruption doesn't work on AntennaPod 2.1.0"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

Android version: 10
OS version: 4.4.194-perf+
AntennaPod version: 2.1.0
Model: Nokia 7.2
Device: DDV_spr

[2020-12-04 18:50] JimAlps commented on #2495
Hi. I also experience this bug since a lot of time. I'm actually running version 2.0.3
I think I know how to reproduce :
- Use auto download
- Get a long list of new episodes to download.
- While some episodes are downloading (two at a time), remove from the list (by swaping) some episodes not downloaded yet, because you don't want them. Sometimes, (only in versions 2.0+ I think) they reappear in

[2020-12-05 02:27] widlok commented on #4661
Refactoring that's really good idea. I would create at least 10 modules. One module should contain only few packages and every package should contain only few classes. Networking, persistence, view, event handling, model, utility, parsers etc.

I encourage to consider using libraries like Lombok which reduce boilerplate. I never used [Android Jetpack](https://developer.android.com/jetpack/getting-

[2020-12-05 15:15] tonytamsf commented on #4661
I suggest we roll up our sleeves and tackle changes to the code to make testing easier instead of talking about it.

I would expect any of those PRs to add a test for each refactoring.

Could we close this issue and get to work on it?😁

[2020-12-05 19:21] tonytamsf commented on #4736
@tothpsk what was the interruption?  a phone call or something else?

[2020-12-05 22:53] thedukesww commented on #3835
just wanting to note that I think this is a great UI request. I don't how I can help you with this, but glad to help where I can.

[2020-12-06 00:58] tonytamsf commented on #4726
regarding categories, I've started work on it.  https://github.com/AntennaPod/AntennaPod/pull/3788

regarding 25 or more podcasts during browsing, @ByteHamster what do you think of showing at least 50?

[2020-12-06 01:00] tonytamsf commented on #4710
You can also just preview an episode without subscribing to it.
I vote that we close this issue @keunes ?

[2020-12-06 01:02] tonytamsf commented on #4668
can you look through this string file and point which which string you are mentioning? https://github.com/AntennaPod/AntennaPod/blob/8f6c560f01334c1fa0e74b05cbf1dbad05119572/core/src/main/res/values/strings.xml

[2020-12-06 01:03] tonytamsf commented on #4618
is 'Pebble Music' the app on the watch and then it behaves like a bluetooth device?

[2020-12-06 01:06] tonytamsf commented on #4559
@hmilgraum what is the theme of your android phone?  The nav bar is not controlled by AntennaPod. (at least I don't think so)

[2020-12-06 01:12] tonytamsf commented on #3835
@keunes please assing this to me

[2020-12-06 01:16] tonytamsf commented on #4531
@keunes this should be fixed in #4707 , please close

[2020-12-06 06:43] #4531 closed

[2020-12-06 08:01] dontknowcris commented on #4726
Honestly I was thinking to show the 100 best podcast in Discover and at least 150 in every single category

[2020-12-06 08:43] keunes commented on #4710
To be honest I find the use-case very relevant: it would be great if you could share a particular episode with a friend who could listen to it at a later point. Indeed temporarily subscribing is a workaround, but it doesn't feel great as a user (you have to remember to delete the feed afterwards, a cognitive burden).

I realise it's currently technically hardly possible to cater for this use-case

[2020-12-06 09:14] Matth7878 commented on #4710
Another idea to manage this :
- wait for group folders to be implemented
- have a "no subscription" folder
- let user download episode without subscribing (instead of previewing) and add it to the queue
- behind the scenes subscribe to podcast, put it in "no subscription" folder
- make "no subscription" folder and podcasts in it invisible to user
- remove invisible subscriptions if there is no lon

[2020-12-06 11:51] arthurlutz commented on #4710
@keunes thanks for this user centric approach. There is no rush for this feature.

[2020-12-06 14:07] tasmo commented on #4618
Yes, exactly. I have tested it with the latest AntennaPod version and everything seems to be fine again. Thank you for caring!

[2020-12-06 14:07] #4618 closed

[2020-12-06 14:58] dilbertarian opened #4738 "App disappears from active tasks"
# Checklist

- [ x] I have used the search function to see if someone else has already submitted the same bug report.
- [ x] I will describe the problem with as much detail as possible.
- [x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.3 (happens in earlier versions as well)

**App source**: Google Play

**Android

[2020-12-06 16:50] aldum opened #4739 "Multiple playlists/queues"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.3

**App source**:  F-Droid

# Feature description

**Problem you may be having, or feature you want**:
Seconding dont

[2020-12-06 20:19] tothpsk commented on #4736
They were various apps notifications (Google news...). But observing this further I think there might have been a conflict with Filterbox application, which manages notifications. After deactivating all rules in Filterbox the pause for interruptions in Antennapod works as expected.

[2020-12-06 20:42] #4736 closed

[2020-12-07 09:09] andreacantone commented on #4701
@tonytamsf @keunes @ByteHamster Thank you for your answers! I can provide more information about accessibility errors whenever you want.

[2020-12-07 09:57] vitaly-zdanevich opened #4741 "Chapters view: on moving to the next - scroll move"
AntennaPod 2.0.3 from Google Play.

I recorded a video https://youtu.be/-gVOWVsN8CM

[2020-12-07 11:00] keunes commented on #4701
Feel free to create new issues if you have any point of improvement @andreacantone

[2020-12-07 12:29] keunes commented on #4739
Hello
Thanks for chipping in :) Customisable queues are requested & discussed in #2648. Tags for podcasts are covered in #1711 (and work on that is going on in #4634).

So I'll be closing this issue now. Feel free to contribute to the issues I linked to by sharing your thoughts or giving a thumbs-up to the original post.

Best,
Keunes

[2020-12-07 12:29] #4739 closed

[2020-12-07 16:22] Girret opened #4743 "Hide episodes"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.3
**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:
I would like

[2020-12-07 18:34] Matth7878 commented on #4743
IMHO should be related to multiple queues support.
It would make possible to have a queue with episodes to listen later.

[2020-12-07 19:33] HolgerJeromin commented on #345
I think I had the situation with ExoPlayer right now.
The play button had a touch feedback but playback did not start.
Starting again worked. Position was not reset.
Perhaps you should disable the buggy player.

[2020-12-07 20:12] shortspider commented on #4556
Hey @ByteHamster just looking to confirm that the logs I posted were from the right version that has the additional logging you mentioned above.

[2020-12-08 02:04] tonytamsf commented on #3755
AntennaPod - Open Podcast Player

[2020-12-08 06:06] FivelMttz commented on #4676
Is anybody is trying to make it real now?

[2020-12-08 06:50] Pentaphon commented on #3755
This is the only one that normal people care about. They don't like banner and fullscreen ads. They will at least try anything that doesn't have those.

[2020-12-08 09:46] ByteHamster commented on #4710
Yeah, I think that is the only good option we have. Would mean a lot of work, though (hide in episodes list, etc). Also, what happens if someone goes to the podcast page and downloads another episode of that podcast without subscribing? Do we delete the subscription only when no episode is marked as favorite? This feature sounds like it could lead to pretty big discussions about the behavior and q

[2020-12-08 14:37] ByteHamster commented on #2132
No, unfortunately not

Yes, the database import/export function contains AntennaPod's full database with subscriptions, episodes, etc.

Yes

[2020-12-08 18:56] Matth7878 commented on #4710
Yes removing podcast should only happen when there is no more downloaded episode or episode in favorites.
Really all would be like any other podcasts for the user except he wouldn't be able to see it in subscriptions screen or in subscriptions list. As all others interaction will be exactly the same I don't think it will cause any confusion.

[2020-12-08 22:29] keunes commented on #4710
Either nothing special (episode gets added, nothing else changes), or - probably better - a dialog is shown saying that they're currently not subscribed and adding more episodes is not possible, offering to 'subscribe' (i.e. remove the 'not subscribed' tag).

[2020-12-09 06:36] tonytamsf commented on #3835
Work in progress here https://github.com/AntennaPod/AntennaPod/pull/4746

[2020-12-09 08:20] roshavagarga opened #4747 "Discovery screen enhancement"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.0 (0dcf44f67)

**App source**: Google Play / F-Droid / ...
Google Play

# Feature description

**Problem you may be ha

[2020-12-09 14:46] tonytamsf commented on #4747
hi @roshavagarga,

I added that feature to browse by country in the discovery screen.

Just so you know, the list of podcast are ranked by iTunes (Apple Inc) as the top 25 podcast subscribed to in Bulgaria.  That is why there are English language podcast in that list.

Given that information, are you asking for a filter where you don't want to see certain languages in the podcast list, or only wan

[2020-12-09 14:56] roshavagarga commented on #4747
Hey @tonytamsf

I'm guessing that iTunes was the only viable options? I know that PodcastIndex supports language codes (Bulgarian = bg-bg), so that might be an alternative.

Legally, Bulgarian is the only official language within the country. There are, however, two big minorities - Bulgarian Turks and Bulgarian Roma, where the former speaks Turkish (albeit in a regional dialect) and the latter sp

[2020-12-09 15:09] tonytamsf commented on #4747
Thank you for informing me about the language options in Bulgaria.

For podcastindex.org, we already implement thier search API (at the bottom of the Discovery screen)

I don't see a 'top podcast by country' api PodcastIndex.org yet that can replace Apple's API
https://podcastindex-org.github.io/docs-api/

This is the Apple 'top podcast by country' API that we use (see [rss.txt](https://github.com

[2020-12-09 15:29] roshavagarga commented on #4747
I can think of one thing you can use from the itunes link you just sent me - parse it based on a lack of Cyrillic? I'm not a developer, so correct me on how feasible it is, but I'm guessing you can check for Cyrillic symbols in summary label.

Example:
`"summary":{"label":"Какво Научих Днес е проект, в който споделям какво ново и интересно съм научил. Нещо кратко, което можете да слушате сутрин ка

[2020-12-09 15:56] orschiro commented on #213
Agree, I was surprised not getting any notifications for new episodes.

Sounds like a default feature.

[2020-12-09 16:08] betsythefc opened #4748 "Back Arrow instead of hamburger menu in podcast episode list"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.3

**App source**: Google Play

**Android version**: 10

**Device model**: Samsung

[2020-12-09 16:32] connectety commented on #213
I've been working a little...
2 questions:

Would you prefer showing the notification:
- only when the app is closed and in the background. (please vote with the thumbs-up reaction)
- everytime, even when your in the app. (please vote with the thumbs-down reaction)

When new episodes are found, would you prefer having displayed:
- the number of new episodes, but it only shows the number of episode

[2020-12-09 16:56] ByteHamster commented on #213
Thanks @connectety. Let's see how many users vote here. Maybe we could also start a Twitter poll.

[2020-12-10 04:05] tbm opened #4749 "Ignore video, play only music"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.0

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:

One of the

[2020-12-10 04:17] tonytamsf commented on #4749
Super cool feature that Netflix added as well is to play a video movie as an audio.  Great suggestion

[2020-12-10 05:10] tonytamsf commented on #2279
@ByteHamster please assign to me

[2020-12-10 05:40] tonytamsf commented on #2329
How about a long press of the fastforward button to skip to the next chapter otherwise it might be confusing to the user?

Or we can show the chapermarkers in the time scrub and the user can jump to the chaper?

If neither is useful, I guess we can change the color or the icon of the fast forward button when it's 3 minutes to the chapter? But this won't allow the user to skip the regular 30 second

[2020-12-10 06:08] tonytamsf opened #4750 "Delete the media file when swiping away an episode from the queue"
# Checklist
- [ X] I have used the search function to see if someone else has already submitted the same bug report.
- [ X] I will describe the problem with as much detail as possible.
- [ X] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info
**App version**: 2.1.0 (0dcf44f67)
**App source**: Google Play
**Android version**: 11
**Device model**

[2020-12-10 07:09] ByteHamster commented on #4749
If you set "upon exiting video" to "continue playing audio", videos continue playing in the background.

You can set the speed by pressing the settings icon on the video player screen.

[2020-12-10 07:14] tbm commented on #4749
Thanks @ByteHamster.  I can confirm that this works.

It's not very intuitive though; maybe there's a way to make this easier (maybe a "treat video as audio" option?).

[2020-12-10 07:25] ByteHamster commented on #4749
We could just make picture-in-picture the default without a way to disable the option (like in other apps, pressing back closes and pressing home starts pip). Then we could make "continue to play audio" a setting on its own that is probably easier to find.

[2020-12-10 07:38] tonytamsf commented on #4726
@keunes can you comment on showing 100 or 150 podcast when we look a top podcast by country?  Right now it's showing 25

[2020-12-10 07:43] tonytamsf commented on #4749
The 'video/audio' toggle on netflix is right there on the video screen, makes it very easy to find

[2020-12-10 07:47] tonytamsf commented on #4429
I cannot replicate this bug

[2020-12-10 07:51] rasferret commented on #4202
With 2.1.0 this issue still exists.

[2020-12-10 08:00] keunes commented on #4726
If it's 25 now, expanding it would be good. But I can imagine in some cases you don't find anything interesting.
Can't we do some semi-infinitive scrolling, so that we load more podcasts (in batches of 25, initial load also 25) when reaching the end of screen? When switching countries it already needs a notable moment to load (on my phone) and I'm afraid that time will only increase. I reckon it's

[2020-12-10 08:02] tonytamsf commented on #4726
The RSS api from apple does not offer stepping thru the result with a `start` and `page` option for infinite scroll.  Unfortunately, maybe we have to wait for podcast 2.0 spec

[2020-12-10 08:04] keunes commented on #4726
Regarding the Categories: that would be very interesting. I seem to remember this was discussed before, even with mock-ups. In terms of data I think we should rely on input from the Podcast Index - which I feel will be more relyable than iTunes.

[2020-12-10 08:11] tonytamsf commented on #4726
Here is the mock in this PR https://github.com/AntennaPod/AntennaPod/pull/3788#issuecomment-581660227

[2020-12-10 08:23] ByteHamster commented on #4726
I am not sure how many requests we can do to Apple. I hope they don't block AntennaPod when we cause too much traffic. Maybe increasing to 50 would be better for now.

[2020-12-10 08:34] dontknowcris commented on #4726
thank you all for continuing to read this discussion

one question: you are talking about apple podcast but have you ever thought of using spreaker APIs too?
for example in italy that is the best service outside spotify for italian language and, for what I see, having spreaker and itune in alongside is the best choice

an example is podcast addict that use both services and shows more podcast then

[2020-12-10 08:38] keunes commented on #4747
This would only work for some languages. No way to filter out Dutch based on the character set (vis-a-vis German or English). If we can't filter all languages, that we should not offer this option (people will get frustrated about their language not being in the list). So I'm afraid this won't be a viable option.

Thanks for sharing that! That's a very interesting approach. With all these new disc

[2020-12-10 08:47] keunes commented on #4726
In general, we have thought about new data sources, because the iTunes database started to become unreliable. (Can't quickly find the relevant issue right now.) Conclusion was that there's no good 'neutral' data source that's free to use. Spreaker would be similar: it's a podcast hoster and they probably only serve their own clients' feeds. To make such an approach work, we'd need to query all ind

[2020-12-10 08:48] roshavagarga commented on #4747
@keunes So it was as I feared, hahah. That idea was pretty niche anyway, so I don't care much about it.

I agree that the discovery screen could be used or turned into many things - maybe offering a one-time survey or something of the sort to gauge what people would prefer to have there?

[2020-12-10 08:53] keunes commented on #4747
A survey is a loooot of work to prepare & process (we know because we did it for the new logo). Instead, why don't we lock this issue and start a discussion on our forum? @tonytamsf @ByteHamster
If need be, when we're stuck or want to put our ideas for feedback, we can consider a survey with closed questions only.

* We can create a new issue specifically about the number of podcasts that we load,

[2020-12-10 08:55] keunes commented on #4726
Actually, isn't this kind of a duplicate of "Browsing for podcasts by categories and subcategories #3756"?

[2020-12-10 08:59] roshavagarga commented on #4747
I'm going to leave the decision up to you - I'm not against closing this issue, just wanted to offer my 2 cents and show the random flaws that might pop up for less podcast-y countries like my own :)

If you open up a discussion, feel free to leave a link here for future readers and you can close this whenever you feel is right.

I'd noticed those category issues, do they cover arranging podcasts

[2020-12-10 09:06] keunes commented on #4747
If we do lock it (not close - it'll remain open but without the option to comment until some sort of conclusion has been reached, then we'll re-enable comments), we'll sure post a link. And you'll be very welcome to continue the discussion at the forum then - such 2 cents are very valuable!

I don't have the impression that was brought up, but please chip in there - it's a good question.

[2020-12-10 21:41] ByteHamster commented on #4749
Doesn't that mean that one has to press the button to switch to audio every time?

[2020-12-10 21:53] ByteHamster commented on #1672
I agree with mfietz:

See also https://github.com/AntennaPod/AntennaPod/pull/3750#issuecomment-740659989:

While I can definitely see use-cases for this, we always have to balance usability and features. Sorry, this feature will not be implemented.

[2020-12-10 21:54] tonytamsf commented on #4749
Yes, you do have to press it on Netflix, but we can make that option sticky to the last choice you made.

Then it is one less option in the main preferences

[2020-12-10 22:10] ByteHamster commented on #2329
This sounds like it is hard to discover. Also, it makes it harder to change the skip interval. I would rather opt for something like the screenshot below. Alternatively, we could use an icon to make it a bit shorter. Having it on the cover screen ensures that it does not take away space from the description tab.

<img width="250" src="https://user-images.githubusercontent.com/5811634/101835670-669

[2020-12-10 22:17] ByteHamster commented on #4726
Yeah, looks like this is a duplicate of #3756. Let's continue the discussion there to keep everything in one place.

[2020-12-10 22:17] #4726 closed

[2020-12-10 22:19] ByteHamster commented on #4750
Related: #2990

[2020-12-10 22:21] ByteHamster commented on #4749
If it is sticky, we would have to add the reverse option to the audio player screen. Also, we would have to make the audio player screen able to show video information (currently, the screen can not be swiped up when playing video).

[2020-12-10 22:36] ByteHamster commented on #213
Just posted a tweet 5 minutes ago and it already has more votes than the message here :) Let's wait a few more days to get some more replies.

https://twitter.com/antennapod/status/1337163469867659268

[2020-12-10 23:16] tonytamsf commented on #4750
I thought about maybe telling the user with a Toast message when the media file is deleted?

[2020-12-11 01:44] tonytamsf commented on #2990
In terms of deleting the media files from the queue, I believe we don't need options for this

Let's say the user has turn on 'Auto Delete'

1) When an episode is done playing the media file is removed [current]
2) When an episode is swipe away, this PR https://github.com/AntennaPod/AntennaPod/pull/4751 will fix it so that the media file is deleted unless the user hits Undo in about 3 seconds [pen

[2020-12-11 07:48] keunes commented on #1672
@ByteHamster May I ask you to reconsider? The date is pretty basic information that's very useful. It doesn't need to take much space also, so I don't really see that as a good argument:
<img alt="AP mock-up PubDate - short" src=https://user-images.githubusercontent.com/11229646/101876851-64a69b80-3b8d-11eb-8b93-a551df57874e.png width=250px> <img alt="AP mock-up PubDate - long" src=https://user-im

[2020-12-11 10:16] widlok opened #4753 "Modularizing code"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same feature request.
- [x ] I will only create one feature request per issue.
- [ x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.0

# Feature description

**Problem you may be having, or feature you want**:
Problem was discussed in #4661.

**Su

[2020-12-11 10:22] widlok commented on #4753
I started moving all model classes to separate module. Unfortunatelly  most model classes are responsible for DB calls, also filling responsibility of ImageResource and ShownotesProvider and Playable interface. For example FeedMedia has about 10 different responsibilities - calling services, syncing, calling DB etc. .
My question is what could be best solution to decouple all the responsibilities

[2020-12-11 11:55] asdoi commented on #2146
Hi everybody,
apologies for the delay, I was very busy the last few weeks.
I created a new pull request (#4754) which works, if no checkboxes are ticked.
I would be very thankful if some of you could check the new option on their own phones, maybe there are some bugs in it that only happen in daily use.

[2020-12-11 16:35] cptpcrd commented on #4459
I have also encountered this issue (the original sync issue, not the gpodder.net availability issues).

The following series of steps reproduces this for me:

1. Uninstall AntennaPod on both devices and remove the devices on gpodder.net (wiping all previous data).
2. Reinstall AntennaPod on both devices.
3. Create 2 new "devices" on gpodder.net and select the "synchronize" option to sync them.
4.

[2020-12-12 01:25] protective1 commented on #4556
This bug in antennapod 2.03 occurs immediately after I upgraded to Android 11 and did not appear before I upgraded Android.

[2020-12-12 01:31] protective1 commented on #4556
Also worth mentioning that the logs are not accessible using Mixplorer or ES file explorer - no such folder exists.  Also, the save location of the logs flashes very quickly in the screen when saved and is difficult to see and remember.
Copy to clipboard produces the following:
## Environment
Android version: 11
OS version: 4.9.223-g5bded8e40b62-ab6647920
AntennaPod version: 2.0.3
Model: Pixel 3a

[2020-12-12 01:55] protective1 commented on #4556
Also worth mentioning that the logs are not accessible using Mixplorer or ES file explorer - no such folder exists.  In ES explorer,  /storage/emulated/0/Android/data is empty.  In Mixplorer, /storage is empty   Also, the save location of the logs flashes very quickly in the screen when saved and is difficult to see and remember.
Copy to clipboard produces the following:
## Environment
Android ver

[2020-12-12 01:57] shortspider commented on #4556
@protective1 I had that happen before and was able to copy to clipboard and then save in an email, you could try that?

[2020-12-12 01:58] protective1 commented on #4556
@shortspider - I pasted the entire results of "copy to clipboard" in my post above.

[2020-12-12 07:12] widlok commented on #4571
Are you fine with dependency injection in the project? We have `Namespace` abstract class, but we don't use advantage of inheritance really anywhere, but in `SyndHandler` we call all namespaces one by one by where we could use for example Visitor pattern to make it automatic and 'SyndHandler' will not have to know specifics of all Namespaces.

[2020-12-12 08:51] JimAlps commented on #2495
I found the problem in the code. When episode cache size is unlimited in preferences, episodes are _never_ deleted by EpisodeCleanupAlgorithm because getNumEpisodesToCleanup always return 0 when getEpisodeCacheSizeUnlimited.
I'm using APQueueAlgorithm, but I think it also occurs when using APCleanupAlgorithm. I think this is supposed to happen only when using APNullCleanupAlgorithm.
It happens eve

[2020-12-12 09:46] ByteHamster commented on #2495
I think it is weird that episode cleanup and auto-download influence each other. That's why I think that those settings should basically be re-written. Issues related to that are tracked in milestone https://github.com/AntennaPod/AntennaPod/milestone/47

I think the settings should look more like this:

- Auto download
  - Limit
    - Max number of episodes
    - Max space used
  - Enable when on

[2020-12-12 10:04] ByteHamster commented on #4753
I think this should be discussed in #4661 - there already is some discussion going on about modularizing. Having it split up to multiple issues makes it hard to follow the discussion.

As discussed in #4661, please start with reducing dependencies between classes instead of directly moving them. That makes it easier to review and keeps the git history more useful.

We use the word for Android's ba

[2020-12-12 10:04] #4753 closed

[2020-12-12 10:14] ByteHamster commented on #4571
Could you please write an example how DI would decouple `SyndHandler` and the `Namespace` classes? I am not experienced with DI - as far as I understand it, `SyndHandler` would still need to know the list of `Namespace` classes.

[2020-12-12 10:32] widlok commented on #4753
Closing issue like that seems a bit rushed and you shutdown all my effort. Its pointless to talk about modularizing system in thread about **tests**. Info in #4661 doesn't add much, and it is referenced so discussion is not lost. #4661 is dead anyway conversation about refactoring has ended there.
From my point of view refactoring of code is most important , considering the fact AP has 500k downlo

[2020-12-12 10:41] ByteHamster commented on #4753
I definitely did not want to shut down your effort. I just want to keep the discussion in one place. The main purpose of #4661 is modularization (to make testing easier) - there even is a diagram of packages. So having two issues for modularization is too much. You are warmly invited to join the discussion there.

I just renamed the other issue slightly to reflect that it includes modularization.

[2020-12-12 10:43] ByteHamster commented on #4661
That's not a common practice but a hack to make it possible to extend a protected class

[2020-12-12 10:46] widlok commented on #4571
It wouldn't decouple them since they depend on each other and are part of tight structure, Namespaces exist for Syndhandler. If Namespaces had access to Syndhandler, i thought about DI but if there easier way im fine with it, they could register themselves in Syndhandler and Syndhandler won't know about implementations of Namespaces only about that interface. This is an idea, i feel like it will i

[2020-12-12 10:53] widlok commented on #4753
I already commented in other thread but i didn't get any response. Do you want me to copy my comment to other thread to get answers?
 I need to know how we want to decouple all feed models I wrote few solutions but i don't know code well enough to decide what architecture will fit best with current codebase. Problem is that we cant rewrite whole app and that means that direction of decoupling and

[2020-12-12 22:50] spacecowboy commented on #2495
@bytehamster am I correct in assuming that you think the default options should be the first listed? and that the options are mutually exclusive?

or are they individual settings?

[2020-12-13 13:29] ByteHamster opened #4755 "Multi-select "apply" button does not have a content description"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.0 develop

# Feature description

**Problem you may be having, or feature you want**:

TalkBack does not read the butt

[2020-12-13 13:32] ByteHamster opened #4756 "Download cancel button does not have a content description"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.0

# Feature description

**Problem you may be having, or feature you want**:

The "cancel download" button does not h

[2020-12-13 13:35] ByteHamster opened #4757 "On the "add podcast" page, pressing the search button does not use search term"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.0

**App source**: develop

# Bug description

**Steps to reproduce**:
1. Enter tex

[2020-12-13 13:37] ByteHamster opened #4758 "Mark separator icons as not important for talkback"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.0

# Feature description

**Problem you may be having, or feature you want**:

TalkBack currently tries to read the se

[2020-12-14 09:33] ByteHamster commented on #2495
That's up to discussion :) I think there could be use-cases where multiple options would be helpful. Not sure how we can make that as user-friendly as possible, though. Maybe we could do something similar to the mock-up in #4708

I think the default option should be to not delete or download anything.

[2020-12-15 10:25] agerhbour commented on #877
5 years later, any chance of rethinking this? Almost every media player has a "now playing" list, the ability to just play a filtered podcast list without having to mess around with your queue is pretty intuitive. In fact, I think it's more surprising when you open a filtered list, press play, and the next thing in the list doesn't play after.

Why use antennapod this way?
The way I see it, the qu

[2020-12-15 10:32] keunes commented on #877
@agerhbour I guess you're looking for #1533 ;)

[2020-12-15 10:39] agerhbour commented on #877
Literally just found that when searching through open tickets with "playback" in them. Found this one through googling how to do this exact thing.

[2020-12-15 12:15] keks commented on #4458
I haven't been able to reproduce this since the December update

[2020-12-15 12:44] openpaul commented on #4458
I also can not reproduce the issue anymore with the steps I proposed. This issue seems solved on Pixel 4a with latest updates.

[2020-12-15 13:30] grebulon commented on #4671
Should I open a feature request to support <podcast:chapters> and <podcast:transcript> tags? Or is it already in play?

[2020-12-15 15:56] ByteHamster commented on #1672
Good idea adding it to the podcast title. That looks more clean than the proposal in #3750

[2020-12-15 16:04] ByteHamster commented on #4571
To be honest, I don't think this is a critical problem. There are more important refactorings to do :) While decoupling could be more generic, it sounds like it will make the code harder to read and debug. The data model (FeedItem etc) needs to know about new elements anyway - we usually don't add new namespaces that are completely independent of the rest of the app.

[2020-12-15 16:07] ByteHamster commented on #4753
I would post a link to this issue, so the replies do not need to be posted again, too.

[2020-12-15 16:11] ByteHamster commented on #4671
I think there are no issues yet, so feel free to create them :)

[2020-12-16 04:40] 40ZqTYY4ag3tAO4hdlxR1 commented on #4311
The file has chapters, but ID3ChapterReader does not see any. Not sure why :(

`ffprobe -show_chapters http://audiocdn.economist.com/sites/default/files/AudioArchive/2020/20200725/Issue_9204_20200725_The_Economist_03_Leaders.m4a
[mov,mp4,m4a,3gp,3g2,mj2 @ 0x555be7552ec0] Unknown cover type: 0x0.
Input #0, mov,mp4,m4a,3gp,3g2,mj2, from 'http://audiocdn.economist.com/sites/default/files/AudioArchive

[2020-12-16 11:16] cjk28 opened #4765 "Automatic download feature needs to be disabled for local podcasts, stuck in infinite loop."
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: x.y.z

**App source**: Google Play /

**Android version**: 11, custom rom

**Device mod

[2020-12-16 13:35] loucasal opened #4766 "UI jitters when refreshing"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.1

**App source**: Google Play

**Android version**: 11

**Device model**: Pixel 3a

[2020-12-16 14:13] grebulon opened #4767 "Support for podcast:chapters tag / cloud chapters"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.3

**App source**: Google Play

# Feature description
Request to add support for:
&lt;podcast:chapters&gt;
&lt;podcast

[2020-12-16 14:24] tonytamsf commented on #4765
I can confirm this bug

[2020-12-16 18:55] shortspider commented on #4556
@ByteHamster still having this issue in 2.1.1 (a7c6e697c). Logs are attached.
[full-logs(3).txt](https://github.com/AntennaPod/AntennaPod/files/5704877/full-logs.3.txt)

[2020-12-16 20:00] ByteHamster commented on #4765
Strange. I can confirm that, too, but we definitely disable autodownload for local feeds:

https://github.com/AntennaPod/AntennaPod/blob/1a16bc32474ae82e42a07b1ff7020ece6952f2ed/core/src/main/java/de/danoeh/antennapod/core/feed/LocalFeedUpdater.java#L100

[2020-12-16 20:09] ByteHamster commented on #4556
Thanks! Sorry, I currently don't have the time to look into it but I hope that I can work on it again in 2-3 weeks. In the meantime, if anyone else has an idea how to solve this, feel free to propose a pull request :)

[2020-12-17 09:22] cjk28 opened #4768 "Queue: continuous playback for streaming and local podcasts"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: x.y.z
2.1.1

**App source**: Google Play / F-Droid / ...
play store

# Feature description
I would like to just press play

[2020-12-17 09:30] cjk28 opened #4769 "If "Prefer streaming" is enabled, add "download" to episode submenu"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: x.y.z

**App source**: Google Play / F-Droid / ...

# Feature description
I use prefer streaming as 99% i'm on wifi, but i

[2020-12-17 09:36] ByteHamster commented on #4769
You can download by short-tapping the episode and using the "download" button there.

[2020-12-17 09:47] cjk28 commented on #4769
Ah thanks, don't know how I missed that!

[2020-12-17 09:47] #4769 closed

[2020-12-17 18:06] WuYff opened #4770 "Playtime and progress bar don't work when play and download at the same time"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.1

**App source**:   develop and Google Play

**Android version**: 10

**Device mod

[2020-12-18 09:21] ByteHamster commented on #213
The twitter poll is finished :) Together with the votes here, it looks like we should only notify when in background (eg. when refresh was done automatically)

![image](https://user-images.githubusercontent.com/5811634/102597219-9df58300-411a-11eb-86bb-9fc801995904.png)

[2020-12-18 12:01] DavidGhiro opened #4772 "custom host not working on gpodnet sync"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.1

**App source**: Google Play

**Android version**: 10

**Device model**:

# Bug d

[2020-12-18 19:39] peter099 opened #4773 "[Feature Request] Podcast grouping by genre"
It will be great if there is a option to group podcasts by genre.

[2020-12-19 16:32] damoasda opened #4775 "Illegal connection pointer in Robolectric tests"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: develop branch

**App source**: develop branch

# Bug description

**Steps to reproduce

[2020-12-19 16:38] damoasda commented on #4775
This issue has already occurred in #4737 and #4774.

Extracted from #4551:

The reason for the occasional fails of `LocalFeedUpdaterTest` is probably the concurrency caused by `dbExec.submit()` calls in `DBWriter`. I found two different approaches that solved the problem on my computer (no fails in more than 20 test executions):

**1) Modify `DBWriter`**

Most methods with return type `Future<?>`

[2020-12-19 19:09] WuYff opened #4776 "Mark played/unplayed status should update immediately"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.1

**App source**:   develop and Google Play

**Android version**: 10

**Device mod

[2020-12-19 22:06] damoasda commented on #4765
The database is initially filled with `auto_download` set to `1` for new local feeds and `DBTasks.updateFeed()` forwards the handling of preferences to `FeedPreferences.compareWithOther()` and `FeedPreferences.updateFromOther()`, respectively, which do not handle the `autoDownload` attribute.

#4777 provides a fix.

[2020-12-20 12:28] cdysthe opened #4778 "Widget to launch AntennaPod not only to what's currently playing"
I use the widget on my home screen and would like to be able to tap a certain area to just open AntennaPod, not open to the now playing episode. It could be the left of the widget while the right, where the play/pause control is, could open to the playing episode. It could be any area as far as I’m concerned as long as I have a way to open the app not only to what’s currently playing.

[2020-12-20 12:29] retsifp opened #4779 "Local podcasts: Allow sorting according to track number"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.1 (a7c6e697c)

**App source**: F-Droid

# Feature description

**Problem you may be having, or feature you want**:
It'

[2020-12-20 15:10] ByteHamster commented on #4779
Related: Sorting by file name. I think that option is probably a lot more reliable for most users: #4597

[2020-12-20 15:14] ByteHamster commented on #4775
Hmm, both sound rather hacky. Is the problem that it is asynchronous within one single test or that calls "survive" one test and are then executed during the next one? In that case, something like `dbExec.shutdown();` could maybe help.

[2020-12-20 17:54] alexis26 commented on #4717
hello,
you closed because it's settled?
because my subscriptions are still out of sync?
do I have to open another ticket for another problem?

[2020-12-20 17:57] haimguz commented on #4717
Still not working ...
Antenna doesn't support it

Haim Guz
c 972-50-4343-151

On Sun, Dec 20, 2020, 19:55 alexis26 <notifications@github.com> wrote:

[2020-12-20 19:34] ByteHamster commented on #4772
Oh, right. That looks wrong. Would you be up for creating a pull request that fixes this?

[2020-12-20 19:59] ByteHamster commented on #2495
I just realized that AntennaPod has a feature to automatically download episodes that are added to the queue. That feature should probably get its own setting instead of being always enabled.

[2020-12-20 21:45] keunes commented on #4717
Hi @alexis26

Please see my reply to the original post, particularly:

@haimguz

What do you think we don't support?

[2020-12-20 21:51] keunes commented on #4767
@grebulon Thanks for chipping in. Could you please create a separate FR for either of the two tags (and update the title of this issue to focus on the remaining element)? They might require different discussions and technical implementations. Plus smaller chunks are often easier to implement for external contributors. Many thanks!

[2020-12-20 22:11] #4765 closed

[2020-12-20 22:16] keunes commented on #213
As for these two options:

Can we not display both, e.g.: `X newly published episodes (y total new episodes)`

[2020-12-20 22:31] ByteHamster commented on #4773
Duplicate of #1711

[2020-12-20 22:31] #4773 closed

[2020-12-20 22:45] ByteHamster commented on #4757
Must be a timing issue... If I set a breakpoint, it suddenly works.

[2020-12-20 22:46] ByteHamster commented on #4748
Should be fixed in 2.1.0 :)

[2020-12-20 22:46] #4748 closed

[2020-12-20 22:48] ByteHamster commented on #4738
Does AntennaPod crash when it is removed? If it does, it should add some new information (together with the current date) to the "report bug" screen just before being removed. Does it do that?

[2020-12-20 22:53] ByteHamster commented on #4583
Did you find anything new? This behavior sounds like there is something wrong with the vendor's media decoder. AntennaPod itself does not have the permission to lock the screen.

[2020-12-21 07:35] Pomalo commented on #4583
Hmm, unfortunately not. It gets into "lock mood" sometimes, and then if I
press play from any place (widget, lock screen, or app) it will turn my
screen off and I'll have to unlock my phone again. Sometimes, it works
fine. I've tried changing the media player, and the behavior does not
change.

Maybe I'll look into the energy saving parameters?

Thank you for following up anyway, the app is great

[2020-12-21 08:47] Micha-Btz commented on #1899
There is a new open source backup application SeedVault this is included in more and more custom roms like AOSP,LOS,CalyOS,GrapheneOS, it would be nice if we can use this.

Technical it works like Google Backup,but to your own cloud or on the device /USB.

Android Developer enable Backup

What do you think?

Micha

[2020-12-21 12:14] keunes commented on #1899
@Micha-Btz Thanks for chipping in :) I suppose you're referring to [this project](https://github.com/seedvault-app/seedvault)? That's an interesting one. It would be great if we could support/integrate with it. But it integrates only with a limited set of custom ROMs as I understand (and cannot be installed as a standalone app, thus wouldn't help (as it stands) the majority of our users. So I'd sa

[2020-12-21 13:35] Micha-Btz commented on #1899
Oh, c&p mistake by me, I have edited my post to correct the links.

Since the most custom roms relying on AOSP and LOS, there would be in near future all I think :-)
But you are right, it is not installable as standalone app.

[2020-12-21 23:06] Schanzation opened #4781 "Last update failed"
I'm getting this error "Last update failed" in 2 out of 10 podcasts that I am subscribed to. And when I click any podcast episode I get error message "Could not load media file (1000)"

https://imgur.com/a/ITCGbZZ

Also get the (Failed to connect to feeds.soundcloud.com/0.0.0.0:80)

Here is 4 pictures showing my problem. Any ideas how I can fix this?

[2020-12-22 06:40] munchkinguy opened #4782 "Add keyboard shortcuts for going to the top and bottom of a podcast list"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same feature request.
- [ x] I will only create one feature request per issue.
- [ x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.1

**App source**: Google Play

# Feature description

Hardware keyboard shortcuts were implemented in AntennaPod b

[2020-12-22 07:38] keunes commented on #4781
Hi @Schanzation
As the bot already noted, can you please follow up on this point from the bug report template?

Then we can check what might be going on. Thanks!

[2020-12-22 11:20] damoasda commented on #4775
After hours of debugging I finally could find the cause of the occasional Robolectric test fails:

When running more than one unit test method in `LocalFeedUpdaterTest` the asynchronous methods

* `DBWriter.addDownloadStatus()` and
* `DBWriter.setFeedLastUpdateFailed()`

(_asynchronous_, because they use `dbExec.submit()` to run in a `ThreadPoolExecutor`) may run delayed and open a new database co

[2020-12-22 15:17] keks opened #4785 "Improve usability of right-swipe gesture to open the menu"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.1 (a7c6e697c)

**App source**: F-Droid

# Feature description

**Problem you may be having, or feature you want**:

Sw

[2020-12-22 20:23] keunes commented on #4785
Hi @keks
Thanks for chipping in and filling out the template. Swiping to the right is already possible. Give it (another) try - you might have to start a bit closer to the screen edge (on my device it's like like half a centimeter).

Not sure if this area can be increased, actually.

[2020-12-22 20:29] keunes opened #4787 "Make auto-pause on interruption the default"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# Feature description

**Problem you may be having, or feature you want**:

From [this tweet](https://twitter.com/BrandonSMcLeod/status/134106621244951347

[2020-12-22 20:30] keks commented on #4785
Hi @keunes, yes I noticed that. However, this doesn't play well with the edge navigation introduced in Android 10, because most of the time you just send a "back" event. I've heard that the "edge swipe the menu in" pattern is not recommended anymore by Google, but I couldn't find a source for that.

Regarding whether it can be increased, I'm sure there is a way (Slack does it), but yeah not sure i

[2020-12-22 20:31] keks commented on #4785
Hm, I just found this: https://developer.android.com/training/gestures/gesturenav#back-gestures, seems relevant

[2020-12-22 20:37] keunes commented on #4785
Thanks for sharing that link - seems relevant indeed.
I'm not a developer, so I can't say about the feasibility of increasing that area - I guess it's not an option if indeed all of AntennaPod would have to be restructured.

[2020-12-22 21:05] keunes opened #4788 "Use podcast image as fallback when episode image returns 404"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.1

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:

[This podc

[2020-12-23 01:08] GregoryHuff opened #4789 "Podcast title containing decimal codes for quotation marks display incorrectly"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.1

**App source**: F-Droid

**Android version**: 10

**Device model**: SM-G960F

[2020-12-23 06:07] jmikedupont2 opened #4790 "Unable to change download location"
After filling up my root file system with a humongous video download I switch to SD card yet somehow the podcast was pinned 2 the original download location and it would not then download to SD so that I could not actually use antenna pod for this particular episode it seems like there's some caching mechanism in play.

**App version**: x.y.z

[ Environment ]
Android version: 10
OS version: 4.9.19

[2020-12-23 07:07] keunes commented on #3697
Anyone still experiences this in 2.1.1?

[2020-12-23 07:24] lanigb commented on #3697
Recently, I noticed that Antennapod icon had changed, so I thought that it has been updated and gave it another try. I didn't encounter any of the problems I had reported here but in "About..." I still have 2.0.3 as current version. Google play tells me that I am on a beta program, so I am quite unsure about the  version I am running.

[2020-12-23 07:52] keunes commented on #4778
I usually don't have the widget, but just added it and tried it out. I get where you're coming from - the active screen seems to get 'overwritten' somehow with (I think) the default opening page.

Instead, I would expect that the last-opened screen would open, with the player screen 'on top'. That way, you're back at where you were simply by hitting the back button. That's currently not possible.

[2020-12-23 07:57] keunes commented on #3697
@lanigb The icon changed with version 2 , I believe the beta. In any case the latest version on Google play beta channel is 2.1.1. The version listed on the About page should be the correct one. So you might want to check in Google Play if there's an update that was not automatically downloaded.

[2020-12-23 11:26] cdysthe commented on #4778
I still prefer having an area function as an app launcher since I often want to open to default screen even if I'm in the middle of an episode, but your solution would be a great improvement also.

[2020-12-23 14:21] lanigb commented on #3697
@keunes  Thanks for your answer. As you wrote, I had not the latest version on Google Play, but the latest in F-droid.
I have updated it and will report if I encounter the same bug again. But it did disappeared from the 2.0.3 version.

[2020-12-23 16:23] keunes opened #4792 "Top navigation bar displayed in place of miniplayer"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.1

**App source**: Google Play

**Android version**: 7.1.2

**Device model**: Fairp

[2020-12-23 16:28] keunes commented on #4768
Hi @cjk28
Thanks for chipping in. To me this reads like you're looking for the behaviour described in #1533. Would you mind to have a look and let us know? Thanks!

[2020-12-23 16:40] keunes commented on #4749
I think it would make sense to combine ByteHamster's proposals with a new button to switch to 'audio only':
* remove 'upon exiting video' option
* like in other apps, pressing back closes and pressing home starts pip
* make "continue to play audio" a setting on its own (to override default behaviour described above)
* add a 'video/audio' toggle in both video and audio view

[2020-12-23 16:45] cjk28 commented on #4768
Hi @keunes Yeah you're right, sorry about that, didn't find it when searching!

[2020-12-23 16:45] #4768 closed

[2020-12-23 16:52] keunes commented on #4743
Hi @Girret
Thanks for chipping in. Hiding episodes was requested and rejected in #2066. Hiding episodes is problematic because users might forget they hid them and then come back to us because a specific episode is missing in AntennaPod.

It's great, however, to learn about your use-case. It helps improve the app for you and others in other ways! 'Cause I understand you want to have a clean list o

[2020-12-23 16:53] #4743 closed

[2020-12-23 16:55] keunes commented on #4768
No worries. I guess we should improve the title to make it easier to find. And don't hesitate to give your thumbs-up to indicate your interest, so those looking to contribute to AntennaPod know what's popular demand :)

[2020-12-23 17:48] tonytamsf commented on #4778
I can take this issue on, @keunes please assign

[2020-12-23 17:49] tonytamsf commented on #4792
I can confirm this happens, not sure how to replicate it

[2020-12-23 21:13] ByteHamster commented on #4775
Wouldn't it be more generic to call `dbExec.shutdown()` after the test? It then covers all asynchronous calls to DbWriter at once. We can not make all calls synchronous because this slows down feed parsing or blocks the UI thread. So for other tests, we would need something like that, anyway.

[2020-12-24 11:32] damoasda commented on #4775
Good idea but `dbExec.shutdown()` just prevents the `ExecutorService` to accept new tasks, it doesn't wait for the running tasks to be finished.

You are absolutely right. A more generic fix could be to call `dbExec.awaitTermination()` which doesn't destroy the `ExecutorService`, by the way.

Pull request #4794 provides a corresponding fix (and replaces #4783).

[2020-12-24 15:35] keunes commented on #4778
How would you tackle it, then, @tonytamsf ? Is it doable to open the last-opened screen with the player on top?
(I'll assign when I'm at my computer again.)

[2020-12-24 15:49] keunes commented on #4676
@summersab Any features from Vanilla Music you liked in particular, apart from rewind & fast forward?
For anything like this to be implemented I think we need to agree first on a logical fixed set of actions - sounds like it's quite enough work for one PR already. Additional settings to adjust the behaviour could possibly be added later.

@FivelMttz I think that if anyone started working on this t

[2020-12-24 16:59] keunes opened #4795 "Improve usability of episode cache / automatic cleanup"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.1

**App source**: Google Play

# Enhancement description

**Problem you may be having, or feature you want**: the Epi

[2020-12-24 20:32] piratenpanda commented on #3842
happens again in 2.1.1 in the "new", "all" and "favorites" tabs

[2020-12-24 20:46] piratenpanda opened #4796 "Spinning circle appears in the hamburger menu/sidebar when updating podcast list"
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.1

**App source**: Google Play

**Android version**: 11.0

**Device model**: Pixel 5

[2020-12-25 10:59] zoenglinghou commented on #4772
I have the same problem, although I have no idea where is the error, nor can I find anything related in the log for now. No experience with Android dev, how can I help?

[2020-12-25 12:20] damoasda commented on #4757
I can reproduce the problem. Pull request #4798 provides a fix.

[2020-12-25 15:17] loucasal commented on #4796
FYI, I reported the same issue as #4766.

[2020-12-25 15:20] keunes opened #4799 "Display full podcast title on podcast info screeen"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.1

**App source**: Google Play

# Enhancement description

**Problem you may be having, or feature you want**: I can't

[2020-12-25 15:34] piratenpanda commented on #4796
@loucasal yeah I saw it before, couldn't imagine what you mean by jitters that's why I reported a new one

[2020-12-25 15:39] frederickjh commented on #2132
I was able to export the database edit the urls and import them.
I understand the reasoning behind not adding a feature, and realize this is a complex issue. However, I am not sure how an "appliance" user will see this as I have seen other podcast apps that do allow you to edit the feed url. Some might consider migrating to another app if one has to delete and add a feed with the new url and lose

[2020-12-25 16:26] keunes commented on #2132
Given the work and data loss involved in moving to another app is greater than that of replacing a URL, I think this risk is limited. And if they do, their loss :) We shouldn't sacrifice the stability & experience of many for those of a few. (Plus podcasters and/or their hosters should know/learn how they can migrate gracefully.)

[2020-12-25 17:08] keunes commented on #4766
Hi @loucasal
Thanks for chipping in. This is a consequence of https://github.com/AntennaPod/AntennaPod/issues/4523. I noticed this behaviour also, and it annoys me a bit. Someone else reported the same thing in #4796. Since that one has a screenshot that illustrates the issue, I'll close this one and keep the other one open. Please follow the other issue if you want to receive updates and give you

[2020-12-25 17:08] #4766 closed

[2020-12-25 17:19] keunes commented on #4796
This is a consequence of https://github.com/AntennaPod/AntennaPod/issues/4523, which was opened after I complained to @ByteHamster that I had a few moments of empty screen due to long database load on my now relatively slow phone. These moments of empty side-bar menu and episode/subscriptions list were scary because it seems one is affected by a database corruption that wipes AntennaPod's data (#2

[2020-12-25 17:23] loucasal commented on #4796
Just to add a piece of information from my earlier report: the spinning circle is also visible on the Subscriptions page in addition to the sidebar.

As I don't keep track of individual subscriptions via the sidebar, I did not experience the issue that led to the change implemented in #4523. However I would agree that at the moment there is an overabundance of spinning indicators, especially ones

[2020-12-26 00:49] Saroumane commented on #4556
I was with Android 11 / AntennaPod 1.8.3 for a few months without bugs.
Then I jumped a few days ago to AntennaPod 2.1.1 and this bug happened.

## Environment
Android version: 11
OS version: 4.9.232-g5cc7f3820679
AntennaPod version: 2.1.1
Model: Pixel 3a
Device: sargo
Product: aosp_sargo

[2020-12-26 12:38] Magier commented on #1946
I'd also love this kind of feature!
Seeing as podcasts have gained a lot of popularity over the past years it becomes an increasingly important source of information. I personally try to take notes while listening and it's a very cumbersome experience (across all podcast apps available for Android).
I think the best example of the increasing popularity of this kind of feature would be airr.io (iOS

[2020-12-26 14:13] thomaszbz commented on #2463
For me, before ~1.73b I had this issue over and over, within days or weeks. Since then, the problem was gone or at least very seldom (did not happen in >6 months).

But today, it happened again, using AP 2.1.1. And it happened when I tried to press the play button. AP crashed (the UI went away) and after restarting AP all data was "gone". With "gone" I mean that AP still consumed all the data on t

[2020-12-27 12:16] HiDrNic opened #4800 "Local auto-download setting disregarded"
Global autodownload set ON, Local auto-download setting in podcast-feeds disregarded if set to OFF and max downloaded episodes globally not reached

[2020-12-27 20:03] zoenglinghou commented on #4772
I check my `logcat`, and it seems that the syncing service is getting `502` response, which is the current state of gpodder.net (not my server).

So I suppose the syncing service is connecting to gpodder.net , not my custom host?

[2020-12-29 10:28] dewijones92 opened #4802 "local feeds not seeing opus files"
# Checklist

- [X] I have used the search function to see if someone else has already submitted the same bug report.
- [X] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.1

**App source**: F-Droid

**Android version**: 9

**Device model**: Blackview A80 Pro

# Bug description

**Steps to reproduce**:
1. Add local folder containing a mix of mp3 and

[2020-12-29 13:33] ByteHamster commented on #4795
I think a similar discussion is currently going on in #2495. In general, all the issues of the "Rework automatic deletion" milestone are pretty similar.

[2020-12-29 13:38] ByteHamster commented on #4676
To be honest, I would vote to not implement this. It has the same use-case as #2715 but would probably be a lot less reliable. My feeling is that most of the users who enable the feature will disable it soon after they experience a few involuntary playback controls. This feature could also lead to an increased number of bug reports about playback being unreliable.

[2020-12-29 13:43] ByteHamster opened #4804 "Use any image for local folders"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: x.y.z

**App source**: develop

# Feature description

**Problem you may be having, or feature you want**:

The feature to

[2020-12-29 16:04] dewijones92 opened #4806 "crash after about 10 mins of listening to local MP3"
# Checklist

- [X] I have used the search function to see if someone else has already submitted the same bug report.
- [X] I will describe the problem with as much detail as possible.
- [X] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.1

**App source**: F-Droid

**Android version**: 9

**Device model**: Blackview A80

[2020-12-29 17:46] FivelMttz commented on #4676
Thanks for your answer! you are an awesome team 👍

[2020-12-29 23:40] rw-django-fan-2020 opened #4809 "Allow to specify individual ports of custom host for gPodder.net sync"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.1

**App source**: F-Droid

**Android version**: 7.1.2 (LinageOS 14.1)

# Bug descr

[2020-12-30 11:51] keunes commented on #4809
If this is indeed not supported yet (which I don't know), it would be a feature request. In that case: what is your use-case? How do you deal with your device leaving the home network?

[2020-12-30 12:01] keunes commented on #4795
There's a link indeed, but from quickly scanning that issue, it seems more about functional changes to the mechanisms. This issue I feel is more about relatively quick UX fixes. Since the Rework automatic deletion milestone is a rather big one that probably wont be implemented any time soon, at least fixing point 1, 2 & 4 listed here in the next point release would be great.

[2020-12-30 13:39] ByteHamster commented on #4809
In case anyone is interested in this: please do not start working on this before #4493 is merged. That PR already contains changes related to ports and will make it easier to add this feature.

[2020-12-30 14:06] ByteHamster commented on #4776
Fixed in #4793 and will be available in the next 2.1.x bugfix release. Thanks for reporting.

[2020-12-30 14:06] #4776 closed

[2020-12-30 14:49] ByteHamster commented on #4795
:+1:

I would rather wait until the auto delete things are reworked and then create a new settings item for automation.

[2020-12-30 15:47] binarytoto commented on #4756
Is this still available?

[2020-12-30 15:56] ByteHamster commented on #4756
Yes it is :)

[2020-12-30 16:23] dewijones92 commented on #4806
after further inspection I think the glide library may have something to do with it. I have forked the repo and upgraded glide. I will report back

[2020-12-30 16:31] mklemme1 opened #4812 "HTML Export: Link to Antennapod log broken"
# System info

**App version**: 2.1.1

**App source**: Google Play

**Android version**: 9

# Bug description

**Steps to reproduce**:

1. Go to Settings>Storage>Import/Export.
2. Invoke HTML export.

**Expected behaviour**:
The exported HTML refers to an image https://antennapod.org/assets/img/antennapod-logo.png
This does not exist (any more).

**Current behaviour**:
![2020-12-30_17-29](https://

[2020-12-30 16:43] keunes commented on #4809
Which, in turn, is unfortunately still blocked by gpodder/mygpo#128.

[2020-12-30 19:43] dewijones92 commented on #4806
Still no luck just yet.
This line seems the most likely culprit:
**ActivityManager: Killing 3774:de.danoeh.antennapod/u0a194 (adj 200): depends on provider com.termux/.filepicker.TermuxDocumentsProvider in dying proc com.termux (adj 200)**

Here are the the surrounding logs:
[code]

[2020-12-30 20:00] dewijones92 commented on #4806
I think I chose the wrong local folder to add containing the audio files. I fatally and unintentional navigated to the folder provided by TermuxDocumentsProvider instead of the following:
`antennapod_local:content://com.android.externalstorage.documents/tree/primary%3AMusic%2FNewPipe`

I think maybe the termx process was getting killed and that caused AntennaPod to die.

[2020-12-30 20:26] jgscherber opened #4813 "Codepen Radio podcast returns 403 on episode download"
## Environment
Android version: 10
OS version: 4.19.81-19654513
AntennaPod version: 2.1.1
Model: SM-G981U1
Device: x1q
Product: x1quex

No crash report recorded

-------

403

File URL:
https://blog.codepen.io/podcast-download/14924/289-code-mysteries.mp3

-------

Opening URL in browser loads episodes correctly

[2020-12-30 22:16] tonytamsf commented on #2990
I'll wait for @ByteHamster before working on `When a user long press and removes an episode it should be the same UI as swipe, add an Undo Toast and do the same as 2.`

[2020-12-31 00:49] rw-django-fan-2020 commented on #4809
When my smartphone connects to my home network after listening to a podcast while doing jogging I would like to synchronize my state of my “played” episodes. For that I dont need a gpodder server with internet access. I dont need encryption. I simple need a backup for my podcast state. Automatically.

Is it possible to use "Syncthing" to backup this information automatically ? I know there is a fu

[2020-12-31 02:17] tonytamsf commented on #4778
@keunes and @cdysthe Once this PR is done https://github.com/AntennaPod/AntennaPod/pull/4746

I could see tapping the white space area could bring you to the last open screen. Taping the image or the title should bring you to the Now playing episode

![Screenshot_1609360415](https://user-images.githubusercontent.com/149837/103379765-98ddef80-4a9b-11eb-8e6f-2b425e9e9fcf.png)

[2020-12-31 02:18] tonytamsf commented on #2279
Once this PR is merged, I would have room to add the playback speed https://github.com/AntennaPod/AntennaPod/issues/2279

[2020-12-31 03:58] binarytoto commented on #4756
I'm working on it.

[2020-12-31 10:43] damoasda opened #4816 "LocalFeedUpdaterTest fails with NullPointerException"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: develop branch

**App source**: develop branch

**Android version**: CircleCI environme

[2020-12-31 14:05] adrcotfas commented on #4532
I see this bug on an Android API level 26 phone too. Only one old episode is listed.

![Screenshot_20201231-154153_AntennaPod](https://user-images.githubusercontent.com/11249107/103413241-69a1ae00-4b81-11eb-96db-65089799ae2f.jpg)

[2020-12-31 14:33] ByteHamster commented on #4532
@adrcotfas what you experience is not related to Android auto. This issue is about Android auto. Your issue is caused by the podcast publishers deleting old episodes - there is nothing AntennaPod can do about that.

[2020-12-31 15:32] binarytoto commented on #4756
@ByteHamster , I've added "cancel_download_label" from strings as content description. But the "\n" causes some issue in talk back.  Should I use some other label ?

[2020-12-31 16:57] ByteHamster commented on #4813
Try contacting the podcast creators. Their media files are behind a Cloudflare CDN that shows a "Checking browser" website. That page displays a "I am a human" checkbox, or (if their servers based on whatever data come to the conclusion that you are a human) redirect you to the media file. That check for a human visitors makes downloading via software basically impossible.

[2020-12-31 16:58] ByteHamster commented on #4812
Oops. We should probably fix this on the server side to not break existing exports. I will move your issue to the website repository.

[2020-12-31 17:01] ByteHamster commented on #4806
Yeah, that sounds like this is caused by a crash in Termux. Is this solved for you by adding the folder using the normal document provider?

[2020-12-31 17:25] ByteHamster commented on #4756
I think the reason why that line break was there was since fixed. So I think it would be better to just remove `\n` from `cancel_download_label` (only English version - others are handled by the translators later).

[2020-12-31 17:52] ByteHamster commented on #213
It we do this, I would vote for writing it the other way around because that avoids having to write "new" twice and is shorter:

`X new episodes (Y recently)`

[2020-12-31 17:57] ByteHamster commented on #4583
Hmm. The next time this happens, could you please export the full logs using AntennaPod's "Report bug" page? Maybe there is something interesting there. The logs might include some information about what podcasts you hear, as well as when. So it might be better to not make it public. If you agree to send the logs, could you please send them to me by email to `info@<my user name>.com`?

[2020-12-31 18:10] ByteHamster commented on #4772
Thanks to @s3lph, this will be fixed in the next 2.1.x bugfix release

[2020-12-31 18:10] #4772 closed

[2020-12-31 18:49] tonytamsf commented on #3264
I am able to reproduce this with hitting the rewind button very quickly

https://gist.github.com/tonytamsf/6b3fe74462da38c7a6d1431c6b654819

[2020-12-31 20:49] dewijones92 commented on #4806
@ByteHamster  yep solved the issue. Happy new year

[2020-12-31 20:49] #4806 closed

[2020-12-31 21:13] tonytamsf commented on #3264
I tested this in a car, while playing just hit forward or rewind very quickly and it will crash with the ExoPlayer.  With the default android player, it will not crash

@ByteHamster I have a test build with doing actual locking when using the Exoplayer and I can make this crash go away.  Is there any reason why we should not do locking with ExoPlayer?

 https://github.com/AntennaPod/AntennaPod/com

[2021-01-01 00:03] Pomalo commented on #4583
I'll try that, but last time I had the issue, I changed the battery
optimization settings from my xiaomi and it was back to normal. I can try
and reproduce the bug when my battery is low again, and I'll send you the
log.

Le jeu. 31 déc. 2020 à 18:57, ByteHamster <notifications@github.com> a
écrit :

[2021-01-01 01:19] tonytamsf commented on #2953
both errors should be fixed here https://github.com/AntennaPod/AntennaPod/pull/4821

[2021-01-01 12:24] #4757 closed

[2021-01-01 13:49] ByteHamster commented on #4775
Looks like the test still sometimes fails, see current `develop` branch: https://github.com/AntennaPod/AntennaPod/runs/1633701563

[2021-01-01 14:58] damoasda commented on #4775
Thanks for the hint. I will investigate.

[2021-01-01 16:36] #4756 closed

[2021-01-01 16:56] ByteHamster commented on #4800
Hi and thank you for writing this issue!

It looks like you did not follow our issue template. In case you accidentally deleted the template, you can find the version for bug reports [here](https://raw.githubusercontent.com/AntennaPod/AntennaPod/develop/.github/ISSUE_TEMPLATE/bug_report.md) and the version for feature requests [here](https://raw.githubusercontent.com/AntennaPod/AntennaPod/develop/

[2021-01-01 16:58] ByteHamster commented on #4789
This usually happens if the creators of the feed encode the symbols twice. Try downloading the feed file and viewing it in a text editor. AntennaPod can handle `&#8220;` but if the creators write `&amp;#8220;`, they are explicitly telling AntennaPod to display the code. If that's the case, it would be good to contact them about that.

[2021-01-01 17:01] ByteHamster commented on #4781
What does it say on the "Downloads" » "Logs" page?

[2021-01-01 17:13] Schanzation commented on #4781
https://imgur.com/a/0Z0vCu1

[2021-01-01 17:26] ByteHamster commented on #4781
Looks like AntennaPod can not access the network. Do you use a VPN, ad blocker, privacy guard, etc? Have you tried a different network?

[2021-01-01 17:30] CedricCabessa commented on #4458
Sadly, I still have the issue with latest playstore version 2.1.1 (pixel 2 up to date)

I tried to reboot, to start from a clean state with 0 media session, but every time I play a new episode they stack up in the panel

[2021-01-01 17:45] Schanzation commented on #4781
Yes, I am using Energized Blu blocklist with nextDNS . Probably thats what is causing the issue. Strange other podcasts work like when playing the same podcasts in spotify.

[2021-01-01 17:51] #4781 closed

[2021-01-01 17:57] isabelgk commented on #4458
On pixel 2xl, still persisting for me as well.

On Fri, Jan 1, 2021, 11:31 AM Cédric Cabessa <notifications@github.com>
wrote:

[2021-01-01 19:45] Thom-Merrilin opened #4824 "Shake to reset uncheck not respected during fadeout"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.1 (I also receive this bug when building from source)

**App source**: F-Droid

**A

[2021-01-01 19:49] Thom-Merrilin opened #4825 "Add option to allow "Shake to reset" in SleepTimer at any time during the countdown"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.1

**App source**: F-Droid

# Feature description

**Problem you may be having, or feature you want**:

Without the vi

[2021-01-01 19:50] Thom-Merrilin commented on #4825
I am working on this and will submit a pull request to implement the feature as described.

[2021-01-01 19:52] Thom-Merrilin commented on #4824
I have written a fix for this that also implements the feature request for issue #4825, and will create a pull request with this.

[2021-01-02 08:10] dewijones92 opened #4827 "Ability to auto delete audio files in a local feed"
# Checklist

- [X] I have used the search function to see if someone else has already submitted the same feature request.
- [X] I will only create one feature request per issue.
- [X] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.2

**App source**:  Build from source

# Feature description

**Problem you may be having, or feature you want**:
Can'

[2021-01-02 10:53] #4775 closed

[2021-01-02 11:09] damoasda commented on #4775
You caught the issue? Awesome!

[2021-01-02 11:10] #4724 closed

[2021-01-02 11:12] ByteHamster commented on #4809
#4493 is merged now (with only half of the intended features because of the Gpodder bug). So this issue should be relatively easy to fix.

[2021-01-02 11:13] ByteHamster commented on #4775
I hope so :D

[2021-01-02 11:33] damoasda commented on #4816
The issue only happened in pull request #4815 and it seems to be fixed now.
The root cause was a global `Mockito.mockStatic(DBReader.class)` call in the `beforeClass()` method.

[2021-01-02 11:33] #4816 closed

[2021-01-02 14:42] binarytoto commented on #4655
Working on this.

[2021-01-02 16:48] keunes commented on #4825
Hello
Thanks for chipping in and contributing code :)

I see your issue but adding an extra option, I feel, unnecessarily clutters the interface. Wouldn't it be an idea to allow shake reset at any time rather than just the last 10 seconds (provided the timer is running and the option enabled of course)?

Also; is the timer currently displayed on the lock screen notification? If not, it might be us

[2021-01-02 16:52] ByteHamster commented on #3755
I just set the title to `AntennaPod - Podcast-Manager` for German users. Let's see if that changes the download numbers :)

[2021-01-02 17:14] ByteHamster commented on #4825
I think this might have an effect on battery life and might be unwanted by some users (especially if you are in transit)

[2021-01-02 18:17] Thom-Merrilin commented on #4825
Hello,

Thank you for your comments. I made the new behaviour optional (and non-default) as I didn't want to break anything for users that rely on the existing behaviour. Perhaps there is a more elegant way to configure the behaviour.

The notification idea is interesting, I don't think that the sleep timer is displayed on the lock screen at the moment (it doesn't display for me). While this would

[2021-01-02 21:02] Thom-Merrilin commented on #4734
I'd like to attempt this, but I can't find an existing Share icon within the app. I'd prefer to obtain a Share icon from the same source as the existing icons if possible, could anyone tell me where the other icons were obtained from?

[2021-01-02 21:06] keynlotepan opened #4830 "Store/reuse or make default configurabe of automatic download option for new podcasts"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: x.y.z

2.1.1

**App source**: Google Play / F-Droid / ...

F-Droid

# Feature description

**Problem you may be having, or

[2021-01-02 22:41] ByteHamster commented on #4830
I think storing automatically would be better. This avoids having to add more and more settings

[2021-01-02 22:53] keunes commented on #4825
These are good points (not so much being in transit - if a sleep timer is used there at all users can simply not enable shake to reset). I still feel like a setting for this is too much, though, as it is trying to 'fix' something in the app that doesn't work well in practice (rather than catering for different use cases). That doesn't really fit well with our [aim](https://antennapod.org/about/) t

[2021-01-02 23:51] andrewc1 commented on #4611
This issue has always been a minor irritant, and I'm able to reproduce it with the latest from develop - 2.1.2 (1a5bcfb08). I've attached a debug log. Some things that stick out:

01-02 16:33:27.163 14914 17507 D PlaybackService: skipIntro #522 – High Current Power Supplies with Fredrik Kensander
01-02 16:33:27.222 14914 17507 W System.err: java.lang.RuntimeException: Can't create handler inside t

[2021-01-03 01:25] rogerval commented on #3650
I've just tried version 2.12, and the issue I reported still remains, unfortunately.

[2021-01-03 09:42] ByteHamster commented on #4734
I think it would be easiest to just add a textual share button in the overflow menu :)

[2021-01-03 10:53] keynlotepan commented on #4830
There are pros and cons for both solution. I personally would prefer the configuration approach, but since I know that AntennaPod developers prefer a very lean configuration, I added the auto-store approach to my suggestion to avoid the risk to be rejected ;-) .

I think AntennaPod has such a huge functionality, thus it does not have to be ashamed for a huge configuration menu. Expert settings for

[2021-01-03 11:18] keunes commented on #4734
It would be the easiest, but an overflow menu with just one item that can be represented by an icon is a bit odd, no?

[2021-01-03 11:28] ByteHamster commented on #4734
Oh, right. I did not have in mind that this is the only item in the overflow menu. Then I would use one of the icons that Android Studio suggests when adding a new vector asset. Adding an icon on that page is a bit of work because it needs to handle light/dark themes (`@attr` resource) and handle scrolling the header image (`IconTintManager`).

[2021-01-03 16:26] varunvjha commented on #4799
I want to work on this.

[2021-01-03 17:13] Thom-Merrilin commented on #4830
I'm working on this using the checkbox on the OnlineFeedView, storing automatically as @ByteHamster suggested.

[2021-01-03 18:54] #4734 closed

[2021-01-03 19:00] #4830 closed

[2021-01-03 19:02] Thom-Merrilin commented on #4825
It should be simple to bring forward the start time of capturing shakes. I think (but I haven't tested it) that in Android versions >= 26 the vibration amplitude can be specified, but I don't think it's possible in older versions.

I think the sleep timer currently doesn't specify an amplitude, and so uses the system default (which I believe is configurable by the user in their OS settings). Devia

[2021-01-04 01:48] timakro opened #4834 "Add option to rewind with the forward button"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.2

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:

My bluetoo

[2021-01-04 02:48] tonytamsf commented on #4834
Is your device broken or it came that way?  Which model is it?

[2021-01-04 04:38] timakro commented on #4834
Okay, this cracked me up quite a bit. I've got the Huawei FreeBuds 3 and they are fully intact. :smile:

You're probably right that most devices with a forward button also have a previous button.

[2021-01-04 07:36] ByteHamster commented on #4834
#2251 had pretty flexible button settings. Unfortunately, it was not brought to completion.

[2021-01-04 13:05] ByteHamster opened #4835 "Playing a downloaded file sometimes shows "File not found" error message"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.2 develop

**App source**: custom

**Android version**: 10 (LineageOS)

**Device mo

[2021-01-05 06:38] keunes commented on #2214
A bit of a late reply @hovancik
An AntennaPod sync service would be cool, and has been discussed briefly, but is only feasible if there's a (small) group of people we can find available with the expertise and drive to (help) develop and maintain it :)

[2021-01-05 12:51] daedalus172 opened #4836 "Hide the Navigation Drawer"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same feature request.
- [ x] I will only create one feature request per issue.
- [ x] I will describe the problem with as much detail as possible.

# System info
Galaxy S2 running Android 7

Since the last update, I am unable to hiide the navigation drawer.  May we get that feature back?

**App ver

[2021-01-05 12:57] ByteHamster commented on #4836
That sounds like your phone is recognized as a tablet. Did you modify the DPI values of the phone?

[2021-01-05 13:02] daedalus172 commented on #4836
THanks for respondiing.  In fact, it is a tablet (Samsung Galaxy Tab S2).  Is it still possible to hide the nav drawer by modifying settings?

[2021-01-05 13:22] ByteHamster commented on #4836
Oh, sorry. I only read the original text of your issue that I received by email. The word "Tab" was missing there. Currently, AntennaPod does not have a setting for that. May I ask why you do not like the navigation drawer? Tablets usually have a lot of screen space, so only displaying the episode lists leaves most of the screen empty.

[2021-01-05 13:28] daedalus172 commented on #4836
I work with a split screen quite often and, in that mode,  the nav drawer takes up most of the space obscuring the view of my playlist.

[2021-01-05 14:21] ByteHamster commented on #4836
Good point. Would it work for you if AntennaPod automatically hid the navigation drawer when starting split screen mode? I try to add as few additional settings as possible to make the app easier to use.

[2021-01-05 14:25] thraidh commented on #4406
I have the same problem with a different use case. I was trying to synchronize my data via gpodder.net, but could not get it done, because gpodder.net is superslow for me.
Therefore I set up a local version, which is actually very easy. The problem here is, that you can only enter a hostname for synchronization and not a URL, so it must be HTTPS on port 443.
After a lot of testing and fiddling wit

[2021-01-05 14:46] daedalus172 commented on #4836
Excellent idea.  That would be a perfect solution.

[2021-01-06 18:26] damoasda commented on #4648
I checked the source code (without test classes) how the `FeedItem.pubDate` field is filled:

The `setPubDate()` method is only called with
- results from `DateUtils.parse()` or
- the value `new Date()` &ndash; see `PodDBAdapter.setFeedItem()`

The constructors are only called with the following values for the `pubDate` parameter:
- `new Date(cursor.getLong(indexPubDate))` &ndash; see `FeedItem.fr

[2021-01-06 19:00] ligurio opened #4838 "Broken link in a README about Beta testing"
broken link - https://github.com/AntennaPod/AntennaPod/wiki/Help-test-AntennaPod

[2021-01-07 06:14] tonytamsf commented on #3053
I'm not sure how to replicate this problem and if anyone is seeing a problem with auto downloading?

[2021-01-07 07:22] tonytamsf commented on #3275
I have a fix here https://github.com/AntennaPod/AntennaPod/pull/4839 which should be able to handle GUID de-duplication pretty well.  I don't think we should be too much more ambitious to deduplicate feeds and just honor `getIdentifyingValue()` which handles GUID, title and media

[2021-01-07 07:25] tonytamsf commented on #3275
@keunes can you assign to me?

[2021-01-07 17:11] xPMo opened #4840 "Episodes queued from local feed cause UnknownHostException"
---
name: Bug report
about: Local feed causing hostname error
labels: 'possible bug'
---

# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version*

[2021-01-07 21:37] bacam commented on #3697
I can't reproduce this any more using the method I posted before with the current play store 2.1.1 release.  Looking at the code I see some changes by @ByteHamster that look like they were intended to fix it.

[2021-01-07 23:09] lanigb commented on #3697
I second this comment. With former versions, I was encountering this bug each time I read a file. I have not encountered it during 2 weeks so it should be really gone.
Thanks for fixing it.

[2021-01-09 01:47] tonytamsf commented on #4834
Actually, it was my own ignorance.  I have an Airpod as well and it doesn't have a prev button.  I just never rewind but I can see a use case for it.  It would be nice if these hardware devices had more customization.  But now AntennaPod has to save the day 🗡️

https://www.manualslib.com/manual/1945627/Huawei-Freebuds-3.html?page=12#manual

![Screen Shot 2021-01-08 at 5 47 03 PM](https://user-imag

[2021-01-09 02:12] tonytamsf commented on #4458
With Android 11 4.9.232 update Jan 5, 2021 - this is no longer a problem.

@isabelgk what version of Android are you on?

[2021-01-09 02:25] tonytamsf commented on #2268
To confirm, when media is protected, streaming won't work but downloading will.  As confirmed with http://www.tools.bytehamster.com/podcast/pianoPasswordProtected.mp3

[2021-01-09 03:34] isabelgk commented on #4458
Ah, since I am on a Pixel 2 XL and it is no longer getting updates, I am on
the Android 11 October 20 2020 release. This might be the issue.

On Fri, Jan 8, 2021, 8:12 PM Tony Tam <notifications@github.com> wrote:

[2021-01-09 07:38] tonytamsf commented on #2268
@keunes please assign to me, I have a fix here https://github.com/AntennaPod/AntennaPod/pull/4843

[2021-01-09 08:04] keunes opened #4844 "Make accidentally swiping episodes from the queue less likely"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same feature request.
- [x ] I will only create one feature request per issue.
- [x ] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.1

**App source**: e/OS app store

# Feature description

**Problem you may be having, or feature you want**: Accid

[2021-01-09 08:44] orschiro opened #4845 "Play random episode"
Hey guys!

Any thoughts on adding a button on the podcast page to play a random episode?

Would be cool to get a random surprise of potentially one of the older episodes of a podcast you have never listened to. :)

Thanks!

[2021-01-09 09:43] marcblum-ac opened #4846 "Do-not-resume-upon-BT-reconnect without effect"
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [ ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info
**App version**: 2.1.1 (a7c6e697c), German UI
**App source**: Google Play
**Android version**: 10, One-UI

[2021-01-09 09:47] nicolaus-hee commented on #4789
I have a similar behavior but it's for the `&amp;` symbol. Checked the XML which just shows the unencoded `&` character (not sure which XML tag you parse). In podcast search results, it is displayed correctly, in the episode list and subscription screen, it is not and weirdly showing `&amp;` as a string.

Search results:
![Screenshot_20210109-103553](https://user-images.githubusercontent.com/48563

[2021-01-09 11:41] ByteHamster commented on #4789
@nicolaus-hee AntennaPod looks at `itunes:author`:

    <itunes:author>Philip Banse &amp;amp; Ulf Buermeyer</itunes:author>

[2021-01-09 14:40] nicolaus-hee commented on #4789
Oh, so are you seeing `&amp;amp;` on your end? I only get `&amp;`.

`<itunes:name>Philip Banse &amp; Ulf Buermeyer</itunes:name>`

[2021-01-09 14:41] tonytamsf opened #4847 "Forward and scrubbing not working in 2.1.2"
# Checklist

- [ ] I have used the search function to see if someone else has already submitted the same bug report.
- [ ] I will describe the problem with as much detail as possible.
- [ ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

OS version: 4.9.232-ga8a0fbc4fb8e-ab6960310
Model: Pixel 3a XL
Device: bonito
Product: bonito

**App ver

[2021-01-09 14:44] tonytamsf commented on #4847
This log could be helpful

[code]

[2021-01-09 14:59] ByteHamster commented on #4789
Try downloading the file. Browsers already parse one of the entities.

[2021-01-09 15:01] ByteHamster commented on #4847
I don't think 2.1.2 contains changes related to that. Are you sure that this is new in 2.1.2 and not just a specific file that causes the problems?

[2021-01-09 15:04] nicolaus-hee commented on #4789
Yeah, noticed. I `curl`ed it and still only got one `&amp;`:

![image](https://user-images.githubusercontent.com/48563755/104094903-1839a300-5294-11eb-9c03-cd9ada25b278.png)

[2021-01-09 15:20] ByteHamster commented on #4789
Oh, I see. The broken one is the one inside an `<item>`. Because `itunes:author` is only [specified](https://help.apple.com/itc/podcasts_connect/#/itcb54353390) for the whole channel and not for individual items, AntennaPod always uses the last `itunes:author` tag that it finds, regardless where it is.

[2021-01-09 22:36] tonytamsf commented on #4847
I even try rebooting my phone and the problem kept on happening.  Now I cannot replicate it again.  I wonder if my phone was overloaded with CPU cycles

see the weird time 0:00 to 00:00

![Screen Shot 2021-01-09 at 2 35 32 PM](https://user-images.githubusercontent.com/149837/104109972-f4706000-5287-11eb-8d5f-c44969963e56.png)

And this one
![Uploading Screen Shot 2021-01-09 at 2.36.04 PM.png…]()

[2021-01-09 22:36] tonytamsf commented on #4847
I will close for now

[2021-01-09 22:36] #4847 closed

[2021-01-10 01:51] tonytamsf commented on #4844
We won't be able to make the `Toast` message longer, see [this](https://stackoverflow.com/questions/2220560/can-an-android-toast-be-longer-than-toast-length-long)

(personally) I have accidentally swiped away episodes, *and* I don't like locking the queue.

The thing we could do is to make the swiping 'harder' so an accident doesn't happen.  (maybe a longer swipe?)

[2021-01-10 01:59] tonytamsf commented on #4612
@alexanderadam If you can replicate it, could you send your logs (not on Github)

'Settings'-> Report a Bug -> Export Logs

[2021-01-10 02:05] tonytamsf commented on #345
@ByteHamster  Should we label this audio player (deprecated) in the UI?

[2021-01-10 04:55] tonytamsf commented on #4532
during my testing, all the episodes are showing in the feed list.  I wonder if we can reopen the Forum thread so we can ask for more data around which feeds these were or how to reliably replicate the problem.

When there are a lot of episodes it takes a while to transfer that data from the phone to the car.

[2021-01-10 04:58] tonytamsf commented on #4420
This sounds exactly like #2492 - I am able to replicate it.

[2021-01-10 04:59] tonytamsf commented on #3691
just noting that it's related to #2492

[2021-01-10 05:02] tonytamsf commented on #3133
We currently have a way to play any episode in your queue. and browse any feed and play any episode.

I think we can close this request, unless @CptanPanic can clarify what type of episodes the "Episodes" option should show (New, All, Favorites)?

[2021-01-10 05:15] tonytamsf commented on #2492
I confirm this bug

* playing with USB plugged in
* pause on the phone
* unplug USB
* The phone button playing is gone
* plugin in to car
* The play control on the car doesn't do anything

[2021-01-10 05:44] tonytamsf commented on #2583
I think this is a duplicate of this issue https://github.com/AntennaPod/AntennaPod/issues/2965

[2021-01-10 10:43] HolgerJeromin commented on #345
I do not think that will change really much. Nobody will leave this player because of a changed label on upgrade.
I hope it is not the default right now.

[2021-01-10 11:30] thraidh commented on #4448
Apparently this is a problem with Android 11 as it affects other media players too. See here: https://support.google.com/pixelphone/thread/70342792?hl=en

Known symptoms are:
- no player controls on lockscreen
- no episode picture lockscreen background
- player controls in quick settings only visible after swiping down twice

[2021-01-10 11:56] Zocker1999NET commented on #4840
I can confirm this issue on another device with a similar behavior.
But I want to add following:
- I have enabled an option which might cause this behavior: "Automatically download up to X podcasts of my queue". This might be the reason why the bug was not found during testing this feature.
- The bug only happens for me directly after adding a local podcast. Because I wanted to stop the notificati

[2021-01-10 16:23] tonytamsf commented on #4840
I can confirm this bug.

@kuenes could you assign to me?

[2021-01-10 16:32] ByteHamster commented on #4840
It's already fixed in 2.1.2 which is currently rolling out

[2021-01-10 16:35] tonytamsf commented on #4840
Cool, @ByteHamster

[2021-01-10 19:55] Th0masL opened #4850 "Automatic backup/export functionality"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.1

**App source**: Aurora Store (identical Google Play)

# Feature description

**Problem you may be having, or featur

[2021-01-10 20:20] tonytamsf commented on #4850
Yes, I love this idea.  Instead of regularly scheduled, if you don't open the app for 30 days, I assume nothing has changed and you don't need to backup?

I think exporting to SD or local storage is a good start.  I would like to do a full backup instead of just the opml

[2021-01-10 20:33] Th0masL commented on #4850
Good point, that's true that if I don't open the App then it's safe to assume that there's nothing to backup.

I agree with the full backup (I thought that OPML was kind of a full backup, just a different format).

[2021-01-10 20:58] tonytamsf commented on #4850
A similar issue is bring talked about here #1899 for auto backup

[2021-01-11 02:18] tonytamsf commented on #3526
I think we can detect that we are in car mode and do the `skip()` since the skip button is hit.  Today I was driving and wish this would work

1) https://github.com/AntennaPod/AntennaPod/blob/66ee677ebe647d100f0aa32f371085e1c65a1688/core/src/main/java/de/danoeh/antennapod/core/service/playback/PlaybackService.java#L1891
2)
[code]

[2021-01-11 02:20] tonytamsf commented on #2965
I think I finally have a fix for this and I'm testing it in my car

https://github.com/AntennaPod/AntennaPod/pull/4720

[2021-01-11 02:22] tonytamsf commented on #2606
@hades this seems right, I tested in my car that this problem still persist and should be fixed

[2021-01-11 02:28] tonytamsf commented on #3755
Great that we are trying something new https://play.google.com/store/apps/details?id=de.danoeh.antennapod&hl=de_de&gl=de

[2021-01-11 08:50] mxmilkiib opened #4852 "Ability to "pause"/temp "disable" podcasts?"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same feature request.
- [ x] I will only create one feature request per issue.
- [x ] I will describe the problem with as much detail as possible.

# Feature description

I have many podcasts subscribed, then I went away from listening to podcasts for a while, now I'm interested again but I feel ov

[2021-01-11 16:37] ByteHamster commented on #4406
Good find!

Thanks, that would be great!

[2021-01-11 16:48] ByteHamster commented on #4648
:+1: I think so, too. Just wanted to keep it open for a few more days but I have not seen any more wrong dates since merging.

[2021-01-11 16:48] #4648 closed

[2021-01-11 17:05] ByteHamster commented on #4840
I also tagged the release for F-Droid now. The fix should arrive soon.

[2021-01-11 17:05] #4840 closed

[2021-01-11 17:06] #3697 closed

[2021-01-11 17:44] ByteHamster commented on #345
:+1:

ExoPlayer is *way* more stable than the old ones. The number of bug reports with weird media player behavior was reduced a lot since we switched the default to ExoPlayer.

[2021-01-11 17:46] ByteHamster commented on #4532
Sorry, just re-opened the forum thread

[2021-01-11 17:50] ByteHamster commented on #3133
I will just close this one for now because it was a long time since the last reply. We can always re-open later if needed.

See https://github.com/AntennaPod/AntennaPod/issues/3133#issuecomment-757416754

Tracked in #3526

You can use the skip button for that

[2021-01-11 17:50] #3133 closed

[2021-01-11 17:58] ByteHamster commented on #4850
Starting with Android 11, we can no longer simply store data on the sd card. So unfortunately, this feature needs to show a folder select screen (like the new local feeds feature) and needs to be enabled manually. Signal messenger does something similar. I don't know how WhatsApp deals with automatic backups on Android 11.

[2021-01-11 19:43] xPMo commented on #4840
Thank you for your work!

[2021-01-12 10:15] #4655 closed

[2021-01-12 12:24] ByteHamster commented on #3264
Sorry, I don't really understand what you mean. Should ExoPlayer be locked or not? From the code, I guess it should not be locked. So is the reason for this issue a deadlock?

Comment here:

Code comment:

[2021-01-12 12:39] ByteHamster commented on #4661
Sorry for the late reply @damoasda.

Most modules need access to the `Feed`, `FeedItem`, etc classes. I don't think those should be duplicated and converted for every single module. So I think as a first step, those could be separated (see also #4842). If that is done, we can already create modules for quite a few parts of the app (chapter parser, feed parser, OPML export, sync, maybe even databas

[2021-01-12 13:44] uli-on opened #4853 "Menu icon vanishes after indeterminate time of being in the background"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**:  2.1.1 (a7c6e697c)

**App source**:  F-Droid

**Android version**: 6.0.1

**Device mode

[2021-01-12 21:54] ByteHamster commented on #4853
Does the navigation/menu icon re-appear when selecting another page using the side menu?

[2021-01-12 21:57] ByteHamster commented on #4852
#1711 could be a solution for this. With folder support, you can just move the disabled subscriptions to a folder and forget about them. The implementation of folder support was started but needs some more work and is looking for contributors

[2021-01-12 22:14] uli-on commented on #4853
No, I can click what and wherever I want, the icon remains vanished.

[2021-01-12 22:27] ByteHamster commented on #4853
Hmm, okay. Thanks!

AntennaPod 2.0.x had the problem that the menu was not inflated after resuming but I think this is something different. Sounds like AntennaPod is somehow partially switched to tablet mode.

If you find a reliable way to reproduce, please do shout :)

[2021-01-13 09:56] #2953 closed

[2021-01-13 11:49] binarytoto commented on #4799
@varunvjha are you still working on it ?

[2021-01-13 16:19] Pomalo commented on #4583
Well, it doesn't seem like I actually solved the issue.

Here are the logs!

Le ven. 1 janv. 2021 à 01:02, Ouardane Jouannot <ouardane.jouannot@gmail.com>
a écrit :

--------- beginning of system
01-05 09:02:41.390  9317  9317 I Timeline: Timeline: Activity_launch_request time:389850107
01-05 09:06:47.691  9317  9317 W Activity: Slow Operation: Activity de.danoeh.antennapod/.activity.MainActivity

[2021-01-13 17:38] #3835 closed

[2021-01-13 17:51] #2268 closed

[2021-01-13 21:35] jonasburian commented on #4788
I'd like to work on it.

[2021-01-13 21:49] #4804 closed

[2021-01-13 21:54] nicolaus-hee commented on #4853
I have the same on a Google Pixel 4 XL, Android 11, AntennaPod 2.1.2

![Screenshot_20210110-102048_1](https://user-images.githubusercontent.com/48563755/104514785-1c4a2580-55f2-11eb-9b6c-a23cf738d882.png)

Swiping up homescreen (not force closing AntennaPod) and reopening the app will bring back the menu icon.

![Screenshot_20210110-102106_1](https://user-images.githubusercontent.com/48563755/1045

[2021-01-13 22:36] HolgerJeromin opened #4858 "Support streaming and downloading at the same time"
## Environment
Android version: 10
OS version: 4.9.206-perf+
AntennaPod version: 2.1.2
Model: moto g(7) power
Device: ocean
Product: ocean_reteu

Player: exoplayer

# Bug description

**Steps to reproduce**:
1. Find interesting episode which is not on device
2. Start download
3. Start listening right now > stream

**Expected behaviour**:

If the file is beeing downloaded antennapod could do one of

[2021-01-14 01:11] tonytamsf commented on #4858
I think a) is not possible, it won't be a valid video file?

b) is what we should do, it's what I would expect

c) we should not play without the user permission

d) same as c, should not autoplay

Adding
f) we can tell the user that we will do b) and up to them to wait or stream

[2021-01-14 06:49] tonytamsf commented on #3264
Right now the code does not lock for ExoPlayer [here](https://github.com/AntennaPod/AntennaPod/blob/28f424e3c1c4002d1d4df55e2fe308f65afdae7b/core/src/main/java/de/danoeh/antennapod/core/service/playback/LocalPSMP.java#L181, this [PlayerLock](https://github.com/AntennaPod/AntennaPod/blob/1d008317aa6c6f71d8e35936ab1d02802057384a/core/src/main/java/de/danoeh/antennapod/core/service/playback/LocalPSMP

[2021-01-14 06:50] tonytamsf commented on #3264
@keunes please assign to me

[2021-01-14 08:08] HolgerJeromin commented on #4858
No autoplay for sure. I meant:
c) while playing keep on streaming (whatever the download state is or becomes), but switch to file on device (when the download is ready) and player did a pause/restart cycle

[2021-01-14 08:20] keunes opened #4859 "Add default screen setting"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.2

**App source**: Google Play

**Android version**: 10

**Device model**: Fairp

[2021-01-14 08:25] keunes commented on #4859
Maybe, thinking about it, this is more an enhancement than a bug, since the setting covers back button behaviour, not exit behaviour. Still, the current behaviour is a bit odd.

[2021-01-14 08:40] keunes opened #4860 "Episode download button not responsive when feed being refreshed"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.2

**App source**: Google Play

**Android version**: 10

**Device model**: Fairp

[2021-01-14 14:23] tonytamsf commented on #4859
We do save the state of where the episode is at in order to jump back to where the user left off.  I am not sure if we should save the state of which screen the user is at when a force close is done.

It does not seem that onerous that you have to navigate back to the queue.

It is technically a bug, but does not happen often.

[2021-01-14 23:12] keunes commented on #4859
Well, that's what I thought initially as well. But that user on the forum seems to feel quite strongly about it, and I do understand.

[2021-01-15 05:18] tonytamsf commented on #1672
Thank you @keunes for the mock, I really wanted the publish date.  This will give me a way forward.

Here is the PR https://github.com/AntennaPod/AntennaPod/pull/4862

[2021-01-15 05:34] tonytamsf commented on #4611
thank you @andrewc1

FYI: @ByteHamster if Sonic player is not supported could we label it as (Unsupported) or remove support for it?

[2021-01-15 06:30] tonytamsf opened #4863 "Skip button on Android Auto should always skip"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: x.y.z
All

**App source**: Google Play / F-Droid / ...
Google Play

**Android versio

[2021-01-15 08:41] keunes opened #4866 "Replace iTunes with Podcast Index for main search"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same feature request.
- [x ] I will only create one feature request per issue.
- [x ] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.2

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**: Quite a

[2021-01-15 08:49] keunes commented on #4866
I still intend to do [Mouv'](https://www.mouv.fr/emissions#radio), [France Musique](https://www.francemusique.fr/emissions) and [France Bleu](https://www.francebleu.fr/nos-emissions) so the PI number should still go up a bit :P

[2021-01-15 16:46] Saroumane commented on #4556
Still present in 2.1.2

[2021-01-15 20:12] paulle opened #4867 "add local folder returns system-filemanager can not be started"
If I try the option add add local folder it returns the message system-filemanager can not be started.
Sony xperia5 android 10

[2021-01-15 20:33] ByteHamster commented on #4867
Did you disable the system's file manager app?

[2021-01-15 21:21] gevhaz opened #4868 "Record when the user starts and stop listening to an episode"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.1

**App source**: F-Droid

# Feature description

**Problem you may be having, or feature you want**:

*Provide infor

[2021-01-15 21:38] paulle commented on #4867
can't find any app what's called system file manager. There is a app called files by Google and I've the solid explorer installed as filemanagerer.

[2021-01-15 21:47] ByteHamster commented on #4867
It is called "Documents", I think. Some other users did disable the system app because they used a custom file manager and thought that the system file manager is not needed. The app looks like this:

<img width="250" src="https://www.androidpolice.com/wp-content/uploads/2016/04/nexus2cee_android-n-prev2-documents-sidemenu-1.png" />

[2021-01-15 22:11] paulle commented on #4867
Can't find this too. But many thanks fo your help. I think I will wait till next month, if it's true my phone should get an aandroid11-update. Maybe this helps and I get the system file manager. If not I've to rest the phone and install all from new.

[2021-01-15 22:18] ByteHamster commented on #4867
Try Android Settings » Apps and notifications » All apps » 3 dots » Show system apps » Files.

[2021-01-15 22:28] paulle commented on #4867
Found it. Thank you. But it says not activated for users. And I can't activate it.

Gesendet von ProtonMail mobile

-------- Original-Nachricht --------
Am 15. Jan. 2021, 23:19, ByteHamster schrieb:

[2021-01-15 22:33] ByteHamster commented on #4867
Could you post a screenshot of that, please?

[2021-01-15 22:37] paulle commented on #4867
![Screenshot_20210115-233502](https://user-images.githubusercontent.com/4852079/104785363-a1684280-578a-11eb-8635-37e935988f08.png)
![Screenshot_20210115-233525](https://user-images.githubusercontent.com/4852079/104785366-a200d900-578a-11eb-9bf7-f7d3d206bf23.png)

[2021-01-16 04:34] tonytamsf commented on #1162
Has anyone been able to reliably replicate this problem on 2.1.2?

[2021-01-16 04:43] tonytamsf commented on #2149
I was able to replicate this based on your instructions, here is a trace

https://gist.github.com/tonytamsf/eab393a46d97829243ebee44f4b081c2

[2021-01-16 04:59] tonytamsf commented on #4280
If we don't restart the entire app, would we expect random failures during playback?

[2021-01-16 06:33] naveenjohnsonv opened #4870 "Error: Unable to access media file (1000)"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.2

**App source**: F-Droid

**Android version**: 11.0.0 , Xtended ROM

**Device mod

[2021-01-16 07:20] keunes commented on #2149
Shouldn't this be closed with #4728 being merged?

[2021-01-16 07:24] ByteHamster commented on #4870
It tries to fetch the podcast from a non-existing IP. This likely means that you are using some app that messes up IPs (ad blocker, VPN, etc).

[2021-01-16 07:44] keunes commented on #4868
Recording such data would be very interesting. I can imagine a 'your year in review' would be cool for many users, so they can join the social media hype with AntennaPod towards the end of the year. Apart from stats, it could be interesting info used to display 'what you listened to earlier this week' (in the context of a new home screen #3952).

At the same time, I would also like to call in memo

[2021-01-16 08:45] naveenjohnsonv commented on #4870
Yes, turns out disabling the magisk module was not enough,  removed it and all works. Thanks for your help, sorry if I wasted your time. Thank you for all your work.

[2021-01-16 08:47] #4870 closed

[2021-01-16 09:49] Matth7878 opened #4871 "Display remaining time instead of total time for episodes in queue"
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info
**App version**: 2.1.2
**App source**: Google Play

# Feature description
Episodes in queue when they have been played but not finished displ

[2021-01-16 09:49] Matth7878 opened #4872 "Respect 'show remaining time' setting in widget"
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info
**App version**: 2.1.2
**App source**: Google Play

# Feature description
Widget display a time bar in which you can see total time of an epi

[2021-01-16 09:59] nicolaus-hee commented on #4556
Confirmed

[2021-01-16 12:51] tonytamsf commented on #4866
What if we made the main search an aggregate of PodcastIndex and iTunes but default to using the results of PodcastIndex when we see duplicates?  This might be a safer first step

[2021-01-16 12:59] tonytamsf commented on #2086
@Bigpet are you still seeing this error with the latest release, thank you for the error logs.

[2021-01-16 13:01] tonytamsf commented on #4871
@keunes could you assign to me?

[2021-01-16 13:03] tonytamsf commented on #2149
I can test #4728 to see if I see this crash log

[2021-01-16 13:06] tonytamsf commented on #2695
@spookykidmm Are you still having problems with this playback control problem?  I don't see any other reports of this type of issue so far and it's been 2 years since this issue.

[2021-01-16 13:10] tonytamsf commented on #3574
@ByteHamster right now the code does not lock at all for Exoplayer.  I would like to propose to implement locking when using ExoPlayer.  I think it's the same issue as #3264 in this [comment](https://github.com/AntennaPod/AntennaPod/issues/3264#issuecomment-759965461)

[2021-01-16 14:38] keunes commented on #4866
That could work as well. Not sure how complex it is to check for duplicates? Wouldn't it slow down the search? Or is it already in place given that we have iTunes & Fyyd?

[2021-01-16 15:23] tonytamsf commented on #4866
It doesn't seem that hard

1) The main search is a CombineSearch with weights, see here in `PodcastSearcherRegistry`
[code]

2) Can you give me a few titles of podcasts to search and test and see why iTunes is so poor, I can't read French (my daughter does :D)

3) We can play with the weights to see how to get the best results.

[ref](https://github.com/AntennaPod/AntennaPod/blob/ac13b7aa7b14e5e46

[2021-01-16 16:17] keunes commented on #4852
In the meantime you could also change the 'keep updated' setting of individual podcasts. That way they're not refreshed and you avoid getting new episodes in the queue.

[2021-01-16 16:49] keunes commented on #4866
The title is slightly different: "grand reportage" and with that title [can be found](https://podcastindex.org/search?q=grand%20reportage) in the Podcast Index.
There was a list with wrong episodes in [#4390](https://github.com/AntennaPod/AntennaPod/issues/4390) but I didn't check them all and the few I tested now seem to work. I'll have another look.

[2021-01-16 16:51] Bigpet commented on #2086
Couldn't reproduce it anymore in 2.1.2 (a87cec5d2)

But I no longer have a SIM card in that device so that may affect it (since it's been getting any security updates for a while now).

So, my issue is resolved. But it may not have been the same issue for everyone that posted here.

[2021-01-16 21:54] gevhaz commented on #4868
Yeah, I guess it would take up some space. 20 rows added per day means 7300 rows added per year. For comparison, my `feed_items` table is 4100 rows tall. A little more than 10 tables are in the database in total, I think. I don't know SQL or AntennaPod enough to tell whether this is a lot.

[2021-01-17 01:15] ferdrian06 opened #4875 "On"
I built a prototype here, I think showing the search provider is useful for me as a user because I don't want to subscribe to stuff from Fyyd (if I knew the search provider) I only trust Podcastindex or ITunes.  We can shorten the name of the search provider.

![Screen Shot 2021-01-16 at 11 55 43 AM](https://user-images.githubusercontent.com/149837/104821596-e2477200-57f1-11eb-8c83-9c7560531d0f.pn

[2021-01-17 01:27] tonytamsf opened #4874 "Remove the need for location"
- [x ] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: any

**App source**: Google Play

**Android version**: latest

**Device model**: Any

# Bug descr

[2021-01-17 09:32] keunes commented on #4875
@ferdrian06 Please let us know if you meant to share your thoughts or contribute in any way to 4873. If we don't hear back from you we'll have to close/delete this issue.

[2021-01-17 11:47] keunes commented on #4874
See #3649 for why we need the location permission. Removal of this permission requires the removal of the WiFi filter - although for some reason on my Android 10 device I don't even see the WiFi filter setting.

[2021-01-17 12:39] sitaramc opened #4876 "changelog not updated since 1.8.1"
- [ x] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.

Just wondering why the changelog has no updates after 1.8.1.

I make it a point to check the changelog when updating any app, and so I noticed this.

Thank you for a wonderful product!

[2021-01-17 13:05] sitaramc commented on #4876
not sure if this means I should close this and open a new one; will do so anyway

[2021-01-17 13:05] #4876 closed

[2021-01-17 13:12] sitaramc opened #4877 "changelog not updated since 1.8.1"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same bug report.
- [ x] I will describe the problem with as much detail as possible.
- [ x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.3+

**App source**: F-Droid

**Android version**: 8.1.0

**Device model**: Micro

[2021-01-17 16:59] keunes commented on #4877
Thanks for reporting that @sitaramc
@ByteHamster I'm wondering: should we abandon the changelog and get F-Droid to link to the [Releases](https://github.com/AntennaPod/AntennaPod/releases) page instead?

[2021-01-17 17:01] keunes commented on #4872
@Matth7878 I guess we'd just want to follow the preference set in the player screen, no? Or do you think we need an extra setting for it? Wondering if it shouldn't be tackled together with #4871 in one go.

[2021-01-17 17:31] Matth7878 commented on #4872
I did a separate issue because I think changing time in queue and widget requires different modification in code. A developer could decide to tackle one and not the other.

For widget as it displays audio control I thought it was more logical if you could switch total / remaining time like you can in player view ? (Please note that I am not using the widget)

[2021-01-17 19:16] sunjam commented on #421
fyi, There is a new [Nextcloud Podcast app](https://apps.nextcloud.com/apps/podcast) and [here is the request for AntennaPod support](https://git.project-insanity.org/onny/nextcloud-app-podcast/-/issues/103)

[2021-01-17 21:32] keunes commented on #421
@sunjam Yes, we've reached out. Since their version 0.1 was just released it'll probably be a bit before the next version will be released. But AP support seems to be tagged for the 0.2 release, so I have good hopes it'll come in a not too distant future :)

[2021-01-18 01:09] sitaramc commented on #4877
That would be quite alright too; the information people look for in
changelog is present in the Releases page.

Thank you.

On 1/17/21 10:29 PM, Keunes wrote:

--
sitaram

[2021-01-18 09:35] timabell commented on #1162
I'm not currently using any headphones that have back/forward buttons so couldn't tell you I'm afraid. Still my fav player :1st_place_medal:

[2021-01-18 13:57] moagee commented on #4850
i came here because i had a similar idea. don't know if it's the same?
nextcloud has a new app called "podcasts", but it's still in it's early days.
https://git.project-insanity.org/onny/nextcloud-app-podcast
it would be nice if antennapod would have a function which allows us to sync with nextcloud or other cloud-services (why just gpodder?)
is it technically possible to sync both? is it the same

[2021-01-18 15:12] SFMason opened #4878 "[UX] Option to use episode specific covers in player only"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.2

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:

There is c

[2021-01-18 16:24] Dunedan commented on #1162
I haven't encountered this issue with recent versions of AntennaPod anymore.

[2021-01-18 17:19] v3DJG6GL commented on #4165
Since v2.0.1, this issue hasn't occured to me any more...

[2021-01-18 17:36] keunes commented on #4850
Hi @moagee
Thanks for chipping in :)
We're aware of this new app and - you have seen my comment in the app's repo - are interested in cooperating with them on getting the integration working (it's possible but needs work from both sides).

This issue (4850) is about frequent (e.g. weekly) full database dumps (aka backups). The sync that you described above falls under #421.

To be honest I don't s

[2021-01-18 17:38] rivaldi8 commented on #1162
It haven't found this issue on newer versions either.

[2021-01-18 17:48] keunes commented on #4878
I would actually argue that this existing setting should apply only to the 'miniatures' and not to the full player screen (as [discussed](https://github.com/AntennaPod/AntennaPod/pull/3505#issuecomment-541232201) when this setting was implemented, because the original problem that is solved by this option revolved around the ability to recognise episodes in the queue, given the small/'silly' episo

[2021-01-18 17:57] ByteHamster commented on #1162
Okay, looks like it is solved :)

[2021-01-18 17:57] #1162 closed

[2021-01-18 18:00] ByteHamster commented on #4877
Yes, definitely. That's fewer places to update on every release :) We should also update the license on F-Droid as it will change with the next non-bugfix release.

Actually, we push the changelog in a format that should be displayed by F-Droid. Unfortunately, they seem to have a bug there: https://gitlab.com/fdroid/fdroidserver/-/issues/844

[2021-01-18 18:47] tonytamsf commented on #4850
I think doing backup in the app's folder regularly makes sense, if the user removes the app, the backups is gone though.

Doing a weekly reminder to backup to external, which will have to ask the user to open the folder to store a backup seems reasonable and I would appreciate as a user

[2021-01-18 22:31] keunes commented on #4850
Does it have to be weekly once the user gave the permission? I.e. the permission/location wouldn't be permanent (so we could overwrite the file)?

[2021-01-18 22:49] keunes commented on #4877
I'll prepare a PR to update that.

Hah. Was wondering if it was because I have AP installed from another source (Google Play), apparently not. That's too bad – hope they'll fix that.

[2021-01-19 00:21] ByteHamster commented on #4877
Oh, wait... You are right. I think it **is** caused by the installation source. The website does list the changelog. https://f-droid.org/en/packages/de.danoeh.antennapod/

[2021-01-19 00:34] vitaly-zdanevich opened #4879 "Missing chapters on resume"
Version 2.1.2 from app store.

I recorded video about it https://youtu.be/6QbVwh6FCCI

Podcast: https://radio-t.com

[2021-01-19 07:39] keunes commented on #4877
@sitaramc
If in the F-Droid app you go to Settings > Manage installed apps > AntennaPod, do you see listed what's new? Below an example from another app I have installed through F-Droid:
<img src=https://user-images.githubusercontent.com/11229646/105002475-a4389100-5a31-11eb-8d2a-b5aa8c9187a8.png width=250>

[2021-01-19 10:27] co00co commented on #4747
Hi!
Many of us use podcast as a tool to practice or learn new languages. So a language filter will be a nice improvement.
Also if the listener is intrested in different cultures or discover new things the single limitation is the language one is able to understand
Thanks!

[2021-01-19 14:49] ByteHamster commented on #4868
That could be "faked" by looking at the last-played tag of each episode and counting the played duration of each episode that was last played in the last year. If someone listens twice in different years, the data is not 100% accurate but I think it is still accurate enough :)

If you use gpodder.net synchronization, you can already get this data. I have not tried using it yet but we send a playba

[2021-01-19 14:51] ByteHamster commented on #4867
Interesting. Do you use multiple users on your device? I don't think that the Android system ships with a setup like this because the file manager is a central system component.

[2021-01-19 14:59] ByteHamster commented on #4280
If you have a playback error that is caused by Sonic and could be fixed by ExoPlayer, we want to do the switch. While the button does change the setting, it does not restart the playback service. So the service still uses the old player, I think. (I have not verified this but the other two players have some dynamic switching logic in place while ExoPlayer does not)

I do not think it causes additi

[2021-01-19 15:01] ByteHamster commented on #2149
Oh, right. GitHub does not close issues when a PR is merged to any branch except `develop` :(

That would be great :)

[2021-01-19 15:04] #4875 closed

[2021-01-19 15:07] gevhaz commented on #4868
On a per-year basis, I also think the last-played tag is enough. My use case would require knowing how much is played on a given day, and then it's not enough. If I play most of a podcast on Monday, and then the last five minutes on Thursday, it will look like I played the whole, say, 2 hours on Thursday. This is a very common case for me.

Gpodder.net sounds interesting. I will have a look. I fee

[2021-01-19 15:10] ByteHamster commented on #4874
Yeah, the location permission was a temporary workaround for Android 10. Unfortunately, it only works when targeting an old Android version. We have since updated the target version (otherwise, we can not upload updates anymore), so there is no longer a simple way to make the wifi filter work.

Actually, the permission was removed in #3968. Your screenshot says "Showing permissions of all versions

[2021-01-19 15:16] ByteHamster commented on #4850
Hmm... A big advantage of AntennaPod is that we do not nag the users too much. I don't really like the idea of adding more user interruption.

It can be permanent

[2021-01-19 15:24] ByteHamster commented on #4868
Gpodder.net is currently down and I don't know when it will come back because its maintainers are not too active. The good thing is that the service is open-source and can be self-hosted. I find it a bit troublesome to set up, though.

[2021-01-19 16:03] paulle commented on #4867
No, dont use mutpiple users.

But I bought the phone used.

Gesendet von ProtonMail mobile

-------- Original-Nachricht --------
Am 19. Jan. 2021, 15:51, ByteHamster schrieb:

[2021-01-19 21:14] e-t-l opened #4882 "Option to sort subscriptions by "custom""
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.25

# Feature description

**Problem you may be having, or feature you want**:

There are four options right now for h

[2021-01-19 21:14] dewijones92 opened #4883 "Ability to remove rogue episode entries"
# Checklist

- [X] I have used the search function to see if someone else has already submitted the same feature request.
- [X] I will only create one feature request per issue.
- [X] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.2

**App source**: Compiled myself from github

# Feature description

**Problem you may be having, or feature you wan

[2021-01-19 21:16] keunes commented on #4883
I would reckon a duplicate of #4426. @dewijones92, could you have a look please at that issue and share if you think it describes the same problem as you?

[2021-01-19 21:20] ByteHamster commented on #4882
Hi, this is already tracked in #4210. I will close this one to keep the discussion in one place. You can indicate that you also are interested in the issue by adding a :+1: reaction to the first post :)

[2021-01-19 21:20] #4882 closed

[2021-01-19 21:29] dewijones92 commented on #4883
ah good spot @keunes
thanks

[2021-01-19 21:29] #4883 closed

[2021-01-19 21:30] dewijones92 commented on #4426
This would be a great feature

[2021-01-19 21:53] keunes opened #4884 "Trying to opening preview of slow podcast server slows down preview loading of fast server"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.2

**App source**: Google Play

**Android version**: 10

**Device model**: FP3

[2021-01-19 22:05] keunes commented on #4852
Given that there's a work-around already and that a proper solution will hopefully come with the introduction of tags, is it ok @mxmilkiib if we close this one? That way we can help maintain focus in the development of the app. Please let us know - thanks!

[2021-01-19 22:17] keunes commented on #4877
(PR submitted against F-Droid's Data repo: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/8189)

[2021-01-19 22:37] mxmilkiib commented on #4852
I think it's probably more #2648 as this relates to avoiding adding podcasts to a queue, and that can be done by avoiding the main queue by having multiple queues, which is something more than the apparent just folder tag grouping thrust of #1711. Thanks, but I'm going to avoid bothering going through a few hundred podcasts and disabling 'keep updated' for now.

[2021-01-19 22:37] #4852 closed

[2021-01-19 22:55] ByteHamster commented on #4852
That will be easier once #4681 is implemented :)

[2021-01-20 00:12] e-t-l opened #4885 "Add forward/rewind/skip buttons to widget"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.2

**App source**: F-Droid

# Feature description

**Problem you may be having, or feature you want**: There's only a

[2021-01-20 14:54] keunes commented on #4877
Ok, PR on F-Droid was merged, closing this issue. Thanks for letting us know @sitaramc!

[2021-01-20 14:54] #4877 closed

[2021-01-20 21:18] Matth7878 commented on #4885
I think what you want has been fixed with PR #4746
It will be available when next version is released. (There is no ETA)

If I am correct please close your issue.

[2021-01-20 21:48] tonytamsf commented on #4885
Yup, this issue can be closed as a duplicate

[2021-01-20 22:47] #4885 closed

[2021-01-21 05:48] Dranion commented on #2463
Since I don't think there's a report for 2.1.2 and just to add more data, my database corrupted, I think while adding podcasts. I only _noticed_ at ~20:45:03.522 but the error log states this:
`01-20 18:54:28.285  6673  7220 E AndroidRuntime:
java.lang.IllegalStateException: attempt to re-open an already-closed object: SQLiteDatabase: /data/user/0/de.danoeh.antennapod/databases/Antennapod.db`
whic

[2021-01-21 07:09] tonytamsf commented on #4874
I do not see the permission on my phone, but I see it on the playstore.  Not  a big deal

[2021-01-21 07:09] #4874 closed

[2021-01-21 07:12] tonytamsf commented on #4878
I see some value in this option, but maybe we can let the user swap the image while playing.  Right now we have some 'hidden' functions like tapping the duration to swap better remaining time and duration.

[2021-01-21 07:16] tonytamsf commented on #4571
Is anyone taking this issue? If not, I can give this a try. @keunes ?

[2021-01-21 07:17] tonytamsf commented on #4767
Id you keep this issue about transcript, I can try my had with it

[2021-01-21 12:38] SFMason commented on #4878
I'm not sure about this. Better to implement explicit settings than implicit features. Not to mention that this would probably replace the current behavior of toggling play when tapping the episode cover (which some may rely on, e.g. when driving).

[2021-01-21 13:53] ByteHamster commented on #4879
Hi and thanks for reporting the bug. Could you please describe the steps necessary to run into the behavior? Your video starts with the problem already present and I can not reproduce the problem on my device.

[2021-01-21 13:54] ByteHamster commented on #4867
Did you reset the phone after buying? Maybe the previous owner disabled the file manager.

[2021-01-21 13:56] #4813 closed

[2021-01-21 13:58] ByteHamster commented on #4770
Streaming and downloading at the same time is currently not supported. Let's continue the discussion in #4858 instead, which deals with a similar topic.

[2021-01-21 13:58] #4770 closed

[2021-01-21 14:00] ByteHamster commented on #4738
I can not reproduce this. Closing now but if you find the time to post some more details, we can always re-open.

[2021-01-21 14:00] #4738 closed

[2021-01-21 14:04] paulle commented on #4867
As far as I remember I resetted it.

In the next time I will reset it otherwise.

Gesendet von ProtonMail mobile

-------- Original-Nachricht --------
Am 21. Jan. 2021, 14:54, ByteHamster schrieb:

[2021-01-21 14:36] pstorch commented on #4870
Had the same issue with a podcast which uses https://chtbl.com as URL. This is possible a podcast tracker and Blockade blocked it. So AntennaPod gave me the same error.
After allowing this domain, AntennaPod could download the episodes again.

[2021-01-21 16:19] naveenjohnsonv commented on #4870
Yeah I whitelisted the domain too. I think some hosts blacklisted that domain.

[2021-01-21 16:37] vitaly-zdanevich commented on #4879
Just resume the episode, maybe wait before on pause a few minutes, I do not know, maybe you should try with the same podcast https://radio-t

[2021-01-21 16:41] palianskas commented on #4860
I'm currently unable to reproduce this bug. [Recording on youtube](https://www.youtube.com/watch?v=Dk3uamYL_So)

[2021-01-21 16:56] ByteHamster commented on #4879
Does this happen regularly for you? Could you try waiting a few seconds when you see the empty screen? Maybe it just takes some time to fetch the chapters.

[2021-01-21 17:25] ByteHamster commented on #4867
Okay. Hmm, maybe it could help to de-activate and activate the app again?

[2021-01-21 17:37] #3847 closed

[2021-01-21 17:48] paulle commented on #4867
I tried it, but nothing. It's like before. I believe the only way is a complete reset.

[2021-01-21 22:05] keunes opened #4889 "IllegalArgumentException: shownotesProvider = null"
# Checklist

- [ ] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

I noticed the following bug report in the settings. Don't know what happened when this occurred.

# System info

## E

[2021-01-22 01:13] widlok commented on #4571
I was implementing it but unfortunately i wont be able to focus on it in near future so go ahead @tonytamsf .

[2021-01-22 06:23] tonytamsf commented on #4778
@ByteHamster Any tips on getting this working?  I'm not sure what kind of Intent I need to send to get to the last opened screen.

[2021-01-22 07:04] lwis commented on #4859
Agreed, it would be helpful if the app always opened in the same place (whether that be queue, subscriptions, etc).

[2021-01-22 09:59] jimmysjolund commented on #2187
If this is implemented it needs to be with an option to turn it on and off. I produce podcasts and put great effort into getting it loud enough and still have dynamics. I wouldn't want a player to by default try to normalize that as it is in many cases done in a not so good way.

[2021-01-22 10:23] csarn commented on #2187
I agree, it would have to be a per-podcast setting.

[2021-01-22 10:36] #345 closed

[2021-01-22 10:40] ByteHamster commented on #4889
This is thrown when closing the app while it currently tries to load shownotes. It does not crash the app but maybe we find a fix that does not throw an exception.

[2021-01-22 10:47] #4866 closed

[2021-01-22 10:52] #4867 closed

[2021-01-22 13:11] vitaly-zdanevich commented on #4879
Recorded second video about the same issue, tried to wait here on empty chapters screen

https://www.youtube.com/watch?v=c_rAARjC0nI

Yes this happens regularly for me on this podcast (I listen to this podcast 99% of all time).

[2021-01-22 13:52] palianskas commented on #4503
I am unable to reproduce this unfortunately, the playback resumes with regular volume level.
App version 2.1.2 from FDroid, android 9 (LineageOS 16) on Samsung Galaxy S5 Neo.

[2021-01-22 14:08] ByteHamster commented on #4503
Hmm yeah, I think this is caused by the device vendor. AntennaPod does not change the volume.

[2021-01-22 14:08] #4503 closed

[2021-01-22 14:46] #4414 closed

[2021-01-22 16:27] #213 closed

[2021-01-22 21:04] eigenlambda commented on #745
wouldn't be hard though, add multiple sorting columns, maybe also the ability to pull things up and down in a custom ordering in a podcast
then add a feature to if there isn't anything in the queue move on to the next thing in the podcast if there isn't a queue
I switched to antennapod from vlc for listening to stuff in directories because vlc keeps losing my position in files, vlc also has robust

[2021-01-23 04:05] thedukesww commented on #3691
Can I just ping this and say this is probably one of my top complaints? Glad to help out where I can on testing or something.

[2021-01-23 04:17] thedukesww commented on #4859
I agree on always opening in the same place. Having a default homepage would be nice with an option to change would be a very nice to have.

[2021-01-23 09:06] lwis commented on #4556
@ByteHamster any pointers on where the cause of this could be?

[2021-01-23 11:00] fritzmark commented on #62
I know this is a long time closed issue but is there a possibility to disable this expand behaviour for the playback controls. As you see in the screenshots I have to expand AntennaPods notification when I want to play or pause always.
![Screenshot_20210123-115813__01](https://user-images.githubusercontent.com/2117862/105576361-842b0980-5d72-11eb-8fe3-86eade246e41.jpg)
![Screenshot_20210123-115819

[2021-01-23 11:03] ByteHamster commented on #62
Check Android's notification settings. You probably set it to minimize Antennapod's notifications. Note that you can tap notification categories to get more settings (not only enable/disable them)

[2021-01-23 12:03] #4788 closed

[2021-01-23 12:26] MStrecke commented on #4809
I second the request.

TLDR: please make port **and** encryption configurable

The main use case for me is that the official gpodder.net site is **_very very_** slow as perhaps more and more user trying to access it. I'm not able to sync with it for days now.

I've noticed that I could change the hostname for the gpodder site in the app. So the web service had to be open sourced.

I've found the s

[2021-01-23 12:56] ByteHamster commented on #4254
Looking at the library's [documentation](https://bumptech.github.io/glide/doc/caching.html) again, I think that the way we use it the library never actually deletes images from the cache unless the cache is full. So it does **not** retry occasionally like I said earlier. The only reason why an image is not displayed is that it was deleted from the cache. Therefore, the library has no way to show t

[2021-01-23 13:04] ByteHamster commented on #4297
Maybe the permissions of the folder on the sd card somehow got messed up. In case you are still experiencing this, could you please try to re-install AntennaPod? You can export the database before doing so. The database includes your subscriptions and listening status but not the app settings.

[2021-01-23 13:06] ByteHamster commented on #4262
You can enable auto-download on a per-podcast basis.

[2021-01-23 13:40] ByteHamster commented on #4583
I guess this is the time you pressed the play button but your device does not recognize the keycode:

[code]

A bit later, it recognizes a keycode of `354`, which is not a valid keycode [specified by the Android system](https://cs.android.com/android/platform/superproject/+/master:frameworks/native/include/android/keycodes.h):

[code]

There is definitely something strange happening on your device

[2021-01-23 13:40] #4583 closed

[2021-01-23 16:09] gevhaz commented on #4868
Another way to get the data I want would be to backup the database daily and do my own calculations on how much more is played each day. This would be fine by me, but for this to work I would need automatic backups of the database at a specified time each day. Is this something we could do?

[2021-01-23 16:16] #4868 closed

[2021-01-23 18:41] ByteHamster commented on #4868
If you are willing to program, setting up your own gpodder server (or a simple server that just collects statistics with gpodder-like API) sounds easier than the automatic backup

[2021-01-24 01:17] gevhaz commented on #4868
Would it work to have it running as a local server that is only on while my computer is on (or better yet, only started a short time once a week for syncing)? Or will playback actions be lost if they can't sync immediately?

[2021-01-24 03:00] tonytamsf commented on #4868
Running gopodder as a docker container would be useful, I bet you don't need to have it running all the time, only when you sync

[2021-01-24 05:58] Fatcakes opened #4896 "Chapters in No Agenda show not visible"
Anyway to get these features integrated? I would specifically like to see chapters support. Thanks guys!

[2021-01-24 06:14] tonytamsf commented on #4896
Search for an existing issue that mentions this same thing already.  Chapters are already supported, maybe that using this spec. Is there a specific podcast that you are not seeing chapters but the feed has chapters?

[2021-01-24 08:09] ByteHamster commented on #4896
I think this issue is proof that merging #4731 was a good thing. Chapters are harder to discover than we thought.

We support podlove chapters, ID3 chapters and ogg/vorbis chapters. All podcasts I have seen in the wild us at least one of these. Supporting the "podcasting 2.0" re-invention of the same old feature is tracked in #4767, so this is a duplicate.

[2021-01-24 08:11] keunes commented on #4896
Thanks for your interest. Please have a look at the issues with the [Podcasting 2.0 label](https://github.com/AntennaPod/AntennaPod/labels/Podcast%20Index%20%2F%20Podcasting%202.0). An issue for what you mention already exists.

[2021-01-24 11:26] ByteHamster commented on #4868
AntennaPod stores the playback actions until sync succeeds.

Would work but you need to be aware that if you don't use https, anyone could open a server with that IP on public wifi network and AntennaPod would then send the data there.

[2021-01-24 11:27] #4863 closed

[2021-01-24 13:04] britiger commented on #4459
Same problem with my personal gpodder installation. I've inspected the requested json files. As I can see gpodder contain correct data:

[code]

[code]

Also the position of started episode is received in gpodder but I don't see a process of started episode on my second device:
[code]

The effected Version: `AntennaPod 2.1.2`

[2021-01-24 14:41] #3806 closed

[2021-01-24 14:51] ByteHamster commented on #4778
Hmm. I feel like that would be pretty hard to discover or even confusing. Also, the area outside the icon/text is pretty small.

@keunes are you sure that this does not work for you? At least in the current `develop` builds, it opens the last-opened screen with an expanded media player. I think it also was like this in the release versions.

[2021-01-24 14:52] ByteHamster commented on #4884
My guess would be that it only happens when you have set the number of parallel downloads to `1`. Is this the case for you, @keunes?

[2021-01-24 15:55] scfc commented on #4537
I have (probably) the same issue when interacting with Google Chrome:

1. Browse to http://user42.tuxfamily.org/man-preview/index.html.
2. Click on the link for "HTTP man-preview.el" (https://download.tuxfamily.org/user42/man-preview.el).
3. Chrome downloads the file and offers the action "Öffnen" ("open").
4. Click on "Öffnen" ("open").
5. AntennaPod starts and displays the screen "← OPML Import"

[2021-01-24 15:58] keunes commented on #4884
I have my setting on four parrallel downloads, and I would expect this to not have an impact anyway (because it's not an episode download or feed update).
I've just tried again and can't reliably reproduce it anymore either.

Let's close. Can try a couple of times in future and reopen if if happens again.

[2021-01-24 15:58] #4884 closed

[2021-01-24 15:59] ByteHamster commented on #4556
The logs (thanks @shortspider) indicate that the service is stopped and the notification is removed. No idea why you still get the notification. It is always hard to debug an issue that does not happen on your own devices.

I just added some [more logging](https://github.com/ByteHamster/AntennaPod/commit/85e4fbbfc93ae3d6d5973a575c3c32548e70c382) again. You can find a build [here](https://drive.goo

[2021-01-24 16:08] lwis commented on #4556
Just installed the new build and after a few manual refreshes I was able to reproduce. Let me know if I can help further.

On Sun, 24 Jan 2021, at 3:59 PM, ByteHamster wrote:

--------- beginning of main
01-22 20:52:08.085 13568 13568 E noeh.antennapo: Not starting debugger since process cannot load the jdwp agent.
01-22 20:52:08.132 13568 13568 D NetworkSecurityConfig: No Network Security Config

[2021-01-24 16:27] ByteHamster commented on #4556
Woah, that was fast. Why can you reproduce this so reliably and I have yet to see it a single time? -.-

GitHub cut the logs off at the bottom, so the most interesting parts are missing. Could you send them via email please? My address is `info@<my user name>.com`. Thanks :)

[2021-01-24 17:47] keunes commented on #4778
Hmm, actually it does work like this, now, yes. Odd.

Agreed. Instead, can't this be a setting displayed when creating the widget?

[2021-01-24 21:27] Fatcakes commented on #4896
@keunes sorry for the duplicate my friend. The only instance of it I saw was on the og forums, and it seemed like the request got dismissed.

@ByteHamster I know know how to use the chapters my dude. I'm not as smart as you guys, but I'm not a complete moron. Maybe I am. If you could try getting the chapters working for the No Agenda podcast (http://feed.nashownotes.com/rss.xml) with John C. Dvora

[2021-01-24 21:48] keunes commented on #4896
@Fatcakes No one says you're a moron ;) Just next time please fill out the template - we would've gathered what was the problem. As you can see from our reploes, ByteHamster thought you brought up a UX problem, I thought it was a feature request, but now we know it's about NA, we can deduct it's actually a support request ;)

I can confirm that chapters don't work for NA. There are two ways for po

[2021-01-24 22:02] ByteHamster commented on #4896
They do use the podcastindex chapter format

4 :) podlove simple chapters are basically the same as podcastindex chapters and now everyone needs to implement support for two different standards in feeds. The other 2 are different ways to encode them in the media file.

[2021-01-24 22:20] keunes commented on #4896
Thanks for that correction :D (although I'd say I'm still kinda right: listed in the feed & encoded in the file 😇 )

To be honest I would think in the long run one feed standard (probably PI) will 'win' (just like VHS). But yeah. We do support already the Podlove implementation?

That doesn't exclude chapters also being encoded, right?

[2021-01-24 22:27] tonytamsf commented on #4896
I tried to open that feed with Podcast Addict, and the chapters do show up. Let us know what Adam says

[2021-01-24 22:36] ByteHamster commented on #4896
Yeah but as one of the hosts seems to be the one behind PodcastIndex they probably want everyone to use their standard instead of encoding it in the file.

I have seen feeds that have `description`, `itunes:description`, `googleplay:description` and `content:encoded` set. All filled with the exact same text.

![](https://imgs.xkcd.com/comics/standards.png)

[2021-01-24 23:07] keunes commented on #4896
I can't imagine they stopped encoding chapters once the new namespace included the chapter indications. Let's see what they reply.

[2021-01-25 12:06] WiliTest opened #4897 "feature request: in the CONTRIBUTING.md add a section "submit a podcast not found by Antenna Pod""
I wanted to add a podcast I found on google podcast(1), but not on AntennaPod. Since the main section (README.md) doesn't talk about it, I went into CONTRIBUTING.md which doesn't talk about it neither.

Please add a section teeling us what should we do to "submit a podcast not found by Antenna Pod"

 (1: the podcast is called "Zeg het in het Nederlands" ― to learn dutch) )

[2021-01-25 12:45] ByteHamster commented on #4897
AntennaPod does not manage a podcast directory. Search is powered by iTunes, fyyd and PodcastIndex. If you get the podcast listed in any of these, it can be discovered in AntennaPod. There is an [article on our website](https://antennapod.org/documentation/general/list-podcast) about that but it should probably be extended to be more detailed. If you are interested in extending the article, that w

[2021-01-25 13:17] #1672 closed

[2021-01-25 13:47] ByteHamster commented on #4878
:+1: The text of the setting should be updated, then.

[2021-01-25 13:51] ByteHamster commented on #4859
We could replace the "back button behavior" setting with a "default page" setting that also has a "remember last page" option. AntennaPod would then always go back to the default page AND start with the default page. I think that is expected behavior anyway. The option would also play well together with the home screen #3952.

[2021-01-25 13:56] ByteHamster commented on #4879
Thanks. Is there anything written on the "report bug" screen?

[2021-01-25 15:16] vitaly-zdanevich commented on #4879
[code]

[2021-01-25 15:21] ByteHamster commented on #4879
Thanks! Hmm, looks like what is written there is a lot older than your video demo, so it is probably not related.

[2021-01-26 11:13] ByteHamster commented on #4778
Hmm. Not really a fan of adding more settings, to be honest.

[2021-01-26 18:00] ByteHamster commented on #4459
Fixed in #4899

[2021-01-26 18:00] #4459 closed

[2021-01-26 18:21] ByteHamster commented on #3264
If we actually execute everything on the main thread like it should be done, locking shouldn't make a difference. If it does, we are doing something wrong elsewhere. I fear that what we do wrong elsewhere could cause deadlocks or make the situation worse in other locations when adding locking. If you know where we do something wrong elsewhere, it would be a more "clean" fix. We can also lock and t

[2021-01-26 18:21] ByteHamster commented on #3574
Closing as a duplicate of #3264 to keep the discussion in one place.

[2021-01-26 18:21] #3574 closed

[2021-01-26 23:09] keunes commented on #4778
For the app in general I agree. But since this is only visible to really relevant users (when creating a widget), I don't really see much harm. Only other option I guess this as a 'won't fix' (cause whitespace or image as a dedicated area I think is not really an option).

[2021-01-27 06:29] keunes commented on #4896
Dave, doing tech for the NA show, [said](https://podcastindex.social/@dave/105616544647792804):

Doesn't indicate whether or not they were before. But this means AntennaPod is working as expected and that you'll have to wait for [support for the Chapters tag](https://github.com/AntennaPod/AntennaPod/issues/4767) of the Podcasting 2.0 Namespace.

[2021-01-27 06:29] #4896 closed

[2021-01-27 06:37] keunes commented on #4767
Specification of the Chapter tag is here: https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#chapters

[2021-01-27 06:53] tonytamsf commented on #3264
I originally thought locking happens for the other 2 players, so there was not going to be a problem with locking on ExoPlayer as well.

It seems like you suspect there are other threads running, which I could learn how to find.  Happy to dig some more to find the root cause, it will take me a while.

[2021-01-27 07:03] tonytamsf commented on #2279
@keunes should the speed changer look the same on the widget compare to the player?  Can people change the speed settings in the widget?

[2021-01-27 07:09] tonytamsf commented on #3275
If anyone is still seeing duplicate feed items, please ping the name of the podcast or a RSS URL

[2021-01-27 07:18] keunes commented on #2279
I would say so, yes. Will help users recognise functionality.

I would say that behaviour should follow the same pattern as in the app itself, so, currently: one tap changes speed (long-tap, though I'm thinking that's not possible as it's used to adjust the widget, would then change the settings).

However, I still believe #4641 (display dialog on single tap) provides a better experience, so hope

[2021-01-27 07:54] keunes commented on #2788
Closing this in favour of #4681. @ByteHamster @Stimmenhotel please chip in if you don't agree.

[2021-01-27 07:54] #2788 closed

[2021-01-27 14:23] dlemire60 commented on #3264
I had this issue again this morning. Media player is set to Sonic. Locked up on a single forward jump on Bluetooth.

- AntennaPod v2.1.2 (a87cec5d2)
- Moto G5s+ phone
- Android 8.1.0, version OPS28.65-36-14
- Bluetooth in my Chevy Bolt EV

Have to exit Android Auto, close AntennaPod and relaunch it to resume playback. This remains super-frustrating, as AntennaPod otherwise suits my podcast playing

[2021-01-27 16:29] tonytamsf commented on #3264
@dlemire60 does it happen with ExoPlayer? I am guessing yes.  Does it happen if you slow down a bit when you skip, waiting for 3 seconds between each skip?

[2021-01-27 16:40] dlemire60 commented on #3264
@tonytamsf I'm fairly sure I've seen it happen with ExoPlayer. I won't claim to carefully track what player is selected.

Generally slowing down multiple skips does seem to reduce the likelihood of this crash. But this morning it happened on the very first skip. And this only ever happens when the skips are triggered via Bluetooth. I've never had it happen from skipping forward using the phone UI.

[2021-01-27 16:48] tonytamsf commented on #3264
Got it, that is a good clue the media handling might be an issue.  It happens to me when I use Android Auto screen in my car

[2021-01-27 16:57] dlemire60 commented on #3264
Glad to hear it's useful, since I'm not really in a position to capture / supply logs to help debug. The Bolt EV has channel forward / back buttons on the steering while that trigger the jump as well as on the infotainment screen. I've locked up AntennaPod with both. The common denominator in all of this for me is initiating the skip forward / back command via Bluetooth.

I just reread my original

[2021-01-27 21:32] ByteHamster commented on #4778
"Every time you provide a user with an option, you’re asking them to make a decision, and those decisions quickly add up, especially when the user doesn’t care or doesn’t fully understand the implications" ([source](https://ben.balter.com/2016/07/21/removing-a-feature-is-a-feature/))

I have trouble saying "no" because I can definitely see the use-case. The thing is that we have to be careful what

[2021-01-27 21:39] keunes commented on #4778
I didn't even think of this, haha.

With some hesitation, but; agreed.

[2021-01-28 02:56] shbach commented on #3264
I'm also getting this bug. ExoPlayer selected and skips triggered via bluetooth.

[2021-01-28 09:09] noloman opened #4902 "Text in SearchView isn't modified when coming back from search results screen"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

**App version**: 2.1.2

**App source**: Google Play

**Android version**: 11

**Device model**:
Pixel 3a

# Bug descrip

[2021-01-28 13:21] Petricora commented on #4448
Same issue here.

System info
App version: 2.1.2 (a87cec5d2) (from Google Play store)
Android version: 11 (1 January 2021 security update)
Device model: Samsung Galaxy S10e

[2021-01-28 14:29] thraidh commented on #4448
The problem seems to have been fixed somewhat fixed with the latest updates at least on my Pixel 4a.

Remaining problems:
- no episode picture on lockscreen background
- player controls on lockscreen seem to vanish sometimes (e.g. over night), but are there after you interacted with the podcast application

The player controls seem to consistently show up in quick settings after the first down-swi

[2021-01-28 14:47] user8446 commented on #2597
Hello, just to add to this I am on the latest version 2.1.2 on Android 10 and get the same "confirm mobile download" with Intra which is just a DNS changer but works as a VPN. Clicking "allow temporarily" allows the download as expected so the only issue is correctly detecting whether you are on a mobile network vs wifi.

I have other apps on my device which have the same option to select to only

[2021-01-28 23:59] 40ZqTYY4ag3tAO4hdlxR1 opened #4903 "Antennapod cannot see podcast chapters but VLC can"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

## Environment
Android version: 10
OS version: 3.10.108
AntennaPod version: 2.1.2
Model: SM-G920F
Device

[2021-01-29 07:57] keunes commented on #4903
@40ZqTYY4ag3tAO4hdlxR1 Can you please share the URL of the feed? You can find the feed URL by going to the podcast screen, tap on the (i) and then tap on the URL. Then I'll have a look. Thanks!

[2021-01-29 08:07] ByteHamster commented on #4903
Duplicate of #4311 (same podcast, same reporting user).

[2021-01-29 08:07] #4903 closed

[2021-01-29 10:32] bas080 opened #4904 "Improve UI actions when downloading/refreshing many podcasts."
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# Bug description

**Steps to reproduce**:
1. Refresh all 500+ podcasts either automatically or manually.
2. Try to down

[2021-01-29 13:34] dcjkfgdjhd commented on #3852
I also have been having that issue for months and over multiple updates. It occurs almost always. See the attached screenshot. Oneplus 6 on OxygenOS 10.3.7.

![2021-01-29 14 26 34](https://user-images.githubusercontent.com/54892606/106281026-f2723f00-623e-11eb-819c-5f731c3e5c01.png)
.

[2021-01-29 13:45] dcjkfgdjhd commented on #4587
In that case I would prefer it if AP would also in the app itself diplay the times as if 1x speed was selected. To have all places show the same times.

[2021-01-29 13:47] dcjkfgdjhd commented on #4904
Also the notification while downloading is pretty primitive at the moment and could be improved (e.g. using the style of one of the usual download notifications in Android).

[2021-01-29 13:55] dcjkfgdjhd opened #4905 "Display episode publication date in episode full screen view"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# Feature description

**Problem you may be having, or feature you want**:
In the episode list, the publication date of the episode is shown. But nowhere

[2021-01-29 15:36] tonytamsf commented on #4905
Already implemented here, should be released soon https://github.com/AntennaPod/AntennaPod/pull/4862

Sign up as a beta user to get the feature sooner

[2021-01-29 15:38] tonytamsf commented on #4904
How many parallel downloads did you enable?  When you said not able use it it a sensible way, you mean your manual download is waiting until step 1 finishes?

[2021-01-29 15:50] #4905 closed

[2021-01-29 16:21] bas080 commented on #4904
@tonytamsf, I have tried parallel downloads of 2 all the way up to 50. It does not solve my issue.

Let's say I trigger the refreshing of podcast episodes of many podcasts and then ask to refresh a single podcast. I don't want to wait 30 minutes to get all the podcasts. I want to refresh the single podcast ASAP.

I'm not to sure how to solve this. I can think of two approaches.

1. Allow cancellin

[2021-01-30 09:42] Coninox opened #4906 "Feature Request : add an option to filter the episodes on a duration threshold"
- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.2

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:
A lot of french radio sh

[2021-01-30 13:42] Geist5000 commented on #4878
I would try to implement this.

Just for clarification, the current setting "Use Episode Cover" does replace every image which would display the episode cover, with the cover of the podcast when deactivated.

The requested change is that only the episode cover of the items in the feed get replaced with the cover of the podcast when deactivated but keep, for example, the image of the player as the

[2021-01-30 14:36] keunes opened #4907 "Improve clarity of (gpodder.net) sync error notification"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same feature request.
- [x ] I will only create one feature request per issue.
- [x ] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.2

**App source**: Google Play

# Enhancement description

**Problem you may be having, or feature you want**:
[Fro

[2021-01-31 08:25] tonytamsf commented on #2279
I'm holding off working on this until the Widget code is refactored to combine code spread out in apps and core

[2021-01-31 08:54] hbozhkov opened #4909 "Cannot download episodes from two particular podcasts"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.2

**App source**: Google Play

**Android version**: AndroidOne 10

**Device model*

[2021-01-31 09:23] ByteHamster commented on #4909
Seems to work for me. Do you use a VPN, privacy guard, ad blocker or something similar that could mess with the network connection?

[2021-01-31 09:28] hbozhkov commented on #4909
I use Blokada, whitelisting Antennapod does not help, but disabling it altogether works.

[2021-01-31 11:01] yoshimo commented on #2132
As a first step to get to the desired result of switching to TLS, how about detecting feed redirects and storing them automatically?
30x redirects are quite common for websites these days and it is rather error safe compared to manual edits.

[2021-01-31 11:31] ByteHamster commented on #2132
AntennaPod already stores 301 permanent redirects but not 302 temporary redirects.

[2021-01-31 14:00] dh1jc opened #4910 "Search RSS feed inside HTML page"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.2

**App source**:  F-Droid

# Feature description
In the 'Add PostcastUrl' dialog to add a feed url manually, I would

[2021-01-31 14:03] dh1jc commented on #4910
![Screenshot_20210131-150142](https://user-images.githubusercontent.com/10694/106386446-46169100-63d5-11eb-892f-33297fa4450c.png)

In the example the page of userXYZ is downloaded by Antennapod and is not a valid feed format. (Guess rss or atom)
But in the download antennapod detects two valid feed and presents to user a list of feeds to add.

[2021-01-31 14:46] ByteHamster commented on #4910
Feed urls can have any format. There is no way for AntennaPod to detect if some link on the page is a feed or just another website. What we already do check is look for `<link rel="alternate" type="application/rss+xml" href="url">`, which is the standardized way for publishers to add podcast links to their website.

[2021-01-31 15:37] Geist5000 commented on #4878
I changed the source a bit to always display the feed cover in the above specified situations.

I personally would prefer to change the setting to a choosable list of "Never", "In Player" and "Always", as suggested by  @SFMason, but I don't know how to transition from an older version to the new setting value type  (from boolean to string/int) without losing the current state of the setting (if th

[2021-01-31 16:19] hbozhkov commented on #4909
Whitelisting Antennapod in Blokada and restarting Blokada fixed the issue for me. Thank you!

[2021-01-31 16:19] #4909 closed

[2021-01-31 17:05] keunes commented on #4910
Also, if you don't have the exact URL of the podcast, is simply searching for it not easier?

[2021-01-31 17:58] tonytamsf commented on #4910
@dh1jc is there a particular html page that AntennaPod is not able to discover? There should be slight variations of the `link` tag we are not finding. It might be a simple fix to if we had an example

[2021-01-31 18:01] tonytamsf commented on #4909
@ByteHamster VPN issues seem to be a common support issue for us. Maybe we can put up a message when this type of error happen again. It will reduce user frustration, give the app a better reputation and reduct our support time

[2021-01-31 18:19] ByteHamster commented on #4909
Sounds good. I think the most common error message is that AntennaPod cannot connect to the IPs 0.0.0.0 or 127.0.0.1, not timeouts. I think on the forum there is a more detailed report that contains the full exception message.

[2021-01-31 20:27] dh1jc commented on #4910
Hi,

Example could be the Vimeo Video feeds.
Mine does not contain videos but a link to RSS feed.
https://vimeo.com/dh1jc/videos
Rss feed is inline but not detected. Maybe the returned content is invalid as adding the feed is stating that is is a web format in antenna Pod.

Will search for other examples.

[2021-01-31 20:53] tonytamsf commented on #4910
Take a look at what that page looks like from a robot

https://jsonformatter.org/html-viewer

Paste in your page, I think Vimeo shows a differ page when it think a robot is trying to scrape a page

Please share a read podcast webpage

[2021-01-31 20:59] ByteHamster commented on #4910
Good point. They don't return valid XML because it contains some newlines and space characters before the document type declaration.

[2021-01-31 21:29] #4778 closed

[2021-01-31 21:36] ByteHamster commented on #4878
I think it's okay to have a setting that only applies to lists. That's where the original issue originated from. Adding more detailed options there feels like an overkill to me. (In case you are interested: there is an [article about why adding more options is usually not the best idea](http://neugierig.org/software/blog/2018/07/options.html))

[2021-01-31 22:17] #2965 closed

[2021-02-01 15:31] h77ps opened #4912 "Add a setting to keep screen awake while on the player view during podcast playback."
# Checklist

- [X] I have used the search function to see if someone else has already submitted the same feature request.
- [X] I will only create one feature request per issue.
- [X] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.2

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:
When I am p

[2021-02-01 18:33] tonytamsf commented on #4910
This one works well with rss discovery https://www.nytimes.com/column/modern-love-podcast
   These is `<link data-rh="true" rel="alternate" type="application/rss+xml" title="RSS" href="https://www.nytimes.com/svc/collections/v1/publish/https://www.nytimes.com/column/modern-love-podcast/rss.xml"/>`

This does not https://www.caffeinepodcast.co.uk/ (there isn't `<link data-rh="true" rel="alternate"

[2021-02-01 18:52] tonytamsf commented on #4532
I think we should close this. We have not heard back from the OP and no one else has spoken up about missing episodes on Android Auto

[2021-02-01 19:07] #4532 closed

[2021-02-01 19:26] wbrawner commented on #3691
Likewise, I'd be happy to help with development and/or testing here

[2021-02-01 21:00] ByteHamster opened #4914 "NPE: Chapter is null"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: develop

**App source**: Google Play / F-Droid / ...

# Bug description

**Steps to rep

[2021-02-01 21:09] tonytamsf commented on #3691
Seems related to #2492 and #2492

[2021-02-01 22:06] ByteHamster commented on #4912
Hmm. To be honest, I am not sure if we should really add the feature. I can recommend [this article](http://neugierig.org/software/blog/2018/07/options.html) about why adding more options is usually not better.

For your use-case, I have 3 ideas that would also work with other apps:

- If you charge your phone in the car, set the "developer option" to not turn off the screen while charging.
- Befo

[2021-02-01 22:26] h77ps commented on #4912
Thanks for that article. You have a valid concern. Coming from PocketCasts it was an option that I sorely missed. Thought others might as well. Anywho, great project, thanks for the consideration and response.

[2021-02-01 22:31] keunes commented on #4912
Thanks @h77ps for checking in, and even providing a PR.

I would agree with ByteHamster to not add a setting for this. Firstly I don't really see the problem you describe:

Of course the phone locks, but I have controls on my lock-screen, from which I can pause/resume.

Secondly, this adds mental burden to most users. The article that ByteHamster already linked to mentions the paradox of choice an

[2021-02-01 22:36] h77ps commented on #4912
Thanks guys, I'll close the issue and the PR. Have a nice day/evening.

[2021-02-01 22:36] #4912 closed

[2021-02-01 22:43] keunes commented on #4878
The only thing I'm still doubting about, is whether or not this should also cover the miniplayer (in addition to lists), because that of course is also a small, hard to identify image.

[2021-02-01 22:54] Matth7878 commented on #4878
For what it's worth, I feel mini player should use same image than what is used for list. If it isn't it would be hard to relate picture in mini player with items in lists. (And you see mini player when you see lists !)

[2021-02-01 23:45] locuturus commented on #2715
For what it's worth the Pixel 4a on Android 11 seems to support double & triple headset clicks natively. Clicking like that sends next and previous respectively, which antennapod already can optically handle as skip forward or back however many seconds. I've tested 3 different brands of ear buds with inline remotes and all three behave this way. Some apps ignore this feature (e.g. tsacdop) but man

[2021-02-02 01:23] PetraOleum opened #4916 "Adding downloads as local folder breaks subscriptions page, related fields"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.2

**App source**: Google Play

**Android version**: 8.1.0 (Go)

# Bug description

[2021-02-02 01:25] psyburr commented on #4354
I too would love to see this feature implemented somehow, as I would use the app far more often at home than I currently do. My main device does not have the "non-free version" installed but I do have a tablet I can use to help with testing if needed.

[2021-02-02 01:37] psyburr opened #4917 "Open app drawer after 'Back' on page set by 'Open page…'"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.2 (a87cec5d2)

**App source**: F-Droid

# Feature description

Currently I am able to set the back button behavior to

[2021-02-02 02:13] tonytamsf commented on #2492
For what is worth, the code on the `develop` branch does not seem to have this problem.  I could not narrow down which code fixed this.

@ByteHamster  I looked at all the Android Auto related changed, none of them seem to be the fix So another commit must have fixed this.

How far behind is `master` compared with `develop` at this point, is there a way test users could get a release from `develop`

[2021-02-02 03:13] g-svg commented on #4354
I've been using the built-in android screen cast feature to cast to my google home. This preserves the playback speed.

[2021-02-02 08:00] dcjkfgdjhd commented on #3852
Here is that screenshot.

![2021-02-02 08 55 38](https://user-images.githubusercontent.com/54892606/106569612-0ebef600-6535-11eb-9ba4-dcc3f29c2ff3.jpg)

[2021-02-03 10:59] ByteHamster opened #4918 "Non-functional notification settings screen can be reached by searching"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: develop

**App source**: custom

**Android version**: 11

# Bug description

**Steps to

[2021-02-03 11:03] ByteHamster opened #4919 "Show podcast-specific settings in preferences search"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: develop

**App source**: custom

# Feature description

**Problem you may be having, or feature you want**:

When searchin

[2021-02-03 11:25] ByteHamster commented on #4916
Yeah, sounds like it. I wonder where the null title comes from. What does AntennaPod show as a title on the local folder page?

[2021-02-03 11:30] ByteHamster commented on #2492
Hmm, I don't remember changes that could have caused this.

Quite far but I am not sure how many playback related changes this includes.

Test builds from CI can be obtained like this: https://github.com/AntennaPod/AntennaPod/wiki/Getting-test-builds. They are not meant for daily use and I am not 100% sure if they work natively with Android Auto, as they use another signature. Maybe you need to en

[2021-02-03 11:30] #2606 closed

[2021-02-03 11:31] #4420 closed

[2021-02-03 11:31] #3691 closed

[2021-02-03 11:50] #4834 closed

[2021-02-03 12:57] ByteHamster commented on #3755
Here is a screenshot from Google Play (daily acquired devices in Germany). To me, it looks pretty much the same as before.

![image](https://user-images.githubusercontent.com/5811634/106749756-3a220d80-6627-11eb-9152-f2354b810f91.png)

(title was changed on Jan 2)

[2021-02-03 15:09] tonytamsf commented on #3755
Thx, thought about next step? If it is the same, then we should be able to move forward with a change?

[2021-02-03 15:30] keunes commented on #3755
I feel the lowest points in January are higher than the lowest points in December. Is it possible to get stats for a specific period, e.g. to compare actual numbers of Nov-Dec with Jan-Feb?

[2021-02-03 15:42] tonytamsf commented on #3755
Agree on moving to forum.  Also it is useful to do comparisons year of year instead of month over month after the change.

[2021-02-03 17:00] #3755 closed

[2021-02-03 21:03] PetraOleum commented on #4916
It's entirely blank, and in fact renaming it to "test" or "Downloads" fixes the issue.

[2021-02-03 21:31] ByteHamster commented on #4661
Many parts of the app need to start the main activity with different parameters (eg. widget, playback service, download service, sync). Any idea how to do that while still de-coupling the code? Currently, we use a ton of static variables in `ClientConfig` [that are then set from the app module](https://github.com/AntennaPod/AntennaPod/blob/3f31764f58bdb8aab9182f3aa960ed827df42b9c/app/src/main/java

[2021-02-04 10:34] xplosionmind opened #4921 "Feedbin sync support"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.2

**App source**: F-Droid

# Feature description

It would be lovely if a tag from [Feedbin](https://feedbin.com) one

[2021-02-04 12:02] ByteHamster commented on #4916
Fixed in #4922 and will be released soon. The fix only affects newly created folders, not existing ones, so if you are already affected, renaming will help.

[2021-02-04 12:02] #4916 closed

[2021-02-04 18:41] orschiro commented on #2077
Would this mean it deletes older downloaded ones with new ones coming in?

[2021-02-04 19:00] nelsonblaha commented on #2077
@orschiro  yes, by necessity

[2021-02-04 21:20] jpf91 opened #4923 "Large soundcloud mp3s are truncated"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.2, saw on previous versions as well

**App source**: Google Play

**Android version

[2021-02-04 22:49] ByteHamster commented on #2990
This whole auto-delete stuff is such a big mess. I find it really hard to understand what it actually does.

If we had decoupled settings for auto-delete and auto-download (see https://github.com/AntennaPod/AntennaPod/issues/2495#issuecomment-743731469), this would be so much easier to decide. Then it is totally obvious that the file should be deleted when the trigger "When removing from queue" is

[2021-02-05 09:42] #4897 closed

[2021-02-06 07:47] wasmer commented on #4556
Reproduced it with the build from above and mailed you the file:
Steps: installed app, updazed feeds, manually updated feeds again.

 Thank you :)

[2021-02-06 12:23] ByteHamster commented on #4556
Thanks a lot for the logs @wasmer. I removed privacy related and unrelated lines and uploaded them [here](https://pastebin.com/LNJvXuBw). Still can't find any unusual behavior in the logs that help to find out why this happens...

I had another idea and created [a new build](https://drive.google.com/file/d/1ywIrbqILqIOEV8Suyzw7MkW_GooSbFvj/view?usp=sharing). Would be great if someone who is affect

[2021-02-06 12:27] lwis commented on #4556
@ByteHamster I've not been able to reproduce it with that build, I suspect the workaround may have been the cause.

[2021-02-06 12:35] laubblaeser commented on #2214
Yes, please! I don't know how to build it though...

[2021-02-06 13:44] keunes commented on #4921
Hi @xplosionmind
Thanks for chipping in. We are looking for alternative sync services to what we have currently (gpodder.net). But a requirement for us is that it can sync played status, and play positions. Support for only RSS status (new/not new, in AntennaPod) doesn't provide much added value for a podcast app. It seems that [their API](https://github.com/feedbin/feedbin-api) doesn't support (y

[2021-02-06 14:32] damoasda commented on #4661
That's the most difficult part of de-coupling the code. The class `ClientConfig` contains a collection of global references that might be dissolved in different steps:

1) **`ClientConfig.applicationCallbacks`** is used to provide the `Context` reference and to return a new `StorageErrorActivity` intent. Possible solution:
-- Hand over the `Context` reference as an additional parameter in the corr

[2021-02-06 15:31] ByteHamster commented on #4556
Thanks @lwis - that's good news. I think AntennaPod is a bit confusing to use without the workaround because you can see the icon in the notification bar but the app says that it is done refreshing. Same for episode downloads - it gets stuck at 99% for a few seconds.

Would you mind testing [yet another build](https://drive.google.com/file/d/1ZwbFsf1hknjxtavVivm2kPq20Hz3Qr8f/view?usp=sharing)? It

[2021-02-06 15:43] wasmer commented on #4556
Reproduced thd issue after several attempts with the 3h old build and sent log to BH, now also trying this build.

[2021-02-06 15:51] wasmer commented on #4556
Same for the last build, reproduced.

[2021-02-06 16:02] ByteHamster commented on #4556
Hmm. I was already happy :( After all podcasts are refreshed and the notification gets stuck, can you swipe it away manually after a few seconds? The latest build (posted on 16:31) should theoretically make this possible.

[2021-02-06 16:16] wasmer commented on #4556
No, does not allow to swype away, sent you screenshot and log.

[2021-02-07 09:26] ByteHamster commented on #4661
I had another idea for how to start the main activity (eg from DownloadService) that could work without moving all services to the same module. We could create an `intents` module that can send a specific intent. The intent is then picked up and interpreted by the main activity. I will try to come up with a proof-of-concept.

[2021-02-07 09:27] xplosionmind commented on #4921
Thank you very much for your reply! I opened [this issue](https://github.com/feedbin/feedbin/issues/608) in Feedbin’s repository.

[2021-02-07 09:37] damoasda commented on #4661
Very interesting. That sounds similar to the `EventBus` that could be an alternative.

[2021-02-07 10:31] ByteHamster commented on #4661
EventBus only works when the app is already started but the idea is pretty much the same, yeah :)

[2021-02-07 11:08] protist commented on #3053
I'm also hitting this bug. Specifically, the automatic feed refresh that fetches new episodes used to work fine, but no longer triggers as of the last month or so.

I'm now using the [3rd party automation](https://antennapod.org/documentation/automation/tasker) to get Automate to trigger a refresh, which seems to work fine.

[2021-02-07 11:41] #4921 closed

[2021-02-07 12:51] dmont88 commented on #4858
Fuck you

[2021-02-08 00:05] ByteHamster commented on #4661
I just tried to come up with a more detailed module structure. Looks a lot more cluttered than yours but I think it could be good to make it more detailed, so that the code is as decoupled as possible. (click to enlarge)

![modules](https://user-images.githubusercontent.com/5811634/107163303-253bd600-69a9-11eb-9aad-f03116f0f151.png)

What do you think?

[2021-02-08 03:00] tonytamsf commented on #4872
after this is merged, we can tackle the remaining time in the widget https://github.com/AntennaPod/AntennaPod/pull/4880

[2021-02-08 03:02] tonytamsf commented on #4846
This sounds like the wrong behavior, I can look at this once we can get this pull request merged.  Which actually seem like the opposite/related problem https://github.com/AntennaPod/AntennaPod/pull/4722

[2021-02-08 11:06] DC7IA opened #4927 "Feature request: visual cue that podcast is disabled"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: x.y.z

**App source**:

# Feature description

**Problem you may be having, or feature you want**:

I think it should be v

[2021-02-08 15:50] psimonyi commented on #4405
Thank you :)
It looks much better.

[2021-02-08 21:03] Matth7878 commented on #4927
Problem how is determined a pause? I have a podcast which have an episode at best every quarter yet it's not really paused, it's just an episodic podcast. 😉

Maybe a better solution would be to improve statistics and :
- calculate average release frequency : from last 10 (?) podcasts what is the average (or median) time between 2 episodes
- with this info when is / was expected next episode and di

[2021-02-08 21:12] damoasda commented on #4661
Wow, that's awesome! The graph is acyclic, the services are separated, and also the UI is split into several logic units.

Maybe we will identify more module candidates like ":storage:export" during the refactoring work or we will merge two modules again because the dependencies are too hard to dissolve. But that's fully ok and a concession to practice. :smile:

I'd be happy to start with your mod

[2021-02-08 21:20] ByteHamster commented on #4927
With "paused", I think they meant the setting "keep updated". I think it could work well to display a little message below the blurred podcast image, just like the one we already show when the podcast is filtered.

[2021-02-08 21:22] Matth7878 commented on #4927
My bad I think you're right. :-/

[2021-02-08 21:42] keunes commented on #4927
Also relevant I think:
* Allow applying tags to podcasts or putting them into groups/folders/categories #1711 (because you can put podcasts in a group if you don't listen to them temporarily)
* Introduce multi-select/batch-edit for podcasts #4681 (it can help to filter podcasts not kept up to date, and make them kept updated)

[2021-02-09 00:52] rkjnsn commented on #4850
Saving a database backup on a daily basis to the episode storage location would work great for my use case. That way I could just set up automatic sync for the whole directory to my NAS for safe keeping.

[2021-02-09 07:39] ByteHamster commented on #4850
Starting with Android 11, that directory can no longer be accessed, apparently.

[2021-02-09 13:57] cptpcrd commented on #4459
@ByteHamster `master` (with the fix from #4899) has been bumped to 2.1.3 (f7409c08a60a783765b4a6d52a77d3cc1656e1dd), but 2.1.3 doesn't seem to have been fully released.

Is it possible to get a release with a fix for this issue? (No rush, I'd just like to see it fixed.)

[2021-02-09 22:26] rkjnsn commented on #4850
Ah. I'm still stuck on 9, so I haven't run into that. Still, I'd *like* to be able to backup the downloaded files along with the database, so perhaps a solution to that problem would be to allow the data directory itself to be stored outside of `Android/data` (requesting the appropriate storage permissions if and only if the user wants to do that).

[2021-02-10 07:28] dcjkfgdjhd commented on #3852
And another example where the progress bar has even "run out of space":

![2021-02-10 07 20 32](https://user-images.githubusercontent.com/54892606/107478493-d5f8cf80-6b79-11eb-8d5a-cdcb285dc9e4.jpg)

[2021-02-10 07:32] dcjkfgdjhd commented on #1077
Any news on this?

As long as AntennaPod does not support serial podcasts as well as listening to the full back catalogue of episodical podcasts (such as the BBC's "In Our Time" or "A History of the World in 100 Objects") it is not a "proper" podcatcher...

[2021-02-10 07:35] dcjkfgdjhd commented on #1077
I don't think so. There are two sort settings: The sort order for _viewing_ the list, and the sort order for _downloading_.

The first is something that I may want to change from time to time when browsing the podcast, depending on what is currently convenient depending on what I want in this moment.

The second is a _permanent_ property of the podcast that should be stored in each podcast's setti

[2021-02-10 16:46] lwis commented on #4556
Some observations I've made on my personal app recently in which I experienced the same behaviour with the notification not clearing.

When I update the notification regularly I occasionally see a log from NotificationManager saying that the app is pushing too many notifications (it has a 1000ms debounce internally). If my notification updates slower, the notification is cleared fine. The behaviou

[2021-02-10 16:54] wasmer commented on #4556
Hi All,
With ByteHamsters last test-build i also saw sometimes notification appear
for stuff i did not play recently, but maybe days ago.

[2021-02-11 09:13] spacecowboy commented on #2077
#4693 is now merged. It does not solve this EXACTLY but it mitigates it.

By selecting the new clean-up algorithm "All except favorites" older episodes will be deleted first to make room for new episodes. It does not do it per-feed - the globally oldest episodes are deleted first. Oldest refer to publication date in this case.

[2021-02-11 12:43] orschiro commented on #2077
@spacecowboy this is great, thanks!

[2021-02-12 02:45] tamizh143 commented on #2389
Hi, I am interested in working on this enhancement.i am new to open source. is there any place i can discuss about enhancement? thank you.

[2021-02-12 15:53] ByteHamster commented on #2389
Hi! Thanks for your interest in contributing!

I think it could maybe just open the `ImportExportPreferenceFagement`. Now, thinking about the feature request a year later, I wonder if we should really implement it. The screen will get more buttons for the folder support, so it could get a bit cluttered. This feature was not requested a lot since it was opened. So my personal opinion would be to ju

[2021-02-12 16:07] tonytamsf commented on #2389
I agree that not many people have raised issues about not finding how to export.  It is not often done and having it in the settings seem fine to me.

[2021-02-12 16:20] ByteHamster commented on #4459
2.1.3 is already available on the Google Play beta channel. Once it is rolled out 100%, I will tag the release on GitHub. The reason is that releases start the F-Droid roll-out, which cannot be aborted in case anything goes wrong.