[2021-02-13 06:52] jmikedupont2 opened #4928 "Feature: Rage Unsubscribe via Epsode"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same feature request.
- [x ] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: NA

# Feature description

**Problem you may be having, or feature you want**:
I would like to rage unsubscribe from a p

[2021-02-13 11:23] JakubMajcher opened #4929 "Parser exception"
# Checklist

- [X] I have used the search function to see if someone else has already submitted the same bug report.
- [X] I will describe the problem with as much detail as possible.
- [X] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

ZTE Axon 7 Mini with newest unofficial LineageOS 16.0

**App version**: 2.1.2

**App source**: Google Pl

[2021-02-13 11:34] ByteHamster commented on #4929
That means their feed is broken :)

[2021-02-13 12:26] ByteHamster opened #4930 "Migrate away from JCenter"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

Jcenter is deprecated and will be shut down in May. We therefore need to get our dependencies from other sources, other

[2021-02-13 12:47] ByteHamster commented on #4661
Okay, nice :) Now that the `:app-start-intent` module is separated, we have to deal with the model module. Without that module, most others cannot be modularized. @widlok already started working on this in #4842 but the PR got a bit too big to handle. So I suggest to start with small steps and multiple individual PRs before actually creating the module. Some ideas for small chunks of work that cou

[2021-02-13 12:52] ByteHamster commented on #4930
Okay, so apparently our build will break on February 1st 2022, not this May. Still, it's a good idea to migrate early, so that we do not run into issues then. Please note that the Chromecast migration is pretty important because many users seem to rely on it. It would be sad if we had to remove it. So help is really wanted for that.

[2021-02-13 15:08] tonytamsf commented on #4928
What is your use case? You have a podcast you want to immediately unsubscribe?

Is this because you are trying new podcasts and you had to subscribe in order to do that?

Or another use case?

[2021-02-13 16:11] jmikedupont2 commented on #4928
yes my use case is i imported this file
https://gitlab.com/jmikedupont2/podcaststats/-/raw/master/example/report.opml
it contains all of the daily podcast that I extracted from podcast index
and I removed Church and sermon but still there's a bunch of them in there
and I want an easy way to mark episodes in unsubscribe from the podcast
that contains the episode

On Sat, Feb 13, 2021, 10:09 AM Tony

[2021-02-13 16:55] tonytamsf commented on #4571
I am looking at the podnews [RSS URL](https://podnews.net/rss) and it looks they are using `podcastindex:funding` and `payment` to point to different places

[code]

[code]

I think we'll need to

- [ ] If the 2 URL's go to different places, we'll need to display both
- [ ] We might need to take the text in `podcast:funding` into account
- [ ] Test this by finding more podcasts which has the `paym

[2021-02-14 01:54] jamescridland commented on #4571
Howdy. Yes, that's weirdly inconsistent, isn't it? I've fixed that so they both go to the same place.

I think the original idea with the `rel="payment"` is that it should go directly to a payment service, rather than a page explaining how to support; but the support for that construction is patchy, and particularly Overcast no longer supports it.

Personally, my advice would be to pick one of the

[2021-02-14 09:04] keunes commented on #4571
Then again, there can be multiple PI links/tags. So we'd need to account for that also.

Looking through the comments the idea was to add an extra section to the podcast info page. @tonytamsf is that what you were going to do?

[2021-02-14 09:14] Matth7878 commented on #4571
Could be nice to also have info in player view.
Either with a dedicated tab (along description and chapters) or with info added directly below description (to me it would be better than adding a new tab)

[2021-02-14 09:57] ByteHamster commented on #4571
I think it would be easiest to just re-use the existing "payment_url" database column and add all tags there (`rel="payment"`, all podcastindex tags). Could be separated by newlines and (if available) prefixed with the title

To be honest, I don't think we should add more to the player view. There already is too much information we are currently trying to display at the same time.

[2021-02-14 11:02] ByteHamster commented on #4928
Sorry, I don't think adding an unsubscribe button to the player page is a good idea. Everyone wants their favorite setting to be available in one click. If we added all these, AntennaPod would soon look as cluttered as old versions of Microsoft word (see screenshot). Did you know that there is an "open podcast" button in the player? It brings you directly to the podcast page, so you can unsubscrib

[2021-02-14 11:05] ByteHamster commented on #2389
Okay, closing this.

@tamizh143 your help is appreciated, so if you find another issue you are interested in, just leave a comment there :) If you want, you can have a look at the issues labelled [good first issue](https://github.com/AntennaPod/AntennaPod/labels/good%20first%20issue) - they should be easier to implement than many of the others.

[2021-02-14 11:05] #2389 closed

[2021-02-14 11:18] #4871 closed

[2021-02-14 11:19] ByteHamster commented on #4872
Do you think this should be an individual setting or should it just use the existing setting? I think it should use the existing setting.

[2021-02-14 12:49] Matth7878 commented on #4872
No opinion but I think a user is likely to want the same thing on the widget and player view.

[2021-02-14 18:15] tonytamsf commented on #4571
I am thinking of putting payment and funding links in the info screen to start

![Screenshot_20210214-101308.png](https://user-images.githubusercontent.com/149837/107885154-81bd5a80-6ead-11eb-9a43-ed660dc1da2a.png)

[2021-02-14 18:50] woodpecs opened #4931 "Many of my podcasts suddenly fail to download or stream"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.2

**App source**: F-Droid

**Android version**: 10, Resurrection Remix ROM

**Devi

[2021-02-14 20:38] ByteHamster commented on #4571
Looks nice! :+1:

[2021-02-14 21:06] ByteHamster commented on #4853
I can reproduce the problem:

- Open AntennaPod
- Open a sub-page (eg by clicking on an episode)
- Switch to another app (eg with the home button)
- Make sure that Android kills the process (eg by setting background limit in developer options or by killing the process via adb)
- Go back to AntennaPod using the recent apps switcher

[2021-02-15 03:38] michael9602 opened #4934 "When a podcast loads completely, on moving it backward it starts loading again."
# Checklist

- [ ] I have used the search function to see if someone else has already submitted the same bug report.
- [ ] I will describe the problem with as much detail as possible.
- [ ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: x.y.z

**App source**: Google Play / F-Droid / ...

**Android version**: 5.x (Please me

[2021-02-15 07:53] keunes commented on #4571
Looks nice. Just wondering, @tonytamsf , will you use also the human-readable text in the funding tag? Like 'Support us' in the podnews example earlier? Would be nice to use that, so podcasters can differentiate between types of funding options. Not sure if it should replace the link text, or if it should be displayed just before, separated by a colon.

[2021-02-15 07:58] tonytamsf commented on #4571
I was thinking we should show the url so the users know where they are clicking to.

Let me try to figure out how to show the text as well

[2021-02-15 07:59] keunes commented on #4928
Also, your use-case (mass-import, try, then unsubscribe from a bunch of them) is kinda the opposite of the usual use-case (search, preview, then subscribe). Given the few people/occasions that it'd be used, and the fact that the podcast screen can be relatively easily reached, I agree it's not worth the extra elements in the player interface.

Sorry, closing this issue.

[2021-02-15 07:59] #4928 closed

[2021-02-15 08:44] tonytamsf opened #4935 "Support for podcast:transcript tag"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible

# Feature description
Some podcasts include text transcript using `podcast:transcipt`

**Suggested solution**:
Display transcript and sync it with the audi

[2021-02-15 08:45] tonytamsf commented on #4671
I created this ticket for transcript https://github.com/AntennaPod/AntennaPod/issues/4935

[2021-02-15 09:34] jmikedupont2 commented on #4928
thats fine. what we really need it more speed in navigating with large
lists of podcasts loaded. that is the root cause. it just takes seconds to
load each page. very sluggish with 2k podcasts.

On Mon, Feb 15, 2021, 3:00 AM Keunes <notifications@github.com> wrote:

[2021-02-15 10:20] ByteHamster commented on #4928
You are subscribed to 2000 podcasts? That's insane :D AntennaPod is made for, like, 10-100 subscriptions.

[2021-02-15 10:35] ByteHamster commented on #4556
Interesting. The new build shows the notification less frequently (every second instead of multiple times after each download). Maybe that's the reason why it did get better for you. Though, aren't other apps updating their download notification more often than once every second?

[2021-02-15 11:24] jmikedupont2 commented on #4928
I tried to explain to you I sent you that list I'm evaluating the daily
podcast from the podcast index

On Mon, Feb 15, 2021, 5:20 AM ByteHamster <notifications@github.com> wrote:

[2021-02-15 12:15] ByteHamster commented on #4928
Yeah, I was not aware that we are talking about such a huge number. In that case, you might also be interested in subscription multi-select: #4681

[2021-02-15 13:43] keunes commented on #4928
@jmikedupont2 If it's about speed, you might also try and find out at which point AntennaPod becomes sluggish, and create another issue about that. If that's a relatively low number – I'd say <500 – we might want to investigate how the app could be sped up in the long run.

[2021-02-15 14:25] ByteHamster commented on #4934
From your pretty short description, I assume you mean when streaming. This is intended behavior. AntennaPod keeps 2x the back skip time, so you can easily re-listen to parts but keeping the whole file would be just downloading, not streaming. Also, whenever possible during streaming, AntennaPod does not fetch the part before the current position from the server.

[2021-02-15 14:25] #4934 closed

[2021-02-15 14:28] ByteHamster commented on #4929
Just looked at it again. The feed of that podcast is seriously broken. It does not even contain episodes and stops in the middle of a tag. There is nothing AntennaPod could do to fix that feed. The publishers should really be notified of this.

[2021-02-15 14:28] #4929 closed

[2021-02-15 14:30] ByteHamster commented on #4910
I don't think we can do much here. The rss file is broken and should be fixed by Vimeo.

[2021-02-15 14:30] #4910 closed

[2021-02-15 14:33] ByteHamster commented on #4860
@keunes can you reproduce the problem when using the build linked here: https://github.com/AntennaPod/AntennaPod/issues/4556#issuecomment-774469541? It contains some performance improvements when queueing downloads. The build is not a debug build. It installs on top of your existing install.

[2021-02-15 14:34] ByteHamster commented on #4917
Related: #4859

[2021-02-15 14:40] ByteHamster commented on #4838
Fixed in 394122dadee4028d12d0e2efc446a2562791ee7b, thanks!

[2021-02-15 14:40] #4838 closed

[2021-02-15 14:44] ByteHamster commented on #4676
I suggest to leave a thumbs-up reaction on the first post of #2715. Closing this issue now :)

[2021-02-15 14:44] #4676 closed

[2021-02-15 14:47] ByteHamster commented on #4612
@alexanderadam Do you still experience this issue? If so, a full log would be really helpful. You can send it to `info@<my username>.com` to avoid having to publicly post some privacy related lines from the log (like your full list of subscriptions).

[2021-02-15 14:49] ByteHamster commented on #4611
@kj4awr Did switching to ExoPlayer fix it for you?

[2021-02-15 14:55] ByteHamster commented on #4450
Hi! I think we had the discussion somewhere already but I currently can't find it. The problem is that it's not really feasible to manage subscriptions manually. If the publishers don't follow good practices, we can't compensate for that. Such a level of manual micro-management does not really fit the goal of having an app that is as easy to use as possible.

Sorry, closing this.

[2021-02-15 14:55] #4450 closed

[2021-02-15 14:56] ByteHamster commented on #4455
Hi! Did you try adding an exception from battery optimization for AntennaPod?

[2021-02-15 14:56] #4425 closed

[2021-02-15 14:57] ByteHamster commented on #4387
Does not sound like there are many ideas how to work around device vendors killing the app. If someone has an idea, feel free to comment and I will re-open the issue.

[2021-02-15 14:57] #4387 closed

[2021-02-15 15:00] ByteHamster commented on #4341
I think this was fixed in #4593. If it still occurs in versions 2.1.x and newer, just let me know and I will re-open the issue.

[2021-02-15 15:00] #4341 closed

[2021-02-15 15:01] #4254 closed

[2021-02-15 15:04] ByteHamster commented on #4878
Fixed in #4878

[2021-02-15 15:04] #4878 closed

[2021-02-15 15:14] ByteHamster opened #4938 "AntennaPod stops parsing after first chapter"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.2.0 develop

**App source**: develop

# Bug description

Reported on the forum: https

[2021-02-15 15:15] kj4awr commented on #4611
It seems to have fixed it. I have noticed it is going much better and am building out my skips again as I removed all but one due to this issue in the past.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: ByteHamster<mailto:notifications@github.com>
Sent: Monday, February 15, 2021 9:49 AM
To: AntennaPod/AntennaPod<mailto:AntennaPod@noreply.github.com>
Cc: kj4a

[2021-02-15 15:17] #4611 closed

[2021-02-15 19:45] alexanderadam commented on #4612
Ah, I'm sorry for the late response.
I think I wasn't able to reproduce this since.

I will close this for now and reopen with debug data if this happens again.

Also as always: thank you for your work!

[2021-02-15 19:45] #4612 closed

[2021-02-15 19:48] tonytamsf commented on #4935
@keunes or @ByteHamster please assign to me, since I have the podcastindex namespace parsing done in #4933, I could tackle `podcast:transcript`

[2021-02-16 08:38] #4938 closed

[2021-02-16 11:03] tamizh143 commented on #2389
Thanks @ByteHamster . I will look for another issues. :)

[2021-02-16 13:47] ByteHamster opened #4943 "Miniplayer sometimes not refreshing"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: develop

# Bug description

When streaming a new episode, the old one is sometimes stil

[2021-02-16 14:55] #4853 closed

[2021-02-16 18:26] xPMo commented on #2329
Related, not sure if it merits another issue: Adding chapter skip forward/back support in Settings > Playback > Playback control.

Probably the best way to support is renaming "Forward Button Skips" to "Forward Button Action", with the following options:

- [ ] Next chapter (if available) or episode
- [ ] Next chapter (if available) or fast-forward
- [ ] Next episode
- [ ] Fast-forward (default)

[2021-02-17 08:28] #4796 closed

[2021-02-18 11:00] Olli commented on #778
Is this feature already included into the player? I just wanted to add a new feature request but I searched before. I also use the software for language learning and have to repeat episodes manually (which is very uncomfortable with hand cloves on and cold weather ... the progress slider has a very small touch area and doesn't respond so good to slide input) .
So an "auto-replay until I press 'nex

[2021-02-18 11:19] ByteHamster commented on #778
The issue is still open, so it's not included in the app. Apparently, no volunteer found this important enough to work on it, yet :)

[2021-02-18 19:42] ByteHamster commented on #4931
Sounds like some of your system's certificate authorities got disabled.

[2021-02-19 19:36] ByteHamster opened #4948 "Only show "feed download failed" notification when it fails for the first time"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.0

**App source**: custom

# Feature description

**Problem you may be having, or feature you want**:

When a podcast

[2021-02-19 19:46] ByteHamster commented on #4556
@lwis Do you have a source for the 1000ms internal debounce of `NotificationManager`? I can't find it in the documentation.

[2021-02-19 19:57] #4202 closed

[2021-02-20 06:50] rogerval commented on #3650
(At the risk of sounding like a broken record...) Sorry to report that this issue remains with version 2.13. :-(

[2021-02-20 09:47] lwis commented on #4556
@ByteHamster after some refactoring in my own app I no longer see it, and I can't find the source anymore - if you're not seeing an error log from NotificationManager in Logcat, that's unlikely to be causing the issue anyway.

[2021-02-20 13:33] WiliTest opened #4951 "failed to connect (to anything)"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

Android version: 10
OS version: 4.9.193-perf-g38646177
AntennaPod version: 2.1.3
Model: Redmi 7A
Device:

[2021-02-20 14:12] WiliTest commented on #4951
I did finally uninstalled and reinstalled it.
Before I did backup my subscription (by exporting the DB). Then I deleted the cache file, then the data, but the problem remains. I uninstalled the app and imported back the DB. Now the app can connect as expected (I'm closing this thread even though I have no idea what went wrong).

[2021-02-20 14:12] #4951 closed

[2021-02-20 23:08] Fry-kun commented on #4428
This happened again, exactly the same symptoms.
How is this still not fixed?

[2021-02-20 23:14] Fry-kun commented on #4428
FWIW, errors in the db:

sqlite> pragma integrity_check;
*** in database main ***
On tree page 11517 cell 2: Bad ptr map entry key=5333 expected=(3,11517) got=(4,4964)
On tree page 11517 cell 2: Failed to read ptrmap key=0
On tree page 11459 cell 0: 2nd reference to page 5333
Page 4981 is never used
Page 5346 is never used
row 2360 missing from index FeedItems_feed
row 27196 missing from index Fee

[2021-02-21 09:23] keunes opened #4952 "Display human-readable error message when gPodder cannot be browsed"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same feature request.
- [x ] I will only create one feature request per issue.
- [x ] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.3

**App source**: Google Play

# Enhancement description

**Problem you may be having, or feature you want**: from

[2021-02-21 09:29] keunes commented on #4845
Might be a nice idea for #3952

[2021-02-21 10:01] keunes opened #4953 "Player progress bar not updated when hitting time stamp in shownotes while playback is paused"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.3

**App source**: Google Play

**Android version**: 10 (Please mention if you a

[2021-02-21 10:06] keunes commented on #4948
I would say that one reason is that if the podcast fails for a longer period, you just forget you had subscribed to it. AP will then keep trying without any use, the user might after a while have forgotten and complain with us that AP is not serving new episodes.

I would be one of those people that happily swipes away to error notifications per day until I have (take) the time to check what's goi

[2021-02-22 08:17] peakvalleytech commented on #4919
Hi, I would like to help.

[2021-02-22 11:59] ByteHamster commented on #4919
Nice, thanks! Have a look how the other search screens are added to the index on the main preferences fragment. I think it should be pretty straight-forward to add :)

[2021-02-22 16:58] woodpecs commented on #4931
Do you have any idea how to fix this/where to start looking? I looked through the system certificates and all the ones that are there appear to be enabled (the switch is in the on position for all of them). So maybe some are missing? Is that something that would be added by attenapod or something that was already on my device beforehand?

I don't really know anything about how certificates work, b

[2021-02-23 07:49] ByteHamster commented on #4931
The feeds you listed above are signed by many different certificates (GlobalSign, Baltimore CyberTrust, Amazon Root CA, DST Root CA). So I think it is unlikely that all of them somehow got disabled.

Try again to disable VPN, ad blocker, etc - everything that could mess with the network connection. Then also try to use a different network.

[2021-02-23 08:36] ByteHamster opened #4957 "Pending intents must declare mutability"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

Android 12 behavior change: Pending intents must declare mutability
https://developer.android.com/about/versions/12/behavior-changes-12#pending-intent-mut

[2021-02-23 08:38] ByteHamster opened #4958 "Migrate DownloadService to WorkManager"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

Apps that target Android 12 can no longer start foreground services while running in the background, except for a few special cases. If an app attempts to

[2021-02-23 09:07] #4835 closed

[2021-02-23 09:20] peakvalleytech commented on #4919
Okay. I'll get to it.

[2021-02-23 09:41] ByteHamster commented on #4948
I am worried that people who are not as tech-savvy don't really know what is happening and are then just annoyed by the notification. The person I was talking to had the failing notification pop up for weeks and just lived with it. I think they did not know what to do about it. I don't think AntennaPod should be that annoying to users.

How about only showing the notification for the same podcast

[2021-02-23 16:46] mmBesar opened #4960 "Sync with Podgrab or use Audiobookshelf as backend server"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.12

**App source**:  F-Droid

# Feature description

AntennaPod to sysc with [Podgrab](https://github.com/akhilrex/podgr

[2021-02-23 22:56] keunes commented on #4960
Hi @mmBesar,
Thanks for chipping in. Looks like an interesting project! Could potentially grow to be an alternative to gpodder.net synchronisation (just like feeddirectory.org).

However, first @akhilrex would need to implement an API that supports some key elements (as was [needed for feeddirectory.org](https://forum.antennapod.org/t/feeddirectory-org-as-a-possible-alternative-for-gpodder-net/663

[2021-02-23 23:03] mmBesar commented on #4960
Glad you like it, I hope to see this integration come to life.

[2021-02-23 23:32] akhilrex commented on #4960
Hi @keunes Please share the details of the APIs that needed for integration with AntennaPod and I'll be happy to look into those.

[2021-02-24 01:09] vitaly-zdanevich opened #4961 "Local files image blurred & too bright for dark theme"
![Screenshot_20210224-040537_AntennaPod](https://user-images.githubusercontent.com/3514015/108929963-136b5b80-7656-11eb-99a9-119b20d4a67d.png)

[2021-02-24 04:06] tamizh143 commented on #4758
Hi , I tried to reproduce this issue . but I cannot able to see talkback reading  ".(dot)"  separator icon . Is this issue fixed already?.
device used : redmi 7
android version  9 PKQ1.181021.001

[2021-02-24 07:08] ByteHamster commented on #4758
Hi :) I think it tries to read them but it doesn't succeed. That screenshot comes from the Google Play developer console - I haven't tried it on a real device recently. I think it doesn't hurt marking as not important :)

[2021-02-24 07:11] #4917 closed

[2021-02-24 13:28] tamizh143 commented on #4758
ohh Okey. Thanks @ByteHamster  :)

[2021-02-24 14:45] #4457 closed

[2021-02-24 15:08] ByteHamster commented on #4960
Just tried your application - it looks pretty nice :) I think it will not be too easy to add AntennaPod synchronization - it would need quite a few changes to its API. Most importantly, it would need to use identifiers that can be retrieved from the feed instead of the internal IDs you are currently using (GUUID if available, otherwise maybe url). Also:

- Get the state + position of all played ep

[2021-02-24 16:22] mmBesar commented on #4960
Thank you, but running docker container is not that hard for most users! I don't think Podgrab needs an "experienced users".

[2021-02-24 18:13] ByteHamster commented on #4960
Average users don't know how to use the command line and certainly don't know docker ;)

[2021-02-24 23:01] mmBesar commented on #4960
I meant in the open source community where AntennaPod is the most popular podcast app.

[2021-02-25 07:58] javissimo commented on #3275
https://www.primaverasound.com/radio/shows/deforme-semanal-ideal-total?action=rss I'm getting each episode twice (I'm also synced with gpodder)

[2021-02-25 12:55] a1291762 commented on #4556
This code in DownloadService.java feels a little odd to me...

            notificationUpdater.run();
            NotificationManager nm = (NotificationManager) getSystemService(NOTIFICATION_SERVICE);
            nm.cancel(R.id.notification_downloading);

That first line posts a notification that the next 2 lines immediately cancel. But that seems like it should create a race, which is not what I

[2021-02-25 13:08] a1291762 commented on #4556
Oh, and there's a race in the app, or at least my logs think so...

[code]

I think this can be fixed by adding a call to cancelNotificationUpdater() before you call stopForeground(true).

[2021-02-25 20:57] Friptick commented on #4785
Hijacking this to suggest a much more radical solution (which you have probably ruled out already for whatever reason, hence not wanting to waste your or my time with a full feature request):

**Dump the menu and replace it with TAB navigation.**

(I have been using this app every day for years and I still find navigation confusing. For example, the episode view (from tapping list item) and the ep

[2021-02-25 21:02] Friptick commented on #4217
@ByteHamster What version is this supposed to be fixed in? 3 months on I still have the issue in 2.1.2, which is the latest F-Droid version.

[2021-02-25 22:08] #4809 closed

[2021-02-25 23:21] datavizard commented on #4927
I am interested on working on this issue. If I can, then do let me know my understanding is correct or not, the ask here is to show an icon based on what's selected in the "Keep updated" option in feed settings menu. If the option is selected, maybe show a refresh icon or something similar, and if it's not, then show a pause icon or similar. As to where this icon would show up, that's where my cur

[2021-02-26 08:14] keunes opened #4965 "Add 'comment' identification in issue templates"
The Fenix (Firefox for Android) repo has the following code in their Feature request issue template:
[code]

After submitting, these comments don't show in the actual issue – I reckon this is a GitHub feature. To investigate and apply maybe to our template if true. (Looks cleaner than html tag)

[2021-02-26 08:25] ByteHamster commented on #4965
Does it really look cleaner? HTML comments need less space and are probably a more well-known syntax

[2021-02-26 09:51] ByteHamster commented on #4927
Nice! I think it should be a little message below the header, just like the filter message. See the screenshot below. The message should only be displayed when updating is disabled.

<img width="250" src="https://user-images.githubusercontent.com/5811634/109284631-5d07a200-7820-11eb-822f-93056f4cc8b0.png" />

[2021-02-26 12:16] keunes commented on #4927
And when it's filtered and not updated, should it display two rows?
What should the text be; "Podcast not kept up to date", "Not checking for new episodes" ?

[2021-02-26 12:21] ByteHamster commented on #4927
I would say so, yes. We already show 2 rows when filtering + when updating fails

Maybe "refreshing disabled"? I think your texts don't make it clear enough that the user is responsible for that setting.

[2021-02-26 16:15] keunes commented on #4927
I like 'disabled' - 'refeshing' a bit less. What about 'Podcast updates 'disabled'?

[2021-02-26 16:52] ByteHamster commented on #4927
Sounds good :)

[2021-02-26 20:45] keunes commented on #4965
Well, how well-known it is doesn't really matter if it's in the template :)
But yeah, they do need less space.
![Screenshot_20210226-213108.png](https://user-images.githubusercontent.com/11229646/109352896-d7194480-787b-11eb-8099-ed802c415c33.png)

[2021-02-26 22:41] Friptick commented on #4217
@ByteHamster Sorry to put this back on your plate. From what I can make of the main branch release log, it is just that @tonytamsf's fix has not been merged yet.

Thanks for your work.

[2021-02-27 15:14] ByteHamster commented on #4965
Oh, I wasn't aware that HTML comments are displayed in the preview. Then I agree that we should use the other comment syntax. :+1:

[2021-02-27 17:03] keunes commented on #4948
Valid point. First thing would be also to change the phrasing, in line with other parts of the interface (eg #4927). What about
Title: 'Failed to update podcast'
Explanation: ''[podcast title]' seems offline. We'll try again later.'

Interval seems a good idea. Maybe show it twice before starting 2 weeks pause? Kinda helps indicating that it's a permanent thing.

[2021-02-27 18:16] wmbr opened #4971 "Enable batch modes in "Episodes" view"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same feature request.
- [x ] I will only create one feature request per issue.
- [x ] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.3

# Feature description

"Batch mode" is currently possible in the episode lists of individual podcasts and in the

[2021-02-27 20:01] paulle commented on #4867
Now the issue is solved. There was update to android11 and I hoped this would solve the issue, but nothing. I completely resetted the phone and installed all from new. And now the issue is solved. Why I don't know.

Gesendet von ProtonMail mobile

-------- Original-Nachricht --------
Am 22. Jan. 2021, 11:52, ByteHamster schrieb:

[2021-02-27 20:09] ByteHamster commented on #4758
Fixed in #4970

[2021-02-27 20:09] #4758 closed

[2021-02-27 22:15] datavizard commented on #4927
Going through the above comments, I have understood the expectation that we need to show the new message similar to the "Filtered" message. Regarding the text to be shown, how about we keep the text to simply "**Updates disabled**"? It is self explanatory here that the podcast updates are disabled.

Furthermore, I have quickly skimmed through the source code and I think I know how to approach and

[2021-02-28 08:00] yoder303 commented on #4210
The ability to move feeds up or down in the subscription order and then sort the queue by feed -> date is what is keeping me with my current app, as opposed to switching to antenna for gpodder syncing.

[2021-02-28 12:58] ByteHamster commented on #4927
:+1:

I think that's the place to use. The other class is about the episodes page, not the podcast page.

:+1:

[2021-02-28 13:40] smammy commented on #4210
My workaround for this is:

1. Rename feeds so that they sort lexicographically (`!01 Best Friends with Nicole Byer and Sasheer Zamata`, `!02 Why Won't You Date Me`, etc.)
2. Sort > Date > Old → New
3. Sort > Podcast title > A → Z

[2021-02-28 16:51] yoder303 commented on #4210
I get that, but it is less efficient.

Perhaps I just couldn't find the download from oldest to newest option.

[2021-02-28 21:16] ByteHamster commented on #4311
AntennaPod currently does not support m4a chapters at all. If a podcast specifies the chapters in the RSS feed, they are shown independently from the media file, though. We already have [m4a test files](https://github.com/AntennaPod/AntennaPod/tree/develop/core/src/test/resources/media-parser), so the only thing missing is writing the parser (see this [m4a specification](http://atomicparsley.sourc

[2021-02-28 23:12] peakvalleytech opened #4973 "In settings screen, Keyboard stays open after losing focus"
# Checklist

- [ x ] I have used the search function to see if someone else has already submitted the same bug report.
- [ x ] I will describe the problem with as much detail as possible.
- [ x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.3

**App source**: Google Play / F-Droid / ...

App source
**Android version*

[2021-03-01 00:27] Dunc0 commented on #1533
Please implement this. This is the feature that is preventing me from using antenna pod as a daily which I want to do as its open source. Love so much about this app, and I don't mean to be rude, but the devs seem to be very hung up on the queue being the be-all/end-all of this app and its creating a bit of a mental block for them. New users (myself included) expect the queue to be a *secondary* m

[2021-03-01 07:06] keunes opened #4974 "Update & unify feed update related strings"
## System information
**App version**: 2.1.3
**App source**: Google play

## Enhancement description
**Problem you may be having, or feature you want:**
[As per the forum](https://forum.antennapod.org/t/download-report-notifications/726):

Throughout the app & notifications, we use rather technical phrases.

**Suggested solution:**
They should be updated to signify their purpose or end-goal for th

[2021-03-01 07:08] keunes commented on #4948
New proposal for the title, following #4974: "Failed to check for new episodes"

[2021-03-01 07:15] peakvalleytech commented on #4918
I would like to work on this issue. Can you clarify a little more?

[2021-03-01 07:35] ByteHamster commented on #4974
The download service is used for both media downloads and feed updates. That's why the text is pretty generic.

[2021-03-01 07:39] keunes commented on #4974
Even though it's one service, could two different notifications be shown depending on what exactly failed?

[2021-03-01 07:43] keunes commented on #4961
Hi @vitaly-zdanevich
What do you mean with 'bright image'? Do you mean it's too bright when using the dark theme?

I thought of updating the issue title to "Local files image blurred & too bright for dark theme" to clarify a bit what you mean.

[2021-03-01 07:53] keunes commented on #4906
@Coninox Do you mean in the 'filter' dialog when viewing all episodes of a podcast, or as part of the podcast-specific setting 'Episode Filter'?

[2021-03-01 07:56] peakvalleytech commented on #4952
Can I work on this one?

[2021-03-01 07:59] keunes commented on #4844
Hmm, that's too bad. Thanks @tonytamsf for chipping in. Then what do you think about displaying a dialog the first time?

Not sure how exactly we could make it harder? I have the impression when I swipe diagonally, it swipes away the episode rather than scrolling up and down - maybe this could be adjusted? So that only pretty much horizontal movements lead to removal from the queue?

[2021-03-01 08:02] keunes commented on #4566
I'd say 5 to max. 10 seconds could work.

[2021-03-01 08:08] keunes opened #4975 "Add "Contribute" entry to settings screen under 'Project'"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same feature request.
- [x ] I will only create one feature request per issue.
- [x ] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.3

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:
The best

[2021-03-01 08:25] ByteHamster commented on #4974
For failed notifications, definitely. For "x downloads left", it would be a bit harder because there could be both feeds and media files left in the download queue.

[2021-03-01 08:28] ByteHamster commented on #4918
Sure, that PR would fit perfectly to your other one :) I suggest to wait until the other one is merged, though, so that the PRs don't run into conflicts when they both change the same lines of code.

[2021-03-01 08:31] iamayushdas commented on #4975
Working on this!

[2021-03-01 08:33] ByteHamster commented on #4952
I think especially for beginners, it's easier to work on issues one-by-one and wait until they are merged. Not completely sure how easy this change is but I think it should be okay. If you want to try working on something that is beginner-friendly, you can also have a look at the issues labelled `good first issue`: https://github.com/AntennaPod/AntennaPod/issues?q=is%3Aissue+is%3Aopen+label%3A%22g

[2021-03-01 09:07] ByteHamster commented on #4844
I don't like dialogs, to be honest. They are so obstructive to the user flow. (this also applies to just showing them once because users are often flooded with dialogs when opening apps for the first time)

[2021-03-01 09:09] #4556 closed

[2021-03-01 10:19] ByteHamster commented on #4943
I think it's fixed by 9e68b8b0a31c988a7ad0f67b0438f8a398af6563.

[2021-03-01 10:19] #4943 closed

[2021-03-01 13:17] keunes commented on #4974
Ok, updating the original post accordingly. For "x downloads left" the priority would be a bit lower, as it should normally disappear quite fast anyway. Splitting this one I'd say is 'nice to have'.

[2021-03-01 15:29] tomtom opened #4977 "Separate button for continuous play"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [ x I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.3

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:
Users can s

[2021-03-01 16:45] vitaly-zdanevich commented on #4961
Yes, the image is too bright for night.

[2021-03-01 18:50] Matth7878 commented on #4977
If sleep timer allowed you to stop after current episode would it be good enough?
I think it probably will and there is an existing issue asking for it.

[2021-03-01 18:53] tomtom commented on #4977
I can already set the sleep timer to end at about the end of the current episode. But this is cumbersome and sometimes I forget about it. I think the best solution (for me at least :-)) would really be to a have separate play button.

[2021-03-01 22:01] keunes commented on #4977
I understand the use-case, but to be honest I don't think it's worth an extra button. We strive for [AntennaPod to be easy to use](https://antennapod.org/about/) - one of the ways is keeping the user interface simple.

Adding an extra button to the player interface (which now is quite clean) would go against that goal. And since (as @Matth7878 noted) a workaround could become available (see #2146)

[2021-03-01 22:10] ByteHamster commented on #4977
Another data point: In my user interviews last year, a person asked for such a button, too ("how do I play all of them" when looking at the queue). I, personally, also think that a button would be too much (that's why I didn't create an issue) but I would say let's keep this open for a while to collect ideas and opinions.

[2021-03-01 23:10] keunes commented on #4977
I thought this should be some toggle on the main player thing. But actually an alternative approach is to have a 'play all' button (e.g. in a FAB or the app top bar) on the queue screen. At least it wouldn't further complicate the player screen.

[2021-03-02 06:02] keunes commented on #4961
@ByteHamster If I were to provide an SVG, would AP be able to use that? (So that it's sharp whatever the screen res)

[2021-03-02 06:43] keunes commented on #4844
Then I reckon the goal is to make accidental swipes less likely

[2021-03-02 06:58] keunes commented on #4923
ExoPlayer actually is now the only supported media player as it solved many issues. So if there's a problem and it is ExoPlayer's fault, it should be reported upstream.

[2021-03-02 07:14] tomtom commented on #4977
But this would always begin with the first item in the whole list, wouldn't it? It would be great if users could select the first episode and then continue from there on.

[2021-03-02 07:16] Matth7878 commented on #4977
What about a not discoverable idea but perfect for power user : long pressing play/pause button to toggle continuous mode.
It's not perfect because not discoverable but it could be pointed out in the FAQ.

[2021-03-02 08:14] tomtom commented on #4977
I don't think I was addressed by this question. I would have concerns about discoverability too but otherwise that would be ok for me. It would solve the problem.

This solution would raise the question though how this interacts with the "continuous play" preference.

1. Does this option act as a switch then - i.e. switch the short/long press function?
2. One could add a note there so that "power

[2021-03-02 09:07] keunes commented on #4977
If a button in the queue doesn't work for you @tomtom, then I think I would prefer a new setting in the 'Audio controls' (which should be renamed to 'Playback settings') over play button long press. It is more or less as convenient I would think, but a little bit more discoverable.

I don't think any of these settings are big/important enough to be included in the FAQ.

[2021-03-02 09:52] tomtom commented on #4977
If I understand you right, you would want to prefer to add a new option "Enable long press for continuous play" or something like that? I think this is a good idea that circumvents the discoverability problem. Thanks for considering this idea.

[2021-03-02 09:57] Matth7878 commented on #4977
I don't think adding a new button is  a good idea as you will already have a way to do it when you will be able to set sleep timer to end of episodes.
Besides when I spoke about this solution user clearly stated it won't work as it wouldn't be a button he will directly have access to. So IMHO the only solution is long press to toggle preference to play next episode.

[2021-03-02 10:10] ByteHamster commented on #4961
Unfortunately not. The image loading code for covers does not work with SVG. Another problem I noticed with the default image is that it uses the same blue color for both light and dark theme, even though the accent color is different in the themes. Maybe we should use gray instead.

[2021-03-02 11:11] peakvalleytech commented on #4918
Ok, great, I can wait. How long should that take?

[2021-03-02 11:13] peakvalleytech commented on #4952
Ok, i'll see if anybody takes this one.

[2021-03-02 12:01] keunes commented on #4977
No, sorry. What I meant was: allow to **toggle (activate/deactivate) the already existing global setting** 'continuous playback' directly from the 'Audio settings' dialog (tap on the 'sliders' icon next to the Zzz sleep timer icon to access the dialog).

So: this would not add an extra button, only an extra option in the 'Audio settings' dialog, which is easier to reach than the global settings sc

[2021-03-02 12:05] keunes commented on #4961
Not sure what you mean - isn't it a single blue-and-white image used for both themes? Or is it something like white-on-transparent where the 'transparent' is (supposed to be) replaced by a theme colour?

Not a huge fan of grey. Could we not have two image versions, used depending on the theme?

[2021-03-02 13:51] tomtom commented on #4977
Ok. I don't want to test your patience, but what about adding an item "Play from here" to the popup-menu of the items in the queue?

[2021-03-02 19:51] haverholm commented on #4931
I just experienced the same thing after upgrading to Android 10 on my Oneplus 6. Attempts to download certain episodes returned `Unable to access media file (1000)`.

In my case Blokada (adblocker *and* VPN ... of a sort) was the culprit, and allowing AntennaPod to bypass the app seems to have solved the issue. Hope this helps.

[2021-03-03 06:12] woodpecs commented on #4931
Thank you guys for the tips, it's helped me get to the bottom of this. Turns out it was related to AdBlock Plus. I think for some reason I enabled all the block lists at some point and that led to this issue occuring. I disabled them and the podcasts worked again. Then I enabled the default block list along with one other and they still work. I will close this issue now. Thanks again!

[2021-03-03 06:12] #4931 closed

[2021-03-03 07:34] fyksen opened #4984 "Feature request: check the possibility of adding NymphCast"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# Feature description

**Problem you may be having, or feature you want**:
Hello. I want to use a open source google cast alternative, to cast podcast to

[2021-03-03 08:31] keunes commented on #4984
Looks like a cool project, and support would be great. But given that the project currently is at v0.1-alpha4 I reckon implementation in AntennaPod won't come any time soon.

[2021-03-03 11:06] Cadair commented on #4951
I have also just run into this upon upgrading to 2.14 from Fdroid.  I am getting:

[code]

On all downloads and refreshes of feeds.

[2021-03-03 11:08] Cadair commented on #4951
Uninstalling and reinstalling also fixed it for me.

[2021-03-03 11:09] ByteHamster commented on #4951
@Cadair disable Blockada/VPN/AdBlock

[2021-03-03 11:15] Cadair commented on #4951
Ah thanks!

[2021-03-03 11:37] Saroumane commented on #4556
I guess the fix will be in AntennaPod 2.1.5 ?

[2021-03-03 13:16] keunes commented on #4556
@Saroumane It'll be version 2.2.x - beta is being provided for distribution in Google Play the coming days.

[2021-03-03 13:27] keunes commented on #4977
I don't think you're testing anyone's patience :) Happy that you're thinking along!

About that last proposal, I have two doubts: it adds another item to the already really long list of items in the context menu, and 'play from here' doesn't indicate clearly enough that it initiates _continuous_ playback. The latter could be fixed of course with wording. The former can't be easily fixed.

What do

[2021-03-03 14:11] ByteHamster commented on #4661
Just in case you run into problems in Android Studio where the modules are not displayed in the correct subfolders, try closing AS, then deleting `AntennaPod/.idea/modules.xml` and `AntennaPod/.idea/modules/*`. Took me a while to figure this out.

[2021-03-03 15:47] tomtom commented on #4977
Such an option would be an improvement. My main concern with that option is that it sticks and I will most likely forget the current setting. I personally would rather prefer something that re-establishes the normal behavior once I press stop. But as I said before, such an option would be an improvement.

[2021-03-03 16:52] ByteHamster commented on #4961
Yes, it is - but that's the problem. We use a different accent color in both themes.

That would be pretty hard to add, I think. We would probably need to change all locations where we display images.

---

@vitaly-zdanevich Did you know that you can just create a file named `Folder.png` in the local folder, which will then be used as the cover image?

[2021-03-03 16:55] ByteHamster commented on #4918
Depends on how fast you integrate feedback :) Now that the `develop` branch will be used for working on AntennaPod 2.3.x, your PR (#4964) can be merged as soon as the PR is done.

[2021-03-03 17:00] keunes commented on #4961
As in: the problem is that the blue in the cover image is different from the blueue that is used for elements like the playback position indicator & the NEW label?

Would that be an option?

[2021-03-03 17:08] keunes commented on #4977
That's actually a good point also: let's say we implement a long-press on the play button for 'start continuous playback from here'. When does continuous playback (CP) get turned off again? You say 'once I press stop', but there's not really such thing in AntennaPod. Should CP end when you press pause? (If so: what if you just pause because someone around you asks something quick?)

[2021-03-03 17:16] keunes commented on #4552
@Matth7878 Good job bringing this up. My partner just last week showed me the stats, asking if I knew about it :) They found it via the podcast info screen.

[2021-03-03 17:25] keunes commented on #4577
With #4579 solved, what's left there as options is:
* including it as optional entry in the main menu (drawer, left side) - off by default
* including a teaser panel in the new 'Home' screen': https://github.com/AntennaPod/AntennaPod/issues/3952#issuecomment-609389810 - can be disabled in the Home screen configuration
* the original idea of this issue: a 'toolbar button on the subscriptions screen

[2021-03-03 17:31] ByteHamster commented on #4961
Yes. Also, different from the seek bar that is displayed directly below the image.

Hmm, not really. Would need changes to all places where we use images, too.

I just noticed that there is another option. We could switch the theme-based image when refreshing the local feed. That way, it will not be perfect and you can run into cases where it still uses the wrong one until the next refresh but it

[2021-03-03 17:50] ByteHamster commented on #4577
Hmm, not sure about that... See #633. Also, I noticed that I accidentally refresh quite often. That's why pull-to-refresh was removed back then in version `0.9.9.1`.

[2021-03-03 18:29] keunes commented on #4577
#633 was six years ago (Feb 2015); when the buttons apparently were gone but also in the period where pull to refresh was not available (between June 2014 when 0.9.9.1 was merged, and Oct 2020 when #4401 was merged). In other words: at the time no pull _and_ no button available. No wonder the request was made 😉

If you accidentally refresh often (I don't have this, btw), keeping the button is not

[2021-03-03 18:48] Matth7878 opened #4986 "Add FeedDirectory.org as an alternative to gpodder.net"
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version and source**: 2.1.3 / Google Play

# Feature description

It is possible to sync feeds and episodes status with other devices

[2021-03-03 21:56] datavizard commented on #4927
Alright, noted. Will work on this over the coming weekend once done with resolving the build related issues.

[2021-03-03 22:31] stucoates commented on #4986
Feel free to reach out to me if you need any assistance with the feeddirectory.org API, or if you have a requirement that you cannot find a current API for.  Please note, the API docs are here: [https://feeddirectory.org/#api](https://feeddirectory.org/#api) not as per the original comment here (that link was an early preview).

[2021-03-04 07:43] keunes commented on #3797
I just had a situation where (I think) my feeds were refreshed in the background, and me tapping on an episode download button felt non-responsive. Prioritising that individual download would help (case 2).

[2021-03-04 07:55] ByteHamster commented on #3797
I think queueing downloads should be a bit more responsive in version 2.2.x - I changed some of the code there to be more efficient. It still does not change the order of files to download but it should display the progress earlier

[2021-03-04 07:59] stucoates commented on #4986
If you're thinking about using the episode position APIs and calling it at regular intervals, I am working on an experimental feature to really reduce network traffic. The alternate API (fully compatible with the HTTP one) will work using UDP packets - with a single packet to store the position. If you think you may be interested in this, let me know and I'll polish it up so it's ready for testing

[2021-03-04 08:09] ByteHamster commented on #4986
AntennaPod only syncs the episode position after pausing. So I think the http method is fine.

What I would find more interesting would be able to set the position of multiple episodes at once. When starting the initial sync with a new device, that device has to upload all episode positions it has locally, which could be hundreds.

[2021-03-04 12:03] ByteHamster commented on #4974
See #4987 - I updated many of the error messages. Also, the notification now displays the list of failing podcasts instead of just "x failed". It still mixes media files and podcasts but I think together with the more human-readable error messages, it should be fine.

[2021-03-04 16:51] stucoates commented on #4986
OK, will look at building something that will enable bulk changes to take place in a single round-trip to the service.

Maybe something that can bundle together different API calls together rather than just multiple of the same type could be useful. Using this approach it'd be possible to create subscriptions and set episode positions in a single (albeit big) hit.

Does this sound like something t

[2021-03-04 19:19] Atreyu-94 opened #4988 "Improve the visual style of the sort button."
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.2

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:

Well, the

[2021-03-04 19:23] Atreyu-94 commented on #4988
In the case of sorting by size it would be more efficient to use a down arrow and an up arrow in the lower right corner. In addition to giving the accent color of the application, in this case light blue to those elements.

[2021-03-04 20:48] #3932 closed

[2021-03-05 00:53] tonytamsf commented on #2965
This is released in the beta channel 2.1.0-beta1, works pretty well

[2021-03-05 00:54] tonytamsf commented on #4531
This is released in the beta channel 2.1.0-beta1, works pretty well

[2021-03-05 02:30] e-t-l opened #4991 "Scrubbing while paused does not work"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info
Android 11
**App version**: 2.1.4
**App source**: F-Droid

# Feature description

**Problem you may be having, or feature you want**:
When s

[2021-03-05 10:27] cgghf opened #4992 "Autoplay"
Play an episode. After the episode is finished play automatically the next episode (like spotify).
So there's no need to fill the queue with episodes in the same order they're already are.
For the autoplay only an option is necessary for playing the episodes in recent or oldest order

If the queue is filled autoplay starts after the last episode or autoplay starts only when the queue is empty.

[2021-03-05 14:36] ByteHamster commented on #4986
That will probably be a really big hit (I was thinking about batching maybe ~50 items at a time) but having a more flexible method is pretty nice as well :)

[2021-03-05 16:18] #1711 closed

[2021-03-05 16:19] ByteHamster commented on #1711
So... Because there currently is an ongoing effort to restructure the complete code base of AntennaPod (see #4661), it would be pretty hard to keep my initial implementation up-to-date with the base branch. Unfortunately, even though dozens of users requested this feature, nobody seemed to care enough that they helped implementing. I merged my very basic implementation of the feature to the develo

[2021-03-06 03:52] talgriffith opened #4994 "App crashes if rearranging podcast when downloading finishes"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.3 (f7409c08a)

**App source**: Google Play

**Android version**: 9

**Device mod

[2021-03-06 06:21] tonytamsf commented on #4871
This is released into the beta channel now

[2021-03-06 06:21] tonytamsf commented on #4866
This has been released into the beta 2.1.0-beta1

[2021-03-06 06:23] tonytamsf commented on #3835
This has been released into 2.1.0-beta1🙀

[2021-03-06 08:01] keunes commented on #4871
@tonytamsf I just noticed that the values  seem to get updated with a delay. I.e. after switching in the player screen, the queue and podcast screen list items aren't updated until - I think - after switching a screen or starting/stopping playback.
Checking this when not playing I think is unlikely. But wanted to share anyway.

[2021-03-06 08:20] Matth7878 commented on #4871
In my case I was already using remaining time in player. When upgrading player view displayed total time and when I switched it from player it changes nothing for queue.
I disabled it again in player view, turned it on in settings and everything was ok. Now switching in player view also update correctly what is displayed in queue.

After comment from @keunes I tried again and it seems that togglin

[2021-03-06 11:11] keunes commented on #4975
Hi @iamayushdas
Are you managing? Do you have any questions?

[2021-03-06 11:13] iamayushdas commented on #4975
While Building project it gives deprecation error.
I wasn’t able to build it

On Sat, 6 Mar 2021 at 4:41 PM, Keunes <notifications@github.com> wrote:

[2021-03-06 11:21] ByteHamster commented on #4975
The messages about deprecation are not errors. They are warnings, so they are not a problem for building. Have a look at messages that actually have the word "error" in them :)

[2021-03-06 11:39] keunes commented on #4988
Hi @Atreyu-94
Thanks for chipping in with this suggestion. I agree it would be nice to display somewhere how the episodes are sorted. What we need to cover are the following options, if I'm not mistaken:
* Date
* Title
* Duration

On MaterialDesignIcons.com there are quite a few icons already that indicate different sorting options, that could be used:
![afbeelding](https://user-images.githubuserc

[2021-03-06 15:57] tonytamsf commented on #4871
I will take a look at fixing this

[2021-03-06 19:44] #4919 closed

[2021-03-06 20:58] Pentaphon commented on #4988
I think this is a non-issue. There's no need to know at a glance how a podcast is sorted, mostly because podcasts are usually sorted newest first and that's how most people like them. I don't see any use in always conveying this sort state to the user, and I've checked, the bigger podcast clients out there don't do this either.

[2021-03-06 22:15] Piscean opened #5000 "Processing downloads forever"
This bug is back.  It's been gone for months, but now it's back in the latest version.

The notification says Downloading podcast data.  Processing downloads.

That notification never leaves.  It's been showing in my notification area for the last 2 days.  Restarting AntennaPod doesn't fix it.  Rebooting the phone also doesn't fix it.

![share1496595736334000639](https://user-images.githubusercont

[2021-03-06 23:26] joelostblom opened #5001 "Show first few words of the episode description under the title in the episode list"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.3

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:
I just swit

[2021-03-06 23:55] joelostblom opened #5002 "Include transcripts for episodes"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.3

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:
I think it

[2021-03-06 23:57] joelostblom commented on #5000
I experienced this as well, force stopping antennapod and relaunching it removed the notification for me and it did not reappear when downloading a new episode (maybe it will at a later stage though).

[2021-03-07 05:28] tomtom commented on #4977
Good point. Two comments:

1. If there were two play buttons, this would be no issue since users would always have the choice when switching from pause to play.
2. Since you don't want two buttons or a hidden longpress function, I think the option in the Player setting would be the best solution if the current status of the toggle were visible for the user -- e.g., if the image of the Play button

[2021-03-07 05:54] tonytamsf commented on #5001
I like the suggestion.  What do you think @keunes?

[2021-03-07 08:05] ByteHamster commented on #5001
Actually, I just merged #3974, which no longer stores the two different types of descriptions because most podcasts I have seen just copy the same test in both fields. Storing that duplicate descriptions makes the database up to 50% bigger (and therefore the app slower). The description needs most space in the database and we currently only load it very selectively (not for all list items, just th

[2021-03-07 08:53] keunes commented on #5001
While I think it could be helpful in some cases to display a bit of the ~description~ shownotes (since we store only that), the performance (as ByteHamster mentioned) I think is a key factor.
If a setting is introduced at all, it should be a simple yes/no setting, not a slider. (Would get complicated for the user: how many lines/characters do I need to get the info I want?)

Maybe you can explain

[2021-03-07 09:06] keunes commented on #4977
What do you think @ByteHamster of changing the play button slightly if CP is enabled, or, if it is disabled?
E.g. display a dot next to the play icon when disabled, or a 'stacked' play button when enabled ([similar to here](https://materialdesignicons.com/icon/play-box-multiple)).

To determine whether the CP or the normal icon would be adjusted, we would need to know what is the 'normal' behaviou

[2021-03-07 09:24] keunes commented on #4988
Thanks Pentaphon for chipping in.

For me neither, but apparently for the OP there is.

Yup. With this the case, what do you think about displaying a notification when it's _not_ sorted by date new -> old, akin to when the list is filtered? That way most people aren't bothered, and the ones that do change the order will know how it is.

We should be careful with assumptions about what people like.

[2021-03-07 09:32] keunes opened #5003 "Unresponsive miniplayer remains open after podcast is deleted"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.2.0-beta1 (d0b1939ac)

**App source**: Google Play

**Android version**: 10 (Pleas

[2021-03-07 09:53] ByteHamster commented on #5000
What is the latest version for you? Like the bot already commented, please fill out the template.

[2021-03-07 09:54] Matth7878 commented on #4977
There is an area where there is a lot of unused free space and it is a the top. In player view there is no text to indicate on which screen you are and instead it could be used to put more control to access directly some useful features : toggling continuous play.
But I know there is some consensus to consider there shouldn't be too much visible icon at top.

All in all what I think is why not jus

[2021-03-07 09:55] ByteHamster commented on #4994
Will be fixed in the next beta release

[2021-03-07 09:55] #4994 closed

[2021-03-07 10:17] ByteHamster commented on #4461
As this only happens on Android 4.4, which is less than 0.8% of our user base, I am closing this now. If there is anyone who wants to fix it, feel free to propose a PR. I think our time is better spent with issues that affect more users.

[2021-03-07 10:17] #4461 closed

[2021-03-07 10:39] ByteHamster commented on #5003
Will be fixed in the next beta. This problem only happened with streamed media files - downloads already caught that.

[2021-03-07 10:39] #5003 closed

[2021-03-07 10:58] ByteHamster commented on #4715
The fix will be released in the next beta version

[2021-03-07 10:58] #4715 closed

[2021-03-07 11:01] ByteHamster commented on #538
gpodder.net is pretty much non-functional since months. Also given that nobody has expressed interest in implementing the feature in more than 6 years, I am closing this issue to keep our work focused on more popular requests. Sorry.

[2021-03-07 11:01] #538 closed

[2021-03-07 11:02] ByteHamster commented on #4907
Duplicate of #569

[2021-03-07 11:02] #4907 closed

[2021-03-07 11:08] ByteHamster commented on #869
This is harder to implement than it might sound, see #2697. Starting with Android 11, the data folders can no longer be accessed with normal file managers. There is therefore no point in cleaning up empty folders (when deleting a podcast, the folders are deleted, so the change only affects users who manually look at AntennaPod's internal data folders). To focus our limited development time on more

[2021-03-07 11:08] #869 closed

[2021-03-07 11:16] ByteHamster commented on #2156
The adoption of this feature does not seem to be big. Additionally, only very few users have expressed interest in this feature. In order to keep the development focused on more popular features, I am closing this issue. If there is someone who still wants to implement the feature, feel free to create a pull request and I will happily review and merge it :)

[2021-03-07 11:16] #2156 closed

[2021-03-07 11:18] ByteHamster commented on #2229
This is covered by issue #4681. Closing the issue to keep the discussion in one single place.

[2021-03-07 11:18] #2229 closed

[2021-03-07 11:18] ByteHamster commented on #4217
Should be fixed in the next beta version (2.2.0-beta2)

[2021-03-07 11:20] ByteHamster commented on #2400
I think this is basically the same as #2437. Closing this one to keep the discussion in one place.

[2021-03-07 11:20] #2400 closed

[2021-03-07 11:24] ByteHamster commented on #3142
Duplicate of #1519. Closing this issue to keep the discussion in one place.

[2021-03-07 11:24] #3142 closed

[2021-03-07 11:30] ByteHamster commented on #3305
I think #4066 basically has the same use-case. Closing this one to keep the discussion in one place.

[2021-03-07 11:30] #3305 closed

[2021-03-07 11:33] ByteHamster commented on #4165
I think it should be fixed in version 2.0 or 2.1. If you are still experiencing the issue, feel free to comment.

[2021-03-07 11:33] #4165 closed

[2021-03-07 11:34] ByteHamster commented on #4185
Does anyone still experience this in AntennaPod 2.1?

[2021-03-07 11:35] ByteHamster commented on #4297
Hi, do you still experience the problem?

[2021-03-07 11:36] ByteHamster commented on #4352
Should be fixed in #4999

[2021-03-07 11:36] #4352 closed

[2021-03-07 11:39] ByteHamster commented on #4643
Should be fixed in #5004

[2021-03-07 11:39] #4643 closed

[2021-03-07 11:44] ByteHamster commented on #5002
This is already tracked in #4935. Closing this to keep the discussion in one place.

[2021-03-07 11:44] #5002 closed

[2021-03-07 13:59] vzsze opened #5007 "Chapter images not shown in AAC feed, but shown in MP3 feed"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.2.0-beta1 (d0b1939ac)

**App source**: Google Play

**Android version**: 10, 11 (Plea

[2021-03-07 14:29] ByteHamster commented on #5007
Covered by #4311. We currently do not parse mp4 (=aac,m4a) chapters at all and rely on the ones in the rss feed. That podcast only specifies the titles but not the images in the feed.

[2021-03-07 14:29] #5007 closed

[2021-03-07 17:38] keunes commented on #569
**Suggested solution** (from #4907): Clearly indicate the gpodder.net server could not be reached, thus sync failed, e.g.:
*gpodder.net synchronization error*
Server could not be reached. Please retry later.

Maybe we can make this specific to the http code we're getting back, so we can distinguish between the server being inaccessible, and another sync issues (e.g. connection dropped half way or

[2021-03-07 17:51] keunes commented on #4927
Agreed on the 'Updates disabled' :)

[2021-03-07 17:57] joelostblom commented on #5002
Thanks @ByteHamster and sorry for not reading that issue properly. I saw the title and thought it was about supporting a metadata tag, but not actually including the transcript. I see now that it mentions putting the transcript in a fourth tab of the playing podcast, which is great!

A few of the things I mentioned here seems to not be included in #4935:

1. Automatically creating transcripts for

[2021-03-07 18:23] ByteHamster commented on #5002
I think point (1) is currently a bit out-of-scope (at least until #4935 is implemented). For the other points, I think a comment in #4935 would be good :+1:

[2021-03-07 18:42] Pentaphon commented on #4988
If we did everything that every single individual wanted, the dev and contributors would have a ton more work and a bloated mess of a player. We have to say no to some things.

Maybe the button style can change, sure. I just don't see the need for it. Sorting podcasts is usually a 1 time thing. I would prefer if the button style changed for things that constantly have to change.

What most people

[2021-03-07 19:04] joelostblom opened #5009 "Make swiping on episode shownotes easier to discover"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.3

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:
From #5001.

[2021-03-07 19:06] joelostblom commented on #5001
Thank you for the quick replies everyone!

My workflow is that I scan the list of episodes in individual podcasts for those that peak my interest. I use this both to select an episode to listen to in the moment and to download several episodes to listen to later if they seem generally interesting but not what I am looking for currently. I can't extract enough info from just the title to make this

[2021-03-07 19:06] #5001 closed

[2021-03-07 19:14] joelostblom commented on #4935
I have a a few suggestions for transcript related features I think  would be great to include in AntennaPod (originally mentioned in https://github.com/AntennaPod/AntennaPod/issues/5002):

1. Optionally including timestamps when copying from the trancsript. This would be helpful when using a noteapp to write down interesting segments from the podcast as it makes it easier to go back to the podcast

[2021-03-07 19:23] joelostblom commented on #1946
I personally don't need annotations within the podcast app, but I think the functionality of custom bookmarks/chapters would be very useful when listening to podcast in a setting where it might be difficult to take notes in the moment. If this is implemented, I would like to suggest that there was an option to bind it to a hardware shortcut, such as a double click or long press of the headset butt

[2021-03-07 20:02] Atreyu-94 commented on #4988
Hey, sorry for the delay in responding. I've been reading about the discussion in #1861 and I understand that as the app develops, it doesn't make sense to give status to the icons.

However, it happens to me similar to that person (#1861), I am more adapted to the fact that the buttons show the current state and not what action they lead to.

On the other hand I think it would be very enlightenin

[2021-03-07 21:49] keunes commented on #5001
Given your workflow, do you think you would benefit from/be interested in an ['inbox' feature](https://forum.antennapod.org/t/introduce-new-screen-sytem-inbox/723?u=keunes)?

[2021-03-07 22:13] keunes commented on #4988
Sure (which is why I wrote similar comments in our About page). That doesn't mean, however, that we should phrase our own opinion as a fact ("there is no need" rather than "I don't see the need") - as you now did in your latest post :)

Sorry for repeating, but I was actually referring to something like this (only displayed when not sorted from new to old):
![Screenshot_20210307-225930.png](https:

[2021-03-07 22:21] keunes commented on #4935
Nice ideas 👍 My guess would be that #4 wouldn't be too difficult. But for the others I guess we (the app) would need to receive the timestamps with the transcript I think - as I reckon it's not feasible for AP to automatically match the text with the audio. Do you know if transcripts typically have such timestamps?

[2021-03-08 00:07] joelostblom commented on #4935
Thanks @keunes ! I am not very experienced with podcast data and metadata, but I looked around a bit and it seems like at least some transcripts provide this. The [example used on the podcastindex API docs](https://podcastindex-org.github.io/docs-api/#get-/episodes/byid) page includes this segment:

[code]

That srt file includes timestamps which look like this:

[code]

I am not sure how common i

[2021-03-08 00:22] joelostblom commented on #5001
Interesting ideas, I think customizable swipe actions would be helpful in all episode list views (the gmail implementation is nice). Since I don't listen to that many podcasts, I believe that I personally would not benefit from an inbox; there are usually plenty of old episodes for me to go through once I find a show that I like and I find the current "New" screen and tile counters sufficient for

[2021-03-08 00:55] Atreyu-94 commented on #4988
Hey, I hadn't noticed that banner with the information about the filter. I find it super useful.

Regarding whether or not to apply it with the sort I think that what you propose is a good idea, in the end, the unusual order is shown and it disappears when scrolling, that way you get the information and do not change the design philosophy.

Now, in the case of no connection, we would already have

[2021-03-08 01:25] tonytamsf commented on #4872
Yes, I agree the widget should show remain time the same way and does not need Yet Another Setting (YAS) 😜

[2021-03-08 01:41] Pentaphon commented on #4988
I think the banner is a bit too much extra UI for a simple function, is more appropriate for when the user has to be alerted to an error and would probably just confuse the average user if they see it.

[2021-03-08 04:00] Flat opened #5012 "IO Error: Failed to connect retries instantly and infinitely"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.3 (f7409c08a)

**App source**: Google Play

**Android version**: 11 (Please mention

[2021-03-08 05:57] TassSinclair commented on #5012
I am also facing this issue. First encountered three times today, continued each time until I force-closed the app.

In my case an SSL error encountered while hitting the podcast server is causing Antennapod to keep hammering the server (sending me a notification for each failure).

App version: 2.1.3 (f7409c08a)
App source: Google Play
Android version: 9
Device model: OnePlus 5T

![Screenshot_202

[2021-03-08 07:40] keunes commented on #4988
Thanks for sharing your thoughts both. While as Atreyu-94 says the thing disappears when scrolling, it's a fair comment Pentaphon that it might be more appropriate for warnings (what this isn't, really).

@tonytamsf @matth78 Any thoughts if/how to do something about this?

[2021-03-08 07:47] Matth7878 commented on #4988
Didn't think much but what about to change icons appearance? Like put them in a circle with a colored background ?
This way it would be visual and it won't need any banner.

[2021-03-08 09:13] #4918 closed

[2021-03-08 09:52] ByteHamster commented on #5012
This should be a lot better (if not fixed) in the latest beta release

[2021-03-08 10:15] ByteHamster commented on #4988
I think we should try to not add more (or extend) the banners for this. Filtering is a different case, I think. Users are probably more likely to think that a missing episode (because they forget that they applied a filter) is a bug than it is to have an episode appear at an unexpected position (because they forget that they changed the order).

Actually, it's not 100% consistent (like basically e

[2021-03-08 10:30] ByteHamster commented on #4977
To be honest, I would prefer to keep the play button as simple as possible. I think any additional visual indicators make a screen more cluttered and therefore harder to use.

I was wondering if we even need that dialog. When implementing #4641, the playback speed bar can be removed. Also, I think that the mono output can be removed because it is not supported in the default player and Android alr

[2021-03-08 14:47] Atreyu-94 commented on #4988
I think that in this way it would not be necessary to occupy more space in the UI and at least for me it was difficult to find the filter banner, I realized it reading this thread and it's really useful for what it mentions @ByteHamster .

In any case, if this is very complicated, the solution proposed by @keunes would not add more space to the existing one and would give information about how the

[2021-03-08 21:02] stucoates commented on #4986
Batch API now deployed: https://feeddirectory.org/#/api/1.0/Batch

There's currently a hard limit of 10,000 API calls per request which should be more than enough for most cases. Hopefully the usage in the docs is clear - let me know if it's not and I'll work on it.

[2021-03-08 22:12] jeo1 commented on #5012
I had this same issue this morning. It did not impact all of my podcast feeds (for example I was able to download `Economist Radio` but not the `The Daily`. I tried again in the afternoon with the same results. Closing the app did not fix the issue.
After I restarted my phone the issue no longer occurred.

Note: I am running a pihole.

App version: 2.1.3 (f7409c08a)
App source: Google Play
Android

[2021-03-09 06:38] thoka commented on #1946
@keunes Could you provide a pointer to some information / example about what is expected to provide a mock-up ?

[2021-03-09 07:10] keunes commented on #1946
@thoka We don't have anything like that documented. But what I would expect is the person to read through most of the comments, see what makes sense and what the consensus is more or less, and make mock-ups that show layout and interaction of relevant screens. And use the open source tool Penpot.app for it.

(Actually I added the label for myself to do the above, but if anyone feels like doing it,

[2021-03-09 21:02] ksunden commented on #5012
https://forum.antennapod.org/t/cannot-download-some-podcasts-for-24h/740

This is related to this forum posting.

Namely Adaway added chtbl.com to their block list (for me this filtered down to some pihole blocklists I use, but Adaway is the original source for those as well)

chtbl.com is a tracking site that does not host the files and the info needed to get at the actual file is in the url.

On

[2021-03-09 21:04] ksunden commented on #5000
There is a good chance this is related to #5012, which is in turn caused by feeds trying to download from blocked domains (either via Adaway on android itself or via something like pihole for network wide DNS blocking)

[2021-03-09 21:07] ksunden commented on #5012
I will also note that force closing the app is not strictly required, if you press `Cancel Download` within the app, it will cause it to stop... though the UI is flashing in there between, so it can take a few tries.

[2021-03-09 22:22] ByteHamster commented on #5000
The notification was a known problem in the 2.1.x versions (it was not related to DNS blocking) but there is no way to help without a version number. Closing, sorry.

[2021-03-09 22:22] #5000 closed

[2021-03-10 06:08] thomassth opened #5016 "Android 11: 'Zombie' playback control at quick settings"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.3 (f7409c08a)

**App source**: Google Play

**Android version**: 11

**Device model**: galaxy s10e

# Bug description

**Steps to reproduce**:
1. Start a playback
2. Unsure how to

[2021-03-10 10:25] stucoates commented on #4986
Can anybody provide an example of an OPML export from AntennaPod? I'm currently building the OPML import into feeddirectory.org and want to check compatibility with as many systems as possible.

[2021-03-10 10:34] ByteHamster commented on #4986
Sure, here you go :) https://drive.google.com/file/d/1vbQoxGgU35cBjnAGRQp7Av23fE3K6tDq/view?usp=sharing

[2021-03-10 10:35] protist commented on #1797
I'm not sure where the best place to post comments is, but the merged pull request #4401 excludes "swipe to refresh" from the queue screen. Here is my comment from the pull request:

[2021-03-10 10:56] stucoates commented on #4986
Excellent, thanks for that. Worked first time! ;-)

New release in the next couple of days with OPML import API unless I find any show-stoppers before then.  Internally it'll be making use of the new Batch API - so that'll be getting a good workout also.

[2021-03-10 12:21] keunes commented on #1797
@protist Can you please create a new issue specifically for your use-case? Thanks in advance :)

[2021-03-10 13:31] tonytamsf commented on #5012
@jeo1 and others if you sign up as a beta user in Google Play,  version 2.2.0-beta1 should address this issue.  Or you can wait until that version pushes to live

[2021-03-10 14:12] Flat commented on #5012
This does seem to be fixed for me in the latest beta. Specifically I would assume by this commit https://github.com/AntennaPod/AntennaPod/commit/f9baf6812b413b1a0f7b4fa869a4bc0176a819b7 thanks.

[2021-03-10 14:12] #5012 closed

[2021-03-10 16:38] joelostblom opened #5019 "Show AP in "Open with" menu when trying to open a single audio file"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.3

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:
When I down

[2021-03-10 17:07] ByteHamster commented on #5019
Actually, the feature was removed some time ago because it complicates the code base and is not really the aim of AntennaPod (which is about storing playback position, etc).

[2021-03-10 20:14] DC7IA commented on #4530
Haven't had that issue in a while. Might've been fixed by an update?

@Tobii42 Do you still have that beviour? Otherwise I will close this issue.

[2021-03-10 20:29] Luxtech opened #5020 "Missing queue in the app"
I am missing the queue section in the app.

 I am running version 2.1.2 installed from f droid. In the app I see references to the queue section, such as: add to queue. But I cant find the section anywhere.

In a video I saw that it exist but apparently my version misses this function.

Is it a setting that I need to turn on? Please help, I really like the app but it would even be better if there

[2021-03-10 20:52] Matth7878 commented on #5020
Try to long press any entry lateral menu but settings. A dialog should appear to choose which entry to see. I think Queue will not be checked for you.

You could also access this dialog in settings, user interface, items in lateral menu.

Tell if it solves your problem so this issue can be closed.

[2021-03-10 21:00] joelostblom commented on #5019
Oh ok, if there are technical reasons to not include it I will go ahead and close this. Thanks for the reply.

[2021-03-10 21:00] #5019 closed

[2021-03-11 01:48] CJONE59 commented on #1281
Thanks it's appreciated

[2021-03-11 03:29] protist opened #5022 "Add "swipe/pull to refresh" to queue screen"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.4 (62b6ec121)

**App source**: F-Droid

# Feature description

**Problem you may be having, or feature you want**:

Th

[2021-03-11 03:30] protist commented on #1797
Thanks @keunes! Done at #5022.

[2021-03-11 12:15] jackpoc opened #5023 "Playback cutting out when streaming"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.

# System info
Android 10
nokia 4.2

**App version**: 2.1.3

**App source**: Google Play

**Android version**: OS version 4.9

**Device model**: Nokia 4.2
[full-logs.txt](https://github.com/AntennaPod/AntennaPod/fi

[2021-03-11 12:59] keunes opened #5024 "Loading (restarting) episode after a longer pause takes long"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.2.0-beta2 (9f88e3c7c)

**App source**: Google Play

**Android version**: 10 (Pleas

[2021-03-11 13:37] nikhilCad opened #5025 "Add Spotify in search result (And subscribe using spotifeed)"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same feature request.
- [x ] I will only create one feature request per issue.
- [ x ] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.3

**App source**: Google Play / F-Droid / ...

Play Store

# Feature description

**Problem you may be having, or

[2021-03-11 14:17] nikhilCad commented on #5025
Uhhh leave it you might get into legal trouble.

[2021-03-11 14:54] nkwrd opened #5026 "automatic transition to system themes"
# Checklist

- [ x] I have used the search function to see if someone else has already submitted the same bug report.
- [ x] I will describe the problem with as much detail as possible.
- [x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.3

**App source**: Google Play

**Android version**: 11

**Device model**:Samsun

[2021-03-11 20:28] stucoates commented on #4986
OPML import and export now deployed, making use of the new Batch API also... working well. More info: https://feeddirectorydev.blogspot.com/2021/03/batching-and-opml.html

[2021-03-11 21:22] TassSinclair commented on #5012
Thanks @ByteHamster, love your work.

[2021-03-11 21:57] ByteHamster commented on #5012
Actually, it was @tonytamsf who fixed this :) See #4821

[2021-03-12 04:49] peakvalleytech opened #5027 "Provide option to sort queue by date added"
# Checklist

- [ x ] I have used the search function to see if someone else has already submitted the same feature request.
- [ x ] I will only create one feature request per issue.
- [ x ] I will describe the problem with as much detail as possible.

# System info
Pixel 5
**App version**: x.y.z

2.1.3
**App source**: Google Play / F-Droid / ...

# Feature description
**Problem you may be having,

[2021-03-12 06:40] peakvalleytech commented on #5027
What do you think of this issue, @keunes? Do you think it would be nice addition?

[2021-03-12 06:52] keunes commented on #5027
My queue is automatically managed, so personally I wouldn't use it. But I can see the value if you manually manage the queue.
(On a side note: can you please still complete the system info: AntennaPod version & app source)

[2021-03-12 08:55] callis commented on #5024
yes, I observe this too. Sometimes it even takes longer and up to 10 seconds

[2021-03-12 09:22] ByteHamster commented on #5024
During that time, AntennaPod loads the details (like title, cover, etc) of the currently playing episode from the database (when the app is paused for a long time, it only stores the ID of the current episode). For me, this only takes less than a second. Maybe it depends on your database size.

It does load the podcast belonging to that episode, too, so it can respect the podcast-specific settings

[2021-03-12 11:46] TassSinclair commented on #5012
Indeed it was! Thanks @tonytamsf, you rock!

[2021-03-12 14:11] ByteHamster opened #5029 "Sometimes the position is not reset after an episode ends"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.2.0 develop

**App source**: custom

**Android version**: 10 (LineageOS)

**Device mo

[2021-03-12 16:36] mcaap opened #5030 "Quick note taking ability within the podcast and a screen to view all notes"
# Checklist

- [ x] I have used the search function to see if someone else has already submitted the same feature request.
- [ x] I will only create one feature request per issue.
- [x ] I will describe the problem with as much detail as possible.

# System info

**App version**: x.y.z
2.2.0-beta2

**App source**: From source

# Feature description

**Problem you may be having, or feature you want

[2021-03-12 16:44] RollingStar commented on #2220
Knowing that the bug is still active, it's fucking unacceptable. The app should be taken down from all public-facing areas (ex. F-Droid). This is a **critical** bug and there's not even a warning about it on the Github or F-Droid.

[2021-03-12 17:29] ByteHamster commented on #2220
I can't reproduce the problem on my device. If I turn off WiFi, AntennaPod stops the download. This happens because Android closes the network connection automatically when switching networks. Maybe some vendors have changed that behavior.

@RollingStar As you probably know, AntennaPod is developed by volunteers. Feel free to contribute code. If you don't know how to code, you can also hire someon

[2021-03-12 18:30] Atreyu-94 commented on #5030
I think it is a very good feature. It would be very useful, for example, if the time block were highlighted (like a link) and that when pressing it it would take you to that moment right where the note is done. This without affecting the play queue. I personally miss this feature in podcasts.

[2021-03-12 19:23] ByteHamster commented on #5030
Could you please post your video+screenshots again in  #1946? It's about the same feature and there already is some discussion, so the people can give feedback there.

Closing this one to keep the discussion in one place.

[2021-03-12 19:23] #5030 closed

[2021-03-12 20:46] kevincox commented on #1077
Hi, I would like to offer a $100 CAD reward to a PR that gets merged with the following requirements.

1. A persistent option per-podcast that sets the preference to oldest-to-newest.
2. Episodes will be downloaded oldest-to-newest respecting download limits.
3. Episodes will play in the queue oldest-to-newest (should just work based on download order).
4. Once an episode is downloaded that should

[2021-03-12 20:57] ByteHamster commented on #1077
The code for the auto-download feature is unfortunately pretty messy, currently. I think before implementing the feature, auto-downloads in general need a lot of love. See also my comment in this other issue: https://github.com/AntennaPod/AntennaPod/issues/2495#issuecomment-743731469

[2021-03-12 21:00] kevincox commented on #1077
I will happily split the amount to include the required work there.

[2021-03-12 21:40] aschoenr opened #5031 "database import losing episode played/unplayed status"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

Android 11 on Pixel 4XL

**App version**: x.y.z

version 2.1.3(f7409c08a)

**App source**: Google Play /

[2021-03-12 22:01] ByteHamster commented on #5031
Do you mean that all episodes are displayed with a gray text color instead of full black? Or do you mean that the downloads are not transferred? Having the episode state different between devices sounds pretty surprising to me when everything else is transferred correctly. Could you take a screenshot of the old and the new installation that illustrates the problem, please?

[2021-03-12 22:44] aschoenr commented on #5031
I'll try to provide more details here. First, two screenshots from my old phone (1 & 2). This shows my mess of subscriptions and unlistened episodes. After taking these I did another database export and uploaded it to google drive.

I then move over to my new phone. For good measure, I make sure there are no OS updates and I uninstall and and reinstall Antennapod. Screenshot 3 shows the state of t

[2021-03-12 22:58] ByteHamster commented on #5031
Thanks for the screenshots. The problem is not that the episodes are marked as played. The problem is that the sidebar displays another counter :) You can set the counter in "Settings" » "User interface" » "Subscription counter". I guess it is set to "New and unplayed" on your old phone and to only "New" on the new one. App settings are currently not transferred with the database export feature, j

[2021-03-12 23:06] aschoenr commented on #5031
I think I was about 15 minutes away from figuring this out myself! Thanks for the help. Really surprised I haven't run into this before.

Anyways, thanks again!

[2021-03-12 23:06] #5031 closed

[2021-03-12 23:43] SFMason commented on #5016
This seems like the same issue referenced in #4458. Likely this is a bug with Android 11 that is fixed in the current release, but on a Samsung you may have to wait.

[2021-03-13 02:10] mcaap commented on #1946
I listen to a lot of podcasts and only recently discovered this amazing open source app. Prior to that, I was using other apps.
I wanted the ability to quickly add notes while listening to a podcast.
When I started using the App, I used to use the Share option and then copy the text using the Share dialog (Episode webpage + Playback position). Then I used to paste the text in a Notes app. Its cumb

[2021-03-13 02:19] peakvalleytech commented on #5027
@keunes Alright, it's updated.

What do you mean by 'automatically'? Like you don't sort at all?

That's fine. I personally like to watch episodes that I find most interesting, which are those ones I usually manually add to queue. In other words, I like to watch episodes by picking the ones I want and being able to see them sorted by the order that I added is essential.
If you use YouTube, then yo

[2021-03-13 05:17] mattfj10 opened #5033 "Antennapod subscriptions not syncing with gpodder"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.4

**App source**: F-droid

**Android version**: Android version 11 with Calyx OS 2

[2021-03-13 08:45] #4799 closed

[2021-03-13 08:50] Matth7878 opened #5034 "Add filtering subscriptions based on new episodes notification setting"
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info
**App version**: 2.2.0-beta2 (9f88e3c7c)
**App source**: Google Play

# Feature description
**Problem you may be having, or feature you want*

[2021-03-13 09:43] ByteHamster commented on #5033
Unfortunately, the official gpodder.net server currently has some problems. The fact that you are not getting further than the "sync started" step means that the server does not respond when trying to log in. Gpodder is not affiliated with AntennaPod - it's an independent project. They have the problem since a few months now but unfortunately they can't get it to work reliably because of the immen

[2021-03-13 09:43] #5033 closed

[2021-03-13 09:45] pragtich commented on #2220
That's something that I can test. I'll have to do it carefully because I
changed most settings after the incident. It will take me a few days to get
to it, will keep you posted.

On Fri, 12 Mar 2021, 18:29 ByteHamster, ***@***.***> wrote:

[2021-03-13 12:45] keunes commented on #5027
I have 'Keep sorted' enabled, which keeps the queue sorted from oldest to newest, regardless of how or when an episode gets added.

[2021-03-13 12:59] keunes commented on #5024
It would be great if restarting could be made faster. If not, I think we should at least play a sound to confirm action when action comes from a hardware button (e.g. headphones or BT speaker), as currently it just feels non-responsive.

[2021-03-13 13:09] keunes commented on #4961
I think that'd be a great improvement already.

How big (pixels) should the file be, to look good also on the higher end phones?

[2021-03-13 14:41] keunes opened #5035 "Full player details don't get updated when initiating 'preview'"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.2.0-beta2

**App source**: Google Play

**Android version**: 10

**Device model**:

[2021-03-13 17:47] ByteHamster commented on #5024
I checked the behavior - it does not load the complete feed. So it needs some more detailed profiling

[2021-03-13 18:12] #4965 closed

[2021-03-14 07:21] peakvalleytech commented on #5027
You've never opened a podcast, looked through the episodes, and added ones that you are interested in watching? Wouldn't seem logical that when you go to your queue you might want to see the ones you've just added at the top? Let's say you were REALLY interested in watching those. But since it is not sorted you have to go through the entire queue looking for them.
I really think this is a useful f

[2021-03-14 08:25] keunes commented on #5027
Hardly ever. _Sometimes_ I want to listen a recent episode of a particular podcast (e.g. news bulletin) and then just take the top podcast.
I would start making (pre)selections if there were an [inbox](https://forum.antennapod.org/t/introduce-new-screen-sytem-inbox/723), but sifting through the list per podcast doesn't really work for me.

That said, that's just my personal use-case and I can tota

[2021-03-14 08:50] ByteHamster commented on #5027
Actually, new episodes are added to the bottom of the queue. So the queue already is sorted by "date added" if you simply don't sort it. That's the way I use the queue :)

[2021-03-14 15:17] peterjanes commented on #5029
I've also been seeing this quite regularly.

[2021-03-14 16:37] Luxtech commented on #5020
Thanks it solved my problem, now I can continue to use this great app!

[2021-03-14 17:08] #5020 closed

[2021-03-14 22:52] datavizard commented on #5035
So, whenever you're playing out a preview and then closing the preview by pressing the back button, and then enlarging the player to full screen, you're noticing the old cover, details and the previously played and then paused podcast? Correct me if my understanding is wrong here.
I tried to replicate this behavior on app version: 2.1.3, Android version: 9 on an OP6 device but couldn't get the exa

[2021-03-14 23:06] datavizard commented on #5022
So the main functionality you want here is that whatever items are present in the queue screen, they should all download to your phone in bulk with a single action? If that is the only use case you have in mind, I feel a button or an option (this could go in the three dots menu on the corner) to download all the currently present queue items would make much more sense, rather than a swipe below ac

[2021-03-14 23:11] ByteHamster commented on #5035
I guess the bug was introduced in #4940. See also #4943

[2021-03-15 02:20] protist commented on #5022
@datavizard No sorry, this issue is nothing to do directly with triggering a download. It's related to (as you say) "updating/refreshing a list of items".

This relates to the functionality from the pull request #4401 that I referenced above. Specifically [this comment](https://github.com/AntennaPod/AntennaPod/pull/4401#pullrequestreview-500688680) on the pull request suggested excluding the queue

[2021-03-15 03:34] peakvalleytech commented on #5027
Really? Well, do users ever complain about this. If not, then maybe will should close this issue. I don't want to put effort where it isn't neccessary.

[2021-03-15 03:37] tonytamsf commented on #5027
I agree we should close this issue

[2021-03-15 03:39] peakvalleytech commented on #5027
@tonytamsf You don't think it would be usefult?

[2021-03-15 03:52] peakvalleytech commented on #4566
Why not just show a dialog asking user to confirm deletion?

[2021-03-15 05:23] nikhilCad commented on #5025
An app called Podcast Addict in Play Store also allows to subscribe to Spotify podcasts using spotufeed, so idk about legal issues

[2021-03-15 07:54] ByteHamster commented on #4566
Popup dialogs are pretty interruptive and should only be used rarely. That's why I like the idea of an undo button.

[2021-03-15 11:27] keunes commented on #5025
Apart from the legal issues, I'm also thinking: this is a project by an individual and we don't know what might happen with the service that converts Spotify shows to RSS feeds. Individuals can use the service and add these RSS links to AntennaPod, but I'm hesitant to offer this in the search in AntennaPod.

[2021-03-15 11:32] nikhilCad commented on #5025
This is the Podcast Addict app. 10M downloads.
https://play.google.com/store/apps/details?id=com.bambuna.podcastaddict
Search Joe Rogan podacst, you will see that they use a spotifeed link. That is why I reopened this issue thinking that if this app is not renoved from Play Store, it might be possible to add it in AntennaPod.
But idk I am not a legal expert.

[2021-03-15 11:39] #5025 closed

[2021-03-15 15:31] datavizard commented on #5022
@protist, okay I again went through the queue screen once again and added and removed multiple podcasts to understand the functionality better. If the primary goal here is to achieve updating/refreshing list of items, first of all I am noticing that the queue automatically updates as new podcasts are removed/added, and furthermore there's a dedicated refresh button right at the header itself which

[2021-03-15 17:38] keunes commented on #5022
@datavizard Yes it does, so you got the point correctly.

There have been [discussions](https://github.com/AntennaPod/AntennaPod/issues/4577#issuecomment-789932036) whether or not to keep it, given that pull to refresh is available now in most screens.

When pull to refresh was implemented, it was [suggested](https://github.com/AntennaPod/AntennaPod/pull/4401#pullrequestreview-500688680) to not im

[2021-03-15 17:46] keunes commented on #5025
For me it's not a matter of legal issues or not. But rather hoe long the RSS feeds would keep working: the feeds are only valid as long as the person that created Spotifeed keeps up their service. It's a central bottleneck that is a risk (and goes against the decentralised principal of podcasts).

[2021-03-15 17:47] keunes commented on #5027
You were the first. Or did you just report it, not necessarily because you want this feature?

[2021-03-15 23:21] protist commented on #5022
Thanks @keunes, that is exactly correct.

@datavizard yes, prior to the pull request, the refresh button was present in all of these screens. After the commit, users could instead pull to refresh, which would be a more convenient method. However, the refresh button still remained as an alternative method in these screens.

The addition of the "pull to refresh" alternative method was omitted from t

[2021-03-16 07:43] keunes commented on #1899
Agree that'd be a good base. If done, settings could be backed up as well.

[2021-03-16 14:15] JimAlps commented on #2495
For those annoyed by this bug (especially if you don't have much space), here is a nasty but simple patch, against git version, to resolve the problem, until the feature can be rewritten. Note that it doesn't delete episodes immediately but when the cleanup algo is called, which is quite often. This will clean all your old epidodes which are not in the queue anymore.

[delete_episodes_not_in_queue

[2021-03-16 15:22] JimAlps commented on #4889
Hi. I think I found how to reproduce this one. The traceback (following) is a bit different, because code has changed. But it seems to be the same problem to me.
Howto :
- Click in the last episode of your queue.
- Play it
- Open mediaplayer activity.
- Use your phone key to go back to android desktop
- Wait for episode to finish
- All seems ok
- Open antennaPod again -> Crash

## Environment
Andr

[2021-03-16 17:37] peakvalleytech commented on #4845
I would be glad to help prototype the 'home screen'. Just let me know the requirements.

[2021-03-16 23:58] datavizard commented on #5022
@keunes, @protist, thanks for the clarifications and making it more clear for me. I will go through the code and work on it over the coming weekend, or if possible earlier.

[2021-03-17 08:37] spacecowboy commented on #2495
@JimAlps see also https://github.com/AntennaPod/AntennaPod/pull/4693

[2021-03-17 16:28] ByteHamster commented on #4961
So... I had a look at the code again and noticed that AntennaPod relies on the exact values of the fallback image in some places. So I think the more clean way to implement automatic theme switching would be to write a Glide loader (just like the one for `EmbeddedChapterImage.java`). This has the advantage that we can actually use vectors and that switching automatically will work. The disadvantag

[2021-03-18 07:55] #5026 closed

[2021-03-18 23:02] peakvalleytech commented on #5027
This is an original idea for this app, but I got the idea from You Tube. They have the same feature in their 'watch later' playlist, which is equivalent to a queue. If it's good enough for youtube then why not us.

[2021-03-18 23:08] peakvalleytech commented on #4845
@ByteHamster Can I add this feature? I have also thought about adding this feature.

[2021-03-18 23:28] peakvalleytech commented on #4902
@ByteHamster Can I work on this?

[2021-03-19 20:44] keunes commented on #4845
I think before prototyping we might need more extensive mockups

[2021-03-20 00:34] #4530 closed

[2021-03-20 14:24] keunes commented on #1946
@mcaap Thanks for chipping in with your proposal! Great that you have something working already :)

I like it, but personally have a one main reservation: storing timed annotations as plain text. I get the rationale for having one note per episode. But registering timed notes on an individual level has some great (potential) advantages:
* Individual notes could more easily be deleted (no need to s

[2021-03-20 14:31] keunes commented on #5034
Somewhat related: #4681

[2021-03-20 22:03] keunes commented on #4961
Would that warrant a separate issue?

[2021-03-20 22:15] keunes commented on #5027
Sorry, I'm getting a little confused here, @peakvalleytech Maybe some thoughts got lost in translation :)

This looks to me like you're not interested in it personally, but just brought it up as a general idea for improvement, but one which you don't care so much for personally (as in: it might be nice for others, but wouldn't use yourself per se).

This reads like you _are_ eager to get this impl

[2021-03-21 13:02] vendojo opened #5044 "Support for sharing episode info to Notion"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.3

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:

I'd love t

[2021-03-21 17:43] tonytamsf commented on #5044
This seems like a bug. @keunes could you assign to me?

[2021-03-21 20:52] ByteHamster opened #5045 "First episode of a new podcast is auto-downloaded even if the checkbox is unchecked"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.2.0-beta2

**App source**: custom

**Android version**: 10

**Device model**: OnePlus

[2021-03-22 04:22] rsapkf opened #5046 "View total number of subscriptions"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.3

# Feature description

**Problem you may be having, or feature you want**:

There is no easy way to see how many su

[2021-03-22 04:34] zxti opened #5047 "More media controls in notification"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.3

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**, and **Sugge

[2021-03-22 06:15] tonytamsf commented on #5046
Linking the forum https://forum.antennapod.org/t/how-to-view-the-total-number-of-subscriptions/792

[2021-03-22 06:20] tonytamsf commented on #5023
When the playback cuts off, what is the state of the player?  Is it paused on the currently playing episode, or did the app crash?

[2021-03-22 06:26] tonytamsf commented on #3650
I think I have code to fix this, but I would like someone to test it https://github.com/AntennaPod/AntennaPod/pull/4722

[2021-03-22 06:42] mcaap commented on #1946
@keunes thanks. Yes, many improvements are possible.
But due to my limited time, I just quickly came up with a solution which works for me (for now).

[2021-03-22 07:27] keunes commented on #1946
@mcaap Yup, I understand. I'm not a developer, so I'm wondering: say we'd want to have a system with comments/notes recorded individually (which I don't know - what do others think?), would it then make sense to have your solution implemented now, and possibly expand later (incremental)? Or would that have to be (re)done from scratch?

[2021-03-22 09:16] #4802 closed

[2021-03-22 09:20] a1291762 commented on #4556
Interestingly... I could reproduce this very readily before but now it never happens. And I'm only on 2.1.3...
Pixel 4a. I was on the Jan update and went to the March update. Maybe Google fixed the issue in the platform that caused the notification to get stuck? But the problem might persist in other devices...

[2021-03-22 09:22] ByteHamster commented on #4961
Nope, it's just for loading the default local files image :)

[2021-03-22 11:30] CompmanJX3 commented on #4556
Same here, no longer seeing this on 2.1.3 with my pixel 3.

[2021-03-22 11:31] rogerval commented on #3650
I would be happy to test it, and thanks for all your hard work. :-)

[2021-03-22 16:59] Saroumane commented on #4556
Since my last message (19 days ago), I had 2 or 3 Android updates, and the problem disappeared too on my Pixel 3a. (I'm still with AntennaPod 2.1.4 )

[2021-03-22 18:15] uli-on commented on #5029
I can confirm that behaviour for a regular v2.1.4  on Android 6.0.1.

[2021-03-23 03:01] staab opened #5048 "Crash on Startup"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.3

**App source**: Google Play

**Android version**: 10

**Device model**: Moto g7

[2021-03-23 03:39] PetraOleum commented on #5048
Something similar is happening to me today - might be [this bug](https://www.msn.com/en-us/money/other/android-apps-are-crashing-for-some-but-google-is-working-on-a-fix/ar-BB1eRajb)?

[2021-03-23 04:23] staab commented on #5048
Ah, that could be it. Shortly after filing this issue another app crashed on me, and it seems likely it was using a web view.

[2021-03-23 06:18] Nils6852 commented on #5048
I have the same problem. Some apps chrashes after startup.
Antennapod
Fairemail
[Tiny Weather Forecast Germany](https://codeberg.org/Starfish/TinyWeatherForecastGermany)

My Phone:
LG G5 H850
Android 8.0.0
Antennapod version 2.1.4

[2021-03-23 07:50] bjendres commented on #5048
I had the same problem, but [rolling back WebView updates](https://twitter.com/SamsungSupport/status/1374124081843343361) (like @PetraOleum suggested) fixed the issue for me.

Phone: FP3, Android 10, Antennapod 2.1.3

[2021-03-23 08:09] rjc commented on #5048
Installing the **latest** _Android System WebView_ (version 89.0.4389.105 from 22nd March 2021) fixed it for me.

AntennaPod 2.1.4 from F-Droid.

[2021-03-23 08:16] bjendres commented on #5048
I can confirm that, this version works for me, too.

[2021-03-23 09:13] poulad commented on #5048
I updated WebView from playstore now and it's resolved.

[2021-03-23 09:42] jmikedupont2 commented on #5048
thanks. My gmail was also crashing

[2021-03-23 10:57] PetraOleum commented on #5048
As it happens my android (possibly due to being Go edition) wouldn't let me rollback or update webview, but **updating Chrome** (mentioned in an update to that article) fixed it. In the meantime though antennapod could be controlled fine through the widget so I have no complaints.

[2021-03-23 17:30] martinneumann commented on #2729
I just encountered this same issue today. Maybe reopen the issue?

I open the app and it crashes after a few seconds. It also starts at the podcast I was trying to listen to, but fails to load any images or episodes in the few seconds it is visible.

[2021-03-23 18:30] ByteHamster commented on #2729
What you are experiencing is probably #5048, not this one.

[2021-03-23 18:30] Ka-hu commented on #5048
It is (was) an Android System WebView issue, a lot of apps crashed because of it, so it's not an AntennaPod bug.

[2021-03-23 19:50] gonter opened #5049 "Antennapod crashed, can not start anymore"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [ ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.3

**App source**: Google Play

**Android version**: 5.0

**Device model**:
Asus Ze

[2021-03-23 20:05] gonter commented on #5049
I meant to add in my bug report that the stack trace above was found in the file "crash-report.log" on the SD card in the directory "Android/data/de.danoeh.antennapod/files".  I saved the file on Google drive and deleted it from the SD card.  The file is *not* re-created when the next start attempt fails.

[2021-03-23 20:48] ByteHamster commented on #5049
Did you read #5048?

[2021-03-24 03:04] gonter commented on #5049
Hmm... Thanks for the pointer. WebView was last updated on 2021-03-22 and Antennapod worked fine after that, until today.

There is an update for WebView, however, so I installed it and - surprise - Antennapod works again!

Thanks for the hint.  I guess this bug can be closed now.

[2021-03-24 03:04] #5049 closed

[2021-03-24 21:51] ByteHamster commented on #4902
I don't think sending back the changed text will be easy to implement. My idea would be to just open the search screen directly when clicking on the search bar. That way, the bar never gets any text content, so it also can't contain old text. It also has the advantage that we can show recent search terms or live suggestions on the screen.

[2021-03-25 04:36] peakvalleytech commented on #4845
Then forget the  home screen for now. Do you think we can test out this feature? Maybe add it to the playlist screen.

[2021-03-25 17:02] ByteHamster commented on #4846
I think this might be fixed by #4950 (the UI tried to bind to the service using the last-used intent, therefore restarting the playback). Would you mind joining the beta version and trying if you can still reproduce the bug in version 2.2.0-beta2?

[2021-03-25 20:19] jgandert opened #5050 "Option to continue Sleep Timer only while playing"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# Feature description

**Problem you may be having, or feature you want**:
Sometimes I'm listening and then want to look something up, and it takes a whil

[2021-03-26 08:03] peakvalleytech commented on #5046
I want to volunteer for this issue.

[2021-03-26 09:16] marcblum-ac commented on #4846
**Retest**
Antennapod version: 2.2.0-beta2 (9f88e3c7c)
everything else: unchanged
Need to differentiate step 13:

13.1.1 Connect any BT device (earbuds, car audio... does not matter), **triggered from the BT device**
13.1.2 ISSUE Antennapod resumes playing the stopped episode through the BT device

13.2.1 Connect any BT device (earbuds, car audio... does not matter), **triggered from the smartphon

[2021-03-26 09:32] ByteHamster commented on #5046
I wonder if we should really show this number all the time, as it adds more clutter to the screens. Maybe it can be combined with #4681: The title bar could show how many podcasts are selected. If you press the button to select all of them, you would see the total number of subscriptions.

[2021-03-26 10:43] ByteHamster commented on #5048
(cross-post from the forum)

Below you can find a chart with the number of AntennaPod crashes on the past few days. Looks like most users got the “Android System WebView” update now - the number of crashes is nearly back to normal.

![image](https://user-images.githubusercontent.com/5811634/112620014-46a53400-8e28-11eb-96a7-07740390aa20.png)

[2021-03-26 10:43] #5048 closed

[2021-03-26 17:05] hamedsbt opened #5053 "Skip ads. is it possible?"
Hello, as you know most podcasts has several advertise, does it possible to identify and reject them?

My suggestion is:
each ad starts with a specific music introduction and ends with a similar or different music introduction. So the user can train the app to learn with introduction music and closing music to identify and reject ads.

Thank you.

[2021-03-26 17:34] ByteHamster commented on #5053
Duplicate of #4159

[2021-03-26 17:34] #5053 closed

[2021-03-26 17:44] ByteHamster commented on #5016
Duplicate of #4458

[2021-03-26 17:44] #5016 closed

[2021-03-27 08:28] peakvalleytech commented on #5046
I'll get back to you on that.

[2021-03-27 11:30] ByteHamster commented on #4846
That could be the case. If you send me the full log file from the "bug report" screen, I can have a look if it sends a play command. As the log file could contain sensitive things like your list of subscriptions, you can send it via email to `info@<my user name>.com`. Before exporting the log file, please reproduce the issue using the push button on the Bluetooth device and remember the time at wh

[2021-03-27 11:52] ByteHamster commented on #5035
The fix should be released in 2.2.0-beta3

[2021-03-27 11:53] ByteHamster commented on #4889
Should be fixed in 2.2.0-beta3

[2021-03-27 11:53] #4889 closed

[2021-03-27 14:07] keunes commented on #5050
Actually I think this shouldn't be an option (we have quite enough of those already). For me it makes sense to make this default behaviour :)

If an episode is paused, it should be reset at some point, however. Because if you pause it, go to sleep, start playback again next morning, it would be unexpected if it stops after, say, 6 minutes because the sleep timer continued counting. (This is a disc

[2021-03-27 14:11] keunes commented on #5046
If we you don't want to display it next to the Subscriptions menu entry, I think at least we should remove the number next to Subscriptions.

Yeap, that'd be nice.

[2021-03-27 14:29] CreamyCookie commented on #5050
As a developer, I totally get that! However, as a user I feel the complete opposite. I love having lots of options and that's part of what I really like about many applications I use (e.g. [quodlibet](https://github.com/quodlibet/quodlibet/) and AntennaPod).

 Sometimes I also realize that what I wanted isn't actually that great and switch back (if it's an option). I doubt this will be true in thi

[2021-03-27 14:29] keunes commented on #4845
@peakvalleytech I can start making the mockups today and tomorrow. I think we should close this issue and develop it only in the context of the home screen, to be honest.

[2021-03-27 14:44] marcblum-ac commented on #4846
[full-logs.txt](https://github.com/AntennaPod/AntennaPod/files/6215843/full-logs.txt)

[2021-03-27 14:45] marcblum-ac commented on #4846
TEST Hit the device button at 15:39:30.

(Before serval tests to get familiar with the proceedings.)

[2021-03-27 15:05] keunes commented on #5050
I don't think it's a matter of developer vs user :slightly_smiling_face: For me it's more of a project thing - whether it aims to be simple to use for every soul, or offer all possible options. AntennaPod [leans](antennapod.org/about/) towards the former. (Side note: I'm not a developer :wink: )

I see what you mean, but to be honest that's not the point of a sleep timer. Its purpose is to allow y

[2021-03-27 16:02] CreamyCookie commented on #5050
I guess we'll disagree on this. I don't see how having another option makes it less simple to use for anyone.

I agree, and was wondering about this. At the same time it seems sub-optimal to simply remove a timer and not let the user know.. Maybe it's okay.

I didn't mean that you use it without listening. I was talking about the edge case where you listen, but then look something up.

[2021-03-27 18:21] CreamyCookie opened #5056 "Add "Downloaded and unplayed" option to UI preferences / Subscription Counter"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# Feature description

Currently we have these options for counters

*  Number of new and unplayed episodes
*  Number of new episodes
*  Number of unplaye

[2021-03-27 22:18] uli-on commented on #5029
Please verify whether this might have to do with the "skip last n seconds" setting.

[2021-03-27 22:25] peterjanes commented on #5029
@uli-on Are you asking if people experiencing the issue have that enabled? I don't have the skip setting turned on but still see the problem.

[2021-03-27 23:57] uli-on commented on #5029
I've just set a a quick test with 3x setting a skip n seconds to some value and another 3x resetting to zero, and the progress bar remains with any value other than zero while it is removed with a value of zero.
The episode is removed, though, from the waiting queue (my translation of the German term "Warteschlange".)

[2021-03-28 00:06] uli-on commented on #4853
The issue has reappeared somehow, while it was gone immediately after the update.

@bytehamster you asked "Does the navigation/menu icon re-appear when selecting another page using the side menu?"

While the behaviour I saw back then was negative, i. e. the icon didn't re-appear, it now does. Yet, I still have no "steps to teproduce" recipe for you, sorry.

[2021-03-28 00:20] uli-on commented on #4853
Forgot to mention that your method to reproduce, two posts above, now makes the back arrow top left on the screen not work (or appear in place of the menu icon?), i. e. you re-open the app, are in an episode, click the said arrow (works and brings you to the list of episodes), then another arrow appears (broken, nothing happens on tapping) while I'd expect the menu icon to be there where the arrow

[2021-03-28 00:35] peterjanes commented on #5029
Also not using the playback speed features here. Just plain playing podcasts from the queue.

[2021-03-28 12:02] keunes opened #5057 "Remove Image cache setting"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same feature request.
- [ x] I will only create one feature request per issue.
- [ x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.2.0-beta2

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**: Us

[2021-03-28 12:09] keunes opened #5058 "Add link to relevant settings screen in 'Episode cache full' dialog"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same feature request.
- [ x] I will only create one feature request per issue.
- [x ] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.2.0-beta2

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**: us

[2021-03-28 12:20] keunes commented on #4671
@AbelLykens @jmikedupont2 Other apps are now starting to implement sats streams & boosts, and a service has emerged that makes it easier for podcasters to set up their wallet. It would be interesting to get the discussion going about implementation in AntennaPod. Would you be interested in continuing the conversation (in a new thread) on the forum? (It's a bit easier to interact, quote, etc - once

[2021-03-28 12:31] keunes opened #5059 "AP crash after hitting 'Play' when connected to ChromeCast"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [ x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.2.0-beta

**App source**: Google Play

**Android version**: 10

**Device model**:

[2021-03-28 20:49] ByteHamster commented on #5058
Highlighting could be hard (after searching, it is handled by the search library) but adding the button and opening the screen should be pretty doable for new contributors.

[2021-03-28 20:52] ByteHamster commented on #5057
My idea was to just use two steps. By default, use 150 MB (default currently is 100 MB). If the available phone storage is very low (maybe <300 MB), switch to only 25 MB of cache. Actual numbers are up to discussion :)

[2021-03-28 21:04] ByteHamster commented on #5029
When using the auto-skip feature, keeping the position is currently actually intended. If you sometimes still want to hear the skipped part, you can just press "play" again. The missing reset described above sometimes happens even if skipping is turned off (because two parallel parts of the code are sometimes executed in the wrong order).

[2021-03-28 21:21] ByteHamster commented on #4853
The fix is not yet released ;) It will be in 2.2.0, which is currently in beta on Google Play.

[2021-03-28 23:02] uli-on commented on #4853
OK, great. I simply wrote about my observations (like always) after two updates. Will wait for 2.2.0 to come to F-Droid.

[2021-03-29 05:30] protist commented on #4844
Alternatively, I'd love an option to just disable this feature. I never remove things from the queue once they are in, and hence I've only swiped away by accident.

[2021-03-29 06:57] peakvalleytech commented on #4902
I can get this done. I just need you to clarify the  last part about  ' recent search terms or live suggestions on the screen.' That would be awesome.

[2021-03-29 07:29] keunes commented on #5058
Ok. I'd say highlighting is an extra - fine to not have it.

[2021-03-29 07:31] keunes commented on #4844
@protist Locking the queue will remove the ability to swipe. You can keep it sorted is one of the many sorting mechanisms and selecting 'keep sorted'.

[2021-03-29 08:16] protist commented on #4844
Sorry @keunes, I should have mentioned. I got here from the forum linked in the OP, so I did see your suggestion there. I'm actually moving episodes around all the time, so I'd prefer to keep it unlocked if possible. Cheers.

[2021-03-29 18:53] senpl opened #5060 "Option to not increase music speed"
name: Feature request
about: Option to not increase music speed

---

# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe
# System info

**App version**: 2.1.3

# Feature description
Currently speed could be increased. But this also affect music, which

[2021-03-29 19:12] betsythefc opened #5061 "episodes marked as played on other devices are not marked as played on AntennaPod through gpodder"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.4 (62b6ec121)

**App source**: F-Droid

**Android version**: 10, Android security p

[2021-03-29 19:12] betsythefc commented on #5061
(edited original post to correct version number `2.4.1` -> `2.1.4`)

[2021-03-29 21:43] GraoMelo opened #5062 "add release v2.1.4 on releases url & f-droid repo"
please add the All release apk and if possible to the f-droid repository the version that is there is different from the last one already released which includes worse Performance on newer Android versions

https://github.com/AntennaPod/AntennaPod/releases/tag/2.1.4
( does not have the apk )

[2021-03-30 03:15] yang opened #5063 "Keep played episodes in queue"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.3

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:

First off,

[2021-03-30 07:07] keunes commented on #5060
Hello
Thank you for chipping in. At the moment AntennaPod wouldn't know what is music and what isn't. AI-like detection of what is music and what isn't, I think is out of scope of this project.

However, when https://github.com/Podcastindex-org/podcast-namespace/issues/144 gets implemented AntennaPod _can_ probably (hopefully, depending on tag implementation) know what is music.

But I reckon some

[2021-03-30 09:25] ByteHamster commented on #4902
Showing recent search terms is probably easier at first (when clicking the search field, show recent searches. When starting to enter text, hide them). The live suggestions need a bit more work, so I would only start with recent searches for now.

[2021-03-30 09:31] ByteHamster commented on #4844
Why do users lock the queue? There seem to be users who lock+unlock the queue frequently and therefore want the toggle to be displayed prominently. If we can solve the use-case without the user having to toggle the state back and forth, we can remove that button, which is still confusing for some users. Would adding two app settings, "queue swipe action" and "queue reordering enabled", solve this?

[2021-03-30 09:32] bennyhillthebest opened #5064 "Mobile data updating operations don't respect cover art option"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [ ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: AntennaPod 2.1.3

**App source**: Google Play

**Android version**: AOSP Extended 6.7 (

[2021-03-30 09:47] ByteHamster commented on #5062
Sorry, that's a lot more work for the developers. It would result in less time for actual development.

If you mean the beta releases, they are only available on Google Play because that store makes it possible to stop roll-outs in case of a bug. If you mean 2.1.3 vs 2.1.4, they are identical. There was just a little change to the build system to make the F-Droid build machine happy.

Please file

[2021-03-30 09:47] #5062 closed

[2021-03-30 12:03] protist commented on #4844
@ByteHamster I can't speak for the "queue reordering enabled" part, because I would never disable that anyway, but a setting to disable "queue swipe action" would be perfect for me. I agree that having the lock button so prominent might be unnecessary if these settings were added.

[2021-03-30 18:03] kevincox commented on #5063
Another option would be some sort of "listen history". But I agree that it might make surface in the queue at least in the UI. For example sorting the queue probably shouldn't sort played episodes.

[2021-03-30 18:48] ByteHamster commented on #5063
There already is a playback history in the sidebar. Maybe you have hidden the menu entry by long-pressing.

That's exactly what the playback history screen is made for :)

[2021-03-30 18:54] GiTimm opened #5065 "multiple podcast subscriptions after complete synchronisation with gpodder.net for podcast with podigee.io url"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.2.0-beta2 (9f88e3c7c)

**App source**: F-Droid

**Android version**: 9

**Device mode

[2021-03-31 06:44] aksell commented on #1946
I'd love to try out your current implementation @mcaap . I see you've made a [fork](https://github.com/mcaap/AntennaPod-with-Notes) for the "with notes" modification, but I couldn't find the modification on any of the branches there. If you'd be up for pushing your modfication I'll happily try it out / start using it :)

[2021-03-31 08:12] ByteHamster commented on #1946
The code structure looks pretty nice. Would be great if you (or someone else) had the time to open a pull request to get it into the official app, so everyone can use the feature :)

[2021-03-31 09:30] mcaap commented on #1946
Thanks @ByteHamster
PR https://github.com/AntennaPod/AntennaPod/pull/5068

[2021-04-01 13:29] ueen opened #5069 "search spotify"
I don't know if you know about this, but there's a possibility to get a RSS feed from spotify and add it and listen to episodes in AntennaPod.

Would you even be open to add that to the app as an option?

I'm thinking like this: Search Spotify -> search via https://www.google.com/search?q=SEARCHTERM%20site%3A%20open.spotify.com%2Fshow%2F&ie=utf-8, parse links, change domain to spotifeed and displa

[2021-04-01 13:32] ueen commented on #5069
Sorry dupe https://github.com/AntennaPod/AntennaPod/issues/5025

[2021-04-01 13:32] #5069 closed

[2021-04-01 17:46] WiliTest opened #5070 "feature request: an option to auto rewind (during x seconds) when we press play."
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: x.y.z
2.1.3
**App source**: Google Play

# Feature description
It would be great if it could autorewind (for a custom dura

[2021-04-01 18:30] WiliTest opened #5071 "feature request: play next (local) file automatically (without having to use the "queue")"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**
2.1.3

**App source**:
 Google Play

# Feature description
I use antenapod to listen to podcasts, and another app ([Voice](

[2021-04-01 19:03] Matth7878 commented on #5070
There is already a rewind depending on how long episodes has been stopped.
Here the link which explain how it works : [issue 2364](https://github.com/AntennaPod/AntennaPod/issues/2364#issuecomment-659591560)

@ByteHamster and @keunes maybe this should be added to documentation on website. It is something frequently requested.

[2021-04-01 19:25] maakuth commented on #4455
This happened to me with Samsung Galaxy S20 and it was fixed by disabling battery optimisation for AntennaPod. It would be great if this case could be detected and a warning could be shown to the user to check the battery settings, it would be helpful.

[2021-04-01 22:03] silpol opened #5072 "adding OpenCollective donation to AntennaPod repo"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.

# Bug description

**Steps to reproduce**:
1. Open github repo
2. Check on right side
3. Lookup for "Sponsor this project" string

**Expected behaviour**:

It should list OpenCollective icon and AntennaPod nickname,

[2021-04-01 22:27] ByteHamster commented on #5072
Actually, not promoting the donations is intentional. AntennaPod does not need money - it needs contributors who help with translations, user support or coding. The running costs are no problem at all. So whenever a person does **not** find the donation page and then decides to contribute a translation instead, it does much more good for the project :)

We eventually might list the link on the web

[2021-04-02 11:53] ByteHamster commented on #5070
:+1: Would you (or @WiliTest) be up for writing the documentation text? :)

[2021-04-02 12:32] ueen opened #5077 "[feature] No Chapters behaviour"
# Checklist

- [ x] I have used the search function to see if someone else has already submitted the same feature request.
- [ x] I will only create one feature request per issue.
- [x ] I will describe the problem with as much detail as possible.

# System info

**App version**: latest

# Feature description

**Problem you may be having, or feature you want**:
Often (i guess depending on the podc

[2021-04-02 12:36] ByteHamster commented on #5077
Duplicate of #2293. The chapter button is already greyed out to indicate that there are no chapters. Hiding it completely would be confusing.

[2021-04-02 12:53] ByteHamster commented on #5065
Duplicate of #2214. See that issue for more details about why it happens. Basically, AntennaPod follows the redirect to the new url and gpodder does not follow it. When doing a dull sync, we don't know that the old url from gpodder refers to the same podcast as the redirected one. I think it might be enough to simply delete the subscription with the old url on the gpodder website but I have not tr

[2021-04-02 12:53] #5065 closed

[2021-04-02 13:02] ueen commented on #5077
Ah didnt notice, ok so its easy to detect, would you accept a PR with an option (disabled by default) to add this behaviour? :)

[2021-04-02 13:03] ueen commented on #5077
Or often there are timemarks in the description, could they be parsed to chapters?

[2021-04-02 13:06] ByteHamster commented on #5077
Nope, sorry. We try to reduce the number of settings, not add even more. If you want to read about why more settings is usually not a good thing, have a look at this blog post: https://ben.balter.com/2016/07/21/removing-a-feature-is-a-feature/

It would be unreliable and look crappy in many cases. It would be better to contact the publisher instead and ask them to use proper chapters. See also htt

[2021-04-02 14:45] ueen commented on #5077
Yea I dont like bloated settings either, but even more i dislike empty fragments i think hiding would be way better, but if i'm the only on i guess greying out is tolerable.
Is there a way to quiz the userbase/a few active users wether they prefer an empty ChaptersFragment or hiding it?

Sorry for bringing up duplicates, proabably should 've searched the issue/forum better next time 😅

[2021-04-02 15:08] ByteHamster commented on #5077
User surveys are a lot of work. In 2020, the new icon poll took us months of preparation, pre-tests, rewording and more pre-tests. For now, I would prefer to not do another survey. When #4935 is implemented, we can maybe consider hiding empty tabs (because then the number of tabs will likely increase).

[2021-04-02 15:08] #5077 closed

[2021-04-02 15:15] ueen commented on #4935
I like to add an idea mentioned in the issue above: **hide empty tabs** - that could be empty transcripts and especially nonexistent chapters, if only one tab remains the tablayout itself should probably be hidden.

I think thats a sensible solution, to not crowd the AudioPlayer with empty tabs and require to user to swipe a thousand times to get to the desired tab, makes the UX clearer :)

[2021-04-02 15:19] ueen commented on #5077
Fair enough, the icon does look great though!

[2021-04-02 15:21] ByteHamster commented on #5077
If you are interested in the icon process, have a look at https://antennapod.org/blog/2020/09/new-icon

[2021-04-02 16:18] #4975 closed

[2021-04-02 16:21] ByteHamster commented on #4792
Should be fixed in #5076

[2021-04-02 16:33] ByteHamster commented on #5071
This is already tracked in #1533. Closing this one to keep the discussion in one place.

[2021-04-02 16:33] #5071 closed

[2021-04-02 16:36] ByteHamster commented on #5064
AntennaPod caches the cover icons. So if you disable the option and refresh, the covers are usually loaded from the local storage, not from the internet. If you want to verify that the setting works, you can clear AntennaPod's cache (not data!) using the Android system settings and then restart the app between steps 2 and 3.

[2021-04-02 16:40] ByteHamster commented on #5059
I think this is a duplicate of #4429 (at least the stack trace is basically the same). Unfortunately, I cannot reproduce the problem. Closing this one to keep the discussion in one place.

[2021-04-02 16:40] #5059 closed

[2021-04-02 16:43] ByteHamster commented on #5027
I'll close this because I think we already have the feature :)

[2021-04-02 16:43] #5027 closed

[2021-04-02 16:45] ByteHamster commented on #5009
To be honest, I would not do that. AntennaPod's screens already are pretty cluttered. Adding more visual indicators (or settings) will not make that better. I think it's fine if users discover that option later by accident instead of promoting it too much.

[2021-04-02 17:03] ByteHamster commented on #4845
I agree. Temporary solutions tend to be permanent, so we should only add it in the proper place.

[2021-04-02 17:03] #4845 closed

[2021-04-02 17:08] ByteHamster commented on #2463
We disabled WriteAheadLogging (WAL) for the database at some point because it breaks database exports. Maybe we should write another way to export the database (using proper sqlite to copy the database instead of just copying the file) and re-enable WAL. If anyone is up for rewriting the backup feature, that would be greatly appreciated :)

[2021-04-02 17:19] elmussol opened #5080 "Add local folder doesn't see ogg files"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [ x] I will describe the problem with as much detail as possible.
- [ x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.4

**App source**: F-Droid

**Android version**: 7.1.2 equivalent on LineageOS ch

[2021-04-02 20:33] ankit58 commented on #5080
Hey Can I work on this issue ?

[2021-04-02 20:40] ByteHamster commented on #5080
This was already fixed in #5039 and will be released in AntennaPod 2.3.0 (the 2.2.0 beta is already released on Google Play, so it does not go into that version)

[2021-04-02 20:41] #5080 closed

[2021-04-02 21:34] elmussol commented on #5080
My apologies for only searching in open issues. Glad to see it is sorted. Thank you.

[2021-04-03 09:37] Matth7878 commented on #5070
I can try to do something.
I don't think there is a lot to add besides how much it rewinds.

[2021-04-03 12:54] #5072 closed

[2021-04-03 13:00] ByteHamster commented on #5070
Thanks @Matth7878!

Closing this issue to keep the list of issues clean.

[2021-04-03 13:00] #5070 closed

[2021-04-03 13:03] ByteHamster commented on #5064
Oh, looks like I was wrong. It does indeed load new icons, even if you disable the setting.

[2021-04-03 13:11] Matth7878 commented on #5070
I create a PR on antennapod.github.io
Hope I get it right ! Critics are welcome !

[2021-04-03 13:42] ByteHamster commented on #2463
Hmm. Maybe the missing synchronization [here](https://github.com/AntennaPod/AntennaPod/commit/998535515bae8ec5bcd2bd95bc0cf4f34416dff7#diff-3d9ac358e65fa67f1191d79546e0e7e253e8c2b19c6af602ab5bdc5d89eab856R334) actually is the problem?

[2021-04-03 14:07] ByteHamster commented on #4846
Thanks! I extracted the most interesting lines from the log file. Looks like AntennaPod received a "play" button press at `15:39:32`, which is directly after the Bluetooth device was connected. So it seems to be caused by the headset.

[code]

[2021-04-03 14:12] marcblum-ac commented on #4846
Ok, this seems understood. I'll do another test with my car being the BT-device.

[2021-04-03 15:13] gpersons opened #5082 "Continuous playback"
I have continuous playback off, but it always starts the next podcast.  Also, when using bluetooth in my car, there's no way to pause playback. I hit pause and it resumes in a few seconds. Even exiting the app, playback continuous. I have to turn off bluetooth in order to get it to stop.

[2021-04-03 15:15] #5082 closed

[2021-04-03 15:15] gpersons commented on #5082
Sorry I'll try to do it correctly.

[2021-04-03 15:37] gpersons opened #5083 "Possible bug - continuous playback"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same bug report.
- [ x] I will describe the problem with as much detail as possible.
- [x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: x.y.z
 2.1.3 (f7409c08a)

**App source**: Google Play / F-Droid / ...

**Android ver

[2021-04-03 19:36] gpersons commented on #5083
I added a new podcast and so far it's not continually playing.

[2021-04-04 06:51] tamizh143 commented on #5058
Hi , I would like to work on this enhancement

[2021-04-04 08:59] bones-shift opened #5084 "Can't update (Read only file system)"
Android version: 10
OS version: 4.9.190
AntennaPod version: 2.1.4
Model: LM-X430
Device: mmh55lm
Product: mmh55lm_f
![Screenshot_20210404-055822](https://user-images.githubusercontent.com/62573813/113503844-cf982b80-950a-11eb-8a07-fdc96058d607.png)

[2021-04-04 11:28] ByteHamster commented on #5058
Awesome! Just open a pull request when you are done :)

[2021-04-05 13:18] jhenninger commented on #4844
I just spend way too long to find the lock queue function lol. Is it intentional that the lock button is hidden while "keep sorted" is active? I had to deactivate "keep sorted", lock the queue, then activate "keep sorted" again.

[2021-04-05 15:39] ByteHamster commented on #4935
@tonytamsf Any idea how to implement the data store? Downloading all transcripts of all episodes could result in a huge amount of text to be stored. We already have the problem that the database is pretty big. I think it would be better to only store the URLs and then load the transcript when actually viewing the transcript page in AntennaPod. We could enable caching with okhttp to reduce the numb

[2021-04-05 19:07] peakvalleytech commented on #5046
I like that idea, but instead of just showing the number selected we could show it as 'number selected / total number'. For example, 4/25 would mean 4 podcast selected out of 25 total. That way, user doesn't have to select all just to count them. It is more intuitive in my opinion.

[2021-04-05 19:10] peakvalleytech commented on #5046
Another idea would be to just show a small number at the top of the list for episodes and podcasts.

[2021-04-05 22:28] datavizard commented on #5022
Hi. Couldn't work on this past couple of weeks due to a hectic schedule, but today I have resumed working on this issue. I went through the code and added the `SwipeRefreshLayout` listener in the `onCreateView` method of `QueueFragment` class. I also made changes in the file `queue_fragment.xml` where I added the `SwipeRefreshLayout` widget tag and inside that tag I moved `EpisodeItemListRecyclerV

[2021-04-05 23:43] thestupidestthing opened #5087 "pressing "pause" during playback w/chromecast audio causes a seek to much earlier position (akin to super rewind)"
**UPDATED**

---
name: Bug report
about: Pause triggers inexplicable position reset when casting to Google Chromecast Audio device.
labels: 'possible bug'

---

# Checklist
- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] ~~If the bug only to occurs with a certain podcast

[2021-04-06 06:52] tonytamsf commented on #4935
I like your idea, there is no need to store transcription.  Depending on the user, they may not want to be downloading transcript using mobile data, so we might have to get user consent to use mobile to download transcript.

[2021-04-06 06:54] tonytamsf commented on #4872
@keunes Please assign to me since I worked on the remain time and the widget code recently

[2021-04-06 06:55] tonytamsf commented on #4747
I agree with this, I like to switch to Chinese or English

[2021-04-06 08:35] Matth7878 commented on #4935
Why not storing transcript on file text on device? Same way episodes are stored. They would be removed along with episodes and it would allow to make them available like episodes are.

[2021-04-06 08:39] Matth7878 commented on #4872
It would probably need another issue but player in notification should also respect setting.

[2021-04-06 11:36] Matth7878 commented on #5084
You are probably missing authorization for AntennaPod.
Can you check AntennaPod has file access right and that it is not set to blocked / refused?

Please note also that you're supposed to respect template to write an issue and that for support it is better to use AntennaPod forum.

[2021-04-06 15:58] ByteHamster commented on #5084
AntennaPod shouldn't actually need the file access permission. It only allows selecting data folders that are accessible by the app anyway. You can try changing the data folder and see if it helps.

[2021-04-06 15:59] ByteHamster commented on #4872
The notification is managed by the Android system. We don't actually show the progress bar there explicitly. So I think we cannot control the time there.

[2021-04-06 16:01] ByteHamster commented on #4935
Sounds like a good idea. When streaming, users need a data connection anyways. When downloading, we can download the transcripts, too. :+1:

[2021-04-06 16:15] #4571 closed

[2021-04-06 16:23] ByteHamster commented on #5022
Looks like something is wrong with the `layout:below` attributes inside the `RelativeLayout`

I would keep the button for now. It is currently used to indicate the fact that something is refreshing.

[2021-04-06 20:52] #5058 closed

[2021-04-07 05:58] tonytamsf commented on #2492
I think this problem is resolved in 2.2.0-beta2 currently available to users who sign up for the Play Store beta channel.

[2021-04-07 16:45] tamizh143 commented on #5034
Hi, I would like to work on this issues

[2021-04-07 20:07] ByteHamster commented on #5034
Awesome! :)

[2021-04-07 20:09] ByteHamster commented on #2492
Thanks, let's close this issue. There has not been a lot of activity in the past few years and if someone still experiences the problem in 2.2.0, we can always re-open :)

[2021-04-07 20:09] #2492 closed

[2021-04-07 20:11] ByteHamster commented on #5087
Does this happen with all podcasts or just some? What AntennaPod version? What Android version? Where did you download the app? (basically all questions from the issue template would be helpful to know)

[2021-04-07 21:06] tonytamsf commented on #2492
I have been using 2.2.0-beta3 and this particular problem no longer exist, also @ByteHamster thanks for inviting me into the AntennaPod org.

[2021-04-07 22:35] datavizard commented on #5022
Thanks @ByteHamster, your pointer helped me out. Also the design view to check the XML layouts helped me see the UI and fix the problem. By putting the `android:layout_below="@id/divider"` in the `SwipeRefreshLayout` tag itself, issue got resolved.

![image](https://user-images.githubusercontent.com/44409076/113943095-94a23a80-981f-11eb-97a0-fe19d24fd7f4.png)

I'll be raising the PR to close this

[2021-04-07 23:02] datavizard commented on #5057
Here image cache means the cover or thumbnail images which are stored locally on the device, right? So, what happens currently when that 150 MB limit is reached?

[2021-04-08 00:37] tonytamsf commented on #3275
@javissimo What was the title of the episode or are you saying you are getting every episode twice?  This sounds like an issue with gpodder syncing.  But I think my PR here could address that duplication as well, but unfortunately it might hide the real cause of the problem.  https://github.com/AntennaPod/AntennaPod/pull/4839

[2021-04-08 07:06] keunes opened #5090 "'Shownotes' tab title size keeps changing"
# Checklist

- [ ] I have used the search function to see if someone else has already submitted the same bug report.
- [ x] I will describe the problem with as much detail as possible.
- [x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.2.0-beta3

**App source**: Google Play

**Android version**: 10

**Device model**:

[2021-04-08 07:14] keunes opened #5091 "Play screen Play/Pause icon not filled (just outline)"
# Checklist

- [ ] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [ x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.2.0-beta3

**App source**: Google Play

**Android version**: 10

**Device model**:

[2021-04-08 11:01] ByteHamster commented on #5090
That's a weird glitch 😆 I don't have that on my device. I also see no way this could be caused by beta3, except that maybe the translation changed between the beta versions. Is the size change always synchronized with the playback position updates?

My only guess is that every time we update the playback position, Android re-calculates the whole layout and can't really decide if the big font size

[2021-04-08 11:04] ByteHamster commented on #5091
It's only temporary, right? Then I would say we can live with it for now and fix it in 2.2.1 instead. The reason is that PlaybackController tries to be smart and automatically chooses the icon for both video player and audio player. Instead, it should just choose the **state** of the icon, not the actual image.

[2021-04-08 12:33] tonytamsf commented on #5090
Wow, it seems odd that the layout would change that often during playback.   Does this happen only on certain podcasts?  I was thinking something with the images in the show notes or a tracking hack embedded in the show notes?

Also if you stay in the playback tab, and not the show notes tab for that episode, does the 'shownotes'  still behave like you originally showed us?

[2021-04-08 15:51] struggggle opened #5092 "When click “Add Podcast" repeatedly, the same images are decoded repeatedly"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.2

**App source**: F-Droid

**Android version**: 8.0 (Please mention if you are usi

[2021-04-08 19:37] tonytamsf commented on #5092
@struggggle nice report.  Is this something you would be able to submit a PR to fix?

[2021-04-08 21:06] keunes commented on #5091
Yeap

I guess so. Are you suggesting this was present before 2.2.0? Or beta3 is expected to be the last before release?

[2021-04-08 21:14] ByteHamster commented on #5090
The English "translation" changed, too. From "description" to "shownotes". We could try upgrading the UI library and see if that helps but to be honest, I am a bit worried about doing that just before a release.

[2021-04-08 21:30] keunes commented on #4935
I'm just wondering: this wouldn't hinder 'processing' the info (esp. timestamps, for # 4 in OP).

Just to throw an idea out: couldn't this be done, but then in the db? As in, download & store in db when episode is downloaded; remove from dB when file is deleted? (Don't know if this would have any actual benefit, see above).

[2021-04-08 21:37] keunes commented on #4747
Ok, a discussion about a new discover screen is here on the forum: https://forum.antennapod.org/t/feature-rich-podcast-index-based-discover-screen/773?u=keunes

Please all be invited to contribute there! Will lock this issue until a conclusion is reached there, and technical details here can be described for implementation.

[2021-04-09 04:47] tamizh143 commented on #5058
You're Welcome @keunes :)

[2021-04-09 05:30] keunes commented on #5090
Ah, right, of course. I guess that was it, then.

As a starter I can download a debug APK, to see if it would solve the issue?

Not sure how many phones would be impacted (is it related to my screen size?), but current state isn't really production-ready, if you ask me. It's too distracting.

[2021-04-09 06:37] keunes commented on #5057
Correct

Was wondering as well. Answer is [here](https://github.com/AntennaPod/AntennaPod/issues/4254#issuecomment-765990957)

New podcast images aren't loaded/older ones are deleted when new ones are downloaded (don't know which one). In any case a user would have some grey blocks instead of images, with just the podcast title (as sometimes happens already) in the Subscriptions screen.

~~The mor

[2021-04-09 06:45] Matth7878 commented on #4935
I don't think storing and using text files would cause any problem : it is what video player does with srt files for subtitles.

[2021-04-09 06:54] ueen opened #5093 "stream -> downloaded"
# Checklist

- [ ] I have used the search function to see if someone else has already submitted the same bug report.
- [ ] I will describe the problem with as much detail as possible.
- [ ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

A40 Android 11

**App version**: x.y.z

Latest

**App source**: Google Play / F-Droid / ...

Play

**And

[2021-04-09 06:55] keunes commented on #5046
Nice idea. And in addition, the screen title can include always the number of subscriptions: "Subscriptions (24)"

That way one doesn't have to select anything in order to see the number.

[2021-04-09 13:28] tonytamsf commented on #5090
@keunes if you change the font size in you Android phone setting to be larger or smaller, does this problem still happen?

For the FP3 phone, do you have the screen size spec so I can simulate it?

[2021-04-09 13:34] tonytamsf commented on #5057
I think when the cache is reach, AP would fetch the non cached image over the network (wifi or Mobile data)

Grey images is because you probably did not enable downloading images on mobile under the Preference - Network - Mobile Updates - Cover Image

[2021-04-09 14:35] tamizh143 commented on #5034
Hi, Any suggestion for filter names used.

[2021-04-09 17:40] ByteHamster commented on #5090
I just upgraded the library. Now I can reproduce a similar issue on my device :D While scrolling, the underline of the tabs jumps around. I have an idea what could be causing this and will create a PR soon.

[2021-04-09 18:27] svuorela opened #5095 "Multiple play queues"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.4

**App source**: F-Droid

# Feature description

**Problem you may be having, or feature you want**:
I listen to two

[2021-04-09 18:32] ByteHamster commented on #5090
My idea was wrong and I don't know what causes this. My way of reproducing also works in beta2, as well as in the very first commit that introduced the tabs (#4731). Probably the text change in beta3 triggered this for you and the underlying bug was always present.

Currently working on deleting a bunch of code to get a smaller example fragment that still has the problem and is not influenced by t

[2021-04-09 19:00] ByteHamster commented on #5090
Minimal layout for reproducing the problem:

<details>
  <summary>Click to expand!</summary>

[code]

</details>

No more flickering when setting `android:layout_alignParentTop="true"` to the TabLayout. Obviously, it no longer shows the Views correctly then. Apparently, the RelativeLayout sometimes re-layouts its children when the TextView is updated. No more flickering when wrapping the toolbar a

[2021-04-09 21:33] ByteHamster commented on #5034
Sounds good :) Maybe just "Notifications en/disabled" without the word "episode" would be a bit shorter and still understandable

[2021-04-09 21:39] ByteHamster commented on #5046
To be honest, I would prefer to not always show the total number (but showing selected+total during selection sounds great). Every time we show more information, the screens get a tiny bit more cluttered and therefore harder to use for new users. Your number of subscriptions is probably not a thing you want to monitor every day, just occasionally. So it does not have to be always displayed.

[2021-04-09 21:40] keunes commented on #5095
Hi @svuorela
Thanks for chipping in. Please have a look at #2648. Seems to be what you're looking for. There's also a link to the relevant forum post there.

[2021-04-09 21:40] #5095 closed

[2021-04-09 21:53] ByteHamster commented on #4935
Storing it in the database but only for downloaded episodes should work :) Then we don't need to store the file path, we can just store the transcript directly.

[2021-04-09 21:56] ByteHamster commented on #5092
Glide already does in-memory caching. Maybe you have too many images to do that or maybe your phone does not give AntennaPod enough RAM for all images? I'm not very motivated to dig into this, so it would be great if you could come up with a PR. Please also keep in mind that we should not sacrifice playback stability just to get more images cached.

[2021-04-10 00:04] tamizh143 commented on #5034
I expected shorter one. Thanks @ByteHamster. I will use this :)

[2021-04-10 01:15] peakvalleytech commented on #4577
@keunes  @ByteHamster  So should I proceed in implementing the button while the home screen is still being finalized?

[2021-04-10 01:49] peakvalleytech opened #5096 "Shows number of episodes before subscribing."
# Checklist

- [ ] I have used the search function to see if someone else has already submitted the same feature request.
- [ ] I will only create one feature request per issue.
- [ ] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.2.0-beta1

**App source**: Google Play / F-Droid / ...
From build

# Feature description

**Problem you may be having, o

[2021-04-10 06:30] keunes commented on #5096
Why should we have this, apart from similarity with other apps?

[2021-04-10 06:36] keunes commented on #4577
If @ByteHamster agrees, I'd say Go for it :)

[2021-04-10 06:46] keunes commented on #5090
Yeap, here you go:
5.65 inch
18:9 aspect ratio
2160 x 1080 resolution
427ppi pixel density

[2021-04-10 06:47] keunes commented on #5057
Ah, thanks for the explanation! :)

[2021-04-10 06:56] keunes commented on #3952
Another idea for home screen: play random episode (#4845)

[2021-04-10 07:04] keunes opened #5099 "Rewrite database export"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same feature request.
- [ x] I will only create one feature request per issue.
- [x ] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.2.0-beta3

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:

*

[2021-04-10 08:16] ByteHamster commented on #5090
I just implemented the layout changes. Could you please test the apk here (as soon as the build is ready, which might take 10 minutes or so)?

https://app.circleci.com/pipelines/github/AntennaPod/AntennaPod/3396/workflows/2eca9193-eb5d-437f-8bdf-a866f6ddb2f7/jobs/19703/artifacts

[2021-04-10 08:35] #5034 closed

[2021-04-10 08:38] ByteHamster commented on #5093
This is already tracked here: #4858. Closing this one to keep the discussion in one place.

[2021-04-10 08:38] #5093 closed

[2021-04-10 08:48] keunes commented on #5090
Yup, seems to have fixed it! :)

[2021-04-10 08:52] keunes commented on #5091
Is this also covered in the same build I downloaded to test the tab flickering? In my one-minute-test I didn't see this issue.

[2021-04-10 09:02] ByteHamster commented on #5090
Okay, merged. Will be in beta4 (or in the final release if we don't need more beta versions, which I hope)

[2021-04-10 09:02] #5090 closed

[2021-04-10 09:08] keunes opened #5101 "Reduce number of spinners"
# Checklist

- [ ] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.2.0-beta3

**App source**: Google Play

**Android version**: 10

**Device model**:

[2021-04-10 09:36] ByteHamster commented on #5101
The spinners all have slightly different purpose.

1. ActionBar spinner:
  ![image](https://user-images.githubusercontent.com/5811634/114264910-0334f300-99ee-11eb-9136-48917a147c29.png)
  Shown when currently looking for new episodes of that podcast.
2. Pull-down spinner:
  ![image](https://user-images.githubusercontent.com/5811634/114264944-39727280-99ee-11eb-85f7-6eb89d939488.png)
  Shown to ind

[2021-04-10 11:20] marcblum-ac commented on #4846
Tested with my car as BT device. Interaction between car and Antennapod/smartphone now as expected. Nice. It appears to be fixed with this version.

[2021-04-10 12:13] #4846 closed

[2021-04-10 13:29] Matth7878 opened #5102 "Statistics screen - Add drop-down list to switch between all times and one year"
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.2.0-beta3
**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:
Transve

[2021-04-10 13:29] Matth7878 opened #5103 "Add more statistics to podcast info screen - Number of played episodes and info for latest played"
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.2.0-beta3
**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:
Transve

[2021-04-10 17:57] ByteHamster commented on #5102
A range slider would be pretty specific, while our collected data is not. I think a drop-down list for just the year would be a bit better, to be honest.

[2021-04-10 17:59] ByteHamster commented on #5103
How would this be integrated with the UI? Not sure if we should add more and more rows to that statistics table on the feed info page. A dedicated per-feed statistics page that can also be reached by clicking an item on the existing statistics screen?

[2021-04-10 18:27] Matth7878 commented on #5103
What you are suggesting if I understand correctly is what I suggested when first adding statistics info when you are viewing a subscription. (See #4579)
So I am all in to say it would be better to have a dedicated page to show statistic for a particular podcast.

[2021-04-10 18:34] Matth7878 commented on #5102
I don't understand because it feels to me that if a range slider wouldn't be able to show correct information how one for the year would be? Or do you mean statistics would only possible with end date always being now?

[2021-04-10 18:41] ByteHamster commented on #5103
I was more thinking about keeping the table like it is but instead of showing the "View statistics of other podcasts" text, just show "more" and link to the statistics page there. Keeps the podcast screen a bit more clean.

[2021-04-10 18:47] ByteHamster commented on #5102
We only store the last date that an episode was listened to, so if you listen to (parts of) an episode on different days, the statistics are no longer 100% accurate because everything is attributed to the second day. The longer we make the time range, the more accurate the statistics get because it is less likely to happen that a podcast gets attributed to the wrong period of time. I think users c

[2021-04-10 18:48] Matth7878 commented on #5103
I see, I agree it would be better to have a page dedicated to statistics for a particular podcast and it would really be great to have it accessible either from podcast info or statistics.
This way it would also doesn't matter how many statistics there is.

I will edit original comment to make it clear. Maybe title should be also changed but I have no idea how to. :-/

[2021-04-10 18:58] ByteHamster commented on #5103
There should be an edit button next to the title, see screenshot below

![image](https://user-images.githubusercontent.com/5811634/114281585-6bf88b80-9a3f-11eb-80fb-00bd238d5da9.png)

[2021-04-10 19:01] Matth7878 commented on #5102
Edited issue to just have a switch between all times and one year.

[2021-04-10 19:02] Matth7878 commented on #5103
I meant I have no idea how to reword title 😃

[2021-04-10 19:04] ByteHamster commented on #5103
Oh :D Just keep it like it is, then. Before someone actually implements something, they will probably read the comments anyway.

[2021-04-10 20:56] keunes commented on #5101
Thanks for the explanation. Sounds good!

[2021-04-11 00:50] peakvalleytech commented on #531
@ByteHamster I can work on thi.

[2021-04-11 01:16] peakvalleytech commented on #5046
@ByteHamster So should I proceed to resolve this issue?

[2021-04-11 07:56] rasferret opened #5105 "Time units in chapter marks tab are shifted"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: x.y.z

2.2.0-beta3 (d717ae1e2)

**App source**: Google Play / F-Droid / ...

Google Pla

[2021-04-11 08:57] ByteHamster commented on #531
Should this be coupled with the auto download filter? I feel like auto downloading and filtering based on text could lead to problems when it auto downloads episodes that are not displayed because of the filter. Also, do we really need two different, independent settings? The fewer settings we have, the better ;)

[2021-04-11 09:02] ByteHamster commented on #5046
This should be solved together with #4681, which is probably a pretty complex thing to implement.

[2021-04-11 09:04] LvZW1895 opened #5106 "Find a crash when add podcast!"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.3

**App source**:  self build

**Android version**: 9

**Device model**: HUAWEI SE

[2021-04-11 09:11] ByteHamster commented on #5105
What feed url do you use (copy from podcast info page)? Does it happen to all episodes or just some?

[2021-04-11 09:12] ByteHamster commented on #5106
This was already fixed (see #5008) and will be released in version 2.2.0, which is currently available in the beta channel on Google Play.

[2021-04-11 09:12] #5106 closed

[2021-04-11 09:44] LvZW1895 opened #5107 "A crash occasionally occur while using discover"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.3

**App source**: self bulid

**Android version**: 9

**Device model**: HUAWEI SEA

[2021-04-11 13:18] datavizard commented on #5057
So until the user clears the cache, for every image there would be subsequent network hits? Unlike, in case of cache being present, where only fetch would be done for the first time only. I understand that this is directly not related to this issue, but does AP clear disk cache on its own or offer any way to do so to the user?

I think I should be able to work on this. I went through the forums di

[2021-04-11 14:23] roerch commented on #4448
Just noticed the issue today and after googling found this issue. So for me this issue still exists.
OS: Android 11 (ver: April 5th)
Device: Pixel 5

A weird this is that I still see Spotify in the quick settings, but swiping left/right shows no further registered player, even though Antennapod is playing in that moment.

[2021-04-11 14:33] rasferret commented on #5105
The feed url: [Plötzlich Piratin](https://plotzlichpiratin.podigee.io/feed/opus)

It is the first time, I've noticed this.

[2021-04-11 14:49] ByteHamster commented on #5105
Just had a look at the files. The older ones were correct but in the newer ones they use a wrong format for specifying the chapter position. The required internal format of opus chaoters is `hours:minutes:seconds.milliseconds` but they use `minutes:seconds:milliseconds`. So it's the publisher's fault :) Please contact them about the problem, as AntennaPod can't do much here.

[2021-04-11 14:49] #5105 closed

[2021-04-11 15:09] ByteHamster commented on #5057
Only in the worst case when requesting images that have just been deleted from the cache. The Glide library deletes the least recently used image when the cache is full:

---

Glide clears the cache automatically. There is no need for user interaction or any specific code in AntennaPod. If users really want to clear the cache manually for whatever reason, they can do that on the app page from the

[2021-04-11 22:24] jhenninger commented on #4844
The YouTube watch later list shows a remove button when you try to swipe a video, maybe this would be a solution?

![image](https://user-images.githubusercontent.com/197274/114323411-61182680-9b25-11eb-99ab-5b83f0cea305.png)

[2021-04-12 02:52] peakvalleytech commented on #5096
I find it helpful for determining the quality of podcasts. It's similar to tv shows. The more seasons the better. And as i know you already know, all the major podcasts have it. I just thought it'd be nice, but if you guys to want it, we hold off on this for now.

[2021-04-12 09:01] herrdeh commented on #3046
[RFE]
This is a very useful feature. Could it be enhanced by "wind forward" and "rewind" (jump forward/back by the number of seconds which are set) features? - I'd like to shake my phone and skip ads or less interesting contents this way.

[2021-04-12 10:03] ismangil commented on #5102
Would there be scope then for expanding the listening data collected to make better stats?

[2021-04-12 12:22] DrMcCoy opened #5109 "Lock-up when swiping a feed to next episode"
# Checklist

- [X] I have used the search function to see if someone else has already submitted the same bug report.
- [X] I will describe the problem with as much detail as possible.
- [X] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.3 (f7409c08a)

**App source**: Google Play

**Android version**: 10 (QKQ1.191014.00

[2021-04-12 14:06] bce000 opened #5111 "AP keeps playing when killed in task manager"
# Checklist

- [ x] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [ ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

## Environment
Android version: 7.1.1
OS version: 3.10.84-perf-g99119bc
AntennaPod version: 2.2.0-beta

[2021-04-12 23:14] datavizard commented on #5096
+1 for this. I also find this feature quite helpful, often times I'm looking out for podcasts which sometimes narrate a story or an actual event and they do so in a season/episodes way, in which case I definitely look out for how many episodes are there and how long individual episodes are roughly, and based on those numbers I make my decision to commit to listening them or not.

Furthermore, I wo

[2021-04-13 06:08] Coninox commented on #4906
I mean the podcast specific setting, to exclude or include episodes to the automatic download functionnality.

[2021-04-13 13:06] rasferret opened #5112 ""Loading more" spinner can get stuck"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.2.0-beta3 (d717ae1e2)

**App source**: Google Play

**Android version**: 11

**Device

[2021-04-13 15:14] keunes commented on #5096
Ok, thanks for sharing that @peakvalleytech and @datavizard! Makes sense. I think it can be displayed at the opposite end of the 'Episodes' title (would right-aligned in the screenshot shared above).

I don't think we can rely on the RSS feed, though, as it often (e.g. for BBC ones) only includes the latest x (e.g. 10) episodes. So we'd need a central repository that has this info. The Podcast Ind

[2021-04-13 15:20] keunes commented on #3046
@herrdeh Could you please create a seperate issue fot that? Thanks! :)

[2021-04-13 15:27] keunes commented on #5102
@ismangil I think that should be covered in another issue (or forum thread). That would need further reflection & discussion (because of technical aspects), while this (a dropdown list using currently available data) has been approved already.

[2021-04-13 15:41] ByteHamster commented on #4844
Wouldn't that be a two-click approach then? That does not really have an advantage over just disabling the swipe feature and using long-press » Remove.

[2021-04-13 15:44] ByteHamster commented on #5096
If AntennaPod can't access the older episodes (because a publisher removed them without supporting "paged feeds"), I am not sure if we should really display the "full" number from PodcastIndex.

[2021-04-13 16:15] ByteHamster commented on #5102
To be honest, I think that such fine-grained statistics are out of scope. Statistics are fun but the main purpose of AntennaPod is to play podcasts, not to provide 100% accurate statistics. They would just fill the already huge database.

Maybe we can also make it possible to select months instead of just years. If you only listen to each episode once and complete it soon afterwards, the data alre

[2021-04-13 16:22] ByteHamster commented on #5109
Hmm, doesn't happen on my device (I tried repeating around 20 times). Some questions that might help debugging:

- How many episodes does the podcast have (you can see the number on the multi-select screen by selecting all)?
- Does this happen for all podcasts or just some?
- Do you have an insanely big database (how big is the database export file)?
- Does the Android system show an "App not resp

[2021-04-13 17:23] #5022 closed

[2021-04-13 18:38] DrMcCoy commented on #5109
The one this happened to right now was Radiolab, which has 168 episodes. It happened within the older half of the episodes, in case that's important.

I have only seen it happen on podcasts that are somewhat older, with more episodes. And it feels like it only happens with older episodes of these feeds. I have no hard evidence for that, though, and it might just be because I shorter feeds don't ha

[2021-04-13 19:48] ByteHamster commented on #5111
Do you mean swiping the app out of the app switcher? That's actually intended - most apps behave like this (try, for example, your music player). The app switcher does not kill apps, it just resets the state of the user interface but background services keep running. If you really want to force-stop an app, you can use the force-stop button in the phone's settings app.

[2021-04-13 19:51] ByteHamster commented on #5107
I think this should be fixed in the 2.2.0 beta versions (see #4889). If you still experience the crash in 2.2.0, feel free to comment, so we can re-open it.

[2021-04-13 19:51] #5107 closed

[2021-04-13 20:11] keunes commented on #5102
That might also work, yes. Do you know if there's a standard mongh-year selector that can be used and looks nice?

[2021-04-13 20:14] keunes commented on #5096
Because it better serves this use-case:

[2021-04-14 04:50] rasferret commented on #5112
Maybe this loading indicator should be removed completely. In my view it holds no special information and is redundant.

[2021-04-14 07:22] jhenninger commented on #4844
Yeah it would be a two-click approach.

[2021-04-14 07:45] sokai commented on #5112
Maybe duplicate: #5000 (?)

[2021-04-14 10:18] joaomgcd commented on #3046
Do you mean that if I simply support KEYCODE_MEDIA_REWIND and KEYCODE_MEDIA_FAST_FORWARD it should work? :)

[2021-04-14 10:33] herrdeh commented on #3046
I'm just a user. It sounds reasonable, but they I dont really have any knowledge about that.

Am 14. April 2021 12:18:17 schrieb João Dias ***@***.***>:

[2021-04-14 11:08] ByteHamster commented on #3046
Oh, hi @joaomgcd, nice to see you here :) Yes, exactly. AntennaPod already handles those key codes.

It is already possible to do it "manually" by crafting an Intent in Tasker but I think it would be easier to set up for users if you could add the media control keys. They are probably useful for other media apps, too :)

[2021-04-14 11:21] keunes commented on #531
Yeah, I agree that could become very confusing for users (even if it would work technically).

What about
* taking the Episode Filter setting out of the Auto Download settings to make it its own setting like the other podcast settings
* adding a toggle to the Episode Filter setting like "Also hide in the episode lists"

[2021-04-14 11:51] joaomgcd commented on #3046
Ok, added those 2 options to the **Media Control** action. Can you please try this version? https://drive.google.com/file/d/1SvQFvAxFwCk-hArfO_6wOH0UlvvMGi0z/view?usp=sharing

If you can, let me know if it works :) Thanks!

[2021-04-14 20:58] ByteHamster commented on #5112
The indicator is used when scrolling down in the "All" list to load a new bunch of episodes automatically. It should obviously not be shown on an empty "new" page :)

It's caused by a different problem :)

[2021-04-14 21:35] ByteHamster commented on #3046
It works :+1: Awesome, thanks!

[2021-04-14 21:35] #3046 closed

[2021-04-15 06:14] rasferret commented on #5112
It think it only appears when the new tab is open while the podcast list is refreshing. But not always.

[2021-04-15 07:35] joaomgcd commented on #3046
Great :) Glad it works!

[2021-04-15 11:50] keunes commented on #4844
Though a swipe would 'feel' faster than a long-press. But I don't think this should be the way to go (it's kind of a middle ground for everyone, while a clear on-off switch with proper swipe action would serve two groups better).

[2021-04-15 16:16] tonytamsf commented on #4844
If we are open to another setting then, we can let users pick what swiping left and right does.  This list of options could be everything we offer as a long hold. (Add to fav, delete, remove from queue, mark as played)

This is a common pattern in Outlook, Gmail clients.
--
However, if @ByteHamster or @keunes don't want a setting, to solve for accidentally swiping - we can make swiping harder, and

[2021-04-15 16:40] cjk28 opened #5114 "Quicker access to "mark all unplayed" and "add to queue" for a whole podcast"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: x.y.z
2.1.3

**App source**: Google Play / F-Droid / ...
Google play

# Feature description

**Problem you may be having,

[2021-04-15 17:40] peakvalleytech commented on #4577
@ByteHamster I want to prioritize other issues, but I will put this on my todo list if you want.

[2021-04-15 19:22] alexanderadam commented on #4612
Somehow but not quite related: AntennaPod continues playing but I'm not hearing anything anymore when I'm out of reach.
I have to stop and continue playing to have sound again (it doesn't matter whether I'm doing this by pressing heaphone buttons or AntennaPod buttons).

@ByteHamster could this be related to AntennaPod and should I create an issue for this (or is there already an related issue)?

[2021-04-15 20:36] marcohald opened #5115 "Crash when viewing chapter Marks"
# Checklist

- [ x] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**:  2.1.3 (f7409c08a)

**App source**: Google Play

**Android version**: 9

**Device mo

[2021-04-16 20:54] peakvalleytech commented on #5096
@ByteHamster Well, i have used other podcasts that have this feature and it works well enough. Yes, every once in a while you get a podcast with deleted episodes but more often it is not the case.

[2021-04-16 21:21] peakvalleytech commented on #4661
@ByteHamster Hi, I would like to offer my help in the refactoring efforts.
Let me know where I can start.
For now, I have a few suggestions I thought i'd throw out there.
1. Have designated developer be resposnbile for their own module(s).
2. I would like to be assigned to work on storage or may eveentbus.

[2021-04-16 21:34] keunes commented on #4844
I'd rather see that in the Inbox (or the 'New' tab of the Episodes screen) 😅 But I think it could be nice in the queue also - could clean up the long-press menu. However, shouldn't we make swiping a little bit harder still?

[2021-04-17 02:21] peakvalleytech opened #5119 "'Has Media' filter incorrectly changes the number of selected episodes in multi select"
# Checklist

- [ x ] I have used the search function to see if someone else has already submitted the same bug report.
- [ x ] I will describe the problem with as much detail as possible.
- [ x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.2.0-beta3 (28ed633aa)

**App source**: Google Play / F-Droid / ...

Repo
**Andr

[2021-04-17 07:30] keunes commented on #5115
I wanted to try, but I see four versions of this podcast. Can you please share the feed URL? You can find it when pressing the little (i) icon on the podcast screen (above the episode list). Then I'll add the correct one and give it a spin also

[2021-04-17 07:47] keunes commented on #5114
Hello, thanks for chipping in.
We've been requested many different things to be added to the long-press menu of the subscriptions screen. However, if we were to do all the menu would get super long. Instead we decided to go for a multi-select in the episode screen, giving access to a range of options. Have a loot at #4681, I think it would serve your use-case in large part.

Just not sure we shoul

[2021-04-17 09:03] ByteHamster commented on #4661
Awesome!

First, we need to uncouple the model from the rest of the code. When that is done, we can start to do other modules (see https://github.com/AntennaPod/AntennaPod/issues/4661#issuecomment-778614258). If you want to do a PR like #4968 (but for another class), that would be great.

About EventBus: I think we should change some of the events. Currently, every page in the app basically receiv

[2021-04-17 09:13] ByteHamster commented on #5119
Weird. Seems to happen with the "In queue"/"Not in queue" filters, too. Looks like we are missing a line to clear the selection before applying those filters.

[2021-04-17 09:59] ByteHamster commented on #4844
Is there a clean way to do that?

[2021-04-17 10:02] ByteHamster commented on #5096
I think most other podcast apps don't use the feed directly. They have a central server that knows about all episodes (and displays them), even if the feed no longer has them. But that server also knows about all subscriptions of all users.

[2021-04-17 10:04] ByteHamster commented on #4612
Does this only happen with AntennaPod or with other media apps too? To me, it sounds a bit like a device issue but I'm not 100% sure.

[2021-04-17 10:58] ByteHamster commented on #5102
I don't know any. Maybe just a drop-down list like on the discovery screen region selector. Though, depending on how many years you use AntennaPod, it could be pretty long (up to ~100 items when you use AntennaPod since 2012). That would probably also be too much for a slider like it was suggested by @Matth7878. Then we can probably use two selectors: One for the year and one for the month. The on

[2021-04-17 12:35] Matth7878 commented on #5102
What about only fixed value like : 1 month, 3 month, 6 month, 1 year, 2 years, 3 years, all time ?
Wouldn't it be sufficient. Maybe there is no need for more and it will all fit in one drop down list.

If there is a need / request for a specific length of time it could be another / future development which would add a "custom" to the drop down list. Choosing it could open a dialog where you could

[2021-04-17 12:53] keunes commented on #5102
That could be an option indeed. But that wouldn't allow you to 'compare' years.

I think I like @ByteHamster's proposal, with two drop-downs.

[2021-04-17 13:06] keunes commented on #4844
Don't know if it could be done technically, but when swiping diagonally should not swipe an episode (decreasing the angle in which swiping affects a list item).

It might also help to give an extra visual cue by showing a red background when swiping (just like in Gmail and GitHub notifications).

[2021-04-17 13:11] keunes commented on #5096
Luckily that's not (and doesn't have to be) the case for AntennaPod :)

[2021-04-17 13:18] Matth7878 commented on #5102
I don't understand ? I thought AntennaPod was not precise enough to give information other than starting from now to then?
If it's possible to select a start and end date I would still think it's best to have a drop down like I suggested and add a custom choice which open a dialog allowing to enter a start and a end date. I fear any other solution would be heavy on UI.

[2021-04-17 16:08] ByteHamster commented on #4844
Just a red background could make users believe they are deleting the episode. Maybe we could even show text that says what will happen? That could then be used on the "new" screen, too.

I think adding something behind the items is not easy to do, though.

[2021-04-17 16:25] ByteHamster commented on #5102
Sorry, I think I was not clear enough. The data is not precise enough to specify exact days for the from/to setting. When using months, the accuracy should be okay.

[2021-04-17 19:01] jgscherber opened #5122 "Select all when filtering Completed downloads select all episodes"
# Checklist

- [ x] I have used the search function to see if someone else has already submitted the same bug report.
- [ x] I will describe the problem with as much detail as possible.
- [x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

## Environment
Android version: 11
OS version: 4.19.113-21258035
AntennaPod version: 2.2.0
Model: SM-

[2021-04-17 19:32] ByteHamster commented on #5122
The button does not really filter the list. It selects the matching episodes. By pressing the "select all" button afterwards, you basically undo the filter again.

[2021-04-18 07:21] peakvalleytech commented on #5119
@ByteHamster I'll send a PR to resolve iit soon.

[2021-04-18 12:52] #4619 closed

[2021-04-18 12:56] jimsug commented on #1519
I'm somewhat interested in working on this, but how much consultation would we want to do with the community before doing so?

For instance, I would imagine that this would be part a per-feed option that overrides the Enqueue Location setting and allows you to select Front, Back, or Don't Queue for each podcast. (Also, if implemented in this manner, would we want to add a "Don't Queue" option to t

[2021-04-18 15:04] ka-ba opened #5123 "give more visual guidance that current view is filteres - feature request"
---
name: more noticeable visual clue on filtered episodes view
about: Request a new feature or enhancement

---

# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.4

*

[2021-04-18 20:04] gpersons commented on #5083
Still unable to pause playback when connected via bluetooth. The only way to pause playback is to disconnect bluetooth.

[2021-04-18 20:37] ByteHamster commented on #5083
Sounds like an interesting behavior. Could you please export the full logs on the "report bug" screen and send them to me? The logs might contain some information about your subscriptions, so it might be better to not post them publicly. You can send me an email to `info@<my username>.com`. Before pressing the export button, please reproduce the issue and tell me at what time it starts to play. Ma