[2020-10-21 07:45] hrodnand opened #4572 "AntennaPod does not start after upgrade to 2.0.2 (F-Droid)"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [ ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.2

**App source**:  F-Droid

**Android version**: 11

**Device model**: Pixel 4

[2020-10-21 08:02] ByteHamster commented on #4572
That sounds bad. AntennaPod should create a crash report file on the external storage (`Android/data/de.danoeh.antennapod/files/crash-report.log`). Does that file exist on your device? If so, could you please share the content?

[2020-10-21 08:47] hrodnand commented on #4572
Thanks. Found it.

Here is the content:

## Crash info
Time: 21-10-2020 09:38:56
AntennaPod version: 2.0.2

## StackTrace
[code]

[2020-10-21 09:01] ByteHamster commented on #4572
Thanks, that helps a lot. Did you, by any chance, use version 2.0.1 before upgrading to 2.0.2? Did the app start with 2.0.1? I think that the behavior of the two versions should be the same, but just in case.

Do you use the original system that is shipped with your device or do you use a custom ROM?

CC @Slinger

[2020-10-21 10:31] Slinger commented on #4572
Oh this is bad.

So... it looks like your phone has an arm64 cpu and it correctly tries to open the arm64 version of the conscrypt library. But ```[...] has bad ELF magic: 00000000``` is very strange. I suspect either the file is missing or can't be opened (either permissions or some protection mechanism). Or maybe it's a symlink, pointing wrong or getting opened instead of the file it points at?

[2020-10-21 10:55] hrodnand commented on #4572
Happy to help.

Yes, version 2.0.1 still worked on my device.

Also checked, if there was an Android system update in between, but the latest security update is from October 5th.

I use the original system. Vanilla Google Android so to say.

CC @Slinger

[2020-10-21 11:43] ByteHamster commented on #4572
That's strange. 2.0.1 and 2.0.2 use exactly the same code in the location that crashes.

I just re-created the updates again with a different name (so you can install them alongside the existing AntennaPod app). Could you please try installing these two apps and check if they start?

- 2.0.1
  https://drive.google.com/file/d/1A8bUssxrLYKwmW0UPuAU58Ov64lffdeP/view?usp=sharing
- 2.0.2
  https://driv

[2020-10-21 12:02] hrodnand commented on #4572
Thanks, I checked both provided versions.

Both versions open and work fine!

Seems to be related to the f-droid build maybe.

[2020-10-21 12:14] Slinger commented on #4572
Unless I'm mistaken, 2.0.2 is the first release that bundles conscrypt. And the error specifically mention "libconscrypt_jni.so". Strange that the debug builds are working.

I don't want to put more burden on you, but would you be able to make release (_not debug_) builds of [this](https://github.com/Slinger/AntennaPod_CryptoBundle/) and [this](https://github.com/Slinger/AntennaPod_CryptoBundle/tr

[2020-10-21 13:54] nikhil097 commented on #4550
@ByteHamster Fixed this issue with PR- #4573. All checks have been passed.

[2020-10-21 14:55] ByteHamster commented on #4572
Thanks for testing @hrodnand! That is pretty surprising.

Sorry for asking you for a favor again. Could you please try these apps? (be careful when removing - they now have the same icon as the original app. Only the name is different)

- Slinger/master_CryptoBundle (release)
  https://drive.google.com/file/d/1aWsiPnMWyTXSXP9Tv4ihece-fUEaaT-y/view?usp=sharing
- Slinger/android11_fixes (release)

[2020-10-21 15:08] ByteHamster commented on #4572
@Slinger I found something interesting. The md5 sums of the native libraries do not match with my builds. Does F-Droid rebuild those binaries? At least there does not seem to be a difference between their 2.0.1 and 2.0.2

- Official conscrypt dependency AAR (https://mvnrepository.com/artifact/org.conscrypt/conscrypt-android/2.4.0)
[code]
- my 2.0.2
[code]
- fdroid 2.0.1
[code]
- fdroid 2.0.2
[code

[2020-10-21 16:07] hrodnand commented on #4572
- Slinger/master_CryptoBundle (release)
=> This version works!

- Slinger/android11_fixes (release)
- 2.0.2 rebuild (release)

Both other versions are downloaded, installation seems to happen, but afterwards  I get a "App was not installed" message.

I guess it conflicts with the installed original, doesn't it?
I can delete the f-droid version and try again later, but I need to hook up the phone t

[2020-10-21 16:32] ByteHamster commented on #4572
Sorry. I did not test them after exporting. They were supposed to be separate apps but I forgot to update one place. Anyway, the fact that the first version already works makes it unnecessary to try the other versions. The working first version is basically the same as the non-working fdroid version.

Maybe the apk from fdroid somehow got corrupted while installing or while downloading. Could you

[2020-10-21 17:18] hrodnand commented on #4572
Indeed, it works now!

Download with browser, install apk, app opens again and works as expected.

Checked just for reference: Downgrade to 2.0.1 with f-droid does not work.

I tried to reproduce the issue by deleting the current version and starting install and upgrades from the last 1.x.x version and separately from the 2.0.1 version.
...all with the originally downloaded f-droid apks from cache

[2020-10-21 19:02] akshatishere commented on #4387
In this issue, Do we have to apply some sort of battery optimization or what?

[2020-10-21 19:13] Slinger commented on #4572
Ideally all software from F-Droid is built from source, including the libraries used. I wasn't sure that would be the case but it looks like it also includes conscrypt. Also I don't think an ELF ever has a magic of pure zeroes, so it seems the data got corrupt. :relieved:

Thanks @hrodnand for all the testing. It must have taken quite some time to go through all those versions! I'm still surprised

[2020-10-21 19:38] Christian-Schulz commented on #4556
I have sent my log files.
I think I can reproduce the issue.... sometimes. 😄

When you press the refresh button in the queue the first time, the message does not disappear.

But if you press the refresh button the second time the message disappears.

## Environment
Android version: 11
OS version: 4.14.170-g538dda190bfb-ab6722133
AntennaPod version: 2.0.2
Model: Pixel 4a
Device: sunfish
Product: su

[2020-10-21 19:41] ByteHamster commented on #4572
Phew, so we did not push a broken update to F-Droid. That's good to hear.

@hrodnand @Slinger Thanks both of you for helping with debugging!

[2020-10-21 19:41] #4572 closed

[2020-10-21 21:53] Matth7878 opened #4577 "[Statistics] Make statistics easier to discover"
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

**App version / source**: 2.0.1 / Google Play

# Feature description

Right now statistics is only accessible from settings.
It would make it more discover

[2020-10-21 21:53] Matth7878 opened #4578 "[Statistics] Add count of episodes stocked on device"
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

**App version / source**: 2.0.1 / Google Play

# Feature description

In statistics screen there is a tab about episodes stocked on device. It informs on h

[2020-10-21 21:53] Matth7878 opened #4579 "[Statistics] Add podcast specific statistics to podcast info screen"
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

**App version / source**: 2.0.1 / Google Play

# Feature description

Right now statistics is only accessible from settings.
It would be good to show info

[2020-10-21 21:54] Matth7878 commented on #4552
I am closing this issue as I created 3 new issues to replace this one :  #4577 ; #4578 ; #4579

[2020-10-21 21:54] #4552 closed

[2020-10-21 22:05] ByteHamster commented on #4579
I think this should not use a new icon but be displayed on the already existing podcast info page. That avoids increasing the number of elements on main screens.

For most of my podcasts, the info page is pretty much empty. Maybe we could also remove the "language" part on that screen (language is pretty obvious when looking at the description).

[2020-10-21 22:10] ByteHamster commented on #4577
To be honest, I am not sure if I like the idea of adding more buttons to the subscriptions screen. Every additional button makes the app a tiny bit harder to process for new users. I think AntennaPod should try to be as beginner friendly as possible.

[2020-10-21 22:16] Aypac opened #4580 "Better sleep timer with shake to extend"
# Checklist
- [x ] I have used the search function to see if someone else has already submitted the same feature request.
               -> vaguely related to #2146 , but too different to add there.
- [x ] I will only create one feature request per issue.
- [x ] I will describe the problem with as much detail as possible.

# Feature description

Huge fan of sleep timers! However, currently, there

[2020-10-21 22:21] Matth7878 commented on #4577
If you don't want to add more button then the best option is what @keunes proposed : adding an entry in lateral menu.
I think it's also good proposal.

[2020-10-21 22:34] Aypac commented on #4159
I just want to mention the concern, that podcast producers are really reliant on ad-revenue. I think a few podcasters offer ad-free versions on their patreon-pages. I would find it especially weird to damage the podcaster community, since the flattr option has been broken for some time, see #3266.
And I know, I can just not use the feature. But, I think the mere existence of such a feature might r

[2020-10-22 02:14] hmilgraum commented on #4570
Duplicate of issue #4559

[2020-10-22 05:27] Matth7878 commented on #4580
FYI in sleep timer you have a checkbox so you can shake to reset.
AntennaPod also already lower volume when sleep timer end. But as far as I remember it does quite rapidly in the last ten seconds. I didn't search but I am pretty sure there is another issue to ask to lower sound more slowly and not only in the last 10 seconds.

[2020-10-22 06:09] ByteHamster commented on #4580
Version 2.1.x will lower the volume gradually instead of all at once. Shaking is already supported, as @Matth7878 wrote.

[2020-10-22 06:09] #4580 closed

[2020-10-22 06:10] #4570 closed

[2020-10-22 06:36] avirajrsingh commented on #4578
Can i work on this ?

[2020-10-22 06:45] electronoob commented on #4159
``

I've stopped listening to podcasts entirely due to the adverts. I don't appreciate the quantity of them nor the disruptive change in pace and volume that occurs usually. Especially if I'm using them to unwind in bed at night. No sympathy from me that's for sure. SponsorBlock has enabled me to enjoy YouTube again and maybe will help me with podcasts in the future too. That world be nice.

[2020-10-22 06:49] ByteHamster commented on #4578
Sure, go ahead :)

[2020-10-22 06:55] zawad2221 commented on #4568
@ByteHamster can I work on it?

[2020-10-22 07:06] keunes commented on #4159
Hi @Aypac
I somewhat agree with you - without podcasts no point in having a podcast app. Still, I think that moral choice is for the user to make. We could also be making moral choices regarding content, and the main developer has clearly stated he won't.
Also, I think this feature could win over quite a few people to switch from other podcast apps to AntennaPod. As a comms person I find that wort

[2020-10-22 07:22] Aypac commented on #4159
Hi @keunes,
I get that. I mean **everyone** hates ads. They are awful. However, we also cannot claim that we are owed ad-free content. If you want to consume podcasts without ads and without paying in any other form, you do not compensate the creator at all and why should they keep creating content then? Will we go to only company-paid and product-placement podcasts?
However, maybe one could talk

[2020-10-22 07:26] Aypac commented on #4159
@keunes I agree. However, I think there are already consequences just from the feature existing (see my original post). I think the very least _we_ could do is show a popup incentivizing the user to contribute in another way when activating this feature and they have to activate it for each podcast individually?

+1 for #4571

[2020-10-22 07:28] Aypac commented on #4580
Oh sorry, just realized I switched the positions of AntennaPod and Smart Audiobook player - I was thinking THEY could benefit from these features. Sorry and thanks for pointing out my fault!
AntennaPod is by far the best implementation of this feature I've seen!

[2020-10-22 07:37] keunes commented on #4159
Interesting segment by the way. This (funding models for podcasters) could be an interesting topic to discuss on our forum.

[2020-10-22 07:54] avirajrsingh commented on #4578
@ByteHamster Are the changes right ? If yes can you help me out with the PR. This is my first PR, it would be really helpful if you could help me out with it.

Changes made
1) Setup a counter in DBReader to count the number of episodes downloaded.
2) Added the counter to StatisticsItem
3) Used the counter in Adapter to display the number of videos downloaded.
![WhatsApp Image 2020-10-22 at 13 20 4

[2020-10-22 07:59] keunes commented on #4578
Just to note: let's keep the text the same colour as the MB indication, and let's use a middle dot ( · ) for a separator as it's also used elsewhere in the interface :)

[2020-10-22 08:00] avirajrsingh commented on #4578
@keunes Okay thank you!

[2020-10-22 08:02] keunes commented on #4568
Hi @zawad2221
No-one else 'claimed' this yet, so I think that's fine!

[2020-10-22 08:07] keunes commented on #4579
Agreed with @ByteHamster. To repeat my comment from the original issue:

This means that there is little information to display per podcast, so a separate screen isn't necessary.

---

Didn't share it yet, but I was thinking the same this week!

[2020-10-22 08:07] avirajrsingh commented on #4578
@ByteHamster @keunes Are the changes right? If yes, can you help me out with the PR. This is my first PR, it would be really helpful if you could help me.

Changes made :
1) Added a counter to DBReader to count the number of episodes downloaded.
2) Added the counter to StatisticsItem.
3) Added a TextView in Statistic List Item.
4) Used the counter to display the number of episodes downloaded.

![W

[2020-10-22 08:16] keunes commented on #4578
I don't know about code, but in terms of visuals, I would make two changes:
* use the 'middle dot' (probably the wrong term) between the two elements, instead of a simple period (you can check the queue screen - it's between the date and the MB indication)
* I would not make it italic (cursive) - it's attracting a bit too much attention

Then I just thought: I guess you planned this already, but p

[2020-10-22 08:17] zawad2221 commented on #4568
@keunes  I already make some change. Should I make the pr or leave a ss of the feature before make the pr.

[2020-10-22 08:21] avirajrsingh commented on #4578
@keunes Thanks for the help, I'll make the changes you mentioned.

[2020-10-22 08:49] keunes commented on #4568
Hmm, there's nothing much to screenshot, right? Doesn't it just display Android's native 'share' interface after the logs are exported?
(If it's just the default share dialog, then I'd say 'go ahead and create the PR'. Please note, though, that I'm an active community member but not a developer, so I won't be able to review your PR.)

[2020-10-22 09:58] avirajrsingh commented on #4578
I have made a PR :) Thanks

[2020-10-22 10:58] hoeller commented on #3899
Also occurring on 2.0.2

## Environment
Android version: 11
OS version: 4.9.223-g51b9e1042e59-ab6722174
AntennaPod version: 2.0.2
Model: Pixel 3a
Device: sargo
Product: sargo
![Screenshot_20201022-125524~2](https://user-images.githubusercontent.com/18243823/96862714-22eb5580-1466-11eb-9feb-9d52544d0f43.png)

[2020-10-22 11:37] #2064 closed

[2020-10-22 13:30] tonytamsf commented on #4571
I would support adding a 4th tab in the playing screen for funding.

Or add the funding information in the show notes tab.

[2020-10-22 13:36] ByteHamster commented on #4571
Funding seems to be related to the show, not an individual episode. I therefore think that it would be better to have this on the podcast info page than on the player screen (which is about an individual episode).

[2020-10-22 13:38] tonytamsf commented on #4159
@Aypac I agree with you as well that adding the integration to Auto Skip ads would have a bad look for the app and is bad for the ecosystem at this moment.  Maybe when the ecosystem is larger and healthier, we can consider this option.

I am supportive of showing the number of skips and provide the data back to the podcasters and encourage them to

1) provide a paid, ads free feed
2) provide a fee

[2020-10-22 13:40] tonytamsf commented on #4577
Or it fits more in `Playback History` either as an option or a teaser panel

[2020-10-22 13:54] keunes commented on #4571
(Personally I feel like this feature request is the minimum we should do. But once that's implemented we can maybe think of ways to make if more prominent/convenient.)

[2020-10-22 18:15] Slinger commented on #4572
Not going to lie, when I saw the error message mentioning conscrypt I was terrified. I normally don't divert time on other things when I got work to do, but this could have been bad. :relieved:

[2020-10-22 20:41] ajayyy commented on #4159
For SponsorBlock, I publish all my data publicly (http://sponsor.ajay.app/database.db for raw or https://sb.ltn.fi/ for a web-viewer).

I'm not super familiar with podcasts vs. YouTube, is hosting ad-free versions online the norm? I know with YouTube, things like watchnebula and corridordigital.com didn't exist when I first launched SponsorBlock, and even now it's still very few creators who offer

[2020-10-22 20:45] ByteHamster commented on #4571
By the way, there already is an existing [standard](https://www.iana.org/assignments/link-relations/link-relations.xhtml) for dealing with payment URLs: `<link rel="payment" href="...">`. AntennaPod already parses and stores that one because it was used for Flattr support. It currently does not display the URL, though.

The implementation of the funding tag could reuse the same database column (ma

[2020-10-22 21:04] #4548 closed

[2020-10-22 23:07] maxsubs commented on #2312
I've been having this problem for around over 5 months now after a software update. I think I could found what was causing it. I have around 140 subscriptions and it hung up every time the subscriptions were refreshed. Now, if I change the sort order of the subscriptions from "order subs by last episodes published date" to "sort alphabetically" problem solved! to reproduce it simply go back to sor

[2020-10-23 02:17] dmp1ce commented on #4446
Version 2.0.2 doesn't seem to have this problem for me anymore.

[2020-10-23 02:52] avirajrsingh commented on #4579
Can I work on this ? Also can you help me out with hacktober fest contribution by adding a hacktoberfest label to this issue. It would be really helpful :)

[2020-10-23 04:15] tonytamsf commented on #4276
Keep Skipped Episodes -> on
Set "Smart Mark as Played" to 30 seconds
Set "Auto Skip" for a podcast to 31 seconds or more.

@ByteHamster what do you think should happen?  It feels like the episode should stay in the queue?

[2020-10-23 04:54] tonytamsf commented on #4276
@sbadux what is your setting fo
`Storage` -> `Auto Delete`
`Storage` -> `Delete removes from Queue`

[2020-10-23 05:26] Pomalo opened #4583 "Lock screen on press play"
When I press play, it immediately locks the screen of my phone. It did it though the app as well as through the lock screen play button.

[ Environment ]
Android version: 10
OS version: 4.14.117-perf-g1bb7ff7
AntennaPod version: 1.8.3
Model: MI 9
Device: cepheus
Product: cepheus_eea

[ Crash info ]
Time: 21-08-2020 13:51:14
AntennaPod version: 1.8.1

[ StackTrace ]
java.util.concurrent.RejectedExe

[2020-10-23 06:31] richq commented on #4276
This also seems to happen if the auto skip option is set to skip e.g. 35 seconds at the start and 0 at the end. The playback reaches the end of the episode that autoskipped some portion, it goes to the next podcast (which doesn't have any autoskip involved) in the Queue but the finished episode remains without autodelete and removed from queue. Not OP but I have auto delete and delete removes from

[2020-10-23 06:40] tonytamsf commented on #4276
@richq what is your setting for `Keep Skipped Episodes`?

[2020-10-23 06:47] richq commented on #4276
Keep Skipped is Enabled. FWIW also enabled is Continuous Playback, I use the built in Android player for media player and regular x1 playback speed.

[2020-10-23 07:20] keunes commented on #4276
Set "Smart Mark as Played" to 30 seconds
Set "Auto Skip" for a podcast to 31 seconds or more.

Agreed, because the episode is (auto)skipped _before_ the period in which the episode would be (smart) marked as played.
If the inverse, so autoskip kicks in when the episode would have been marked as played, it should be marked as played and thus not be kept in the queue.

At the same time we could argu

[2020-10-23 07:39] keunes commented on #4579
So the changes would be, in the podcast 'info' screen:
* Remove the 'Language' title & the actual language
* Add a 'Statistics' title all the way at the bottom (below the actual description)
* Add a line with 'Listened for:' and the duration (as already used on the stats screen)
* Add a line with 'Episodes on the device:'  and the size taken by episodes on the device and the number of episodes (as

[2020-10-23 07:40] keunes commented on #4579
@avirajrsingh Your contribution would count anyway because the whole repository is tagged with 'hacktoberfest', so any PR here counts, regardless the issue label (which is just applied for discoverability)

[2020-10-23 12:13] rec0de opened #4584 "Applying / clearing episode filters resets played/unplayed highlighting"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.2

**App source**: Google Play

**Android version**: 9

**Device model**: ONEPLUS A

[2020-10-23 14:11] cryobry commented on #2379
At the very least, the fixed storage location should be changed from `/storage/emulated/0/Android/data` to `/storage/emulated/0/Android/media` to allow a wider scope.

[2020-10-23 15:55] sbadux commented on #4276
@tonytamsf
`Storage` -> `Auto Delete` => ENABLED
`Storage` -> `Delete removes from Queue` => ENABLED

@keunes

Yes. I think that most of the users consider the autoskipped episodes as finished. AntennaPod should delete the episode IMHO. I think that most of the users use the auto-skip feature to skip the final music, advertising or greetings. I don't think that someone skips few seconds to keep th

[2020-10-23 16:10] ByteHamster commented on #4579
I would add the statistics above the description. Sometimes the description gets extremely long and would then push the stats out of the screen.

Apart from that, your list looks good :)

[2020-10-23 16:15] ByteHamster commented on #4276
I agree. I think users consider "auto skip" basically as "trim episode", so when skipping the end, AntennaPod should mark as played regardless of the "smart mark as played" value.

[2020-10-23 17:26] avirajrsingh commented on #4579
Okay @keunes @ByteHamster I'll start working on it. I need some help from you guys, now I already have an ongoing PR. So should I make a new PR for this issue after completing the changes or should I continue with that old PR itself. Also I need to know one thing, currently i'm working on the forked copy of the repo, so do I need to update it to the latest develop branch everytime before pushing n

[2020-10-23 19:25] andersonvom commented on #2463
@ByteHamster I've been doing some digging on this as I have a corrupted database myself. From what I can tell, sqlite is able to recover the broken database when the issue is only with the indices. In this case, running the command you mentioned will fix the problem since it just ignored the indices altogether when dumping the database.

However, I have been able to put the database in a state whe

[2020-10-23 20:16] ByteHamster commented on #2463
Do you have a way to reproduce this?

[2020-10-23 20:17] keunes commented on #4571
Would that be possible while supporting the full podcast namespace spec, which includes the specification of a text that can be displayed?

[2020-10-23 20:26] ByteHamster commented on #4571
I suggest to store one URL (+maybe text, separated with a special character) in each line of the database field. If there is already something in that, it will probably just work. Doing this with a extra table like in the textbook examples seems a pretty big overkill to me. Additionally, that makes updating harder (we would run into the same problem as with chapters in #4212)

[2020-10-23 21:13] ByteHamster commented on #4579
I can't give a full explanation here but have a look at git branches. You can find some explanations [here](https://www.git-scm.com/book/en/v2/Git-Branching-Basic-Branching-and-Merging) (don't be afraid of all those details, it's easier than it sounds :smile:). Basically, one usually creates a branch for each change. You can then switch between branches when working on different features. At Anten

[2020-10-24 04:02] avirajrsingh commented on #4579
@ByteHamster Thank You so much, working on it.

[2020-10-24 08:03] sbadux opened #4587 "Playback time not aligned with "Adjust media info to playback speed""
Hello,
# System info
**App version**: 2.0.2
**App source**: Google Play - Beta Channel
**Android version**: 10
**Device model**: Motorola Moto G8 Plus

# Bug description
I'm using AntennaPod 2.0.2 from the Play Store beta channel. I've noticed that the playback time is not aligned between the Android notification when a non-1x playback speed is used.

I use 1,35x speed and the option and the "Adju

[2020-10-24 08:14] ByteHamster commented on #4577
Hmm, that was my idea, too, when I first added the statistics screen back in 2016. Just like the old maintainers back then, I am now convinced that the feature is not used often enough to justify another sidebar menu entry.

While I like the general idea of a teaser panel, I think that it could also lead to problems. Users would want a feature to hide the teaser panel. That would then lead to user

[2020-10-24 08:19] ByteHamster commented on #4587
I don't think we can influence the time in the notification without breaking things. Most of that is handled by the Android system.

[2020-10-24 08:26] #4578 closed

[2020-10-24 08:33] sbadux commented on #4587
@ByteHamster

Thanks! It's not a big issue anyway.
I would like to report anothe bug: the notification is stuck on the playback time of the first episode played. Playing another episode keeps the same playback time of the first played (in the notification). Can I report it or it's related to Android and can't be fixed easily? I won't report it in this case.

[2020-10-24 09:04] ByteHamster commented on #4587
I think that one is already tracked in #3852

[2020-10-24 09:16] ByteHamster commented on #2312
Great observation @maxsubs! That helps a lot. I just noticed that the code for loading the "last episodes published date" is a huge performance/RAM problem because it loads ALL episodes of ALL podcasts. Multiple times during refresh.

@mmirg, you recently reported an `out of memory` crash, too. Do you use the subscription sort method "last episodes published date", too? If so, consider switching t

[2020-10-24 09:27] Matth7878 commented on #4577
+1 @ByteHamster

IMHO in the long run I think there will also be a need to think about displaying podcast list in lateral menu.
I think it will make sense to make it disappears because it's not really useful if you have a lot of podcast. Hence request for folders or tags.

I created a topic on the forum to speak more about it. It would be easier to exchange thoughts about UI : https://forum.antenn

[2020-10-24 09:30] sbadux commented on #4587
Yes, it's the same or very similar. I put a comment on that. Thanks!

P.S. I think you can close this issue now

[2020-10-24 09:34] sbadux commented on #3852
It exists also in the 2.0.2. Moreover, in my case the notification doesn't update the information when the app switch to another episode,
Eg. I play a 10 minutes long episode . When it ends, AntennaPod starts another podcsat (long 1hour) but the notification still shows 10 mins

[2020-10-24 09:57] #4587 closed

[2020-10-24 10:54] keunes commented on #4577
You know you can remove the list via the menu settings? Simply long-press one of the other menu entries to change your selection.

[2020-10-24 11:07] keunes commented on #4571
Actually I don't care so much about the full spec, just abut the text :P Maybe instead of a single character we can use a series of characters? Like |pi2ap| (podcast index to antennapod) - to avoid issues if a podcaster happen to use the one character we pick?

[2020-10-24 12:15] ByteHamster commented on #4571
Yeah, this was mainly to the person who picks up this issue :)

If we use a character that is not allowed to be used in titles (eg. the ASCII record separator), it should be fine, I guess

[2020-10-24 12:36] Friptick commented on #4217
This is definitely a bug. I never touch the episode-specific speed button because of it.

To reproduce on my device:

1. For podcast subscriptions **Subscription1** and **Subscription2**, set default speed for both to **1.2x**.
2. Play an episode from **Subscription1**, but use the episode-specific speed button to bump to bump the speed to 1.4x. All working.
3. Play an episode from **Subsciption2*

[2020-10-24 12:44] Matth7878 commented on #4577
@keunes I know and it is what I did. It was more a comment about keeping this feature or making it not default if it is still is.

[2020-10-24 12:48] Friptick commented on #4508
Perhaps merge with #4217

[2020-10-24 12:55] #4508 closed

[2020-10-24 17:53] andersonvom commented on #2463
Unfortunately it only happened once, after deleting several shows. I tried reproducing it afterwards multiple times but to no avail. :(

Still something to keep in mind since, even though the DB was broken, the app was still usable. The shows that were corrupted would just be loaded with `null` values when read from the database, likely due to invalid data (you could see certain db rows having wro

[2020-10-24 18:03] #2312 closed

[2020-10-24 18:16] ByteHamster commented on #4320
@Niffler implemented this change. Should the notification (displayed when using continuous playback and streaming an episode when in background) use "Allow" or "Always allow"?

Dialog:
<img width="250" src="https://user-images.githubusercontent.com/5811634/97089089-b4f58880-1635-11eb-8a6d-68b5a5e459c3.png" />

Notification:
<img width="250" src="https://user-images.githubusercontent.com/5811634/97

[2020-10-24 18:31] Matth7878 commented on #4320
I think always is sufficient. Or else it should also be Allow once and not just once.
Maybe instead of "tap to stream anyway" to make it clearer it should say : "Do you want to allow it anyway?"

[2020-10-24 18:36] ByteHamster commented on #4320
The reason why this is there is that some old Android versions do not support buttons in notifications. Tapping the whole notification allows streaming (once), too.

[2020-10-24 18:43] alphapapa commented on #2463
@ByteHamster Forgive me if this is noise, but something I've noticed recently: Since I had to switch from the F-Droid version to the Play Store version (due to the TLS issues that I think were recently resolved, and thanks for your work on that), I noticed that sometimes the audio playback of an episode can pause for a moment if I do other things in the app that touch the database, like tapping on

[2020-10-25 02:50] tonytamsf commented on #4276
shoud be fixed https://github.com/AntennaPod/AntennaPod/pull/4594

[2020-10-25 16:37] damoasda commented on #4484
For me the podcast works without any problems, the downloads are very fast.

@cometchaserde Do you still see the problem on your side or was it just a temporary problem?

[2020-10-25 16:52] damoasda commented on #4512
Hint: An alternative approach could be to download the audio files by yourself and add the download folder as a local feed, see #4287.

[2020-10-25 17:56] #4320 closed

[2020-10-25 18:15] #3826 closed

[2020-10-25 18:46] ByteHamster commented on #4584
Will be fixed in the next update. Thanks for reporting.

[2020-10-25 18:46] #4584 closed

[2020-10-25 18:47] ByteHamster commented on #4568
Fixed in #4568

[2020-10-25 18:47] #4568 closed

[2020-10-25 18:53] rec0de commented on #4555
Nevermind, it just happened again. Logs are below
[full-logs.txt](https://github.com/AntennaPod/AntennaPod/files/5435688/full-logs.txt)

[2020-10-25 19:21] #154 closed

[2020-10-25 19:21] #205 closed

[2020-10-25 19:24] ByteHamster commented on #4512
Adding single files does not really fit into AntennaPod - you would end up with an episode without a podcast that can not be removed/managed. As @damoasda mentioned, AntennaPod 2.1 will get a feature to add an existing folder as a "virtual" podcast. That feature probably is even more convenient because you can download the file directly from the browser without having to copy-paste the URL.

[2020-10-25 19:24] #4512 closed

[2020-10-25 19:30] cometchaserde commented on #4484
Yes, the problem is still there. App version 2.02

[2020-10-25 20:05] damoasda commented on #4484
@cometchaserde Can you provide a log, please? Maybe that helps to locate the root cause.
See [Obtain-logs-for-debug](https://github.com/AntennaPod/AntennaPod/wiki/Obtain-logs-for-debug) or [How to report a bug](https://github.com/AntennaPod/AntennaPod/blob/master/CONTRIBUTING.md#how-to-report-a-bug) for more information about how to do that.

[2020-10-25 20:25] jpritikin commented on #154
Whoa, issue closed after 7 years! Congratulations!

[2020-10-25 20:49] ByteHamster opened #4597 "Local feeds: add sort option for file name"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.2 develop

**App source**: custom

# Feature description

**Problem you may be having, or feature you want**:

Local f

[2020-10-25 20:55] ByteHamster opened #4598 "Local feeds: honor file creation date"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.2 develop

**App source**: custom

# Feature description

**Problem you may be having, or feature you want**:

Current

[2020-10-25 21:10] ByteHamster opened #4599 "Local feeds: Remove "enable autodownload" button"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.2 develop

**App source**: custom

# Feature description

**Problem you may be having, or feature you want**:

When en

[2020-10-26 00:32] Friptick commented on #1711
This issue seems the same as #851, maybe merge. Others feature suggestions involving feed priorities would also require doing this too. This is definitely a major missing feature.

**A general suggestion, for moderators here. When you see the word "podcast" in an issue title, consider editing it!** Because, like "blog", this word has unfortunately acquired two meanings, i.e., the article of conten

[2020-10-26 03:15] widlok commented on #4597
Hi, I started writing this feature. Would you mind answering few questions:
1. what do you refer to as feed? I see that podcast episodes and general queue can be sorted.
2. 'Is only local feeds' refer to INTRA_FEED enum value?
3. In the code i can only find sorted episodes, not feeds. Although feed as a whole contain file url (String file_url; in FeedFile),  on the other hand FeedItem contains lin

[2020-10-26 04:02] Kiracles opened #4600 "The three line menu button is replaced with a back arrow (that doesnt work)"
# Checklist

- [ x] I have used the search function to see if someone else has already submitted the same bug report.
- [ x] I will describe the problem with as much detail as possible.
- [ x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.2 (ee4b2c055)

**App source**: Google Play

**Android version**: 9

**OS version

[2020-10-26 05:45] Kiracles commented on #4600
![Screenshot_20201026-014346_AntennaPod](https://user-images.githubusercontent.com/59340627/97137681-c40b3200-172c-11eb-87f8-5e456e523537.jpg)

Here's an example of the bug. It also removes a number of other buttons from the screen.

[2020-10-26 05:54] avirajrsingh commented on #4599
Can I work on this ?

[2020-10-26 08:00] ByteHamster commented on #4599
Sure :) It's probably good to comment something like "I am working on this" to prevent others from working on the same one but you don't need to ask for permission when starting to work on an issue. If an issue is open and nobody has indicated interest in it, you can just take it without asking.

[2020-10-26 08:06] ByteHamster commented on #4597
Great, thanks :+1:

I mean the page with the blurred background image that shows episodes of only one podcast

Not directly, it's related to the new feature of adding folders on your device to AntennaPod as "virtual" podcasts. It should be an `INTRA_FEED` value, though, I think (because it only sorts within one single feed).

I mean `FeedItem.getLink()`

[2020-10-26 08:16] avirajrsingh commented on #4599
Okay i'll keep that in mind. Thanks @ByteHamster

[2020-10-26 08:32] ByteHamster commented on #4555
Awesome - that log file helped a lot. I can reproduce this with the following code:

[code]

Will start working on a fix.

[2020-10-26 09:47] ByteHamster opened #4602 "NPE in getBottomSheet"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.2

**App source**: Google Play

**Android version**: 10

**Device model**: OnePlus

[2020-10-26 13:05] #4602 closed

[2020-10-26 13:06] ByteHamster commented on #4555
Will be fixed in 2.0.3

[2020-10-26 13:06] #4555 closed

[2020-10-26 17:10] ByteHamster opened #4605 "Local feeds: Add successful download log entry"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.2 develop

**App source**: custom

# Bug description

**Expected behaviour**:

If r

[2020-10-26 19:26] racuna opened #4606 "Stream one chapter, and then resume the entire queue"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.2

**App source**: F-Droid

# Feature description

**Problem you may be having, or feature you want**:

Current use ca

[2020-10-27 20:08] mparker17 commented on #3799
I can confirm this is still buggy in 2.0.2 (ee4b2c055)

[2020-10-27 20:45] cometchaserde commented on #4484
Hi,
file is attached
[logcat.log](https://github.com/AntennaPod/AntennaPod/files/5448037/logcat.log)

[2020-10-27 22:01] Aypac commented on #4159
@ajayyy I believe it is not super common for now unfortunately.

One more thing I wanted to add to the discussion: Spotify is currently pushing very hard into the podcasting sector, promising better statistics and ad revenue - often in exchange for "Spotify-exclusive" status (i.e. you can only listen to the podcast on Spotify). I am afraid that an adblock on open platforms (like AntennaPod) would

[2020-10-27 22:25] Tobii42 commented on #4530
Also on a Pixel 3a with Android 11 I have the same issue. I can add that sometimes the podcast continues playing when pressing the power button, even if the phone won't be unlocked and then stops and randomly starts again when the screen turns off.

[2020-10-28 01:28] Andrewskiz commented on #4448
Having the same issue on android 11.

[2020-10-28 03:44] Ethanol6 commented on #1077
If the original issue was about fixing the download order of new episodes such that the oldest new episode is downloaded before the newest new episode, then I argue that the functionality of downloading chronologically is nearly there. If an episode could be manually marked as new, which predates any current new episodes, then the current functionality would be to download that older episode that

[2020-10-28 05:02] widlok commented on #4597
Hi, I finished implementation but im running into error during project build

[2020-10-28 08:07] #4276 closed

[2020-10-28 08:15] #4550 closed

[2020-10-28 08:28] ByteHamster commented on #4597
You can test it by adding a local feed (add feed page » add local folder) and checking if the feed allows to sort by file name. Other feeds that are not local should not be able to sort by file name.

Feel free to upload a pull request, so I can already have a look at the code :)

[2020-10-28 10:34] widlok commented on #4597
New PR is ready for review @ByteHamster  - #4610 :). Its still crashing when I'm running app, maybe you have an idea where code is missing. I was only able to go through the packages/classes and trying to understand app design to some degree.

[2020-10-28 12:42] kj4awr opened #4611 "Podcast autoskip breaks UI"
Steps to reproduce..
Set a podcast to autoskip the first 10 seconds.
Let it play in the queue

Symptoms..
When the podcast with autoskip plays in the queue the time/seek bar gets stuck at 0 seconds even though the podcast continues to play through. I cannot use the seek bar to change the time either. Rewinding 10 seconds or fast-forward 15 seconds starts the podcast over from the beginning even if

[2020-10-28 13:10] gaul commented on #4556
Duplicate of #3899?

[2020-10-28 13:27] tonytamsf commented on #4611
What version are you running?

I am not able to replicate this right now.

Does it happen to all podcasts with the setting on?

[2020-10-28 13:53] kj4awr commented on #4611
This happens on every podcast right now

## Environment
Android version: 10
OS version: 4.14.117-duo-d-2020_910_28+
AntennaPod version: 2.0.2
Model: Surface Duo
Device: duo
Product: duo

## Crash info
Time: 23-10-2020 10:22:38
AntennaPod version: 2.0.2

## StackTrace
[code]

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Tony Tam <notifications@github.com>
S

[2020-10-28 14:02] alexanderadam opened #4612 "Going out of reach with bluetooth heaphonces leads to moving to the next episode and marking the last one as played (including deleting it)"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [ ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: [`2.0.2 (ee4b2c055)`](https://f-droid.org/en/packages/de.danoeh.antennapod/#2.0.2)

**A

[2020-10-28 15:07] #4598 closed

[2020-10-28 15:18] ByteHamster commented on #4597
Do you run this on a device with Android 4.4 or older? If so, replace "extends Application" with "extends MultiDexApplication" in PodcastApp. (Only for testing)

If you can not test, this makes it really hard to do a pull request and see if it works.

[2020-10-28 20:07] nikhil097 commented on #4600
@ByteHamster I want to work on this issue.

[2020-10-28 21:23] damoasda commented on #4484
Thank you for providing the log file.

I can see in the log that after downloading a few kilobytes the download stops with the error `SocketTimeoutException: Read timed out`. AntennaPod has already downloaded a small part of the MP3 file and tries to continue the download. The code in the class `HttpDownloader` looks good at first glance. Furthermore, the web server `podcast-mp3.dradio.de` support

[2020-10-28 22:06] tonytamsf commented on #4611
I don't think the stack trace would help me.

Are your steaming or playing downloaded episodes?

Is 10 seconds a magic number or this happens for 15 seconds?

If you do a force stop, does it still happen when you launch the app again?

[2020-10-28 22:46] kj4awr commented on #4611
Ahh, they are downloaded episodes. There doesn't seem to be a magic number as it can happen when I have it set to skip 30s on another.
I have to force kill the app and reopen for it to start working again, so there is a workaround, although the episode starts from the beginning again.

My usual workflow is the app downloads the episodes and adds to the queue automatically and I just go to the queu

[2020-10-28 23:53] widlok commented on #4597
I'm running it an Android 9 (Samsung note 10+). App works but it's crashing when i select new sort options. I thought about debugging it.
It would be easier if app produced some logs.
I see there is debug app created (from assemblyDebug task), what is it for?

[2020-10-29 11:48] ByteHamster commented on #4597
I strongly recommend to use Android Studio. That makes debugging a lot easier.

AntennaPod logs to the Android system logs, which you can see directly in Android Studio (filtered by application). Alternatively, you can see the unfiltered logs by using `adb logcat` on your PC.

The debug app compiles faster, contains additional logging, and can be used with a debugger, but the app itself is a bit s

[2020-10-29 13:40] jawz101 opened #4613 "request: rss feed reader"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same feature request.
- [ x] I will only create one feature request per issue.
- [ x] I will describe the problem with as much detail as possible.

# System info

**App version**: x.y.z

**App source**: Google Play / F-Droid / ...
Fdroid
# Feature description
Support viewing rss feeds.  News and st

[2020-10-29 15:30] ByteHamster commented on #4613
Hi,

thanks for your suggestion. AntennaPod is already able to subscribe to RSS feeds. This is mostly a by-product of the podcast parser and I do not think we should extend that functionality. I rather want an app that is focused on one single task and does it well than to try to do everything at once, having to compromise everywhere.

There are other (open-source) RSS readers out there that focus

[2020-10-29 15:30] #4613 closed

[2020-10-29 18:41] #4579 closed

[2020-10-29 19:37] cometchaserde commented on #4484
Hi,
I only use wifi.
I deleted the affected podcast, removed all files with a file manager.
No success. Problem still happens.

[2020-10-29 19:44] keunes opened #4616 "Decrease header size (podcast info screen) for small screen sizes"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.2

**App source**: Google Play

# ~Feature~ Improvement description

**Problem you may be having, or feature you want*

[2020-10-29 19:54] keunes commented on #4613
I personally like https://github.com/FredJul/Flym

[2020-10-29 20:20] ByteHamster commented on #4616
I think it would be easiest to just use 2 different sizes. That can be done relatively easy using a `@dimen` resource for the `BigBlurryBackground` images.

[2020-10-29 20:43] tasmo opened #4618 "Fast forward skips from Pebble Bluetooth"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.3

**App source**: Google Play

**Android version**: Android 10 (17.1-20201026-NIGH

[2020-10-29 21:00] keunes commented on #4612
I just tried with a Fairphone 3 and JBL Go, but for me it just pauses. Is this consistent behaviour for you?

[2020-10-29 21:11] keunes commented on #4159
Let's continue discussing the ethical/economical discussion on the forum: https://forum.antennapod.org/t/ability-to-skip-ads-in-the-podcast/212

The issue request here is clear I think, so until further technical discussions are required, I'll lock this issue. You may contact me via my username at mailbox.org (or simply comment in the forum) if you think this should be unlocked.

Thanks everyone!

[2020-10-29 21:50] damoasda commented on #4484
Ok, thanks for the feedback.

Can you try to download the affected podcast via mobile network, please? Does it work?

[2020-10-29 22:10] keunes commented on #1077
That's an interesting point. I don't think it is - I feel like this 'oldest episode first' should apply even to 'not-new episodes'. If I add a new podcast (then only the latest x episodes is marked as new), I wouldn't want to manually have to mark all previous episodes as 'new'.

[2020-10-30 03:13] avirajrsingh commented on #4616
Working on this.  So I need to create a value in dimen for all screen types and use it as the height right ? If yes can you tell the appropriate values for ldpi, hdpi.... xxxhdpi @ByteHamster

[2020-10-30 03:38] avirajrsingh commented on #4599
![WhatsApp Image 2020-10-30 at 09 07 14](https://user-images.githubusercontent.com/69088913/97657255-6b6ec880-1a8f-11eb-832b-a8939cf304b9.jpeg)
I'm getting this option of Deactivate Auto Download instead of Enable Auto Download. Do I need to remove this option ? @ByteHamster

[2020-10-30 07:01] ByteHamster commented on #4599
The fact that AntennaPod shows the "deactivate" button for you means that I need to have a look at the local feed settings again...

I think enable/disable are two separate menu entries (only one is shown at each point in time). For this PR, just remove both :)

[2020-10-30 07:15] ByteHamster commented on #4616
Awesome :)

Instead of the `-hdpi` suffix (which is only about resolution, not size), you can use something like `-sw200dp` which means smallest screen size is 200dp.

You can find more qualifiers here (table 2).
https://developer.android.com/guide/topics/resources/providing-resources

I don't yet know what modifier works best, so you need to experiment a bit. Keep in mind that AntennaPod does not

[2020-10-30 07:32] keunes commented on #4616
Now that I added a comparison screen, I'm also wondering if we should increase the blur a bit on these bigger screens. It'll increase readability of the podcast title & author.

[2020-10-30 07:40] keunes opened #4619 "Different podcast versions not readable when adding new podcast"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.2

**App source**: Google Play

# ~Feature~ Enhancement description

**Problem you may be having, or feature you want*

[2020-10-30 08:33] keunes commented on #1711
To be honest, I find it more important to a) be able to include a podcast in multiple 'queues' (apply multiple tags), then b) be able to set different speeds/keep updated, etc per tag/folder. Reason? Simply because A (which affects your queue) cannot be achieved yet, while B can be set on a more granular level already (per-podcast basis). A multi-select/batch-edit option for episodes (e.g. to chan

[2020-10-30 08:48] keunes commented on #851
This was the first that proposed tags for podcasts, but a much bigger discussion (around the same use cases) is going on in #1711. I don't see in this thread a use-case for per-episode tags (apart from favourites, which is available already). So I think it's safe to close this.

Please comment if you feel this should be reopened, though.

[2020-10-30 08:48] #851 closed

[2020-10-30 09:15] ByteHamster commented on #4616
The blur radius was already increased in 2.0, I think. If you look at it on a real device instead of the screenshots on a computer, the font size of the title is pretty big and easy to read. This is probably caused by the fact that phone screens start to have the same resolution as computer screens, just with a fraction of the size. I actually like that the image is still pretty recognizable inste

[2020-10-30 11:58] cometchaserde commented on #4484
Hi,

it works with mobile network. Usually I never use mobile network.

[2020-10-30 19:09] blackris-github commented on #4448
Same problem with 2.0.3 on the Pixel 4a.

[2020-10-30 20:33] damoasda commented on #4484
@cometchaserde That's good news. Slowly we are getting closer and closer to the cause of the error. As it worked via mobile network I would say that the root cause is outside of AntennaPod.

The URL you are using is unencrypted (HTTP) and can be cached by Internet proxies, e.g. at your Internet provider, to speed up downloads and save Internet traffic on provider side. If such a proxy has an error

[2020-10-31 10:18] Adaok opened #4622 "Small error refreshing the read/unread state of an episode"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [ ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.2.2 (ee4b2c055)

**App source**: F-Droid

**Android version**: 6.0 and 10

**Device m

[2020-10-31 10:23] Adaok commented on #4622
It's a really twisted case, I'm sorry 😅

But it will make a good first issue for a beginner to get started and make a contribution to open source.

[2020-10-31 10:42] ByteHamster commented on #4622
That problem will be fixed in 2.0.3, which is currently rolling out on Google Play and will soon come to F-Droid.

[2020-10-31 10:42] #4622 closed

[2020-10-31 10:59] #4599 closed

[2020-10-31 11:25] ByteHamster commented on #3899
The discussion continues in #4556

[2020-10-31 11:25] #3899 closed

[2020-10-31 11:32] ByteHamster commented on #4556
Thanks for posting your logs @Christian-Schulz and @CompmanJX3. They do not contain crashes that could directly lead to the cause, so I guess the problem is caused by some bad timing. In #4623, I added a bit more logging which should help to debug the problem. It will be released in 2.1.x

[2020-10-31 11:40] ByteHamster commented on #4606
I think you are looking for the "Enqueue after playing" setting that is located in <kbd>Settings</kbd> » <kbd>Playback</kbd> » <kbd>Position when enqueuing</kbd>

[2020-10-31 11:41] ByteHamster commented on #4605
Fixed in #4608

[2020-10-31 11:41] #4605 closed

[2020-10-31 11:42] #4565 closed

[2020-10-31 11:59] ByteHamster commented on #4445
This was already requested in #2540. I will close this issue to keep the discussion in one place.

[2020-10-31 11:59] #4445 closed

[2020-10-31 21:14] cometchaserde commented on #4484
Hi,
it works with the https - url.
But I tried it before with different wifi's that use differenz Internet providers. Always the same.
But if it works with the https, it is ok for me.
Thanks for helping.

[2020-10-31 21:38] ByteHamster commented on #4484
Nice catch @damoasda! I must admit that I would not have thought of using the https feed. Thanks a lot for resolving this!

[2020-10-31 21:38] #4484 closed

[2020-11-01 16:20] #4600 closed

[2020-11-01 16:20] #4259 closed

[2020-11-01 16:20] #4524 closed

[2020-11-01 16:39] keunes commented on #3952
From https://github.com/AntennaPod/AntennaPod/pull/4515#issuecomment-720113876. This should be improved when implementing the Home screen.

[2020-11-01 17:22] keunes opened #4630 "Make 'remove' icons in filter dialogs smaller"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1

**App source**: Google Play

# ~Feature~ Enhancement description

**Problem you may be having, or feature you want**:

[2020-11-02 02:57] sunng87 opened #4631 "Wifi with VPN connected is treated as mobile network"
# Checklist

- [X] I have used the search function to see if someone else has already submitted the same bug report.
- [X] I will describe the problem with as much detail as possible.
- [X] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.2

**App source**: F-Droid

**Android version**: 10.0/Oxygen OS

**Device model**:

[2020-11-02 05:20] flatlineB4dawn commented on #4185
believe I'm having the issue too, will only start back up after a force close.

`## Environment
Android version: 10
OS version: 4.9.179-perf+
AntennaPod version: 2.0.2
Model: ONEPLUS A6013
Device: OnePlus6T
Product: OnePlus6T

## Crash info
Time: 01-11-2020 18:56:35
AntennaPod version: 2.0.2

## StackTrace
[code]
`

[2020-11-02 06:56] keunes commented on #4346
@40ZqTYY4ag3tAO4hdlxR1 Are there any specific situations in which specific apps don't release audio focus? (Apart from video)

If so, we (you, me, the community) might try and reach out to their makers to see if they can fix the problem. I've never run into this, and I must say it doesn't feel like it's worth an extra setting (AntennaPod has quite a few already). You can turn on 'persistant notifi

[2020-11-02 07:15] keunes commented on #4631
Duplicate I think of #2597. Please comment if you disagree.

[2020-11-02 07:16] #4631 closed

[2020-11-02 09:04] avirajrsingh commented on #4630
Working on it.

[2020-11-02 13:10] racuna commented on #4606
I don't have that specific option.

https://i.imgur.com/MWuHP48.png

[2020-11-02 14:05] avirajrsingh commented on #4619
Working on this. 👍

[2020-11-02 14:57] ByteHamster commented on #4606
Oh, sorry. The setting is called "Enqueue location" in English

[2020-11-02 15:06] racuna commented on #4606
Ok thanks. But I want to put new chapters to the back of the queue. So that option is right set.

[2020-11-02 15:18] ByteHamster commented on #4185
At least this part of the problem should be fixed in 2.0.3, I think.

[2020-11-02 15:26] ByteHamster commented on #4606
Okay, am I right that you are looking for an option that streamed episodes are enqueued to the top of the queue, while downloaded episodes are enqueued to the back?

[2020-11-02 15:29] racuna commented on #4606
Yeah. Or don't even enqueue the streamed episode, just play it and then resume the queue from the top.

[2020-11-02 16:52] ByteHamster commented on #1711
The problem is that the way a) is implemented has a huge influence on our options for implementing b). So I think we need to think about both, even if we will definitely start implementing only a).

Doing this automatically sounds pretty confusing to me.

Maybe we could now decide that we do not plan to add folder-specific settings at all. If we decide that, we can add some kind of multi-select to

[2020-11-02 19:21] ByteHamster commented on #1711
Some open questions about the folders/tags:

- Does the counter of tags equal the total sum of its contents?
- Are tags always displayed on top or are they sorted together with the items?
- Which item is highlighted when selecting a feed that is added to multiple folders?
- Is it possible to create sub-folders?
- If one subscription has an error icon, does it also get applied to the folder?
- How

[2020-11-02 23:54] Rotzbua opened #4636 "[Statistics] Negative download traffic"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.3

**App source**: Google Play

**Android version**: 10 patch lvl october

**Device

[2020-11-03 07:12] keunes commented on #2379
@returntrip Not if they simply have access to the media files - there would need to be an actual interaction between the two apps. (Don't know if Sonos supports this. If they do, this could be another, separate feature request for AntennaPod.)

[2020-11-03 07:15] breadbelly opened #4637 "phone reboots after about 10 minutes of use"
# Checklist

- [ x] I have used the search function to see if someone else has already submitted the same bug report.
- [ x] I will describe the problem with as much detail as possible.
- [x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**:2.0.3

**App source**: Google Play ...

**Android version**: 6.0 (Please mention if y

[2020-11-03 07:46] keunes commented on #4606
Should we update the issue title to reflect this?

(On a side note, @racuna, in case you were to update the issue title: what you call 'chapters' are actually called 'episodes'.
'Chapters' are time-stamps within a single episode, to help you jump to a specific section of the episode.)

[2020-11-03 12:02] Friptick commented on #1711
Not sure I understand this. You _don't_ use the word "podcast" in the app, you use the word "subscription". And even if you did, it would remain an ambiguous term.

This is your app, it's up to you what you call things. But I repeat my point: everybody understands what a subscription is. But the word "podcast", in the real world, is now a messy context-dependent word which means "episode" as well

[2020-11-03 14:42] paulle opened #4638 "Please add a delete-function"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.3

**App source**: F-Droid

# Feature description

**Problem you may be having, or feature you want**:

**Suggested so

[2020-11-03 16:29] breadbelly commented on #4637
I have found a solution.
Antennapod was installed in the phones memory, and saved data to the sd card,
So I moved the app from the internal memory to the sd card.
That appears to have stopped the rebooting.
Joyous.

[2020-11-03 16:29] #4637 closed

[2020-11-03 17:06] tonytamsf commented on #4636
I also see the last item in my download statistics screen with a negative -2 GB

[2020-11-03 19:20] tonytamsf commented on #1711
@Friptick thanks for point this out about wording.  Could you take this discussion to the podcast forum?

[2020-11-03 22:05] ByteHamster commented on #2463
I have a really wild guess. Do you (who are still affected by this problem in AntennaPod 1.8.1 or newer) use the option <kbd>subscription order</kbd> » <kbd>by publication date</kbd>?

[2020-11-03 22:06] keunes opened #4639 "Crash when searching for new podcasts"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# Bug description

**Steps to reproduce**:
1. Go to the 'Add podcast' screen
2. Type something
3. Hit the 'search' icon

[2020-11-03 22:19] keunes opened #4640 ""High notification priority" returned in setting search, not available"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 9f4c90e

**App source**: CircleCI debug build

**Android version**: 10

**Device model*

[2020-11-03 22:23] keunes commented on #4640
Perhaps "High Notification priority" = "Persistsnt Playback Controls"?

[2020-11-03 22:27] keunes opened #4641 "Speed dialog not shown upon single tap"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 9f4c90e

**App source**: CircleCI debug build

**Android version**: 10

**Device model*

[2020-11-03 22:31] keunes commented on #4641
Guess actually the current behaviour is what you had in mind when implementing this. Maybe an 'enhancement' label is more fitting.

[2020-11-03 22:37] keunes opened #4642 "'Number of columns' setting in Subscriptions screen should have radio buttons"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.3

**App source**: Google Play

# ~Feature~ Enhancement description

**Problem you may be having, or feature you want*

[2020-11-03 22:46] keunes opened #4643 "Mini-player remains when podcast of previously playing episode was deleted"
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info
**App version**: 2.0.3
**App source**: Google Play
**Android version**: 10
**Device model**: Fairphone 3

[2020-11-03 22:51] ByteHamster commented on #4640
I think we can just remove that setting from search results alltogether (by adding `search:ignore="true"`). The setting is only displayed on old Android versions and hidden at run-time. Search is based on the plain preference specifications and can not react to run-time changes.

[2020-11-03 23:16] ByteHamster commented on #4641
Yeah, that's intended behavior. Not sure if we should change this. I have to admit, though, that this probably reduces the number of clicks for most users.

[2020-11-04 06:53] callis commented on #2463
I'm longer effected (thank You!). Back in the days, my subscriptions where sorted A-Z.

[2020-11-04 07:19] keunes commented on #4641
I don't think it would feel strange, to be honest. A similar flow is used everywhere in the settings (open setting, picking an option closes the setting). And it would certainly be the fastest way to select your playback speed.

[2020-11-04 09:06] ByteHamster commented on #4639
Fixed in #4645

[2020-11-04 09:06] #4639 closed

[2020-11-04 09:07] #4642 closed

[2020-11-04 09:18] #1915 closed

[2020-11-04 15:09] andersonvom commented on #2463
@ByteHamster subscription order is unchanged for me. What's your hunch?

[2020-11-04 15:23] ByteHamster commented on #2463
@andersonvom @callis Thanks! So it looks like the setting is not responsible.

That setting sometimes causes out-of-memory crashes in all AntennaPod versions between 1.4.0 (that's from 2015!) and 2.0.3 (only if you are subscribed to many podcasts, usually happens during refresh). My idea was that if the OOM error happens during a database write operation, it could cause the corruption. (details ab

[2020-11-04 15:30] Saroumane commented on #2463
Hello, I've been a happy user of AntennaPod for about 5 years, with only 2 database crashes.
Today everything is fine with AntennaPod 1.8.3 and I'm very reluctant to move towards 2.0.x versions (I'll prefer to wait 2.1.x for more stability)... except if 2.0.x is more resistant to database crashes.
What do you think ?

[2020-11-04 15:51] ByteHamster commented on #2463
I don't know what version is more resistant to database crashes. If I knew, it would be easy to fix the problem :)

[2020-11-04 17:19] jsteel44 commented on #2463
I posted last year stating that version 1.6.2.3 is fine, it was after updating from that version that I was stung twice (I put the first time down to a random issue, but it persisted). I downgraded and I've been running that version ever since without any issue, and I had been through many versions before that without issue, so I suspect the issue was introduced just after this version. Why we hav

[2020-11-04 18:35] ByteHamster commented on #2463
As you probably know, AntennaPod is developed by volunteers. Even though AntennaPod has tens of thousands of users, the number of active contributors is pretty small. The reason why people have not bisected commits yet is that the affected users either are no developers or don't consider this problem big enough that they spend their time bisecting. I am not affected by the problem, so I can not do

[2020-11-04 21:35] keunes commented on #4638
Hi @paulle
Thanks for chipping in and welcome to the AntennaPod community. Can you please describe your use case? In other words: what is the problem that you now have?
I'm asking because I think there could be another solution for your situation. And because really _deleting_ episodes from the database doesn't really fit well with the core structures/features of the app.

[2020-11-04 22:06] skyerjoe commented on #4341
**System info:**

App Version: 2.0.2  Downloaded from fdroid
Phone: xiaomi mi9t pro 128 gb
Android Version -  miui global 12.0.3 based on  Android 10 QKQ 1.190825.002
RAM - 6GB

**Problem**:
Same issue here

**Workaround**
I have to go into the app and click on "stream"  to resume the podcast episode.

Regards john

[2020-11-04 22:41] paulle commented on #4638
Thank you for your reply.

In my case it is the episodes list is getting very long and I don't want to scroll all the list. I want look at the title/description of episode, if not interesting for me

I want to delete it, if interesting for me I want leave it in the list for listening to the pod when I have the time for doing it.

Gesendet von ProtonMail mobile

-------- Original-Nachricht --------

[2020-11-04 23:59] andersonvom commented on #2463
This is also not super reproducible: for instance, I have no idea how mine got corrupted, only that one day I wasn't able to remove a podcast and after further investigation noticed it was corrupted. Whether it happened shortly before I noticed it or long ago remains a mystery. So unless we can consistently corrupt the database, there's no way to bisect the code.

[2020-11-05 07:39] keunes commented on #4638
Which list are we talking about, then? Of a specific podcast (left), or on the 'Episodes' screen (right):
<img width=250px src=https://user-images.githubusercontent.com/11229646/98211296-1ecd3680-1f42-11eb-8f5f-8af6ee073a46.png> <img width=250px src=https://user-images.githubusercontent.com/11229646/98211389-41f7e600-1f42-11eb-9776-e446c63f6759.png>

[2020-11-05 08:21] ByteHamster opened #4648 "Episode date is from the future"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.x

**App source**: Google Play / F-Droid / ...

**Android version**: various

**Dev

[2020-11-05 09:08] jsteel44 commented on #2463
I would do this by making builds for commits (eg every 10 commits to start with, depending on how many we have ahead of us and keep breaking it down further) after 1.6.2.3 and have everyone who has been affected try them, and report back after some time as to which has the issue and which hasn't. That sounds like a logical way to narrow this down. Of course it will take time, but we are 3 years do

[2020-11-05 10:30] paulle commented on #4638
The episodes screen (right/bottom).

Gesendet von ProtonMail mobile

-------- Original-Nachricht --------
Am 5. Nov. 2020, 08:39, Keunes schrieb:

[2020-11-05 12:49] keunes commented on #4638
Great, thanks. When you have a bit more time, can you describe your 'workflow'? Like why do you use this list? Would using the 'new' tab be useful for your use case? What is your goal when you don't want to scroll down the list, but still do?

I'm sorry to be asking you all these questions, but as I said I would like learn what other solutions/app changes would be helpful to you (in fact I have a

[2020-11-05 13:04] keunes commented on #2463
Given the issue showing up rather infrequently and probably to few users with the technical know-how & motivation to help, it would indeed take rather long. But indeed, 3 years passed, another two to identify the issue makes sense. A first step would be to identify commit blocks and create builds for them. The first two problems would be to identify the duration of a commit block test and getting

[2020-11-05 13:50] paulle commented on #4638
My use of antennapod is not very regular, there can be 2 weeks without listenining to a pod followed by 3 days listening every evening. But normally I open the episodes list every week for seeing what's interesting for me and listen to it later when I have the time for it (and that's the point there I want to delete the uninteresting episodes for me). Two years ago I used podlisten, there I could

[2020-11-05 14:10] andersonvom commented on #2463
Honestly, I feel like trying to bisect an issue that we don't know how to reproduce is a fool's errand, unless you have a lot of free time on your hands, and maybe even then. Let's assume someone had such amount of free time: they'd create many builds and have different users try them for some time. If the issue does not happen during that time frame, does it mean the version is bug free? No, the

[2020-11-05 14:20] jsteel44 commented on #2463
Has someone had this issue in a version prior to 1.6.2.3? If not, something was introduced after this to cause this issue. I don't remember the exact dates but I had two wipes within a few months, and none after going back 1 version. so yes it will take time to confirm but how else are we going to get the bottom of this? You can call my suggestion foolish but it's logical (be it time consuming) an

[2020-11-05 14:26] shortspider opened #4649 "Episodes Don't Play on 2.1.0-RC1"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

AntennaPod version: 2.1.0-RC1

**App source**: Google Play

**Android version**: 11

**Device model**: G

[2020-11-05 14:39] ByteHamster commented on #4649
Thanks for reporting. Do you use an alternative media player in `Settings` » `Playback` » `Media Player`? Try using ExoPlayer, as it is the only one that is officially supported.

In the logs, I see another thing that looks like a problem. What happened when you clicked the "Export full logs" button? Android should theoretically ask if you want to send the file. Did it do something else?

---

Dev

[2020-11-05 14:51] paulle commented on #4638
I believe I found a solution for me. Marking all the interesting pods as favorites.
Every time opening antenna pod, refresh zhe new tab, mark the new episode as favorite or mark it as not new.
So I can ignore the all tab of the episodes and Ihave only to look in the favorites tab.

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
Am Donnerstag, 5. Nove

[2020-11-05 15:08] andersonvom commented on #2463
I'm truly sorry for the poor wording on my part, my intention was not to be critical or put anything down, just point out that it'll be a very high cost, involving many users over a long period of time doing something that doesn't guarantee that we will find the issue.

[2020-11-05 15:21] shortspider commented on #4649
I was using the built in android player which I thought was the default. Switching to ExoPlayer does fix the issue. Does this mean there is a regression in the built in player or is this still an issue in AntennaPod? For my own curiosity why isn't the built in player used?

With regards to exporting logs, when I hit it the share menu popped up and let me select an app. I miss-clicked and hit Anten

[2020-11-05 15:42] alphapapa commented on #2463
I wasn't sure what option you meant, but I found it in the UI settings, and it's currently set to `Sort by number of played episodes`.  I don't recall ever changing that option.

[2020-11-05 15:51] ByteHamster commented on #4649
I don't know yet. Was the built-in media player working in AntennaPod 2.0.x or did you recently also do an Android update that could be a reason?

Android's built-in player is completely out of our control. On some devices, it works well. On others, it randomly crashes and does not support widely used file formats. When we use ExoPlayer, we are independent from vendors who mess up their software.

[2020-11-05 15:57] shortspider commented on #4649
The player was working just fine on 2.0.x and there was no Android update, just the app update last night.

Very fair. I'll stick with ExoPlayer moving forward. Thanks again for the quick response and info @ByteHamster.

[2020-11-05 15:58] shortspider commented on #4649
Whoops I meant to ask, do you want me to close this @ByteHamster?

[2020-11-05 16:33] ByteHamster commented on #4649
Let's keep it open. We either have to fix the built-in media player crash or switch users to ExoPlayer automatically.

[2020-11-05 17:00] keunes commented on #4648
This isn't the case for me, for https://feeds.99percentinvisible.org/99percentinvisible

[2020-11-05 18:08] keunes commented on #2463
Having users contacting us after the database gets corrupted doesn't sound like masking the problem to me. If at all possible (I'm not a developer), I guess it could help identify what is causing the corruption (?)

[2020-11-05 18:11] RollingStar commented on #2220
Is this bug still open?

[2020-11-05 18:23] Corey-Keller commented on #2379
I would just like to also express the desire for additional media locations (/storage/emulated/0/Podcasts or DIRECTORY_PODCASTS at least; honestly anywhere that can be r/w from file managers would suffice for me). I understand the difficulty (and significant rewriting) that this would involve, but I'd like to offer $25 towards a "bounty" on this getting done.

[2020-11-05 18:37] ByteHamster commented on #2463
We currently already write the corrupted file to the sd card for recovery. That code path could be extended.

---

This problem could happen more often than I thought. If only the indexes are affected, users don't even know that there was a corruption.

I wonder if we actually need the indexes. They increase the number of write calls a lot and we write to the database pretty frequently during each

[2020-11-05 18:38] ByteHamster commented on #2379
AntennaPod's folder on the external storage is readable and writable from file managers.

[2020-11-05 18:47] Corey-Keller commented on #2379
I'm assuming you're referring to the `Android/data/de.danoeh.antennapod/` folder being r/w when on an external SD card? That's great, but useless to those of us with devices without SD card slots (for example myself on a Pixel 5).

[2020-11-05 19:06] alphapapa commented on #2463
Could updating the indexes be deferred until, e.g. all feeds in an update have finished updating, so they'd only be updated once? (assuming that's not already the case)

[2020-11-05 19:35] orionlee commented on #2463
A data point: I might have encountered the OOM error a few times, and did not experience any data corruption.

More specifics:
- I found AntennaPod hang during subscription refresh, maybe once every few months that I could resolve by force stopping the app.
- I have 106 feeds, a database about 50Mb.
- AntennaPod version: 1.7.3b-based custom build.
- Device: Moto E4, Android 7.1.1

[2020-11-05 19:36] ByteHamster commented on #2463
Apart from a lot of reformatting (did I mention that I don't like PRs that change the code style of unrelated code for no reason?), the only real DB related commits between 1.6.2.3 and 1.6.4.1 are the following:

- https://github.com/AntennaPod/AntennaPod/commit/28f52d0ea61a95503463ec27750f5610ec8b450a: Should be fine.
- https://github.com/AntennaPod/AntennaPod/commit/6eba46a7bacfddb30353a63b52ca5

[2020-11-05 19:43] ByteHamster commented on #2379
I have a phone without an sd card slot but the data is still accessible. It is stored on `/sdcard/Android/data/de.danoeh.antennapod/` (that path is there for historical reasons and actually is stored on the device flash memory).

[2020-11-05 19:50] cryobry commented on #2379
I would bet that a lot of the people affected by this are using syncthing
to share the podcast storage directory (AntennaPod has the sanest storage
layout of any podcast app). The /Android/data directory is not accessible
by Syncthing, while /Android/media is after granting the all storage access
in Android 11.

On Thu, Nov 5, 2020, 2:43 PM ByteHamster <notifications@github.com> wrote:

[2020-11-05 20:00] Corey-Keller commented on #2379
I assume you aren't on Android 11 then (or you're rooted)? Because on 11 the Android/data folder is 100% empty from a file managers perspective

[2020-11-05 20:08] cryobry commented on #2379
I can see files in Android/data using OnePlus file manager in Android 11,
unrooted. They just aren't accessible from some non-system applications,
which is why it would be better to keep them in Podcasts/ or Android/media.

On Thu, Nov 5, 2020, 3:01 PM Corey Keller <notifications@github.com> wrote:

[2020-11-05 20:28] ByteHamster commented on #2463
I have prepared 3 builds. Two of them use the singleton implementation from AntennaPod `2.0.3` and one of them uses the singleton implementation from AntennaPod `1.6.2.3`. There is a chance that the latter fixes the corruption. If you can find out which of the 3 builds is the one that changed the behavior back (by trying the app, not by decompiling, obviously), we have found the solution.

You can

[2020-11-05 20:35] Kiracles opened #4650 "Audio plays simultaneously over itself and will not stop unless app is closed"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same bug report.
- [ x] I will describe the problem with as much detail as possible.
- [ x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.0-RC1 (769e5ad3f)

**App source**: Google Play

**Android version**: 9

**Device

[2020-11-05 20:35] jsteel44 commented on #2463
@ByteHamster I found a report I made https://github.com/AntennaPod/AntennaPod/issues/2576 so it's 1.6.4.5 that I had the issue with. I'm not sure what versions were released between 1.6.2.3 and 1.6.4.5 but as you mentioned 1.6.4.1, it's possible I went back to 1.6.4.1 and it happened again (but at this point I'm relying on my memory; I just remember it happening twice) so I went to 1.6.2.3 and hav

[2020-11-05 20:36] Kiracles commented on #4650
![SmartSelect_20201105-152001_AntennaPod](https://user-images.githubusercontent.com/59340627/98293591-99b34300-1f7c-11eb-913c-b352b18df5c8.gif)

[2020-11-05 20:49] sbadux opened #4651 "Notification sound when playback starts"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info
**App version**: 2.0.3
**App source**: Google Play - Beta channel
**Android version**: 10
**Device model*

[2020-11-05 21:01] ByteHamster commented on #2463
They are identical.

The reason for having 3 is the following: Assume there are versions X and Y. Now you test version X and experience the problem. Then you start testing Y, knowing in the back of your head that it might be the one that contains the fix, and maybe stop too early while actually, the fix did not work and both still have the issue.

[2020-11-05 21:46] jsteel44 commented on #2463
I see, makes sense. I tried to install one but it just says "App not installed" after hitting the install button and seeing the "Installing..." message, all 3 give me that issue, not sure why yet.

[2020-11-05 21:55] ByteHamster commented on #2463
Did you get your existing install from F-Droid? They use a different signature (which is private to F-Droid). That signature mismatch prevents switching between the versions.

[2020-11-05 21:57] jsteel44 commented on #2463
Yes, and I don't think 1.6.2.3 has an option to backup the database, and `adb backup` is giving me a really tiny file so not sure how I can switch over without losing everything.

[2020-11-05 22:44] Kiracles commented on #4650
Also I've restarted my phone and the issue persists

[2020-11-06 03:37] gregmb opened #4652 "Won't download over wifi on 2.0.3"
--- name: Bug report about: Create a report to help us improve existing features labels: 'possible bug' --- # Checklist
- [ X] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [ x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast. # System i

[2020-11-06 07:04] keunes commented on #1711
@Friptick We _do_ use both (see e.g. the 'Share' menu for 'podcast' use). I've personally not worked on/paid much attention to the areas where 'subscription' is used. Thanks for flagging this again. As tonytamsf said: it would be good to discuss this in the forum.

[2020-11-06 07:49] unsungNovelty commented on #1960
Hi,
Appreciate all the work on Antennapod, it really is the best available podcast player!

I understand this is not a trivial feature to have, but I would really appreciate if this is taken into consideration since I use it regularly.

How I see this as a bug:
- The statistics page is supposed to show the full stats of the duration periods for individual podcast subscriptions. The current impleme

[2020-11-06 07:52] ByteHamster commented on #2463
Does `adb` have access to AntennaPod's database in `/data/data/de.danoeh.antennapod/databases/`? If so, I think it should be enough backing up only these files. Alternatively, you could upgrade using F-Droid, turn off the internet (so you are sure that feeds are not updated and therefore the database is not written), and then use the export functionality. The export does not include downloaded epi

[2020-11-06 07:55] ByteHamster commented on #4650
The logs you posted are not complete. It only shows the file name of the log file and not its actual content.

Until this is solved, try switching to ExoPlayer.

[2020-11-06 07:58] ByteHamster commented on #4651
Try checking the notification settings of your phone and ensure that AntennaPod's "Currently playing" channel is not set to make a sound. I will later investigate why it has a sound on your device. I thought that the default actually is to not make a sound.

[2020-11-06 08:05] ByteHamster opened #4653 "Make "export full logs" less visible"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.0

# Feature description

**Problem you may be having, or feature you want**:

Exporting full logs should only be rare

[2020-11-06 08:07] ByteHamster opened #4654 "Make it more clear what media player is recommended"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.0

# Feature description

**Problem you may be having, or feature you want**:

We allow to select multiple media playe

[2020-11-06 08:14] ByteHamster opened #4655 "Remove support for opening external video with AntennaPod"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.0

# Feature description

**Problem you may be having, or feature you want**:

Version 2.0.0 removed support for exter

[2020-11-06 08:14] keunes commented on #1711
Do you mean multi-select to set _podcast_ specific settings (while not introducing the same settings as folder/tag-level)? If so, then I could see this work (even though I still think certain settings like refresh frequency could still work on folder/tag-level).

What do you mean with the 'counter of tags'? Are you referring to a number that could be displayed in the menu next to the tag/folder na

[2020-11-06 08:18] ByteHamster commented on #2379
Oh, right. I am not using Android 11.

Maybe, alternatively, AntennaPod can still use its own folder without a rewrite but make it accessible to other apps. That can be done using a file provider. Something like Termux does here:

<img width="250" src="https://user-images.githubusercontent.com/5811634/98342598-ef392f80-2010-11eb-8822-e4bb8ee597ce.png" />

[2020-11-06 08:20] keunes commented on #1711
And another two questions: How can you initiate playback of a specific tag/folder? How do tags/folders interact with the queue?

[2020-11-06 08:22] ByteHamster opened #4656 ""clear download log" button does not work"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.0

**App source**: Google Play

# Bug description

**Steps to reproduce**:
1. Click

[2020-11-06 09:03] ByteHamster commented on #4641
I think most dialogs in Android either only use the buttons in the bottom to close or the dialogs are simple select dialogs (like in settings). When having a more complex dialog like ours, I don't think that it is expected that clicking something in the dialog content closes the dialog. I have actually tried closing it when implementing the feature. To me, it feels like something crashed - not lik

[2020-11-06 09:10] jsteel44 commented on #2463
Thanks yes I came to that conclusion that I could update via F-Droid to do the export which I did, but now I'm wondering if I uninstall the app, if it will wipe all my downloaded files. I'm not sure I can simply install your version and import; I think I'll need to re-download all episodes and some feeds of mine are now broken so unable to re-download. What I'll probably do is continue running 2.0

[2020-11-06 09:22] ByteHamster commented on #1711
For now, I would say that tags/folders are only used for categorizing subscriptions visually (to clean up long subscriptions lists). They do not have an influence on playback or queue.

Yes - that's what I meant. That makes implementing and handling folders significantly easier.

Yes, I mean the number that is displayed in the sidebar. Additionally, I mean the small triangle that is displayed on t

[2020-11-06 09:31] ByteHamster commented on #2463
Yes, the database export only contains the episode state. Not the actual media files.

What you could do would be the following:

- Backup (or move/rename) AntennaPod's data folder with the media files (accessible with file managers. Unless you run Android 11, apparently).
- Export AntennaPod's database
- Uninstall the F-Droid version
- Install one of the test versions (they can be upgraded from G

[2020-11-06 09:57] keunes commented on #4654
Technical detail: not sure if the string ExoPlayer is translatable at this point, but 'recommended' should be.

[2020-11-06 12:28] Matth7878 commented on #1711
I think lateral bar should be changed to :
- move subscription entry down : when clicking on it no difference from today (or do nothing and replace it with an all tag as it's first child)
- under subscription (which would be the root) you should have : untagged group for unassigned podcasts
- then tag_1, tag_2 and so on
- tapping on a tag will do the same thing as subscriptions screen but only for

[2020-11-06 13:52] Kiracles commented on #4650
``11-05 15:27:40.534 23383 23383 D ViewRootImpl@409eb44[MainActivity]: Relayout returned: old=[0,0][1080,2220] new=[0,0][1080,2220] result=0x1 surface={valid=false 0} changed=false
11-05 15:27:40.534 23383 23383 D ViewRootImpl@409eb44[MainActivity]: setWindowStopped(false) old=true
11-05 15:27:40.538 23383 23383 V PlaybackController: initServiceNotRunning()
11-05 15:27:40.542 23383 23383 V Playbac

[2020-11-06 13:54] Kiracles commented on #4650
This is like maybe 1/20th of the log in the file for the day 11-05.

I also don't know what exoplayer is or how to acccess it. Ive just been using spotify for the moment.

[2020-11-06 13:59] ByteHamster commented on #4650
In the gif that you posted, there is a button "switch to ExoPlayer". Try pressing it :)

[2020-11-06 14:09] Kiracles commented on #4650
Thank you, i would! But the popup has not returned and despite my troubleshooting (and even a restart) it hasn't come back. I've also checked my phone's settings for a way to switch my audio player and searched for the app.

[2020-11-06 14:23] Corey-Keller commented on #2379
@ByteHamster that could work if it is r/w. My specific use case for this is that a podcast I support only makes their ad free episodes available as direct downloads. I still want to listen to them in AntennaPod so I have to replace the regular episode with the ad free episode

[2020-11-06 18:35] ByteHamster commented on #2379
That sounds like a strange work-around :D AntennaPod is not meant to be used that way :smile: That makes the displayed durations of the episodes wrong. If they add chapter marks, they would also break.

How about contacting the podcast host and asking if they could make the ad free episodes available as a password protected feed? That would be a lot easier than having to download twice and then re

[2020-11-06 18:47] BenjaminHae commented on #4649
Same problem here, switching to exp fixes it

[2020-11-06 20:33] Corey-Keller commented on #2379
Already barked up that tree to no avail, but thanks for the suggestion.

OOH! That is EXACTLY what I'm needing! Can't wait for 2.1 then.

[2020-11-06 20:40] ByteHamster commented on #4649
Bisecting shows that this got broken by #4591. Currently trying to understand why this happens.

[2020-11-06 21:02] ByteHamster commented on #4652
Do you use a VPN?

[2020-11-06 21:05] sbadux commented on #4651
Hello,
thanks for the reply. I don't even know that a "playing" notifications exists.
I've checked the per-app notification settings and disabled the "playing" notification. Now it works correctly.
The strange thing is that I've re-enabled that option because I want the notification with the playback commands but this bug doesn't happens anymore.  It seems solved

[2020-11-06 21:09] damoasda opened #4661 "Modularize code to improve testability"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.3

**App source**: not relevant

# Feature description

**Problem you may be having, or feature you want**:

While inv

[2020-11-06 21:17] ByteHamster commented on #4651
You can not only use that screen to enable/disable. If you tap the name of the notification channel, there are some additional options.

I just re-checked the code. We set the default value to silent. Not sure why it got changed on your device. Maybe you long-pressed the notification accidentally at some point and changed something accidentally. Anyway, I think this can be closed. Feel free to com

[2020-11-06 21:17] #4651 closed

[2020-11-06 21:48] ByteHamster commented on #4661
100% agree. AntennaPod's code base has historically grown. Even model objects like the "FeedItem" class perform database queries. The code is a real mess in many places. Over the past 3 years, I have reworked quite a few monsterous classes but it is still far from being a good code structure.

Thanks for generating the dependency graph. It's even worse than what I thought. There hardly is any pack

[2020-11-06 21:50] gregmb commented on #4652
Yes. I use ProtonVPN, if it matters. I've tried multiple servers. It hasn't been an issue on previous versions, but I'll try disconnecting and see if it works.

[2020-11-06 21:56] gregmb commented on #4652
Ok, it works without the VPN. Is there any way to fix this through the app?

[2020-11-06 21:57] #4654 closed

[2020-11-06 21:57] #4656 closed

[2020-11-07 08:20] keunes commented on #4652
Then this would be a duplicate of #2597.

Are you sure about this? Would be odd since the other issue shows the problem exists much longer already.

[2020-11-07 08:24] keunes commented on #4649
@ByteHamster Guess this should have been closed through merged #4659?

[2020-11-07 08:26] keunes commented on #4650
@ByteHamster Guess this should have been closed through merged #4659?

[2020-11-07 08:37] #4649 closed

[2020-11-07 08:38] ByteHamster commented on #4649
I kept it open for a bit to avoid users opening duplicate issues. Just pushed 2.1.0-RC2 with the fix to Google Play.

[2020-11-07 08:38] #4650 closed

[2020-11-07 09:03] keunes commented on #4649
Ah, ok, I see :)

[2020-11-07 14:44] paulle opened #4664 "Why not add vlc to the list of choosable players?"
Why not add vlc to the list of choosable players?
VLC is plays nearly everything, it's wide spread and open source.
It would be a nice feature for people who have already installed it to hear the podcasts with it.
---
name: Feature request
about: Request a new feature or enhancement

---

# Checklist

- [ ] I have used the search function to see if someone else has already submitted the same featu

[2020-11-07 15:02] gregmb commented on #4652
Yes I'm sure. I think I would notice if I weren't able to download any podcasts before.

[2020-11-07 17:32] ByteHamster commented on #4390
Apparently, this happens with more French podcasts, not just the ones from Radio France. I wonder if this might have legal reasons. Discussion with a podcast host: https://twitter.com/ByteHamster/status/1325013698159800320

[2020-11-07 20:33] keunes commented on #4641
That could be nice. Something like a green fill and size wave of the selected chip and a fade-out of the dialog?

[2020-11-07 21:13] keunes commented on #4390
Curious what comes his search.

[2020-11-07 21:22] keunes commented on #4652
Right.

Just to check; in addition to the app update, is it possible that your system (Android) updated also?

[2020-11-07 21:34] keunes commented on #4664
Hi @paulle
To answer the 'why not' question: because it would defeat the purpose of AntennaPod. As @ByteHamster wrote in https://github.com/AntennaPod/AntennaPod/issues/2014#issuecomment-490153616:

[2020-11-07 21:34] #4664 closed

[2020-11-07 21:38] keunes commented on #4652
A work-around could possibly be to enable episode downloads or streaming in the 'Mobile updates' setting, but if it works it would mean you'd have to be careful when you're actually on a mobile network.  But if we could bisect your case that would be even better :)

[2020-11-07 21:47] ByteHamster commented on #4641
My idea was something like this (video edit) https://imgur.com/a/2UMfm4B but that's probably really hard to achieve ^^

[2020-11-07 21:52] ByteHamster commented on #4652
2.1 contains some changes related to mobile network detection (it gets rather more strict) but 2.0 is the same as 1.8. Did your VPN app get updated? AntennaPod 2.0 and 1.8 treat networks that are "metered" as mobile networks.

[2020-11-08 06:44] keunes commented on #4641
Ah, that would be quite cool yes :)

[2020-11-08 09:06] ByteHamster commented on #1711
Having the subscriptions no longer in the side bar significantly changes the way users interact with the app. For this PR, I would not remove them. I think users like the fact that they have direct access to all their subscriptions.

[2020-11-08 09:44] Matth7878 commented on #1711
Ok but what about unifying subscriptions screen entry with subscriptions list?

Tapping on hierarchy root or on a tag to show subscriptions screen would be better than keeping an entry apart as you could :
- reuse subscriptions screen to be used with group
- and so have not only an overall view to manage all podcasts but one as well for each group/tag. (Podcasts not assigned should really go in an

[2020-11-08 09:56] skyerjoe opened #4667 "[enhancement] Add Login with github in Forum And sync both And add Tags for difference"
Seems that all topics will be posted in Forum And GitHub or Vice versa
Looks so messy may an sync will help

Best regards

[2020-11-08 10:08] ByteHamster commented on #4667
I agree that login with GitHub would be good. Syncing issues/topics is not something I support, though. GitHub is aimed at developers and the forum at users. Users are confused by the technical discussions on GitHub - that's why we have started the forum in the first place. If we synchronized both, the forum would be flooded with discussions about the code structure and GitHub would be flooded wit

[2020-11-08 12:13] Matth7878 opened #4668 "Incorrect forms in string used for settings : subscription filter, playback speed"
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

**App version**: 2.1.0-RC2 / Google Play

# Bug description
A subscriptions filter has been added but in settings singul

[2020-11-08 12:13] Matth7878 opened #4669 "Suggestions by iTunes text still there when there is none because user hided them"
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

**App version**: 2.1.0-RC2 / Google Play

# Bug description
On 2.1.0-RC2 you can hide suggestions choosing in country li

[2020-11-08 12:14] Matth7878 opened #4670 "Virtual podcast propose to share link"
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

**App version**: 2.1.0-RC2 / Google Play

# Bug description
When in a virtual podcast screen there is still  "share link

[2020-11-08 19:03] tonytamsf commented on #4669
Please assign to me

[2020-11-08 19:41] gregmb commented on #4652
Google Play says my VPN app was updated the day before I updated AntennaPod. I didn't notice the error message until after I had updated AP, since I do that manually through F Droid, but it's possible I just hadn't tried to download anything in the window between the two updates.

I have AP connecting outside the VPN right now, as the app allows split tunneling.

Thank you for the help and looking

[2020-11-08 21:10] AbelLykens opened #4671 "Support for <podcast:value> tag; AntennaPod being a wallet, paying podcasters"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info
**App version**: 2.0.1
**App source**: F-Droid

# Feature description
I just had something magic happen. Some hours ago, I added my Bitcoin

[2020-11-08 21:54] keunes commented on #4652
Glad you found a workaround. Keep an eye out on #2597 ;)

[2020-11-08 21:54] #4652 closed

[2020-11-09 07:41] AbelLykens commented on #4671
I understand this is A LOT OF WORK. But also the start of a new era of podcasting. Would be cool to investigate what would be needed to build this :)

[2020-11-09 07:47] jmikedupont2 commented on #4671
I would like to see that not just bitcoin but also some privacy coin is supported as well. I am interested in helping with this.

[2020-11-09 08:49] AbelLykens commented on #4671
I think Bitcoin is the best start (whatever happens on LN channels is private, so that helps). Current spec lists bitcoin+lightning only. Nice to see you want to help. I think bitcoin is already quite the challenge; supporting other coins might be something for later :)

[2020-11-09 08:51] jmikedupont2 commented on #4671
I think we should at least plan for more coins and make a reusable component for it. seems to be a great library nitch.

[2020-11-09 08:52] jmikedupont2 commented on #4671
https://github.com/ACINQ/eclair-mobile

[2020-11-09 08:56] jmikedupont2 commented on #4671
My concerns are for privacy because the value stream can be used to track a user's Behavior what part of the podcast they listen to and that will then be available to the lightning partner who is committing the transactions so that it will expose this valuable information to whoever is processing the transaction

[2020-11-09 08:57] jmikedupont2 commented on #4671
It seems to me that it would be better to aggregate those payments on the client side and then do a payout on a regular basis or wind the amount goes to a certain level so that we don't have micropayments that are actually tracking user Behavior

[2020-11-09 09:16] AbelLykens commented on #4671
Can we try to limit the amount of messages (edit old ones?) :+1: . Eclair is a good start. I have used it and works well. The hops do not see what the content of the lightning data is. I would think: if you/we want to discuss the model itself, we should do that on the namespace github. I believe it's secure; contents of the message will be encrypted with the destination key.

I have used it as a p

[2020-11-09 16:12] summersab opened #4674 "v2.x series no longer opens standalone m4a files"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.x

**App source**: F-Droid

**Android version**: 8.1.0

**Device model**: Nexus 5X

#

[2020-11-09 16:19] lgmke opened #4675 "Played episodes don't get removed from the All tab."
Episodes that have been listened to are greyed out with a download button next to them instead of a play button. How do they get removed?

[2020-11-09 16:29] ByteHamster commented on #4674
Using AntennaPod as a player for external media files was deprecated in version 2.0 (for technical reasons). Starting with AntennaPod 2.1, it is possible to create a "virtual" podcast by adding a local folder.

AntennaPod-AudioPlayer is a playback engine (that is used in AntennaPod) and can not be used as a stand-alone app.

[2020-11-09 16:31] #4640 closed

[2020-11-09 16:44] summersab commented on #4674
How do you add a local folder to create a "virtual" podcast? I tried opening a `file:///` URL, but that didn't work.

It would be really great if you DID add the capability to more easily open play local media files. My favorite features of AntennaPod are:
- Easy access of playback speeds (with VLC, I have to navigate a clunky menu; AntennaPod is just a single button to toggle)
- Seek forward/back

[2020-11-09 16:58] summersab opened #4676 "Add shake / accelerometer actions (seek, skip, pause/play, etc)"
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.3

**App source**: F-Droid

# Feature description

**Problem you may be having, or feature you want**:
It would be hand

[2020-11-09 17:03] summersab commented on #4229
I actually would like to see this feature, as well. Sometimes, the silence that is skipped becomes a bit "aggressive," and it disrupts the cadence and flow of the people talking on the podcasts. However, it would still nice to be able to skip sections when there are 500ms or more of silence.

Perhaps add it to an advanced settings section to cut down on potential confusion?

[2020-11-09 17:12] ByteHamster commented on #4674
I guess you are probably using version 2.0.3 (but your version declaration above is not totally clear about that). Local folders are available only in AntennaPod 2.1.0. In that version, the "add podcast" screen has a button for that.

That' exactly what local folder support was built for.

[2020-11-09 17:13] ByteHamster commented on #4676
AntennaPod already has a shake action that resets the sleep timer

[2020-11-09 18:16] summersab commented on #4676
Right - I saw that feature, but it's restricted to the sleep timer. It would be handy to be able to configure the shake action to trigger different actions. Check out Vanilla Music as an example to see their implementation.

[2020-11-09 18:19] summersab commented on #4674
Gotcha. I am using 2.0.3 because that's the current version in F-Droid. I'll wait for the update. Thanks!

[2020-11-09 18:19] #4674 closed

[2020-11-09 21:35] ByteHamster commented on #1711
I am not completely sure what you mean with that.

My idea was that the subscriptions screen shows folders (either between or above the untagged subscriptions, tbd later). When clicking on a folder, AntennaPod shows the subscriptions of that folder (having the same filters/columns/etc that are already selected on the main subscriptions screen).

[2020-11-09 22:19] ByteHamster commented on #4670
You mean the feed info page (the one that displays the description), right? Or is there another location that got forgotten?

[2020-11-09 22:21] Matth7878 commented on #1711
What I meant was :
- to allow tapping any group/folder directly in the list and to show a subscriptions screen with only podcasts belonging to that folder
- to add at the top of the list (in side menu) an "all" folder making "subscriptions" entry redundant (but not really if you can't hide actual podcasts from it)
- and to also have an "unassigned" folder for podcasts without any group

It was bec

[2020-11-09 22:26] Matth7878 commented on #4670
I mean the feed info page and in the 3 dots menu at top left.
I just re added a folder to do a screenshot :
![Screenshot_20201109-232508](https://user-images.githubusercontent.com/3684177/98603796-fd25d380-22e2-11eb-8c0f-2e90bb2fac9e.jpg)

[2020-11-09 22:49] ByteHamster commented on #1711
Would mean that folders in the side bar can not be expanded/collapsed?

Do we need an "all" folder? I thought that the point of having folders is to clean up the screens and reduce the list lengths.

That would be a change for existing users who do not use folders at all. To be honest, I want to change as little as possible for users who do not use folders.

---

The screenshots that were posted i

[2020-11-09 22:54] ByteHamster commented on #4387
I don't know what needs to be done. As far as I know, AntennaPod behaves exactly as it should (starts a foreground service and keeps a wake lock). That's why I assume that we are affected by the known problem that some vendors just randomly kill apps even if they behave correctly.

@Heisenberg399 sounded like they have an idea what to do about that.

[2020-11-09 23:36] Matth7878 commented on #1711
That's why initially I thought it was better not to list podcast but only folders. Besides a lot of space would have been freed.
Since then one user on the forum said that it was really usefull for him to have the list.

The all folder would have replaced the subscriptions entry so no more or less space would have been used. (But subscriptions entry is maybe not displaying by default)

A big +1 fo

[2020-11-10 00:44] chicocaramelo commented on #1711
I think of folders much like

Functionally, it could be very similar to

[2020-11-10 01:51] chicocaramelo commented on #1711
It could be very similar to a "multifeeds". Like Twitter's lists, Reddit's custom feeds or Feedly feeds.

UX could be similar as putting apps in folders in smartphones, dragging one podcast feed over the other would make a folder and others inside that folder etc. Or an option to "add to a folder" on the menu of the podcast feed. Folders could show along on the lists of podcasts (not needing a una

[2020-11-10 09:00] keunes opened #4681 "Introduce multi-select/batch-edit for podcasts"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.3

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**: I would lik

[2020-11-10 12:29] Friptick commented on #1711
Some general feedback requested by @ByteHamster.

What I want is **different queues for different listening contexts**. I don't mind if it is done by folders or tags, as long as I can get different queues out of it. @chicocaramelo describes the use-case well:

[2020-11-10 13:59] ByteHamster commented on #1711
@Friptick Multiple queues are not the goal of this issue - that is covered in #2648. This issue here is about managing and organizing the list of subscriptions, not playback of episodes.

@chicocaramelo That's how I imagined the feature, too. Though, we could add an additional tag (called something like `#root`) for cases where someone wants a subscription to appear in both root folder and a group

[2020-11-11 08:26] keunes opened #4683 "Adapt episode filter button height in function of string length (depending on number of lines occupied)"
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.3

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**: the buttons

[2020-11-11 08:44] Matth7878 commented on #4675
In Episodes screen / All tabs from 3 dots menu there is a filter option and it's possible to filter out read episodes.

[2020-11-11 08:51] Matth7878 commented on #4683
I feel the same, text is taking a lot of space.
It's the same with subscriptions filter dialog.

I don't remember but I think it has been proposed but why it was not favored to do something like :
- Options 1 : With / Without / cross icon to clear
- Options 2 : With / Without / cross icon to clear
- and so on

[2020-11-11 12:57] ByteHamster commented on #4667
GitHub login in the forum is now available.

[2020-11-11 12:57] #4667 closed

[2020-11-11 14:15] skyerjoe commented on #4667
But its already used for every purpose u find on the forum sophisticated topics as well and also easy ones on github, so why not control this with an wizard which asks u before u post ?

best regards

[2020-11-11 16:30] Corey-Keller commented on #2379
@ByteHamster How does "local folders" select what to add? Does it use a folder picker (that could also be used for setting the download location)? Or is the location hardcoded?

[2020-11-11 16:36] Matth7878 commented on #2379
@Corey-Keller with version 2.1.0 which is on beta you can go to add a podcast and select "add local folder"

[2020-11-11 16:44] ByteHamster commented on #2379
It does use a folder picker but the same can not be used for setting the download location. The picker actually returns a URI that could actually be located anywhere (within an app, on the storage, etc). AntennaPod interacts with a file provider - those files can not directly be read/written like we do it for downloads.

[2020-11-11 16:51] ByteHamster commented on #4667
On GitHub, we ask before posting:

![image](https://user-images.githubusercontent.com/5811634/98839428-cd431100-2445-11eb-95fd-4920336977e1.png)

I do not want to redirect non-technical users from the forum to GitHub because that leads to duplicates and low quality reports (also, I heard that GitHub is hard to understand for non-developers). On the forum, community members can help each other inst

[2020-11-11 19:38] skyerjoe commented on #4667
which one says such stupid things ?  ; )

got the message

best regards

[2020-11-11 20:54] #4669 closed

[2020-11-11 20:55] #4670 closed

[2020-11-11 20:55] ByteHamster commented on #4670
Fixed in #4679

[2020-11-11 21:05] ByteHamster commented on #2463
I have just merged the change. Will be released in 2.1.0-RC3. Let's hope that this actually fixes the issue.

[2020-11-11 21:18] ByteHamster commented on #4683
I think it is easier to understand when you can directly click on the thing you want to see. The method you are suggesting, at least to me, feels like it needs two mental steps to realize what is happening. Reference: #4151

[2020-11-11 21:22] ByteHamster commented on #4636
Fixed in #4680

By the way, the screen does not show download traffic. It shows how much space is currently occupied on your device.

[2020-11-11 21:22] #4636 closed

[2020-11-11 21:46] Rotzbua commented on #4636
@ByteHamster Thanks for fixing 👍

The naming is a bit misleading. With "downloads" I associate traffic and not the used storage of downloaded potcasts. Maybe renaming it to "storage" would be more intuitive.

[2020-11-11 21:50] ByteHamster commented on #4636
Yeah I see that it's pretty misleading. The text in the pie chart will be changed to "Total size of episodes on the device" in AntennaPod 2.1.0

[2020-11-11 22:40] keunes commented on #1711
Thanks to those who shared their ideas :) Putting together the comments with my own ideas, I came to the following mock-ups.

From left to right (top to bottom):
* main menu, first tag unfolded (following tags invisible until scrolling down)
  * the tag icon+title area make the tag unfold/collapse
  * the queue icon will be fore tag-specific queues (until that's implemented should be RSS icon for

[2020-11-11 23:00] keunes commented on #1711
PS
* Please shoot at these mock-ups - I made them (also) to facilitate discussion
* I hope the coming weekend I can add some mock-ups showing the way to add/apply tags to podcasts (and how it would look on the podcast screen)
* I think batch-editing of podcasts (#4681) should be added first, as it would probably be the easiest method to add tags to podcasts

[2020-11-12 08:01] keunes commented on #4683
I'm personally still not convinced it is and it would be very interesting to test both methods (current & yes/either/no), but that's out of scope for this issue. If you're interested in helping to se up such test you can create a forum thread to discuss how we could do this (would be a lot of work, though, so not sure it's worth it).

[2020-11-12 08:05] keunes commented on #2463
How did you suddenly come to this realisation? 😮 Did you have a revelation is are there quick results from the bisecting?

[2020-11-12 08:44] jsteel44 commented on #2463
I've been running stock 2.0.3 for almost a week now and haven't had the issue yet, but I thought I (and hopefully others) were going to test your A, B and C releases for some months before we could come to a conclusion. I haven't switched to ABC yet because I wanted to run what I thought was a broken version to confirm I still do get the issue, because I haven't tested this since 1.6.x.

I guess t

[2020-11-12 10:37] ByteHamster commented on #4683
How about something like this?

http://limesurvey.bytehamster.com/index.php/885886

[2020-11-12 11:23] Friptick commented on #1711
Great work @keunes! And some interesting podcast recommendations as a bonus, thanks!  Sorry not to have any more specific feedback, it genuinely looks great.

Yes. Frankly I am not seeing why a user would want to spend time gardening lists of subscriptions if not for the queue UX. For me a podcast app **is** the queue. I hardly ever look elsewhere. But possible I am missing something.

Anyway, wel

[2020-11-12 12:06] keunes commented on #4683
Hah, nice. We could do to the same with the other screen, assign people randomly and compare (as a 'control' group). Also include a question maybe showing both UI options and asking which they would prefer.

We wouldn't get as rich input as when watching over someone's shoulder, but we can try :)

[2020-11-12 14:07] shortspider commented on #4556
Attached two sets of logs from separate instances I noticed the download notification was stuck. AntennaPod version 2.1.0-RC2.
Please let me know if you need anything else.
[full-logs.txt](https://github.com/AntennaPod/AntennaPod/files/5531071/full-logs.txt)
[full-logs(1).txt](https://github.com/AntennaPod/AntennaPod/files/5531072/full-logs.1.txt)

[2020-11-12 17:36] Corey-Keller commented on #2379
Is there any plan to make beta releases available outside of Google Play? I had to uninstall the F-Droid version after joining the beta on GP to be able to use 2.1. I don't know if F-Droid supports beta channels, but I know Github supports beta releases.

[2020-11-12 18:16] mathstuf commented on #2379
F-Droid does sometimes do beta builds (they're not automatically recommended as upgrades though). It might take an issue on the F-Droid side to make them aware to make beta builds for AntennaPod available though.

[2020-11-12 20:17] ByteHamster opened #4685 "Relicense under the GPL"
## Problem you may be having, or feature you want

Recently, there are more and more companies that just take AntennaPod, change the colors and upload it as their own closed-source app. One company who copied AntennaPod years ago is now even recommended by Google Play. Legally, they are totally allowed to do that because AntennaPod is licensed under the MIT license. That license basically states t

[2020-11-12 20:34] ByteHamster commented on #2379
F-Droid [does not](https://gitlab.com/fdroid/fdroidserver/-/issues/161) have a way to automatically check for beta versions based on tags. That means that all beta releases have to be added to F-Droid manually. I can tag beta releases as soon as they are ready (when the Google beta does not expose a really bad crash) but someone else has to do the pull requests for F-Droid. This requires needs to

[2020-11-13 06:29] tonytamsf commented on #4685
I agree

[2020-11-13 08:51] patbarron commented on #4556
I have the same issue also.  Sometimes I can get the notification to go away by opening the app while connected to WiFi and hitting "reload".  Sometimes I have to force close the app to make it go away.  I can't get the notification to go away by swiping it off the screen, it refuses to allow itself to be swiped...

My environment:

## Environment
Android version: 11
OS version: 4.9.223-g90fdcf28f

[2020-11-14 08:51] maxbechtold commented on #4661
I think rewriting it from scratch is far more efficient than breaking intertwined package cycles (if it's possible at all), in my experience.

[2020-11-14 10:16] ByteHamster commented on #4661
That's what K-9 mail is doing since more than 2 years (and it is still not finished). In that time, their rating dropped significantly because users think that the project is abandoned. Also considering the fact that Google seems to rank apps based on their update behavior, a rewrite from scratch is not a path I want to go. We need to compete with commercial platforms that currently destroy the op

[2020-11-14 11:53] ByteHamster commented on #4683
I think measuring the time it takes to answer the questions is also a nice metric that we could compare

[2020-11-14 12:00] ByteHamster commented on #2463
The database export that I received from you worries me. Maybe there are way more users affected than I thought. That's why I want to get it out as soon as possible now.

It's not completely insignificant (apparently, such small changes have the potential of messing up the whole database) but I am pretty confident that it is either the same or better than before. Also, it should speed up starting

[2020-11-14 17:11] ByteHamster commented on #4556
Thanks @shortspider! Looks like this is in fact not a timing issue. The notification is not posted again after the service is stopped. So there is something wrong with removing the notification. I added another experiment (#4689) that will be released in the next beta version.

[2020-11-14 17:39] ByteHamster commented on #1711
Nice mock-ups @keunes! They really help to continue the discussion.

I think it is a bit too much but I currently don't know a way to make it better

I do not understand what a tag-specific queue even is, to be honest. Is it the normal queue, but filtered by tag? If so, how does sorting a filtered queue influence the unfiltered queue? Is a tag-specific queue a completely separate thing? If so, how

[2020-11-14 19:00] spacecowboy commented on #2077
@tonytamsf you still working on the keep latest feature?

[2020-11-15 07:53] spacecowboy commented on #2077
so yesterday I realized that antenna pod wasn't downloading anything again..

fastest fix was clearing the queue, then downloads could happen again.

so fastest fix here would be to just allow antenna pod to remove and delete items from the queue during sync. what do you think  about me adding an option for that @ByteHamster ?

[2020-11-15 15:38] keunes commented on #2788
This is strongly related to #4681: Introduce multi-select/batch-edit for podcasts

While that issue doesn't provide an 'overview' of the current settings, getting such overview is now already possible with the filter introduced in #4502.

Given it is now possible to get an overview of which are auto-downloaded (4502) and changing settings for multiple podcasts in one go is covered by the open, new

[2020-11-15 16:14] m0ls opened #4692 "(2.0+) iTunes search screen: Show podcast's feed url"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.3 (81e2be8f2)

**App source**: F-Droid

# Feature description

**Problem you may be having, or feature you want**: In

[2020-11-15 16:20] m0ls commented on #4692
The two screenshots, in order, are the "Add podcast search" interface in version 2.0.3 and version 1.8.3 respectively.
![Screenshot_20201115-235536__01](https://user-images.githubusercontent.com/11006472/99190379-3f4a8b80-27a1-11eb-8555-c6851094e186.jpg)
![Screenshot_20201115-235732__01](https://user-images.githubusercontent.com/11006472/99190381-42de1280-27a1-11eb-8ca6-563e9c8879c3.jpg)

[2020-11-15 16:49] m0ls commented on #4426
One thing is worth noting: the deletion of an episode in the feed xml does not necessarily mean that the episode is _"expired"_ or _"invalid"._ Some podcast feeds only provide the latest 10 or 20 episodes at the time of fetching (as examples), but the previous episodes are playable.
Therefore, when the "Sync list with XML" function is introduced, it should be possible to configure the "Yes", "No"

[2020-11-15 16:51] keunes commented on #1711
Good idea. Like this, with horizontal scrolling?
<img width=250px alt="tags mockup_subscriptions screen_tag on_bar" src=https://user-images.githubusercontent.com/11229646/99189611-4f8f4600-2762-11eb-8800-9ae6256f9425.png>

When scrolling vertically (e.g. when all podcasts are visible), the tag filter bar could hide & show depending on the direction of scrolling, like in Gmail:
(initial state | scr

[2020-11-15 19:49] tonytamsf commented on #4692
@m0ls I think I had removed the URL and added the author because it was more friendly towards users.  But I see your point about being able to see the URL to determine which feed is more trustworthy.

[2020-11-15 21:00] Matth7878 commented on #1711
About tags above the subscriptions there should be a way to have a dialog and quick select. Without that it could be cumbersome with more than 4/5 tags. On the mockup screen only 2 tags (3 at most) would be displayed which is not much. Somebody with 10 tags would have to scroll 5 horizontal screens to access his last tag.
Considering this I would suggest not making an horizontal tags bar and only

[2020-11-15 21:19] damoasda commented on #4661
After a rough review of the packages I can imagine to structure the AntennaPod software architecture in the following way:

![modules-refactoring](https://user-images.githubusercontent.com/46045854/99196982-c131b900-278f-11eb-9d42-a5cb0daa13be.png)

**Module :app**
Responsible for user interaction. Keeps all the packages it has now.

**Module :feed**
Provides an API for the :app module to read and

[2020-11-15 22:48] keunes commented on #1711
Fair point. At thr same time I like the horizontal scrolling. Maybe the icon I included in my mock-up could be used to pull up a dialog providing a full overview.

From this and your other points I understand that you're only interested in queues based on tags, and not so much in any other type of automatic queue (as mentioned in #2648). But also you don't mention to be against more advanced queue

[2020-11-15 22:51] ByteHamster commented on #4661
I think we should first try to separate a "model" module (Feed, FeedItem, Chapter). Then it should be possible to move feed parsing and chapter parsing to their own modules (both depending on the model). I have not compared your graph with your suggested module structure in more detail yet but I think even with your structure, we need a "model" module.

This one could be hard to separate. It displ

[2020-11-16 01:45] sd0658 commented on #2077
@spacecowboy sttempting to find how to enable exactly that is what lead me here. Having to remember to clear my queue before bed so that all my feeds will be able to update while I sleep is a major annoyance. If you added that feature it would be amazing. I previously used BeyondPod Pro and loved this feature.

[2020-11-16 04:46] act0753 commented on #4683
[1]()

- [ ]
Duplicate of
![1605270652616332361846833385419~2](https://user-images.githubusercontent.com/73812006/99213872-5e8eec00-2794-11eb-96c0-5f4afceea8bd.jpg)

[2020-11-16 04:46] act0753 commented on #4683
- [ ]
yes

[2020-11-16 08:39] spacecowboy commented on #2077
Here's what I'm thinking @ByteHamster , we just add a new cleanup option: `When space is needed for new downloads` (suggestion for a good succinct description welcome).

It will do the same as `When not in queue` except of course not exclude things in the queue.

Seems like a simple addition without further UI complication and fills a gap in the cleanup settings.

Thoughts? Anyone else?

[2020-11-16 10:34] spacecowboy commented on #2077
Made another PR to take a stab at this: https://github.com/AntennaPod/AntennaPod/pull/4693

[2020-11-16 16:58] ByteHamster commented on #1711
I like it :) Maybe 2 lines could also work to avoid having to scroll a lot.

How many tags do users create? I thought this would only be around 2-5

How about having a last "chip" with something like "more»" that opens the tag dialog?

:+1: Not sure what selecting multiple tags should do. Display subscriptions that have **any** of the tags or that have **one** of the tags? Anyway, I don't think we

[2020-11-16 18:48] IevgenSobko opened #4694 "Distorted podcast image in Android notification curtain"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info
Android 10
OxygenOS 10.3.6

**App version**: 2.0.3

**App source**: Google Play.

**Device model**: OnePl

[2020-11-16 19:05] IevgenSobko opened #4695 "Display fallback for iframe with youtube link in podcast notes"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info
Android 10
OxygenOS 10.3.6

**App version**: 2.0.3

**App source**: Google Play.

**Device model**: OnePl

[2020-11-16 19:18] IevgenSobko opened #4696 "Highlight of currently playing chapter hard to notice (too low contrast wirh rest of thr screen) when using black (AMOLED) theme"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info
Android 10
OxygenOS 10.3.6

**App version**: 2.0.3

**App source**: Google Play.

**Device model**: OnePl

[2020-11-16 19:53] stefanauss opened #4697 "Unable to delete episodes through multiple selection"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.3

**App source**: Google Play

**Android version**: 10 (OxygenOS 10.3.6)

**Device

[2020-11-16 20:14] ByteHamster commented on #4695
That's actually intended behavior. AntennaPod does not execute JavaScript in shownotes.

[2020-11-16 20:20] ByteHamster commented on #4696
It's highlighted on my device. Are you sure this is a theme specific issue and not a podcast specific issue?

[2020-11-16 20:21] IevgenSobko commented on #4695
As far as I know, there is no any JavaScript.
[code]

[2020-11-16 20:25] ByteHamster commented on #4697
The delete button deletes downloads, not the episode itself. AntennaPod currently does not have a delete feature because the episodes that are in the feed would then just re-appear the next time that the feed is refreshed. Have a look at #4426 - I think that's the feature you are actually looking for :)

[2020-11-16 20:30] ByteHamster commented on #4695
AntennaPod does not need JavaScript to display the iframe but the contents of the iframe need JavaScript. To be honest, I am not a big fan of modifying the shownotes to replace the iframe with a link. If someone finds a way to do that cleanly, I am open to pull requests, though.

[2020-11-16 20:32] IevgenSobko commented on #4696
Yep, my bad, itis highlighted but with low contrast, so I barely noticed that especially when on low brightness in the dark room.
Here is a screenshot but it actually doesn't represent what I see in dark room with low brightness.
![Screenshot_20201116-222650](https://user-images.githubusercontent.com/14232100/99304614-42a24d80-285b-11eb-9c35-61a9e736a9df.jpg)

[2020-11-17 22:19] keunes commented on #4696
Note that the contrast in the regular dark theme isn't that high either. Not sure it should be (much) increased - it's just a helper but not crucial UI element.
And if it were increased, it should be done in all colour schemes. Not sure if the same gradient is used elsewhere in the app also - if so it will/should have an impact there too, so this should be considered also.

[2020-11-18 07:18] IevgenSobko commented on #4696
I found the AntennaPod chapters interface too intrusive with numbers.
You adding 2 times above and below the chapter's name and taking too much space when I'm just interested in the name and maybe duration but definitely not start time.
Take a look at Pocket Casts chapters screen. In my opinion, it clean and concise doesn't take too much space (only 1 row instead of 3) that will be much better for

[2020-11-18 08:51] cipold commented on #3542
Hi,

I just searched for this feature in the hope it would exist in AntennaPod - which I really like to use - and landed here. I am listening to very different types of podcasts during commute and in other situations. Being able to increase the speed for specific, too low information density podcasts is great. The skip silence feature further enhances the experience. However I have to switch the s

[2020-11-18 17:30] pedrud commented on #4685
I absolutely agree and think this a brilliant idea.

[2020-11-18 20:00] laurentS commented on #4685
Maybe some inspiration https://twitter.com/tim_nolet/status/1317061818574082050 (but I agree with your idea!)

[2020-11-19 07:09] keunes commented on #4696
Hi @IevgenSobko

I agree with you the Pocket Casts chapter list looks a bit cleaner. However, this issue now is about the highlight colours in the black/AMOLED theme. Please create a seperate 'feature request' about the design of the chapter screen. That makes it easier to find (and resolve) :)

[2020-11-19 07:24] keunes commented on #1711
Sounds like a good solution to me. @Matth7878 ?

Ok.

[2020-11-19 07:36] ByteHamster commented on #4696
The list is changed slightly in AntennaPod 2.1 - we show the duration in the "x minutes" format instead of a full time stamp. That makes it easier to tell both texts apart. If there are chapter images, AntennaPod displays them on that screen. Making the list items smaller would also make the images smaller.

[2020-11-19 07:43] keunes commented on #3542
Hi @cipold

I think from how you write it, that you know already, but just to be sure: the speed you can already set per podcast.

From this it seems to me you're saying such 'skip silence' feature already exists (because you now have to switch it on & off all the time) - just not on a per-podcast basis. Did I get that right?
However, I don't think AntennaPod has such feature at the moment. Could

[2020-11-19 07:59] keunes commented on #4692
I feel that if we present the same feed multiple times, this is an issue with our data source. Given that we will be able to fix it by changing the data source (move to PodcastIndex.org, which will have much better control for duplicate feeds) I think we don't need to fix this in the UI. Once the Podcast Index is mature enough we should probably say goodbye to iTunes.

[2020-11-19 08:02] keunes commented on #4696
Right, I knew there was something with the chapters screen, but couldn't find the issue/PR. So when you have 2.1 @IevgenSobko and you still think the interface could be improved, feel free to create another issue.

[2020-11-19 08:28] keunes commented on #4697
@ByteHamster Maybe we should rename it to 'Delete download'?

[2020-11-19 08:33] keunes commented on #4694
Interesting. The image seems to be different: in AntennaPod's notification I see '95' in a grey box - not present in Pocket Casts. Can you double-check that the feed URL is the same between the apps? Also maybe AP uses the episode image, while PC uses the podcast image?

[2020-11-19 08:41] keunes commented on #2077
I see your approach but this doesn't solve my personal use-case. I also have a full queue sometimes and then delete episodes to make space. But it crucial (for me) that such auto-cleanup (or 'keep N episodes') can be set per podcasts. I wouldn't use your proposed feature because it risks deleting non-newsy episodes that I really want to listen to.

[2020-11-19 10:06] IevgenSobko commented on #4694
@keunes It is the same podcast, I just forgot to disable the episode's cover in AntennaPod settings
Here is another screenshot and you can see the difference
![Screenshot_20201117-132708](https://user-images.githubusercontent.com/14232100/99651576-75b52e80-2a5f-11eb-8f77-affb04c2570e.jpg)

[2020-11-19 10:16] IevgenSobko commented on #4696
@keunes @ByteHamster Thanks for your comments.
I already subscribed for the beta testing program at Google Play and going to check how it looks.
I see big potential in the application it just needs more love and polish
But in any case, I have been able to find features that are very cool in AntennaPod and doesn't exist in other podcast players.
Synchronization service should be replaced in my opin

[2020-11-19 10:18] ByteHamster commented on #4694
Is the cover distorted on the player screen? If not, then I think this is caused by the fact that AntennaPod has more notification buttons. We just send the full image to the Android system and have no influence on the exact position.

[2020-11-19 10:20] IevgenSobko commented on #4694
No, I haven't noticed any distortion on the player's screen.

[2020-11-19 10:25] ByteHamster commented on #4694
Oh sorry - I misunderstood your report. I just looked at the screenshots and thought you mean the position of the image while you actually mean the resolution.

[2020-11-19 10:38] IevgenSobko commented on #4694
@ByteHamster and it is an issue not only for expanded notification but also collapsed if you understand what I mean.
When you pull down the notification curtain you might change the size of the notification small and bigger to get more info.
Collapse/expand button in the top right corner of the AntennaPod notification pane is responsible for changing mode.

[2020-11-19 10:40] Vrihub opened #4699 "Episode list screen: top icons disappear"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.3 (81e2be8f2)

**App source**: F-Droid

**Android version**: 10

**Device model*

[2020-11-19 11:48] spacecowboy commented on #2077
Indeed. But it's not the default either.

I think this could one of the most minimalist changes possible to alleviate this issue for a majority of people in the current version of AntennaPod.

Settings are getting messy, and would require an app-wide overhaul IMO. But that should not stand in the way of this change. I wouldn't mind helping with a larger overhaul but that would require a clear goal

[2020-11-19 14:20] andreacantone opened #4700 "Touch Target is not respected."
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [ ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.0

**App source**: F-Droid

**Android version**: 6

**Device model**: Huawei Mate 7

[2020-11-19 14:23] andreacantone opened #4701 "[Accessibility] Color Contrast is not respected."
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [ ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.0

**App source**: F-Droid

**Android version**: 6

**Device model**: Huawei Mate 7

[2020-11-19 14:28] keunes commented on #4696
Trust me, it already gets quite some love, especially from @ByteHamster ;) If anything I think it needs more developers that help with background changes (structural improvements, bug fixes). But I see your point.

It indeed isn't very stable, probably partly because the project doesn't have much funds.

On a side note: if you have any further general reflections on the app they would be very welc

[2020-11-19 15:01] m0ls commented on #4692
I can't think of a clear reason to keep the URL displayed, so I'll just close this issue for now.

[2020-11-19 15:01] #4692 closed

[2020-11-19 15:05] tonytamsf commented on #4089
Yes, this would be very useful.

Are particular guidance to watch out for if someone is implements this.

[2020-11-19 15:25] tonytamsf commented on #4701
Thank you for doing this scan and helping to make AntennaPod more accessible for everyone

[2020-11-19 15:25] tonytamsf commented on #4700
I agree this text size should be fixed

[2020-11-19 15:34] ByteHamster commented on #4701
I think using a light text color is pretty common for text field hints. If we change this color, we should make sure that it does not look like actual typed text.

[2020-11-19 15:39] ErsatzErmine commented on #4458
I'm no longer seeing this in 2.0.3 (f-droid) after the Nov 5th Android 11 update to my Pixel 4a. Only the currently playing or paused episode appears in the media controls now.

[2020-11-19 19:37] Matth7878 commented on #1711
Having a more chip is a good idea.
Especially if it is directly accessible without having to scroll.

IMHO those who will use this feature are likely to have 5 to 10 tags. If automatic queues from tags are ever implemented it could easily lead to more tags.
So one idea to address it with tags as chips above subscriptions would be to use up to 2 lines as Keunes suggested, making it non scrollable,

[2020-11-19 21:16] damoasda commented on #4685
I fully agree. I also use GPL for my projects due to exactly the same reason.

[2020-11-20 11:16] ByteHamster commented on #4089
I am not sure what would be a good way to achieve this. Writing the xml settings to the database and then copying back after the restart does not really feel "clean" to me.

[2020-11-20 11:20] ByteHamster commented on #4697
We currently use the word "delete" everywhere (and "delete download" could be too long in some places). How about changing the message that is displayed after pressing the button? If there are no downloaded files it should probably display an error message instead of just saying that it was successful.

[2020-11-21 03:08] tonytamsf commented on #4089
How about a key value pair in a new database pair, and the key is the PREF name?

[2020-11-21 06:02] tonytamsf commented on #3755
I am reminded that we should get a tag line with the word 'Podcast' so on Google Play it is easier to fine.

AntennaPod - Podcast Player
AntennaPod - Ad-free Podcast Player
AntennaPod - Community Built Podcast Player

[2020-11-21 06:29] tonytamsf commented on #4611
@kj4awr is this still happening for you?

[2020-11-21 06:30] tonytamsf commented on #4553
@Vrihub do you have a particular podcast url I can test?

[2020-11-21 16:00] tonytamsf commented on #3133
Before I proceed, if I add the option for speed, then the fast forward button on Android Autos would move to a secondary selection.

<img width="773" alt="Screen Shot 2020-11-21 at 7 59 05 AM" src="https://user-images.githubusercontent.com/149837/99881595-8edced00-2bcf-11eb-8b4f-97160fe9a7e3.png">

[2020-11-21 16:03] tonytamsf commented on #3526
Related to https://github.com/AntennaPod/AntennaPod/issues/3526
Keep in mind that if we add speed, then the fast forward button would move to a

<img width="773" alt="Screen Shot 2020-11-21 at 7 59 05 AM" src="https://user-images.githubusercontent.com/149837/99881643-ca77b700-2bcf-11eb-9b7a-dea460e22b18.png">

[2020-11-21 16:09] tonytamsf commented on #3852
I'm not able to reproduce this, would appreciate a way to replicate the problem.

[2020-11-21 16:14] tonytamsf commented on #4458
I have Android 11, Nov 5th and still can replicate this problem using @openpaul 's [steps](https://github.com/AntennaPod/AntennaPod/issues/4458#issuecomment-706031476)

[2020-11-21 16:18] tonytamsf commented on #4427
What we could do is to learn from the user, which podcast they want to skip silence and which ones they don't (instead of adding yet another option per podcast)

If you are playing an episode from feed Y, and you turn on skip silence, then that is turned on for podcast X.

We don't introduce this option to the user to select. What do you think?

@ByteHamster argues for less options, which I agree.

[2020-11-21 16:44] tonytamsf commented on #4229
Once https://github.com/google/ExoPlayer/issues/6705 is fixed (or ever fixed) we should tune the configurations we will use.  I agree to not expose it as as option but we should make skip silence less abrupt

[2020-11-21 17:23] shbach commented on #3526
Not sure I understand. What do mean "move to a?"

[2020-11-21 17:24] tonytamsf commented on #3526
Sorry, I added. 'the fast forward button would move to a secondary menu'

[2020-11-21 18:03] Matth7878 commented on #4427
I think it's best and simpler the way xPMo is describing it.

If user turn on skip silence in player it doesn't mean that he wants to do it always for this podcast. Yet settings will have been changed and it could be difficult to be aware of it.
And for sure it will leads to more option so you could skip silence but not make it default. Or to temporally allow not to skip.

Besides if it is automat

[2020-11-21 18:18] shbach commented on #3526
Well right now the skip button seems to do the same thing as the fast forward button (they both do a fast forward) so it doesn't really make a difference unless that is fixed. Though ideally the placement of the two buttons should be switched as fast forwarding is something used much more often than skip.

[2020-11-21 21:46] xPMo commented on #4427
Either way, it should mirror the way playback speed is configured. I think having a scenario would help us make a better decision. Suppose a user has episodes from two feeds queued: X1, Y1, X2.

Suppose that:

- while X1 is playing, the user changes speed to x1.5 and enables skip silence
- while Y1 is playing, the user changes speed to x1.25 and disables ss

When X2 plays, what should the speed be

[2020-11-22 01:16] tonytamsf commented on #4701
@keunes can you start a new set of labels for accessibility-visual?

Accessibility Scanner shows a few other items as well, I'm sure @andreacantone and others will be sending more once we seem open to changes.

[2020-11-22 02:04] tonytamsf commented on #4566
Or we can add the 'Undo' feature when a user deletes?

[2020-11-22 02:21] tonytamsf commented on #4531
yay, a simple fix https://github.com/AntennaPod/AntennaPod/pull/4707

[2020-11-22 02:42] tonytamsf commented on #4217
i confirm that this problem only happens if you let the episode finish playing (don't hit skip) and also turn off the phone screen.

[2020-11-22 02:42] tonytamsf commented on #4217
@ByteHamster please assign this to me

[2020-11-22 11:07] Vrihub commented on #4553
Sorry I can't experience the problem anymore right now; maybe some mis-configuration on the server side has been fixed; so I guess you can close this bug

[2020-11-22 13:30] #4553 closed

[2020-11-22 13:33] ByteHamster commented on #4566
Yeah, I think that would be better than moving the button. I am not completely sure if it is needed, though. An "undo" button is a single click and pressing the "download" button again is a single click as well.

[2020-11-22 13:40] ByteHamster commented on #3526
Did you select the "Forward button skips" option?

To be honest, I think both buttons (fast forward and skip) are more important than the speed button. I am not sure if I like moving one of them to the overflow menu just for adding another button. @shbach did you know that you can set a podcast-specific speed that is applied automatically? Wouldn't using that be even better in a car than tweaking

[2020-11-22 13:46] ByteHamster commented on #4089
How does the app know when it should copy the preferences back to the SharedPreferences? This needs to be done after restarting the app because we currently just replace the database file. Also for writing, I am not sure how risky this is. We just copy the file without telling the system to flush its data. I'm pretty surprised that this even works reliably.

[2020-11-22 14:09] keunes commented on #4701
Thanks for that suggestion! Will do.

[2020-11-22 14:46] archont00 commented on #4566
I usually make that misfortunate 'delete' action when half asleep. So, if 'undo' is a way to go, it would have to take into account my sleepy condition :-)  A floating notification would proably disappear before I even find out I deleted the episode.

A change of 'Delete' to 'Undo' button might do the trick. It could stay there for a minute or so.

P.S. I am often on a metered internet connection

[2020-11-22 14:57] #4701 closed

[2020-11-22 15:01] ByteHamster commented on #4566
A minute is too long. When users clean up their downloads to make room for more, we should not keep occupying the storage space for another minute.

[2020-11-22 15:09] #4694 closed

[2020-11-22 15:10] keunes commented on #3133
Actually there's three concrete requests. Shall we create extra ones so this one can safely be closed with the first implementation, without forgetting the other two? @tonytamsf

[2020-11-22 15:13] #4675 closed

[2020-11-22 15:14] keunes commented on #4697
Good idea. Just wondering: should we also change the wording in the confirmation message (or have a specific string for this). That way we cover the 'mixed' cases (user selected both items with and without downloads).

[2020-11-22 15:21] archont00 commented on #4566
10 to 15 seconds then?

[2020-11-22 15:29] ByteHamster opened #4708 "Make update time setting easier to use"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.0

# Feature description

**Problem you may be having, or feature you want**:

`Settings` » `Network` » `Update time`

[2020-11-22 15:33] ByteHamster commented on #4697
Sounds good

[2020-11-22 15:33] tonytamsf commented on #3133
@keunes for 1. There is a queue already.

For 2. There is another ticket

For 3. I am not sure if we will work on it

[2020-11-22 15:37] tonytamsf commented on #3526
I personally don't like an overflow button in Autos while I am driving.  Maybe we should support voice control instead

[2020-11-22 18:52] tonytamsf commented on #4089
We should only restore the preferences when there is an import of the database.

We should we name database to 'data and settings' or 'data and preferences'

[2020-11-22 19:28] shbach commented on #3526
Enabling that option does make the skip button actually do a skip instead of fast forward. However it also makes the forward button on my bluetooth device do a skip instead of a fast forward (as the name implies) which I don't want. Why is this coupled this way? What is the point of having the skip button and fast forward button both do a fast forward by default? Shouldn't the skip button just do

[2020-11-23 03:40] bobberb opened #4709 "[Feature] Adopt parts or whole of Podcasting 2.0"
# Checklist

- [ x] I have used the search function to see if someone else has already submitted the same feature request.
- [ x] I will only create one feature request per issue.
https://github.com/AntennaPod/AntennaPod/issues/4671 limited in scope
- [ x] I will describe the problem with as much detail as possible.

# System info

**App version**: head

# Feature description

 Adopt parts or whol

[2020-11-23 04:09] tonytamsf commented on #4709
I vote for starting with soundbites, funding and transcipt. @bobberb please file separate tickets for each feature

[2020-11-23 08:51] arthurlutz opened #4710 "Add/play single episode without subscribing to podcast"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.3

**App source**:  F-Droid

# Feature description

**Problem you may be having, or feature you want**:

After recomme

[2020-11-23 11:46] keunes commented on #4709
For #4671 please comment so we can expand the scope

[2020-11-23 11:47] #4709 closed

[2020-11-23 16:29] keunes commented on #3133
Thanks @tonytamsf for that overview.
Right, so the speed toggle is requested in #3526.
For point three: I think it's possible to mark as played when skipping, which should also work in AA. So I guess there's little benefit, and also we already have too many buttons to display on the main screen. It would have to go in the overflow menu. Or we would maybe have to introduce an option for the user to

[2020-11-23 20:12] shortspider commented on #4556
Hey @ByteHamster, still having this issue on RC3. Logs attached (happened this morning, look for Nov 23 logs). Let me know if you need anything else.

[full-logs(2).txt](https://github.com/AntennaPod/AntennaPod/files/5585535/full-logs.2.txt)

[2020-11-24 01:07] markamaze commented on #2682
I am a new developer looking to make my first contribution to something. I cloned AntennaPod and started poking around and thought I'd see if I could add a read-only message for feed items with no media.  Ended up with a solution and will submit a pull request. Please let me know if I'm missing a step or anything. I would have commented about working on it, but had a solution before I was sure I c

[2020-11-24 01:17] tonytamsf commented on #2682
@markamaze you should submit a PR 👍

[2020-11-24 03:29] markamaze commented on #4653
I'd like to work on this. The description seems pretty clear so no questions at this point

[2020-11-24 05:00] rasferret commented on #4556
In my Pixel 4a 5g I have this issue with RC3 too. The notification gets stuck after downloading some podcasts. IT can be remove by refreshing the feeds.

[2020-11-24 05:58] tonytamsf commented on #4653
@markamaze you should submit a PR :D

[2020-11-24 06:40] markamaze commented on #4653
Here is what I've got

![Screenshot_20201123_214022](https://user-images.githubusercontent.com/17114678/100057559-8f969e80-2ddc-11eb-925c-50438c3771d3.png)
![Screenshot_20201123_214026](https://user-images.githubusercontent.com/17114678/100057562-91606200-2ddc-11eb-8835-b6604df97397.png)
![Screenshot_20201123_214030](https://user-images.githubusercontent.com/17114678/100057566-91f8f880-2ddc-11eb-8

[2020-11-24 06:51] rubo77 commented on #2146
Any updates on this?

I think this should have a real high priority

[2020-11-24 07:10] tonytamsf commented on #4217
hopefully this PR will fix https://github.com/AntennaPod/AntennaPod/pull/4713

[2020-11-24 07:49] keunes commented on #4459
@vitaly-zdanevich Did you get it working? If not, can you indicate if you tried ByteHamster's suggestion to 'link' devices?
If you did manage to get it working, please let us know as well. Then we can close this issue to keep the tracker clean :) Thanks!

[2020-11-24 09:32] kingston51 commented on #2146
Fully agree !

On Tue, Nov 24, 2020 at 8:06 AM Ruben Barkow-Kuder <notifications@github.com>
wrote:

[2020-11-24 13:36] vitaly-zdanevich commented on #4459
![Screenshot_20201124-163413_AntennaPod](https://user-images.githubusercontent.com/3514015/100101192-fa92b480-2e72-11eb-9448-550ab869f809.png)

My intention was to reinstall AntennaPod to check listened status synchronization, but I found Failed sync status.

[2020-11-24 14:26] tonytamsf commented on #4710
I suggest we don't work on this.    Without subscribing to a podcast, it's difficult to manage that 'dangling' episode in the app without the data structures behind the 'parent', which is the podcast.

For example: for the episode that you download, we have to deal with the 'Open Podcast' menu because it has no where to go.

I suggest you 'share the episode' with your friend so they can use their

[2020-11-24 15:50] tonytamsf commented on #4697
Working on the fix here https://github.com/AntennaPod/AntennaPod/pull/4714

[2020-11-24 16:30] Rawng commented on #4671
Would love to see AntennaPod supporting Podcasting 2.0 tags. While <podcast:value> is extremely exciting it's also the most complicated tag to add support for. The chapters, transcript and funding tags seem like much more manageable tags to support while also providing immediate value to listeners.

Considering this issue is likely to get into the fine details of integrating lightening wallet feat

[2020-11-24 18:49] AbelLykens commented on #4671
Yeah value is a special one. This will take quite some work. It will have to have some reference implementation.

[2020-11-24 19:32] Matth7878 commented on #4710
Now that support for local folder is going to become possible maybe it could be used to allow this :
- create a preview folder if it doesn't already exist and add it as a virtual podcast
- download the episode and put it in the preview local folder

Local folder for this would really be handy and I think could remove a lot of problem which were making this hard to do?

[2020-11-24 20:10] keunes commented on #4653
@markamaze Does it still show the app info when nothing is wrong, as current?

[2020-11-24 21:27] markamaze commented on #4653
I guess there is something up with my development setup? Running the same code on my physical device I get the ##Environment...No Crash... info but my emulator produces the above stacktrace.

[2020-11-24 21:44] ByteHamster commented on #4427
To be honest, I think that this is pretty confusing. The setting would change without users having actively indicated what they want the app to do.

[2020-11-24 22:09] loucasal opened #4715 "Click goes through the audio player - again"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report. This looks similar to #4014 which was fixed a while ago.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.3

**App source**: Google

[2020-11-24 22:27] ByteHamster commented on #4653
Thanks for working on this!

That's perfectly fine. The screen displays the last real crash, which is not sensible and usually the thing we are interested in. The full logs option contains a lot more information (that's why I would also call the menu option "export full logs" or "export detailed logs").

[2020-11-24 22:46] ByteHamster commented on #4710
While that would work, it's not really good UX. Users could then not press the "open podcast" button to hear more from the same publishers. Also, deleting the downloaded file would also delete the listening status. In general, to store listening status, we always need the feed as well. I don't think we should add this as a half-working feature. (the reason why we can not really store state of indi

[2020-11-24 22:54] ByteHamster commented on #4715
Looks like this only works when pressing above the seek bar. Everything below is catched. We should probably catch this in a parent view for the whole sliding player at once.

When implementing, we need to pay attention on accessibility. Currently, the background of the player (which catches the touch events) can be focused with TalkBack. There must be a more clean way than adding `clickable="true

[2020-11-25 06:59] tonytamsf commented on #4532
I think it will only show downloaded or new episodes.  I will double check. Do you expect the entire list?

[2020-11-25 07:03] tonytamsf commented on #4420
@keunes can you assign to me

[2020-11-25 07:04] tonytamsf commented on #2492
@keunes please assign to me

[2020-11-25 07:06] tonytamsf commented on #1237
Wonder if we should close out this old bug @keunes

[2020-11-25 07:17] keunes commented on #1237
Good question. @ByteHamster ?

[2020-11-25 07:50] keunes commented on #2920
Following a request in our forum to integrate with Sonos, we're reopening this issue. Apparently a Sonos API exists that AntennaPod could integrate with: https://developer.sonos.com/reference/control-api/

We've applied the 'help wanted' label because some of the main contributors don't have an interest in this integration, but we're open to help from Sonos fan to pick this up :)

[2020-11-25 11:23] yosefmizrahi opened #4716 "פתיח עולה על התוכן"
בפרק שעלה ב23/11/2020 בעושים תנך הפתיח והפרסומות  עולים על הפרק עצמו.

[2020-11-25 16:28] udif commented on #4716
<div dir="rtl">
קודם כל, ברוך הבא לגיטהאב.
לידיעתך, שלחת באג ריפורט שכתוב בעברית לפרוייקט בינלאומי, ולא רק זה, אתה מתייחס כבדרך אגב לפודקאסט ישראלי שאין סיכוי שמישהו שאינו ישראלי יכיר.

האם נתקלת בבעיה באפליקציה של עושים הסטוריה או באנטנהפוד המקורי?
את הבאג שלך פתחת בפרוייקט AntennaPod המקורי, לא בגרסה שלו שעושים הסטוריה לקחו.

לעניינך, הוספתי את הפודקאסט דרך ה RSS שלו (https://ranlevi.com/feed/os

[2020-11-25 21:19] tonytamsf commented on #3799
@mparker17 are you able to sign up as a beta user and try version `2.1.0-RC3` I cannot replicate your problem.  If you can give me a way to replicate it, I can look at fixing

[2020-11-25 21:21] tonytamsf commented on #345
@keunes could we close this issue?

[2020-11-25 21:49] haimguz opened #4717 "Gpodder.net hostname is down ..."
Hi,
I can not sync for last couple of day
seems that the host name is down
Thanks

[2020-11-25 22:11] HolgerJeromin commented on #345
This is not fixed.
Situation where I see it:
Reopen antennapod with the player in fullscreen with the podcast image.
When I touch the image the app sometimes starts from the beginning. (I never have that with hitting play/pause.)
Hitting pause / play in the "footer" in the middle pauses playback.
When I hit the play/pause again the audio resumes from the correct (old) position (and not the beginni

[2020-11-25 22:17] HolgerJeromin commented on #3799
2.1.0-RC3

Tapping the icon brings me 1.25 speed in any case. No cycling of speed values.

[2020-11-25 22:59] keunes commented on #4717
Hi @haimguz
I'm sorry you're experiencing issues with gPodder sync. Unfortunately this is out of our control: it's an external service and project that relies on its own funding. It sometimes is a bit unstable, though it usually gets better after a few hours. I've seen in the [gPodder Slack](https://github.com/gpodder/mygpo#slack) that the service has been down recently, and also someone else crea

[2020-11-25 22:59] #4717 closed

[2020-11-26 02:07] widlok commented on #4597
Thanks for answers @ByteHamster ! New PR is ready for review.

[2020-11-26 02:52] tonytamsf commented on #3799
Can you take a screenshot of your speed values, I wanted to see the presets.

[2020-11-26 06:10] HolgerJeromin commented on #3799
Ah, got it.
Toggling works while paused (with all configured values). But while playback a tap set the speed to 1.25 and stays there.

[2020-11-26 07:04] haimguz commented on #4717
Thanks for the explanation !

[2020-11-26 07:11] widlok commented on #4264
Did you consider adding support for Samsung watch? They are second highest popular smartwatch brand behind Apple and close behind Watch OS in general. Might be worth considering. I own Samsung Watch and the only way to listen to podcast by controlling media with built in media player. It would be nice to have dedicated podcast app.

[2020-11-26 08:24] keunes commented on #4264
Hi @widlok
As you might know, AntennaPod is created by volunteers from around the world. The main developers at the moment don't seem to have an interest in implementing this themselves. So in that sense I don't think it 'has been considered'. However, if someone chips in with the skills and motivation to work on this, I'm sure they're happy to provide feedback and to review.

[2020-11-26 08:35] keunes commented on #345
I'm sorry to hear you're still seeing this behaviour. I guess we can't close the issue.
Unfortunately I'm not a developer so wouldn't know how to debug this.

[2020-11-26 08:41] keunes commented on #4653
Maybe I'm misunderstanding something, but if the last crash info is not usable and the full logs contain much more information, why are we hiding it?

[2020-11-26 08:50] ByteHamster commented on #4653
Because it contains sensitive details about your listening behavior.

- What are you subscribed to
- What do you listen to
- When exactly do you press play/pause on what episodes
- Are connected to WiFi
- Maybe more?

Those are all things that other apps collect without warning but because AntennaPod is privacy focused, we should not encourage users to publicly post more than we need. In most case

[2020-11-26 12:19] keunes commented on #4653
Ok, so I misunderstood your previous comment: in fact the last crash info typically is enough and the full log unnecessary. Cool :)

[2020-11-26 17:14] ByteHamster commented on #1237
Actually, we already use `ACTION_HEADSET_PLUG`. I guess this problem is long gone. If it isn't and someone still experiences it, just comment and we can re-open the issue.

[2020-11-26 17:14] #1237 closed

[2020-11-26 17:18] ByteHamster commented on #345
@HolgerJeromin What AntennaPod version do you use? What media player (Settings » Playback » Media Player)?

[2020-11-26 17:19] #4700 closed

[2020-11-26 17:38] ByteHamster commented on #4699
This will be fixed in AntennaPod 2.1

[2020-11-26 17:39] #4699 closed

[2020-11-26 17:41] ByteHamster commented on #4583
This sounds pretty unusual. What media player did you select in Settings » Playback » Media player?

[2020-11-26 17:44] ByteHamster commented on #4638
That's basically the idea of the queue. You can add episodes to the queue that you want to listen to. You can even re-arrange them there to set the playback order.

[2020-11-26 17:44] #4638 closed

[2020-11-26 17:57] HolgerJeromin commented on #345
default android internal player.
2.1.0 RC3 from google play beta
But I am not 100% sure I had this problem with RC3. But had it in the last month for sure.

[2020-11-26 18:09] Pomalo commented on #4583
Hello, the player selected was exoplayer. I am not able to reproduce
the bug consistently now though. I'll try to identify the parameters,
and I'll let you know if it still pops up with the other player.

# Checklist

- [ ] I have used the search function to see if someone else has
already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [ ] If th

[2020-11-26 18:58] ByteHamster commented on #345
Try using ExoPlayer. It is a lot more stable. The android internal player is no longer actively supported.

[2020-11-26 18:59] ByteHamster commented on #4583
ExoPlayer is the recommended player, so it would be best to keep using that one.

[2020-11-26 20:29] tonytamsf commented on #2965
This was bugging me peronally for a long time, it's now being fixed at https://github.com/AntennaPod/AntennaPod/pull/4720

https://user-images.githubusercontent.com/149837/100389507-66dff600-2fe2-11eb-9a11-c7ca29a72a14.gif

[2020-11-26 21:22] HolgerJeromin commented on #345
Had it just now. So still buggy with rc3.
Will try the other player.

Thanks for all the great work over the years!!

[2020-11-27 00:58] Pentaphon commented on #4685
Which one?

[2020-11-27 08:17] john3voltas commented on #4459
But can you log on to gpodder's website using a web browser.
I've been experiencing antennapod error messages related to gpodder sync issues but when I went to their site gpodder.net I got a '502 bad gateway'.
Could their service be offline?

[2020-11-27 11:35] DrMcCoy commented on #4685
(Disclaimer: I am not a lawyer and this is not legal advice. I'm just a layperson who has read up on FLOSS licensing over the years. And feel free to ignore this whole wall of text if you're aware of this already.)

While I personally am one of those copyleft hardlines, so I'd welcome such a change, but... keep in mind that relicensing a project is a lot of work. Unless you have queried every sing

[2020-11-27 13:09] ByteHamster commented on #4685
As far as I understood [this post](https://softwareengineering.stackexchange.com/a/105926), the MIT license allows to change the license without asking everyone.

[2020-11-27 13:16] keks commented on #4458
I also have this issue. Happy to install debug builds, but I don't have a USB A-C cable to run logcat. I have a Pixel 3a.

[2020-11-27 13:19] DrMcCoy commented on #4685
Ah, yes, you're completely right.

I was thinking from the point of view of a copyleft project and that the MIT license allows it completely slipped my mind. Nevermind, sorry, ignore my babbling above :)

[2020-11-27 15:46] vitaly-zdanevich commented on #4459
gpodder.net is also 502 BAD GATEWAY for me.

[2020-11-27 18:24] tonytamsf commented on #4429
Do you have a reliable way to replicate this problem, is it for local feeds (off of local mp3?)

1) Should we make sure to call `setFeed()` [here](https://github.com/tonytamsf/AntennaPod/blob/b25e0933ab606ac45ef9c26a745f25845d3af3fc/core/src/main/java/de/danoeh/antennapod/core/feed/FeedItem.java#L174) in `FeedItem.java`?

[2020-11-27 19:34] tonytamsf commented on #1786
@keunes this has not gotten anyone else to vote or comment, shall we close?

[2020-11-27 19:37] tonytamsf commented on #1467
@keunes and @ByteHamster I cannot replicate any crashes on the widget.

[2020-11-27 19:55] tonytamsf commented on #2149
@keunes @ByteHamster  this ticket has no way to replicate it, could we close?

[2020-11-27 20:20] tonytamsf commented on #2220
It looks like now when you arrive at the 2nd episode that is suppose to stream, it will ask you if you wanted to strem on mobile `Once` or `Always`

@alphapapa

[2020-11-27 20:47] tonytamsf commented on #2220
On my phone, if I disconnect wifi the download that is happening now will error out.

@ByteHamster what do you think of how we can implement this fix?

1) We could hook into [HttpDownloader](https://github.com/tonytamsf/AntennaPod/blob/8f6c560f01334c1fa0e74b05cbf1dbad05119572/core/src/main/java/de/danoeh/antennapod/core/service/download/HttpDownloader.java#L213) with a callback to check for whethe

[2020-11-27 21:04] damoasda commented on #4661
A common data model is a very popular approach. But I want to emphasize a significant disadvantage: Most fields are kept optional (i.e. they can be null or empty) what makes the usage of the model error prone und complicated. So the model is like a superset of the fields required for several method calls. I collected some examples in AntennaPod:

* The methods `DBReader.getFeedList()` and `DBTasks

[2020-11-27 21:39] keunes commented on #1786
@LoopinFool A lot happened to AntennaPod the past 5 years. I hope this issue is not there anymore.
I'm closing it to keep our issue tracker clean, but please let us know if you're still experiencing this, and we'll be happy to reopen.

[2020-11-27 21:39] #1786 closed

[2020-11-27 21:53] keunes commented on #2149
I'll leave this one to @ByteHamster for a quick review or closing - maybe there's an obvious error that is easy to find?

[2020-11-27 22:02] keunes commented on #1467
@mase76 AntennaPod changed quite a bit in the three years since you last confirmed the bug, and if my memory serves well the widget was also updated. I'm closing this issue to keep our issue tracker clean and our work focussed. But if you're still experiencing this issue please let us know and we'll reopen.

[2020-11-27 22:03] #1467 closed

[2020-11-27 22:09] keunes commented on #4459
@john3voltas @vitaly-zdanevich Indeed gpodder.net is down - please also see #4717

[2020-11-27 22:24] keunes commented on #4638
Merci @paulle for sharing your use-case. I'll keep it in mind when preparing a feature request. But indeed: have a look at the queue, as ByteHamster suggested. It'll probably be helpful.

One thing I'm wondering:

The 'New' tab should have all new episodes of the podcasts you subscribed to. I'm not sure what exactly what you meant but it kinda sounds like it's working normal.
From there you can sw

[2020-11-28 01:14] widlok commented on #4571
I can look at this feature, i have some questions. I found code in the method `handleSuccessfulDownload ` where feeds updated. Where is code for marshaling requests podcasts from ITunes? I assume there will have to be added mapping from xml funding to Feed class `payment` class variable. Idk if its just me, but for some reason Feed seems a bit unfortunate name for Podcast.

[2020-11-28 03:52] tonytamsf commented on #2365
// If bluetooth is playing, headset is plugged in, headset unplugged, bluetooth should continue
        // If headset is playing, bluetooth is connected, bluetooth is unplugged, headset should continue
        // If headset or bluetooth is unplugged (the speaker should not be playing)

Some notes

[code]

[2020-11-28 04:08] tonytamsf commented on #2365
I am working on a fix here https://github.com/AntennaPod/AntennaPod/pull/4722
It works so much nicer and smoother as it transitions from bluetooth to headphone

[2020-11-28 09:32] keunes commented on #2365
Not sure if relevant/in scope for your PR @tonytamsf but I recently had that I unplugged my earplugs [playback paused], started a (whatsapp) call, then replugged my headset (because my dad was complaining about echo). At this point it restarted playback, though because I was in a call I was expecting it not to. Would be cool if that could be solved 😇

[2020-11-28 14:44] tonytamsf commented on #2365
@keunes that situation is a good one to fix, it happens with me on zoom calls as well.  There is an api that could solve it, I will work on it along with this PR

[2020-11-28 18:28] tonytamsf commented on #2365
@keunes I have added a fix and tested thes 4 case  in #4722

Testing
* If bluetooth is playing, headset is plugged in, headset unplugged, bluetooth should continue
* If headset is playing, bluetooth is connected, bluetooth is unplugged, headset should continue
* If headset or bluetooth is unplugged (the phone speaker should not be playing)
* Play AntennaPod, unplug headphone, Start a zoom call, pl

[2020-11-28 20:53] tonytamsf commented on #2953
@keunes please assign to me, I think it's related to this https://github.com/AntennaPod/AntennaPod/issues/3834#issuecomment-583265213

[2020-11-28 21:15] tonytamsf commented on #2132
I would vote to split this issue into 2

1) handle `https` changes to the feed url
2) keep statistics if you delete a old feed in order to subscribe to an updated one.  In this case, the statistics will not merge, you just won't loose your old statistics

[2020-11-28 22:40] tonytamsf commented on #1899
@ByteHamster
Looks like now the data stored on google is 25MB, which would work really well for preferences and even the podcast database? https://developer.android.com/guide/topics/data/autobackup

[2020-11-29 07:53] keunes commented on #2132
@frederickjh I understand your sad emoji, but as ByteHamster already laid out above in several comments, editing URLs is error prone (errors by our average user, that is) or will negatively impact the app's performance.

So unless @ByteHamster objects I'd say we follow @tonytamsf 's suggestion and close this issue, and create another issue to see if we can find a user-friendly way to switch to htt

[2020-11-29 07:59] keunes commented on #2132
On a side note: the costs and dangers of adding new features without critical reflection are described here:
* [Why not add an option for that?](http://neugierig.org/software/blog/2018/07/options.html)
* [Removing a feature is a feature](https://ben.balter.com/2016/07/21/removing-a-feature-is-a-feature/)

Very interesting reads! :)

[2020-11-29 09:47] Matth7878 commented on #2132
Does an option  to migrate a podcast could be better suited?
Adding a new podcast and removing old one seems to be the best solution but it wouldn't keep all settings, info (episodes status, statistics) and won't manage episodes already downloaded and/or in the queue and/or favorites.

Migration could be like adding a new podcast. User could invoked it from podcast screen and it would lead him to

[2020-11-29 10:05] keunes commented on #1899
The comparison to WhatsApp is a nice one. I think it could be helpful in different cases, and doesn't add extra options for the use user (but it would add extra things to maintain).

To be honest I feel there's no point in backing up options (which can relatively easily be restored) if we don't store the app's main data. Better no integration than a half-baked one.

[2020-11-29 12:49] keunes commented on #4716
Hi @yosefmizrahi,

Can you still reply to Udif's questions, about which app you use? We'd be happy to see if we can help, but if we don't hear back from you we'll have to close this issue.

Thanks,
Keunes

[2020-11-29 13:35] keunes opened #4723 "Mono output & L/R balance for ExoPlayer"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same feature request.
- [x ] I will only create one feature request per issue.
- [x ] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.0-RC3

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:
Not

[2020-11-29 22:40] keunes commented on #4671
@Rawng I closed it because it was too generic and did not comply with our rule to create 'one feature request per issue' (which is introduced because without it it gets very complicated to solve issues):

But I'm a great fan of the Podcast Index initiative, and just created a tag to keep of all related issues. If one or more of these elements interest you particularly, you're invited to create spe

[2020-11-30 07:58] widlok commented on #4571
Tbh advertisements in podcast i listen are not very long and don't ruin the experience. I think its unfair to podcasters who do it for free to block their ads. After all if im really frustrated with ad i just skip it, its not like other platforms(ex. Youtube vids) where they serve the overlay and you are forced to watch it.

[2020-11-30 08:10] keunes opened #4724 "Show explanation/warning to users activating gpodder.net synchronisation"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same feature request.
- [x ] I will only create one feature request per issue.
- [x ] I will describe the problem with as much detail as possible.

# System info

**App version**: x.y.z

**App source**: Google Play / F-Droid / ...

# Feature description

**Problem you may be having, or feature you

[2020-11-30 10:20] #4653 closed

[2020-11-30 10:29] #4697 closed

[2020-11-30 10:32] #4685 closed

[2020-11-30 10:35] ByteHamster commented on #4685
Starting with the 2.2.x releases, AntennaPod will be published under the GPL. 2.1.x releases that currently are pushed to the `master` branch are still MIT. Keep in mind that the default branch after cloning is `develop`.

[2020-11-30 11:19] ByteHamster commented on #2149
I don't know how to reproduce but the crash is still present in 2.0.3 and 2.1.0-RC3. According to Google Play, in the last 30 days, this crash happened 20 times. Happens with different vendors and different Android versions. It's not a major issue (other things crash a lot more often) but it is still a bug.

[2020-11-30 11:24] ByteHamster commented on #4571
Nice! Please keep in mind that this task is a bit difficult. I suggest to start with things labelled `good first issue` first.

Have a look at the classes `NSITunes` and `NSMedia`. This change would need a new class `NsPodcast`.

Feed is the technical term for the RSS file that the podcast is published in. I think the name is fine :)

[2020-11-30 13:58] keunes commented on #2149
Any idea how we could figure out how to reproduce? Or will we have to wait until someone pops in that is affected and can provide more details?

[2020-11-30 18:56] #4696 closed

[2020-11-30 19:00] #2012 closed

[2020-11-30 19:22] ByteHamster commented on #2149
Looking at the stack trace a bit more, I think I know when this happens. It happens when you leave the app while it currently deletes a feed. That code path still uses an `AsyncTask` instead of `RxJava`, so it should be rewritten anyway.

[2020-11-30 19:26] ByteHamster commented on #2132
That's actually the thing that leads to problems when trying to edit the URL directly - combining two (possibly different) feeds.

[2020-11-30 19:30] ByteHamster commented on #2132
What we could do is to be really strict about the migration. So the items of both feeds need to be identical (download URL, GUID) to allow switching. That's probably easier to implement than keeping statistics of deleted feeds.

[2020-11-30 19:34] ByteHamster commented on #2220
I think it would be easier to handle network changes in the DownloadService class. The reason is that instead of all downloaders, only the service needs to subscribe to network changes. Also, it's located in the app module, so it has access to MobileDownloadHelper

[2020-11-30 19:41] ByteHamster commented on #3526
Many devices don't have a fast forward button - only skip. Fast forward is probably used more often than skipping.

I guess that your bluetooth device actually sends a skip event, not a fast forward event.

[2020-11-30 19:44] ByteHamster commented on #4429
I think this is only called when updating the feed. Is there a code path where the updated items are passed to the UI?

If you mean the new "local folder" feature: no. Those should display an error message that streaming is not supported (and not crash).

[2020-12-01 05:02] tonytamsf commented on #4532
I tried this and read through the code, looks like all episodes should be listed.  However if your feed has 1000+ episodes, it's very slow to return.  For the feeds that you have problems for, could you tell me how many episodes are in the feed (roughly)

[2020-12-01 05:35] tonytamsf commented on #4354
We might have to migrate to a new API
https://developers.google.com/cast/docs/migrate_v2/android_sender?hl=en

https://developers.google.com/cast/docs/reference/web_receiver/cast.framework.messages.SetPlaybackRateRequestData?hl=en

[2020-12-01 06:05] tonytamsf commented on #2946
I imaging adding a 4th tab after the chaper tab for users to make notes of an episode.  After I make a note, I assume you want to mark it as a favorite episode?  If not, it will go into your playback history ( I guess that is okay).

Then I assume you would want to search and find that episode with your notes again?

[2020-12-01 06:08] tonytamsf commented on #4540
Just making a note that after this PR https://github.com/AntennaPod/AntennaPod/pull/4478/files
doing live search is much simpler

[2020-12-01 06:16] tonytamsf commented on #724
Here is the iTunes API for explicit content filter of Y or N

https://developer.apple.com/library/archive/documentation/AudioVideo/Conceptual/iTuneSearchAPI/Searching.html#//apple_ref/doc/uid/TP40017632-CH5-SW1

[2020-12-01 06:49] keunes commented on #4354
Thanks for sharing that @tonytamsf ! Potential additional benefits:

Maybe we can make the screen of the casting device look a bit more fancy?

Looks like session management got easier. Hopefully making it less likely for AntennaPod to miss an episode finish (and not process the completed playback accordingly).

[2020-12-01 07:21] #4716 closed

[2020-12-01 10:59] guushoekman commented on #4724
I've come here because I keep getting a gpodder sync error. I was wondering why and actually thought the issue was with AntennaPod since the error seemed to start soon after I updated the application. I'm not even a new AntennaPod user (or gpodder actually) but I didn't know why the error was happening.

I'd personally argue against a popup and would perhaps just have a permanent message on the gp

[2020-12-01 13:02] renatocan commented on #2946
I thought about notes at first but I think the best solution would be a field to include tags for episodes in the queue and the possibility to filter the episodes by tags.

[]'s

Renato.

[2020-12-01 19:34] tonytamsf commented on #2946
Let's close this ticket in favor of this ticket https://github.com/AntennaPod/AntennaPod/issues/1711

And this pull request in progress https://github.com/AntennaPod/AntennaPod/pull/4634

[2020-12-01 19:43] FivelMttz commented on #4708
I am interested in working on this issue
:D

[2020-12-02 01:17] widlok commented on #4571
Thanks for answer @ByteHamster . What was the reason to start off that feature, was there any research made beforehand? Tbh i didn't see any other podcast player ( I looked at top 6 in google play) implementing this feature. Itunes does not support tag for funding and Antenapod pulls podcasts from them, this would mean none Itunes podcasts will show this option. I'm worried that this tag is not co

[2020-12-02 06:35] FivelMttz commented on #4619
Is it free now?

[2020-12-02 07:39] dontknowcris opened #4726 "[UX] Categories in Discover"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.1.0

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:

I'm using

[2020-12-02 07:41] keunes commented on #4724
Dankjewel Guus for chipping in. That's a good point. Somehow I feel like a text on the settings screen itself is less likely to be read. Maybe a time-component can be added? Like display not just the first time, but if it's been 4 month or longer ago? (Although I can also imagine this is a bit overkill. If just a message in the settings screen it should be highlighted somehow.)

[2020-12-02 07:47] keunes commented on #4571
Firstly there are discussions about implementing a system to automatically skip ads - we want at the same time to support creators.
Secondly, this tag is part of the very recent Podcast Index namespace. See also the link in the OP. We want to implement it to create support for this new namespace - being early adopter in an otherwise chicken-and-egg story.
If the tag is not used by podcasters there

[2020-12-02 09:26] shbach commented on #3526
I checked and you are right my bluetooth device has only has skip buttons. Getting a bit off topic here but my issue is that I would like  to use those physical buttons for fast forward but in the android auto interface I want the skip button and fast forward buttons to do their labeled purpose. I guess it's not possible to uncouple these?

[2020-12-02 21:42] keunes commented on #4708
Thanks for suggesting this - nice improvement!
The title is tricky. First I thought of 'Automatic feed updates' (I find 'Refresh' a bit unclear). But I think "Look for new episodes" is better, as it clearly indicates what it does without using technical or vague terms like feed or refresh. It doesn't mention that it's about the time, but this will be apparent from the description.

As for the mock

[2020-12-02 21:43] keunes commented on #4708
@FivelMttz Should we assign to you?

[2020-12-02 21:43] FivelMttz commented on #4708
Yes, please 😁

[2020-12-02 22:01] keunes commented on #2946
Tags for podcasts are in the works, but I don't think episode-specific tags would be implemented. So I don't think #1711 is a full duplicate, but given the use-case described her I think you're right that we can close it (assuming you will be able to filter the queue on tags).

Relates to the concept of notes (as initially requested): timed episode annotations, #1946.

[2020-12-02 22:01] #2946 closed

[2020-12-02 22:04] keunes commented on #4708
(Will do tomorrow as it's not possible from the mobile app, but feel free to start already if you want ;) )

[2020-12-02 22:07] keunes commented on #725
Closing in favour of #724 - both can be implemented in one go.

[2020-12-02 22:07] #725 closed

[2020-12-02 22:09] keunes commented on #724
I closed #275 in favour of this - should be considered when implementing. As for displaying, I wonder if a small icon in the queue also wouldn't make sense?

[2020-12-02 22:15] ByteHamster commented on #4571
iTunes is just a directory. It lists RSS feeds. After subscribing, AntennaPod is completely independent from iTunes: The feeds are loaded from the publisher's websites.

[2020-12-02 23:24] widlok commented on #4376
I don't see this often in apps, BUT instead of creating few versions of AP (normal and experimental) which will divide user-base keep both navigation. I don't see any problem with that if we are not adding any new menu items - since menu is just a reference to different AP pages, bottom and side navigation will direct to same pages (it will not cause additional mess in code). I do believe that bot

[2020-12-03 01:14] widlok commented on #4571
`iTunes is just a directory. It lists RSS feeds. After subscribing, AntennaPod is completely independent from iTunes: The feeds are loaded from the publisher's websites.`
I intercepted some request in AP it looks like it still pulls data for feed on subscribe overlay from iTunes. Regardless of that, it doesn't answer my question, do you have examples of popular podcasts using
[code]
 tag? I was go

[2020-12-03 07:01] keunes commented on #4571
Right, we absolutely want to keep a clean interface. Which is why ByteHamster and I often reject requests and do multiple mock-ups to gradually improve the UX.
But a bit of extra text on a page dedicated to information about a podcast to me is not a new 'UI' element - it's an extra paragraph/section to an existing text. We're not introducing new information elements on a screen with a different pu

[2020-12-03 09:23] markamaze opened #4732 "Any interest in AntennaPod doubling as an rss reader?"
I'm not a social media guy and prefer to keep up on things and find reading material the old fashioned way: rss feeds. I've been looking at open source readers recently and since AntennaPod handles rss feeds, it got me thinking it might be nice if it were setup up to easier use it as such. Not sure if anyone else would find that useful, but I'm always up for replacing two apps with one.

It seems

[2020-12-03 09:59] tonytamsf commented on #4732
See this closed issue #4613

[2020-12-03 10:18] #4732 closed

[2020-12-03 10:43] BenjaminHae commented on #2132
This prevents the migration to a "plus-feed" that is provided for paying users that want to get a feed without ads.

[2020-12-03 12:37] widlok commented on #4571
I was wrong, logcat doesn't show download http requests it only logs requests to Itunes.

I get what you're saying. I looked more indepth through PI documentation for new schema, it is only about 1 month old so obviously it will take time for podcasters to adopt it. Now, it looks like they have whole new schema and namespace, I feel like it would be better to implement whole namespace as new class

[2020-12-03 20:53] keunes commented on #2132
Didn't think of this use-case. I think that's rather specific and maybe should get its own issue (once the basic http > https change is possible). Or, alternatively, we keep this issue for the 'wider' change, and create a new issue for stricter change.

[2020-12-03 21:45] keunes commented on #4571
I think I'd be all in favour :D But I let @ByteHamster comment on that first. I'm not sure it makes sense, though, to collect all this information in the database (which, consequently will grow bigger), when we're not using it (yet). 'Cause before we can really use it, for each of them we need to think _how_ we can/will use it and how it will integrate in the UI. E.g. how/where would we display so

[2020-12-03 21:50] ByteHamster commented on #2132
I don't think we need to differentiate between small and big URL changes. We need to validate all changes anyway.

Maybe it's enough to check if the GUIDs are identical. If the feed does not use GUIDs, we can not reliably migrate.

[2020-12-03 21:52] keunes commented on #2132
These are defined in the episode file urls, or a specific tag? What would happen if of one episode the GUID doesn't match? Would you end up with two (the same/similar) episodes in the same podcast?

[2020-12-03 21:56] ByteHamster commented on #4571
I don't know what exactly you mean. If you mean the namespace parser: definitely (I suggested that earlier). If you mean data storage, I don't agree. PI basically re-invented the wheel - most of their tags already existed in another form. We already have a database location for many of their tags, so we can just use the ones that already exist.

I would just add the individual funding tags to the

[2020-12-03 21:57] #2682 closed

[2020-12-03 22:07] ByteHamster commented on #2132
It's a specific tag, so it's independent of title and media file url.

Exactly. If publishers mess up their server migration and users edit the URL, they would get duplicates for every single episode. That's why we need to check.

[2020-12-03 22:10] ByteHamster commented on #4724
That sounds pretty strange to me, to be honest. Modal dialogs are always pretty interrupting. I like the idea by @guushoekman to use a permanent message. Doesn't have to be too scary/prominent, in my opinion.

[2020-12-03 22:13] ByteHamster commented on #3526
I don't know any way to uncouple. As far as I know, all forward buttons end up in the same code section (`PlaybackService.sessionCallback.onSkipToNext`).

[2020-12-03 23:03] keunes opened #4734 "Share menu missing 'Share' indication"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.1.0

**App source**: Google Play

**Android version**: 7.1.2 (Please mention if yo