[2020-08-17 19:25] numahell commented on #4360
Thanks for your answers, I am waiting for their answer (maybe I'll ask again in a few days).

Through the web podcasts via Itunes seems to be ok (for example here https://podcasts.apple.com/fr/podcast/les-chemins-de-la-philosophie/id390165399), but I don't know exactly how it should be formatted.

I tried by advanced research, and indeed it works fine with gpodder.net which is based on RSS if I un

[2020-08-18 06:07] formtapez commented on #3557
Changing the phone resolved that issue for me.
It seems some versions of android have very restricted energy-saving features, which closes the AntennaPod-Service when unused for a couple of minutes.

[2020-08-18 06:07] #3557 closed

[2020-08-19 05:27] gappleto97 commented on #4352
Just happened again moments ago. The problem is that I can't reliably reproduce it, it happens only once every several days, and only when I'm not trying to do so.

My current best guess is that its happening when the item being dragged is changed from a downloading status to downloaded while you are dragging it.

[2020-08-19 05:27] gappleto97 commented on #4352
It might or might not matter that it started at the bottom of the queue

[2020-08-19 05:29] gappleto97 commented on #4352
[code]

[2020-08-19 10:58] ZacharyThompson commented on #4367
I believe im having the same issue. When I listen with my galaxy buds and remove them from my ears, it pauses playback (as intended), however when I put them back in and hit play, the podcast resumes for a couple minutes, then stops playing. At this point the controls on the earbuds and notification don't do anything.

[2020-08-20 06:00] DeusFigendi opened #4370 "sort by episode title if published at the same time"
Hey,
I tried to find out if there was a similar request, but I didn't know how to search well (I tried "sorting" and something like that) so I'm very sorry if this is a doup.

I recently began to hear this podcast
https://www.radiobremen.de/podcast/kein-mucks/

And I began to listen to it from the zero episode.

The second to fifth episode are published at the same time (I guess) and antennapod so

[2020-08-20 08:14] kosakepferd commented on #4341
Me too.

[2020-08-20 13:16] dlemire60 commented on #3264
I have experienced this issue multiple times recently.  As previously noted, #4203 appears related / same.  I'm on the verge of abandoning this podcatcher over this issue, as losing playback during my driving commute is infuriating. There are multiple user complaints over the course of a year+ with no apparent response at all.

[2020-08-20 20:12] chetan882777 commented on #3847
Can I do this?

[2020-08-22 19:32] zequip opened #4371 "Allow audio playback capture"
- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# Feature description

I want to be able to forward Antennapod's audio through ADB using [sndcpy](https://github.com/rom1v/sndcpy)

**Suggested solution**:

Solution s

[2020-08-23 20:38] 221pxls commented on #1281
Hello!

Any updates regarding the results?

[2020-08-23 20:53] ByteHamster commented on #1281
Hi!

@keunes and I decided to close the poll on Friday (2 days ago). Today, the poll is still open for Google Play users and he does not reply to my messages. Let's give him some more time. Only he has the permissions to manage the poll. I can see the average rating of the icons but I think we should officially close the poll before announcing the result. Also, I do not have the permission to down

[2020-08-24 09:56] ByteHamster commented on #4370
That feed looks a bit messed up, to be honest. Maybe you can ask the publishers to fix the date.

Episode 4/4 was published Thu, 02 Jul 2020 00:01:00
Episode 3/4 was published Thu, 02 Jul 2020 00:02:00
and so on.

Looks like they explicitly want to order the episodes the wrong way around...

[2020-08-24 15:19] DeusFigendi commented on #4370
oh my god, I am so sorry, I was on the phone, so I didn't check the feed (I have no XML-explorer on my phone).
Gosh how stupid!
Yea I will tell the publisher, sorry again.

[2020-08-24 15:27] ByteHamster commented on #4370
No problem :D

[2020-08-24 15:27] #4370 closed

[2020-08-24 15:28] ds33 commented on #3902
I am also seeing this issue on my Samsung Galaxy S10e with Android 10 installed. It shows the skip episode button (which is what the screenshot above has despite the description) instead of the rewind and fast forward buttons despite my selections. When I first saw this I realized it was, by default, set to show the skip episode button so I went and changed the selections, and it worked for the du

[2020-08-24 16:42] 221pxls commented on #1281
Yes, he hasn’t been replying to my emails since Aug 6 so that’s why I’m asking. Anyways, I hope he can get back to us soon.

[2020-08-24 16:58] ByteHamster commented on #1281
He replied :) The poll is closed. We are now evaluating the plain-text comments and preparing the announcement.

[2020-08-24 18:16] abhisht51 commented on #4371
I would like to contribute to this

[2020-08-24 19:18] ByteHamster commented on #4371
@abhisht51 Thanks! Those errors you were getting in your PR are pretty strange. Maybe the build tools need to be upgraded. Looks like implementing this is harder than I thought.

[2020-08-25 02:30] ds33 commented on #3862
I am also having this issue. I end up manually clearing the playback notification (with its controls) after playing a podcast.
Samsung Galaxy S10e
Android 10
AntennaPod 1.8.3 F-Droid build

[2020-08-25 10:48] icubyx opened #4374 "Playback History needs Search functionality"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info
**App version**: 2.0.0 RC7

# Feature description

After a few days/months of usage, I have along list of episodes I played back. Sometime,

[2020-08-25 10:57] icubyx opened #4375 "Categorize episode downloads by subscription"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info
**App version**: 2.0.0 RC7

# Feature description

When users binge download epoisodes from multiple subscriptions to listen offline, they m

[2020-08-25 11:03] icubyx opened #4376 "Bottom navigation"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.0 RC7

# Feature description

With the new interface standards on iOS and Android, bottom navigation bars are becoming

[2020-08-26 07:31] alexanderadam commented on #2214
But if AntennaPod _knows_ that "original URLs" are leading to "new URLs" it should be able to map the synchronisation state accordingly anyway, right? :thinking:

[2020-08-26 07:43] Cristophe opened #4377 "Integration with NexCloud News"
I would like an integration with NexCloud News, like with gpodder.net.

[2020-08-26 13:32] yonifrank opened #4378 "Removed podcasts are loaded again from time to time"
I can't point on the trigger, maybe when app is upgraded, but sometime when I open the app I see all "Osim Historia" podcasts back in the list like a subscribed again to all of them.

Copy from app:
[ Environment ]
Android version: 10
OS version: 4.14.62-18098116
AntennaPod version: 1.8.4
Model: SM-A505F
Device: a50
Product: a50dd

No crash report recorded

[2020-08-26 15:30] creepertron95 commented on #1281
Hey, I was watching this thread and I was wondering what the new icon was going to be. Despite the poll being closed (I was late in finding this thread.), I really liked @221pxls's icon.

[2020-08-26 15:50] yoshimo opened #4379 "Auto-Upgrade URLS to HTTPS"
Parts of my feeds are requested over plain HTTP instead of HTTPS.
I think AntennaPod should every once in a while try the exactly same URL over HTTPS and if the content matches a previous valid feed use TLS in the future for it.

[2020-08-26 17:45] Brucepbd opened #4380 "skip forward or backwards not working on one podcast"
The skip forward or backwards is not working on one podcast.  If I try to navigate to any point in the podcast it starts the podcast over from the beginning.  I tried the podcast file in a media player (rocket player) and I'm able to navigate the podcast in that app.  Other podcasts seem to work fine.  Below is a link to the problem podcast.  Can you help?  Thank you.

[ Environment ]
Android vers

[2020-08-26 17:59] estevaog3 commented on #1946
Hi, guys. I'm also looking forward to this feature. In my case, I listen to podcasts to learn languages. When there's some new or unknown word or expression, it would be really helpful if I could mark the time it happened so that I can easily find it later to listen again.

## Suggestions

I have two suggestions on how this "add chapter mark" feature could fit in the player UI:
1. A button next to

[2020-08-26 18:27] Cybyst commented on #3035
Can confirm this is still an issue in app v1.8.1.
Issue remains exactly as ducatimaus describes in initial message.

Feel free to contact me if you wish further details.

[2020-08-26 19:53] moshpirit commented on #1281
Same here, I don't have a Google account, but I like the same icon

[2020-08-26 21:55] ByteHamster commented on #1281
Telling your favorite icons here does not help. The poll is over, now :) I am sorry that you were not able to vote but we can not add your vote now without being unfair.

We are currently evaluating the 4000+ plain-text comments and preparing the announcement. After that, we will try to integrate some of the improvement suggestions from the plain-text comments.

[2020-08-26 21:57] byte9 commented on #1281
Evaluating plain text comments? It feels like a poll with voting would have
been a better idea. 🤣

On Wed, Aug 26, 2020 at 17:55 H. Lehmann <notifications@github.com> wrote:

*Vincent Marziale *
*Consultant | Developer | **956.667.7718 | byte9.net <http://byte9.net>*

[2020-08-26 22:04] ByteHamster commented on #1281
The poll allowed to provide a 1-5 star rating for each of the proposals. There were plain-text comment fields, too, though. We want to announce results of both ratings and comments at once.

[2020-08-27 00:48] Pentaphon commented on #1281
I think what he's trying to say is that he thought the community would just vote for a new icon and it would immediately be merged into 2.0 and then released for all of us to enjoy. It is disappointing to now also wait for 4000+ plain text comments to be gone through by volunteers in order to get 2.0 in our hands. I actually agree with this. You should consider just pushing 2.0 with the new icon n

[2020-08-29 14:47] yoshimo commented on #4379
sorry duplicate of https://github.com/AntennaPod/AntennaPod/issues/2232

[2020-08-29 14:47] #4379 closed

[2020-08-29 14:50] yoshimo commented on #2132
We have "rename podcast" and "remove podcast" why not "edit podcast url"?
I mean if i don't know what an option does and still use it, isn't it my fault?
This feature would be nice to have

[2020-08-29 17:50] asdoi commented on #4375
You can sort the queue by podcast title.

[2020-08-29 20:23] asdoi commented on #4374
I agree, this would be very helpful. E.g. the search always looks up all episodes, even when I am on the favourites or new episodes screen.
This belongs to the `performSearch()` method in `SearchFragment`.

[2020-08-29 21:46] keunes commented on #4377
Hi @Cristophe
Welcome to the AntennaPod community. It seems you're requesting a new feature. What you're asking is rather generic. Would you mind completing the template we provided for this? Many thanks in advance!

# Feature description

**Problem you may be having, or feature you want**:
_Give a brief explanation about the problem that may currently exist_

**Suggested solution**:
_Describe how

[2020-08-30 07:34] ByteHamster commented on #4371
ExoPlayer 2.11 [release notes](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md):

Looks like after merging #4381, this will be easy to fix (cc @TacoTheDank)

[2020-08-30 11:06] neovegeto opened #4387 "Stops playing if not in "focus""
# Checklist

- [ ] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [ ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: x.y.z (Where did you download the app?)

Google app store
[ Environment ]
Android vers

[2020-08-30 14:11] keunes commented on #1281
While I understand your reasoning @Pentaphon we decided to do everything in one go. Once we release the results, we'd have much less motivation to follow up, dragging the whole thing even longer. For communication purposes it's also a bad idea to make further tweaks after the initial announcement and 2.0.0 release. The new logo would have an outdated version in no-time in many databases & articles

[2020-08-30 15:51] Heisenberg399 commented on #4387
I can fix this..Shall I give it a try??

[2020-08-30 16:26] ByteHamster commented on #4387
This problem is usually caused by overly aggressive battery optimization settings by the device vendor. You can try to add an exception for AntennaPod.

@Heisenberg399 If you have an idea how to circumvent those misbehaving vendors, I would be happy to get a pull request.

[2020-08-30 17:59] Heisenberg399 commented on #4387
Ok Then...Assign it to me..

[2020-08-30 20:09] Heisenberg399 commented on #4387
@ByteHamster Can you share the acceptance tests?

[2020-08-30 22:34] rubo77 commented on #2146
Is the pr ready?

I really need a solution for this. (I stopped using antenna Pod sure to this missing feature, but would love to come back to it.)

[2020-08-31 06:27] ByteHamster commented on #4387
I do not own a device that misbehaves like that. You can find a list of especially bad vendors here: https://dontkillmyapp.com/

The goal would be to somehow make the system kill the app less often.

[2020-08-31 15:57] pled opened #4390 "Error message when adding new feed from 'France Culture' (French radio)"
# Checklist

- [X] I have used the search function to see if someone else has already submitted the same bug report.
- [X] I will describe the problem with as much detail as possible.
- [X] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

**App version**: 1.8.3 (F-Droid)
**Android version**: 9 & 10 (LineageOS 16.1 & 17.1)

**Device model**: BQ Aquaris X Pr

[2020-08-31 17:46] BeSanidhya opened #4391 "Multi touch opens multiple Podcast info pages"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 1.8.1 (Google PlayStore)

**Android version**: 10 (OxygenOS 10.3.5)

**Device model**:

[2020-08-31 17:50] akshatishere commented on #4391
I can fix this......please assign this issue to me.

[2020-08-31 18:00] ByteHamster commented on #4391
This is pretty normal behavior that you can reproduce in most apps that use animations. On my phone, this even works with the purchase button on Google Play. I do not think that explicitly debouncing every single touch is worth it because it makes the code a lot harder to read.

[2020-08-31 18:03] ByteHamster commented on #4390
The search feature is powered by iTunes and while France Inter is listed on iTunes, their RSS feed is not linked in that directory. It can therefore not be added to AntennaPod because the search feature does not know where to get the episodes. You can add the RSS manually until France Inter fixed their iTunes listing.

[2020-08-31 18:03] #4390 closed

[2020-08-31 19:37] #4391 closed

[2020-09-01 05:18] BeSanidhya commented on #4376
I am willing to give this a shot, if you would assign it to me.

[2020-09-01 05:19] akshatishere commented on #4374
I can fix this issue, please assign it to me.

[2020-09-01 05:37] ByteHamster commented on #4376
This change needs some more discussion because it completely changes the way users interact with th app.

@BeSanidhya If you want to help, I suggest to start with something labelled "good first issue". Those are self-contained and do not need discussion. Just leave a comment when you have started working on an issue - no need for assigning.

[2020-09-01 07:00] JustACasual commented on #3459
Hey guys, I just noticed that this is really now fixed in my installed release, thank you very much for your efforts :)
One more thing about this: It seems to me that the first sort criterion is the feed name, right? So the first episode after smart shuffle old -> new is the oldest from the alphabetically first feed name, then the oldest from the alpabetically next feed name although it might be o

[2020-09-01 07:00] JustACasual commented on #3459
I am running 2.0.0-RC7

[2020-09-01 12:03] ByteHamster commented on #4380
This will likely be fixed in version 2.0.0 (which I hope will be released soon). I can not test this specific episode because the creators of that podcast delete old episodes from their feed but we had similar problems in the past that were fixed. If this still happens after upgrading to 2.0.0, feel free to comment or create a new issue.

[2020-09-01 12:03] #4380 closed

[2020-09-01 12:03] ByteHamster commented on #4378
Go you use Gpodder synchronization?

[2020-09-01 12:05] ByteHamster commented on #4377
Nextcloud News is not a podcast synchronization service. It can only deal with simple text feeds. It can therefore not store playback position and similar things. I do not think this is a good fit. Gpodder is a full-featured service focused on podcasts. If you care about privacy, you can even host the server yourself and enter a server url in AntennaPod.

[2020-09-01 12:05] #4377 closed

[2020-09-01 12:08] ByteHamster commented on #4375
Viewing a list of episodes grouped by subscription is already implemented - in form of the subscription's screen in the side bar. If you are only interested in some of the episodes, you can add them to your queue and sort by podcast title, as @asdoi already commented.

[2020-09-01 12:08] #4375 closed

[2020-09-01 12:09] #4358 closed

[2020-09-01 12:28] icubyx commented on #4375
I am only interested in the downloaded episodes being grouped - not all episodes which i can already see grouped by subscription. Is that already implemented?

[2020-09-01 12:45] asdoi commented on #4375
As far as I know this is not implemented, but you can enable in the settings, that all downloaded episodes will be added to the queue and then you can sort the queue

[2020-09-01 12:55] icubyx commented on #4375
I see a checkbox on the top-right corner where I can sort the episodes by A-Z (of the episodes only), Z-A, New-Old, Old-New, and Duration. However there are two issues here. I don't see that sorting reflected in the Downloads tab once I exit that checkbox listing. And the sorting is still by episodes alphabetically - not grouped by their subscriptions.

[2020-09-01 13:17] aliron19 commented on #3902
I can confirm this happens on a Samsung M31 running AntennaPod v1.8.3 under Android 10, but not only on the lock screen.

Moreover, the backward button is also disabled on the Samsung "Multimedia and Devices" panel as shown below (it appears as "Multimedia and Dispositivos" in Spanish):

![Screenshot_20200901-132838_01](https://user-images.githubusercontent.com/47508555/91855565-a908ce00-ec65-11ea

[2020-09-01 13:31] xayalix commented on #4390
this issue is also applicable to all the podcast from "Radio France". Let's hope they will fix this issue soon.

[2020-09-01 14:30] asdoi commented on #4375
Yes because the sorting only affects the queue tab.

No, you can also sort it by "Podcast Title"

[2020-09-01 14:38] enyg opened #4392 ""Service is running" notification card"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

[ Environment ]
Android version: 10
OS version: 4.9.179-perf+
AntennaPod version: 1.8.0
Model: ONEPLUS A

[2020-09-01 16:01] pled commented on #4390
I raised a ticket on their site. Let see how it goes...

[2020-09-01 18:15] illogique opened #4393 "failed download notification"
i have set to only sync while on wifi and almost everytime i'm not on wifi i got an alert of failed download.

[2020-09-01 18:19] ByteHamster commented on #4393
There are two settings. Automatic download and automatic feed update. Make sure to set both.

[2020-09-01 19:12] keunes commented on #4390
Also, duplicate of #3394, #4016 (and I think also #4267 and #4360?). Either way: this shows it's a problem.
@ByteHamster - would it be kind of a workaround fix for us if we submit all France Culture feeds to fyyd.de?

[2020-09-01 22:46] Brucepbd commented on #4380
Here is the file:

[https://www.dropbox.com/s/vnccwimg3p6duok/Iowa%20Derecho%20Showering%20And%20Hygiene%20Parasites%20August%2021%202020%20Part%202.mp3?dl=0](url)

[2020-09-02 02:21] illogique commented on #4393
i see automatic download, are set with wifi filter
where automatic feed update?
i only see use mobile data, set to none.
on each feed, they are set to auto update.
it's displaying in french and can't seem to find a way to put it in english....

my question is more that i set everything to wifi, it want to update but can't since it's not on wifi so it gave an error.

[2020-09-02 05:45] ByteHamster commented on #4393
What is the text of the error message? What does it show if you click it and show the details screen?

[2020-09-02 06:25] yonifrank commented on #4378
No

[2020-09-02 06:34] ByteHamster commented on #4378
Wait, I noticed something. Does it actually show that you are using version 1.8.4? Where did you get the app? Could you please post a link?

[2020-09-02 07:00] keunes commented on #4376
Thank you @icubyx for bringing this up. I just start using a Fairphone 3,which has a screen so big I can't easily reach the top(left). Moving things around could be a nice improvement for such devices. Firefox already implemented this.

However, it wouldn't be enough to simply move the main menu items in a bottom bar - items like 'back' and 'filter' would still be hard to reach in the top bar. So

[2020-09-02 08:01] egvimo opened #4394 "Keyboard not hiding after entering Auto Skip values"
# Checklist

- [ x ] I have used the search function to see if someone else has already submitted the same bug report.
- [ x ] I will describe the problem with as much detail as possible.
- [ x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.0-rc7 (Google Play)

**Android version**: 10

**Device model**: Google Pixel

[2020-09-02 08:14] egvimo opened #4395 "Queue unlocked toast is interfering with the dots"
# Checklist

- [ x ] I have used the search function to see if someone else has already submitted the same bug report.
- [ x ] I will describe the problem with as much detail as possible.
- [ x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.0-rc7 (Google Play)

**Android version**: 10

**Device model**: Google Pixel

[2020-09-02 08:20] Heisenberg399 commented on #4374
@asdoi @ByteHamster  This issue looks easy to implement. can I go for it?

[2020-09-02 08:46] rubenbe commented on #4392
Interestingly I have the same issue and it has been frustrating me for quite a while (but clearly not enough yet to file a bug report).
I have a oneplus 7T running android 10 and I suspect it's the aggressive power management specific to oneplus that is the cause here.
I usually kill the app as a workaround.

[2020-09-02 08:51] icubyx commented on #4376
@keunes yes it will need just more than the icons at the bottom. As a UX designer, I can work on this unless @BeSanidhya has already started.

[2020-09-02 08:59] ByteHamster commented on #4376
Users really do not like change. Especially if it changes their muscle memory. When developing version 2.0.0, I paid attention on the fact that everything still feels the same even if it looks a bit different. This proposal sounds like a pretty massive UI change. I fear that a big change like this could easily upset users. While 2.0.0 is not yet released, something like this change would then be v

[2020-09-02 09:13] ByteHamster commented on #4374
I do not think this is easy. Doing it properly would require to re-write big parts of the search functionality to allow adding filters. I suggest to take one of the things labelled "good first issue". I would claim that I know the code base pretty well and think that those are a good starting point. If you are done with one of those, it is merged and you still have the feeling that it was too easy

[2020-09-02 09:35] ByteHamster commented on #4395
Did you know you can swipe the message away?

[2020-09-02 10:17] egvimo commented on #4395
No, I didn't know that, thanks for the tip. But I'm sure I'm not the only one not knowing that.

Frankly, I do not see the purpose of this message at all. It is not something happening in the background that I am not aware of. I actively pressing the button to unlock the queue, so I do not need a message saying that to me. Also I see that it is unlocked at the dots appearing.

You can close the is

[2020-09-02 10:19] icubyx commented on #4376
@ByteHamster I agree with you that we cannot make an abrupt change - it will need to be gradual. Having said that, most popular podcast readers that I checked have icons at the bottom. So if we are considering adoption, these adopters will be comfortable with this change. we can start with icons at the bottom and introduce more changes gradually.

[2020-09-02 11:19] Heisenberg399 commented on #4374
@ByteHamster Ok.. you are right. I am going to find one of them.

[2020-09-02 11:21] Heisenberg399 commented on #4387
We are setting up a virtual environment for the given device. We will open a PR very soon.

[2020-09-02 11:37] keunes commented on #4376
@icubyx Ah, a UX designer - that's great :) If I interpreted correctly @BeSanidhya proposed to work on the code.

Which is why I proposed to introduce this first as an 'experimental' feature. Mozilla [also introduced a setting](https://support.mozilla.org/en-US/kb/move-navigation-bar) for this change. I enabled it directly because of my screen size. Other people comfortable/familiar with this appr

[2020-09-02 19:06] illogique commented on #4393
X "name of feed" Feed
36 sec ago
error of connection: timeout

[2020-09-02 19:10] illogique commented on #4393
and i just check my data usage and it goes up! why? i want to wifi only

[2020-09-02 19:32] ByteHamster commented on #4393
Looks like feed refresh is still somehow enabled. What did you select in AntennaPod Settings » Network » Mobile updates?

In the meantime, you can use Android's settings to only allow AntennaPod to access WiFi

[2020-09-02 20:12] illogique commented on #4393
nothing is tick

[2020-09-02 20:49] tonytamsf commented on #4394
Which keyboard do you use?

[2020-09-03 06:23] ByteHamster commented on #4378
The most recent official version on Google Play is 1.8.2 (and for most users still 1.8.1). We never published a version with the name 1.8.4. The app you downloaded is not the official AntennaPod app. It is a clone by someone who re-adds these podcasts automatically. I really suggest to install the official app.

[2020-09-03 07:51] yonifrank commented on #4378
When I'm in the store I see it already installed

[2020-09-03 08:09] ByteHamster commented on #4378
The official app is this one: https://play.google.com/store/apps/details?id=de.danoeh.antennapod

The app you mentioned (https://play.google.com/store/apps/details?id=de.danoeh.antennapod_mh) is a copycat app.

Maybe you have installed both of them.

[2020-09-03 09:49] egvimo commented on #4394
I'm using Gboard.

[2020-09-03 09:52] yonifrank commented on #4378
OK. Thank you. I'll check it

[2020-09-03 10:06] ByteHamster commented on #4378
Note that the copycat app already uses our new design from version 2.0.0. If you want to use the new design in the official version, you can join the beta test on the AntennaPod app details page on Google Play.

[2020-09-03 10:06] #4378 closed

[2020-09-03 11:46] ByteHamster commented on #4395
The message was originally added because users accidentally locked the queue and then complained that they can no longer move episodes. A few months ago, we added a more prominent dialog that is shown when first locking the queue because users still locked the queue accidentally. The dialog has a "do not show again" checkbox. I guess now that we have the more prominent dialog, the small messages a

[2020-09-03 21:38] ByteHamster commented on #4297
Hi @GitHub-User101. Do you still experience the issue? If yes, it would be great if you could answer my questions from above:

[2020-09-03 21:40] #4006 closed

[2020-09-04 12:59] ducatimaus opened #4402 "Rewind / Fast Forward Skip Times not showing in player after changing"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [ ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.0-RC7 from Play Store

**Android version**: Android 10 (OnePlus => OxygenOS 10.0.7.

[2020-09-04 13:01] ducatimaus commented on #3035
Still same behaviour with app version 2.0.0-RC7

[2020-09-04 21:44] illogique commented on #4393
today message was
erreur d'E/S: Software caused connection abort

[2020-09-05 09:29] Fr3d-P opened #4403 "No notification on new épisode?"
It looks like there is no notification when a New podcasts épisode is online, ans I didn't find a paramétrer for that. I have to open the application to inox that there's something New.
Is it possible to add the feature?

[2020-09-05 12:17] ByteHamster commented on #4403
Duplicate of #213

[2020-09-05 12:17] #4403 closed

[2020-09-05 23:34] Enfml opened #4404 "I'm unable to play video podcasts and they play audio only"
I can't play podcasts from youtube with video and can only play podcasts with audio only. I am unable to change them to video. I'm new to the app and any help would be appreciated. Thanks in advance

[2020-09-05 23:36] Enfml commented on #4223
How do you play video podcasts? I want to watch video podcasts from youtube but they only play audio

[2020-09-06 05:49] psimonyi opened #4405 "Episode image thumbnails are slightly cropped"
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info
**App version**: 2.0.0-RC7 (Google Play Store)

**Android version**: 4.1.2

**Device model**: Google/Samsu

[2020-09-06 05:57] psimonyi commented on #4304
This is a feature I've wanted too.  Sometimes I'm listening while my hands or eyes are busy elsewhere, and by the time I have a chance to look at the picture, I've finished the episode.

I was surprised to find that tapping the episode image takes me to the podcast info page.

Could the episode image just be added to the end of the scrollable show notes?  Perhaps do so only if the episode has its

[2020-09-06 06:22] icubyx commented on #4376
Have a design for the bottom navbar without changing anything else. New to all this so can someone guide me how to share it?

[2020-09-06 06:25] ByteHamster commented on #4404
Start the episode and then press the miniplayer on the bottom of the screen.

Please note that you can not subscribe to YouTube channels directly and play within AntennaPod. What you subscribed to is probably a normal podcast and, from a technical side, not related to YouTube. That creator might be publishing on YouTube, too, but the videos are not coming from YouTube (that would violate their TOS

[2020-09-06 06:25] #4404 closed

[2020-09-06 06:43] ByteHamster commented on #4376
What do you have? Mock-ups? Code?

[2020-09-06 06:46] icubyx commented on #4376
Mockup and the icon PNG files in various sizes.

[2020-09-06 06:54] ByteHamster commented on #4376
Feel free to post them here, so they can be discussed :)

[2020-09-06 07:06] icubyx commented on #4376
First design for the bottom nav bar. A few notes:
1. I have used the lighter blue color from the AntennaPod logo for the backgrounds.
2. The icons are for Subscriptions, Episodes, History, Downloads, Queue in that order.
3. Experimented with the top bar colors too.
4. Rearranged the tab order to "New | Favorites | All" to visually balance the screen.
Comments welcome :)

![Android - 1](https://use

[2020-09-06 14:24] cadadr commented on #4304
This would be good enough for me too, FWIW.

[2020-09-06 18:07] aliron19 opened #4406 "Custom CA certificate results to java.security.cert.CertPathValidatorException"
# Checklist

- [X] I have used the search function to see if someone else has already submitted the same bug report.
- [X] I will describe the problem with as much detail as possible.
- [X] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 1.8.3 (F-droid version)

**Android version**: 10 (official ROM)

**Device model**: Sams

[2020-09-07 20:40] asdoi commented on #4395
Another option would be adding a "OK" button to the message, that hides it.

[2020-09-07 20:42] asdoi commented on #4394
I reproduced the same behaviour on an Android 10 Emulator. The keyboard mode switches to text mode (with the numbers above) but it does not hide.

[2020-09-07 20:49] ByteHamster commented on #4394
Related to #4208. I tried to fix that one, did not succeed on my first try and then lost the motivation :) This is probably the kind of bug that can be fixed with a single line of code if you find out what needs to be done :)

[2020-09-07 20:51] asdoi commented on #4394
I am currently working on it, but it seems to be a bit harder than I expected

[2020-09-07 20:53] ByteHamster commented on #4395
I think just removing the message (if the queue is not empty) would be better than having a button because it reduces the number of actions a user needs to do to achieve her/his goal.

[2020-09-07 20:55] #1853 closed

[2020-09-07 21:25] asdoi commented on #3797
How about this case, is this also already implemented?

[2020-09-08 00:55] ds33 commented on #3902
I may have found the cause of the control buttons problem. In the device settings, under Lock Screen -> FaceWidgets, if you turn "Music" off the AntennaPod lockscreen controls go back to having the buttons you selected, instead of just the default "skip episode" option. This may be a problem if you wanted to use the Music FaceWidget, but it does seem to be the root of the problem on my Samsung S10

[2020-09-08 08:57] ByteHamster commented on #4390
I contacted the fyyd developer. He is fine with adding the feeds. Looks like Radio France has a HUGE list of different podcasts. I hope that this is OK for the fyyd developer (he checks everything manually).

To get all of their podcasts, you can scrape the website. Unfortunately, this returns thousands of podcasts where most only contain one item.

[code]

I took the ones listed on iTunes (search

[2020-09-08 09:04] ByteHamster commented on #3797
This is not yet implemented. I think this is a bit more work, though. We currently just queue all downloads in an ExecutorService ([`downloadExecutor.submit(downloader);`](https://github.com/AntennaPod/AntennaPod/blob/d8674e8050fd98961f7eaa9fa844eb03d8bbfb48/core/src/main/java/de/danoeh/antennapod/core/service/download/DownloadService.java#L482)). [Apparently](https://stackoverflow.com/a/2247795/4

[2020-09-08 09:15] pled commented on #4390
Thank you for managing this. I filled a few ones more from the list.

[code]

[2020-09-08 09:38] ByteHamster commented on #4390
Thanks @pled! I forwarded the list to the fyyd developer but if anyone finds some more, feel free to post. I can then forward them in a bundled file, which should be easier to review for him.

[2020-09-08 12:32] tobybaier opened #4410 "Do you mind if I place an Ad in Einschlafen Podcast for AntennaPod?"
Hi folks,

I've decided to add Ads to Einschlafen Podcast, but only on Spotify, mainly to raise awareness that Spotify is not paying Podcasters for their content (see mik.fm/spotify for an explanation in german). I'd like to place an Ad for AntennaPod. It "may" sound like you paid for it, but obviously you won't. Here's the text I'd like to record:

Diese Episode wird präsentiert von: AntennaPod.

[2020-09-08 13:10] ByteHamster commented on #4410
Hi Toby,

thank you very much for your offer!

To me, that idea sounds great! I am not a fan of Spotify trying to take an open and distributed ecosystem and turning it into it a walled garden. So from me, you get a clear "Go". I really want to hear what @keunes thinks, though.

I am not sure about your target audience (must admit that I am not listening to your podcast) but from my experience, the

[2020-09-08 15:02] #4395 closed

[2020-09-08 20:51] ds33 commented on #3862
What I'm getting now is not actually that the notification persists, but that it disappears at the end of the episode and then reappears a few minutes later, even though the episode is over and has been deleted.
Samsung Galaxy S10e
Android 10
AntennaPod 1.8.3 F-Droid build

Thanks.

[2020-09-08 21:13] thoka commented on #1946
Currently a click on the episode image is an abbreviation for play/pause.
A longer click on the center of the image could for example display 8 marker icons around the center. To trigger this, you would have to slide your finger on the icon.
This would allow a refined marking of a spot with only one gesture.

[2020-09-08 22:52] aliron19 commented on #3902
Following the steps described by @ds33 on my Samsung M31 (with Android 10) the controls appears on my lock screen too. Thanks mate!

However, after disabling "Music" the multimedia controls remain the same (just as shown in my [previous screenshots](https://github.com/AntennaPod/AntennaPod/issues/3902#issuecomment-684845769)).

[2020-09-09 02:30] bdrehmer opened #4413 "Blank screens after downloading from 'Playback History'"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info
Android 10, One UI 2.1

**App version**: 1.8.1 (Play Store)

**Android version**: 10

**Device model**: S

[2020-09-09 02:35] GitHub-User101 commented on #4297
Sorry for not answering, I currently have a lot of thing going on and this wasn't my priority. Switching the storage didn't fix the problem. I have used both f-droid and google version, I have the google version installed right now. The download/podcast update log error when external sd is selected is "IO Error: open failed: EACCES (Permission Denied)".On 9/3/2020, 5:38 PM "H. Lehmann" <notificati

[2020-09-09 04:50] ds33 commented on #3902
I'm glad I could help. I only found the FaceWidgets setting because I was trying to get rid of the "no music playing" notification on the lock screen.

I haven't seen the multimedia controls problem, but have you tried disabling "Show media and devices" in the "Quick panel layout" options?
https://nerdschalk.com/how-to-disable-the-media-and-devices-bar-on-android-10-update-on-galaxy-s10-and-note-1

[2020-09-09 14:21] SebiderSushi opened #4414 "All episodes list seldomly extends while filtered"
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info
**App version**: 1.8.3 (F-Droid)
**Android version**: 8.1.0 (LineageOS 15.1)
**Device model**: Xiaomi Redm

[2020-09-09 17:55] keunes commented on #4410
Hi @tobybaier,

Thanks indeed very much for this generous offer and for checking in with us :) It's a great idea to do this advertising specifically on a closed platform.

Without knowing your target audience, I think I'd agree with Hans-Peter's suggestion (though I think 'volunteers' is sufficient here, where they come from I feel is less relevant). Also I was thinking that in Germany it might be

[2020-09-09 18:28] tobybaier commented on #4410
Awesome, thanks for the suggestion. I'm planning to record the ad myself, didn't. think about looking for other speakers. Nice idea though, if anyone of you is up to sending me a little audio file, doesn't need to be the full text, I'd be happy to add that.

[2020-09-09 18:45] keunes commented on #4410
I'm far from being fluent enough in German to do this. But I could ask a German colleague or family member if they'd be willing to give it a shot :)

[2020-09-09 19:15] txoof opened #4415 "Allow storage outside of storage/emulated/0/sdcard or storage/emulated/0/data"
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same feature request.
   * This is similar to open issue [#149](https://github.com/AntennaPod/AntennaPod/issues/149), but substantially different
- [x] I will only create one feature request per issue.
   * did not want to "pollute" issue #149 with this similar, but different FRQ
- [x] I will describ

[2020-09-09 20:35] txoof commented on #4415
Alternatively, move storage to /storage/emulated/Android/media this would allow wider access to the downloaded files.

[2020-09-09 20:42] ByteHamster commented on #4410
I just found something that might lead to problems.

[2020-09-09 20:48] keunes commented on #4410
Strictly speaking it follows the requirements:

Given that it's not paid advertising, one could argue this clause doesn't apply

The message doesn't speak bad or goes against the service, but simply promotes an application (granted, servicing a related domain)

AntennaPod does not do streaming services

But yes, if they want they can cause trouble.

[2020-09-10 02:12] tonytamsf commented on #4415
This seems like a useful option to change where to store the data. In the Storage preference there is already a way to choose, not out of the question to make that more flexible

[2020-09-10 05:27] Tobii42 commented on #4392
Hi, it's not only OnePlus, Google Pixel 3a is also affected on Android 10 and 11.

[2020-09-10 07:22] txoof commented on #4415
I haven't done much work in Android/Java, but I'm willing to give it a try. Can you point me to the location in the code where this menu option is managed?

I did a search of the codebase and found a few locations where the "Choose data folder" string appears in one form or another. I'm feeling quite out of my depth though looking at [all the locations](https://github.com/AntennaPod/AntennaPod/sea

[2020-09-10 11:45] tobybaier commented on #4410
They won't, and it's my trouble :) I'm in close contact with Spotify, they know about my concerns (basicly what I've written on mik.fm/spotify). Still that's a good catch, thanks for pointing that out! My Spotify contact has actually confirmed to me that I can place ads for Spotify only, so I'd need to revisit that point.

If anything, I have paid AntennaPod, back in 2012 when Daniel made a fork f

[2020-09-10 12:13] ByteHamster commented on #4410
That's good :)

I speak German (native) but my webcam is too crappy to record a proper ad. It is probably best if you speak yourself. This also shows that AntennaPod is not just another ad on Spotify but something you personally support. In the meantime, I listened to a few episodes of your podcast and noticed that you recommend AntennaPod quite a lot already. Thank you very much for that!

Is the

[2020-09-10 12:32] ByteHamster commented on #4415
Hi there :) This sounds like a duplicate of #2379.

Changing the options menu is not enough to make it work. Any other storage location than app-specific folders (`Android/data/de.danoeh.antennapod`) needs the storage permission. AntennaPod would then need to deal with runtime permissions (mostly in the background service, so we would need additional UI and notifications that tell users when somet

[2020-09-10 12:32] #4415 closed

[2020-09-10 12:52] txoof commented on #2379
@ByteHamster Thanks for the clear explanation in #4415

I have a pretty good appreciation of how hard it would be to update this.

For my use case an option may be to use Antenna Pod on my mobile device with a local gPodder instance on a headless machine and gpodder.net to sync everything up. This makes the whole chain of services a lot more complex, but offers an excellent workaround for keeping

[2020-09-10 13:17] asdoi commented on #4392
This is a duplicate of #2716
Anyway on my device (Android 10) this sometimes happens too. But you can just play any media and it will go away.

[2020-09-10 13:54] russellasinclair opened #4416 "Antennapod crashes randomly, Pixel 4, Android 11"
Just upgraded to Android 11 on my Pixel 4. Listening to podcasts while I work. Antennapod spontaneously stops playing I think it is crashing.

[2020-09-10 15:08] tobybaier commented on #4410
It is! And at least for Einschlafen it still is very successful!
<img width="1007" alt="Screenshot 2020-09-10 at 17 03 46" src="https://user-images.githubusercontent.com/165653/92750773-b28de680-f387-11ea-8e14-2ffd17720bc5.png">
My download statistics which are outside of Spotify are public: http://podseed.org/logs/logs.php?podcast=einschlafen and the AntennaPodSP is ranked 4 with over 10k downloa

[2020-09-10 15:43] asdoi commented on #2003
I totally agree with this.
A compromise would be just to define a custom `intent-filter` for the `MediaButtonReceiver` and then creating a fork of the alarm app, that just fires the matching `intent` on any alarm.
This would solve the overhead caused by maintaining an full alarm app and does not affect AntennaPod.

But maybe there are already some alarm apps available, that fire a `Media Play`-Key

[2020-09-10 15:45] MagTun commented on #3835
The lock screen widget is great but the home widget not so much. Please at least add a rewind button to the home widget.

But I think adding a rewind and a forward button would be better (you could remove the thumbnail if there isn't enough space - _usually_ we know what we are currently listening to, and in any case the track name is enough).

Configurable widget buttons and text/thumbnail would

[2020-09-11 09:03] EliasKomar opened #4418 "0B download size"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 1.8.3, F-Droid

**Android version**:  OxygenOs 9.0.3

**Device model**:  OnePlus A5000

[2020-09-11 10:13] ByteHamster commented on #2003
In the meantime, I have played around with making my own alarm clock app because I wanted to have an open-source app with a UI similar to [Timely](http://www.bitspin.ch/). I took the open-source Android DeskClock app (basically just like @wseemann) and added some slight UI modifications. I did not touch the actual "backend" alarm handling code.

I must say that I am really disappointed. Even when

[2020-09-11 10:13] #2003 closed

[2020-09-11 10:17] monkz opened #4419 "Loop Playlist / loop track"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

1.8.3 (7f0acbbcf)

# Feature description

**Problem you may be having, or feature you want**:
I want to loop a playlist or an item in a pla

[2020-09-11 10:25] ByteHamster commented on #4410
Thanks a lot for the statistics! We will definitely keep the trigger :)

[2020-09-11 10:28] ByteHamster commented on #4419
Hi!

Thanks for your feature request. The same thing was already requested some time ago in #778. I suggest to up-vote the first post using the reaction button. This provides an easy way for developers to see how popular an issue is.

I will close this issue to have everything in one single place.

[2020-09-11 10:28] #4419 closed

[2020-09-11 10:35] ByteHamster commented on #4418
Thanks!

This should be fixed in version 2.0.0, which will be released soon :)

[2020-09-11 10:35] #4418 closed

[2020-09-11 10:38] ByteHamster commented on #4413
Thanks for reporting!

This problem should be fixed in version 2.0.0, which will be released soon. If you still experience the problem after upgrading, feel free to comment and I will re-open the issue :)

[2020-09-11 10:38] #4413 closed

[2020-09-11 10:40] ByteHamster commented on #4392
This should be fixed in AntennaPod 2.0.0, which will be released soon. If you still experience the problem after upgrading, feel free to comment and I will re-open the issue :)

[2020-09-11 10:40] #4392 closed

[2020-09-11 10:42] ByteHamster commented on #4393
Did you try using Android's settings to only allow AntennaPod to access WiFi?

[2020-09-11 10:46] ByteHamster commented on #4297
Could you please try using the beta version of 2.0.0 from Google Play? You can join the beta on the app details page. That version has a "export logs" feature that should help to find out what is going on. The log file might contain personal information (what podcasts you listen to or at what time), so you can also send it to me via email to `info@<my GitHub username>.com`

[2020-09-11 22:03] gappleto97 opened #4420 "App loses queue position when starting Android Auto"
Among other things, this means I can't push play on Android Auto without first selecting a podcast. That's not ideal.

[ Environment ]
Android version: 10
OS version: 4.4.210-g4fecde07e68d
AntennaPod version: 1.8.3
Model: Pixel 2 (F-Droid)
Device: walleye
Product: walleye
Vehicle: Chevy Volt 2017

Steps to reproduce:
1. Have any podcast playing
2. Pause
3. Plug in Android Auto
4. Watch the playbac

[2020-09-12 10:54] cauerego commented on #3862
same here. additionally...

my notification starts with the OS boot and it only goes away after playing a podcast or force closing the app.

sometimes the notification also appears out of nowhere and enters this same mode, even without playback.

Nokia 7.2 android 10.

let me know if i can help with logs or debugging, i can even do videos if this will help to solve the issue.

ps: thanks for the a

[2020-09-13 08:18] keunes commented on #4410
On a related note, @ByteHamster: I saw that the stats page lists AntennaPod twice ("AntennaPod Android" and "AntennaPod Android smartphone"). Could it be that this would be fixed  if everybody would update to a version that includes #4272, or might there be another 'gap'?

[2020-09-13 18:17] AbelLykens opened #4422 "Podcastindex.org integration/search"
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 1.8.2 (F-Droid)

# Feature description
Adding podcasts now uses the Apple podcast index (I think). I would like the new Pod

[2020-09-13 20:09] keunes commented on #4422
Interesting. Thanks for sharing. Wasn't sure about th costs or license, but is seems it's a project with an open spirit:

Project is on GH here: https://github.com/Podcastindex-org

[2020-09-13 20:32] ByteHamster commented on #4422
To be honest, that service looks more like a typical commercial start-up to me. They have website and funding but their GitHub is mostly empty. Also, they require API keys (which would not work on F-Droid). Looks like they plan to develop their own podcast aggregator (but the repo is completely empty) - why is this needed for an index? To me, the whole project feels like they want to be just anoth

[2020-09-14 06:34] AbelLykens commented on #4422
All great questions. I can weigh in a bit here I think.

- They only just started, some weeks ago
- Adam Curry (aka The Podfather aka The Guy That gave the original podcast index to Apple) is involved and wants to keep this open. They will release the archive (torrent probably).
- They index feeds and episodes. Their crawlers will do the feed updating/parsing, meaning podcast players can focus on

[2020-09-14 07:28] tonytamsf commented on #4422
I tried to look for their terms of service to check for

1) max api request rate per day/hour
2) their coverage of Podcasts, ( countries and language coverage )
3) privacy

[2020-09-14 07:31] keunes commented on #4422
And the related podcast feed: http://mp3s.nashownotes.com/pc20rss.xml

[2020-09-14 09:39] keunes commented on #4422
@tonytamsf If you didn't find any, maybe you could create an issu in their API docs repo?

[2020-09-14 12:44] adamc199 commented on #4422
Hi, I'm a the co-founder of podcastindex.org We are a partnership (LLC) with three people and are funding this project ourselves with donations from the podcast community. This funding model has served us well with other podcast projects over the past 13 years. We are NOT some VC backed outfit.

Our missions, goals and promises are on our landing page:

- Preserve Podcasting as a platform for free

[2020-09-14 12:55] AbelLykens commented on #4422
@adamc199 will try to answer the questions of @tonytamsf

No current limit

Everything. Free to submit. All feeds are allowed. Filtering will happen at the consumer side of the API.

Database will be open to all.

[2020-09-14 14:23] ByteHamster commented on #4422
@adamc199 thank you very much for commenting here!

I must say that I do not like the idea of having a central service that performs feed parsing and acts as the only data source. In my opinion, podcasts should be used in a distributed way where applications fetch feeds directly from the creators. For AntennaPod, I do not want to go all-in and only rely on a single platform for things like feed pa

[2020-09-14 14:26] adamc199 commented on #4422
Thanks. I understand your concerns. You will find in our community we are all thinking and starting to work on a distributed index, perhaps DHT, but we already have a IPFS running on our personal systems.

That seems to be the way of the future that everybody wants to go. A lot of issues to work on to get there, but starting with an open resource for all to experiment on is the right path we feel.

[2020-09-14 14:57] #4394 closed

[2020-09-14 14:57] #4208 closed

[2020-09-14 15:24] #1560 closed

[2020-09-15 06:36] Pentaphon opened #4424 "Feature Request: Button on player that 1) marks as played 2) removes from queue 3) deletes file 4) plays next file in queue if there is one"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same feature request.
- [x ] I will only create one feature request per issue.
- [x ] I will describe the problem with as much detail as possible.

# Feature description

Sometimes I'm listening to a podcast and I know it's pretty much done and I don't want to listen to the next 3 to 5 minutes of p

[2020-09-15 06:54] ByteHamster commented on #4424
That's exactly what the already existing skip button does :) By default, it only marks as played (and therefore deletes, removes from queue) if only 30 seconds are left but you can increase the time up to 5 minutes in settings ("smart mark as played").

[2020-09-15 08:20] #4327 closed

[2020-09-15 08:46] Pentaphon commented on #4424
Crap, you're right. For some reason I had "keep skipped episodes" enabled when I tried using the skip button for the first time so it didn't work as I expected. I'll close this. Hope 2.0 comes out soon.

[2020-09-15 08:46] #4424 closed

[2020-09-15 09:09] ByteHamster commented on #4410
I don't know where this comes from. AntennaPod always either sent `AntennaPod/x.x.x` or a completely unrelated string that, when looking at it, can not be attributed to AntennaPod (fixed in 2.0.0).

@fstern or @tobybaier Do you know why AntennaPod appears twice in podseed's list?

[2020-09-15 10:46] keunes commented on #4327
Thanks @tonytamsf :)

[2020-09-15 13:39] xplora1a opened #4425 "Random pauses with Android 11 and screen locked, in pocket"
# Checklist

- [ X] I have used the search function to see if someone else has already submitted the same bug report.
- [ X] I will describe the problem with as much detail as possible.
- [ X] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: x.y.z (Where did you download the app?)

Antenna Pod Version 1.8.2(c323fec83)

**And

[2020-09-15 13:53] ByteHamster commented on #4425
Hi,

You could try adding AntennaPod to the list of battery protected apps. This is usually an issue with vendors like Huawei killing apps in the background to save battery, not with Google. We should probably investigate this a lot more, then...

[2020-09-15 13:54] #4416 closed

[2020-09-15 14:04] xplora1a commented on #4425
Yes I found how to put Antenna Pod into the "Not Optimised" group this solved the problem.
A bit convoluted process to do this, less tech users will have problems.

[2020-09-15 19:40] matthiasroos opened #4426 "Feature request: remove episodes no longer in the XML file from the episode list"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 1.8.3 (installed from F-Droid)

# Feature description

**Problem you may be having, or feature you want**:

Several times,

[2020-09-16 16:37] xPMo opened #4427 "Add "Skip Silence in Audio" to Podcast settings"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

F-Droid - 1.8.3 (7f0acbbcf)

# Feature description

Currently playback speed is configurable both globally/ad-hoc and in Podcast settings.

[2020-09-16 19:09] Fry-kun opened #4428 "Corrupted db"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# Bug description
Continuously crashed on open; now wiped the db

**Steps to reproduce**:
No idea, might be content iss

[2020-09-16 19:18] Fry-kun commented on #4428
Note: "restored" db by manually copying CorruptedDatabaseBackup to /data/data/... because I have root

[2020-09-16 21:01] awalo666 opened #4429 "crash when trying to stream on chromecast"
#Checklist

- [ x] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**AntennaPod 2.0.0-RC7 (4ddee0321) **.

**Android version 10**:

 **Samsung Galaxy A70 ( SM-A705W )**:

[2020-09-17 16:15] Fry-kun commented on #4428
Update: this is still happening after restoring. This time I tried to use Settings/Storage/DB import -- it worked, but somehow reset again. Works after 2nd retry.
I feel like this won't go away, there's likely some corrupted data in the file.. though why it's not having the problem consistently is unclear..

[2020-09-17 18:07] ByteHamster commented on #4428
The file `CorruptedDatabaseBackup` is not meant to be restored directly. The file is generated after AntennaPod detects that the database is broken. It sometimes can be repaired on a PC (described in another issue) but just importing does not work.

[2020-09-17 20:01] Fry-kun commented on #4428
I tried repairing the db, but AP then refuses to open, stating that a table already exists.

[2020-09-17 20:49] ducatimaus commented on #1797
The inability to reach the buttons in the menu bar when using a phone one handed because of the growing size of phones made it necessary to change the mechanism - that is all that's behind pull to refresh - a GUI enhancement. I find myself pulling the episodes list all the time. Since I own a phone with a screen > 6" myself, I would love to have this enhancement!

[2020-09-17 21:01] ByteHamster commented on #4428
That sounds like you did not copy the table in which Android stores the version of the database. AntennaPod then tries to create the tables again

[2020-09-17 21:33] Fry-kun commented on #4428
Here are the steps I used:
[code]

[2020-09-18 05:51] andrewc1 opened #4430 "Error inflating class RadioButton when opening Subscriptions filter dialog (building from develop)"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.0-RC7 (develop branch retrieved 2020-09-17 from github, freeDebug build, commit b80

[2020-09-18 19:58] ByteHamster commented on #4428
Thanks. That sounds strange. Would it be okay for you to send me the database? It contains all the feeds (and maybe passwords), so you can also send it to `info@<my username>.com` if you do not want to post it publicly.

[2020-09-18 20:04] ByteHamster commented on #4297
Thanks for sending the logs. They do not really contain information that would help fixing the issue. Just for reference, I pasted the interesting part below (contains no private information).

[code]

If you look at the non-working sd card using a file manager, does it have the path `/storage/sdcard1/Android/data/de.danoeh.antennapod/files`?

[2020-09-18 20:12] ByteHamster commented on #4429
Thanks for reporting. Does this happen with all podcasts or just some? Do you do anything special after starting on Chromecast (leaving the app, turning off the screen, etc)?

[2020-09-18 20:19] Fry-kun commented on #4428
Sent

[2020-09-18 20:20] ByteHamster commented on #4430
Thanks for reporting. This is a real problem that I can reproduce on a 6.0 emulator but not on my 10.0 phone. If you check out the `master` branch, it still uses the old filter dialog and should not crash. If you find out why this happens, I would be really happy about a pull request :)

[2020-09-19 03:42] jean opened #4433 "Fix position of "refresh" and "search" icons in episode view"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: x.y.z (state whether from Google Play/F-Droid/Custom built APK)

[ Environment ]
Android version: 10
OS version: 4.14.116

[2020-09-19 09:24] ByteHamster commented on #4366
I just upgraded to AppCompat 1.2.0 like it was suggested on Stack Overflow. Should be available in the next update.

[2020-09-19 09:24] #4366 closed

[2020-09-19 09:24] ByteHamster commented on #4126
Fixed in #4431

[2020-09-19 09:24] #4126 closed

[2020-09-19 09:35] asdoi commented on #4227
I cannot reproduce this issue on an emulator running the `develop` branch. Has anything changed to the discovery code since the last release?

[2020-09-19 09:55] ByteHamster commented on #4428
Thanks, I received your database and can reproduce the problems. Looks like indeed the version of the database is somehow not copied when using the repair method:

`PRAGMA user_version` of the repaired database returns `0`, while it should return `1090001`. Try executing `PRAGMA user_version = 1090001`. From my first tests, it seems to have worked.

I wonder why the Android system says that the da

[2020-09-19 10:07] ByteHamster commented on #4227
The discovery feature uses caching, now. If it is opened after a few days or for the first time, the problem is still there. To reproduce, you can enter airplane mode, then clear AntennaPod's cache (be careful to not clear the data if you are using the debug version for listening), then force-close the app and re-open.

By the way, do you know [Hacktoberfest](https://hacktoberfest.digitalocean.com

[2020-09-19 13:26] edwinhere commented on #4422
@ByteHamster can you consider merging pull request #4435 ?

[2020-09-19 13:53] icubyx commented on #4376
Uploading assets for miniplayer and bottom navigation bar...
[antennapod_navbar_assets.zip](https://github.com/AntennaPod/AntennaPod/files/5249957/antennapod_navbar_assets.zip)

[2020-09-19 16:50] Fry-kun commented on #4428
Thanks, that worked

[2020-09-20 05:49] heyyviv commented on #4223
can i work on it

[2020-09-20 06:33] ByteHamster commented on #4223
@heyyviv Sure, that would be great :)

[2020-09-20 06:55] heyyviv commented on #4223
can you please elaborate the problem

[2020-09-20 07:10] Matth7878 commented on #4223
I don't know on what you need more info on? If you don't understand what is mini player it's the bar you see at bottom where you can see what is currently playing even if you're not on player screen.

I took  a screenshot while playing with podcast linked in main post to illustrate issue :

![Screenshot_20200920-090032~2](https://user-images.githubusercontent.com/3684177/93705804-a7be1900-fb20-11e

[2020-09-20 07:15] #4430 closed

[2020-09-20 10:02] ByteHamster commented on #4414
I think this should be fixed in version 2.0.0, which will be released soon. I can no longer reproduce and the check that detects if the list is scrolled to the bottom was updated in 2.0.0.

[2020-09-20 10:04] ByteHamster commented on #4433
In AntennaPod 2.0.0, the menu items are no longer shown and hidden dynamically. Therefore, the jumping is fixed :) The update should be released soon.

[2020-09-20 10:04] #4433 closed

[2020-09-20 10:05] ByteHamster commented on #4428
Closing this to keep the discussion in one place (see #2463)

[2020-09-20 10:05] #4428 closed

[2020-09-20 10:07] ByteHamster commented on #2463
I am wondering why the Android system sometimes tells us that the database is broken while it can be recovered just fine by running `sqlite3 CorruptedDatabaseBackup.db ".dump" | sqlite3 fixed.db` (plus `PRAGMA user_version = versionOfCorruptedFile`).

Maybe in cases where the Android system tells us that the database is broken, we should try to fix it automatically using the sqlite3 utility.

[2020-09-20 13:26] #4219 closed

[2020-09-20 18:07] keunes commented on #1281
Dear all,
We know we have put your patience to the test. Two months after we released the poll, and 4 years and 11 months (and 1 day) after the initial request, I have the honour to close this issue: We have a new branding and app icon!

We want to thank you all for your suggestions here and your eagerness to help out our awesome project.

For the final result and to read about the process we went

[2020-09-20 18:08] #1281 closed

[2020-09-20 19:19] iTzHard commented on #4159
Bump

[2020-09-20 20:07] Pentaphon commented on #1281
Thank god. The sooner the better.

Don't forget to add Antennapod to the https://subscribeonandroid.com/ page.

[2020-09-20 20:43] byte9 commented on #1281
I mean this with no disrespect, it’s beautiful that we’ve gotten here but
it took two years to land on a simple icon change. This is an open source
unpaid project so it’s ok, but there is some reflection that could be done
on how to be more agile. Reason for opinion? Am im a project manager for
several web products. If you care about the user opinion anyways.

On Sun, Sep 20, 2020 at 16:07 Pentaph

[2020-09-20 20:54] Pentaphon commented on #1281
I am one of the people who has wondered why 2.0 has taken so long to release but I will admit there is a lack of people who want to put in some of their time into this project. We need to encourage more people to contribute as best as we can, especially as this is the only actively maintained open source podcast client for Android.

[2020-09-20 21:05] byte9 commented on #1281
Even putting up a good brand info page and asking for donations could help
this. People work better when motivated, devs could find some this way.
Antennapod just lacks a small amount of organization to take the leap.
People would donate for coffee mugs, hoodies, etc if they love the project
enough. Many do

On Sun, Sep 20, 2020 at 16:54 Pentaphon <notifications@github.com> wrote:

*Vincent Marzia

[2020-09-20 21:08] ByteHamster commented on #1281
The reason why this took so long is that we wanted to do it right. This is not just a simple icon within the app - it is the app's whole brand. Changing something like this throws away a considerable amount of recognizability. I think that we might even get a drop of app installs because users do not like change. When doing such an important change, we need to make sure that the project will profi

[2020-09-21 08:22] ByteHamster commented on #4429
I can reproduce another (related) crash:

[code]

Looks like AntennaPod is somehow not setting the feed when loading the media info of Chromecast episodes.

[2020-09-21 09:08] ByteHamster commented on #4402
This was fixed in #4412

[2020-09-21 09:08] #4402 closed

[2020-09-21 09:32] ByteHamster commented on #4410
I'm closing this issue because there is nothing left to do. Thanks again, Toby, for promoting AntennaPod :)

[2020-09-21 09:32] #4410 closed

[2020-09-21 09:35] ByteHamster commented on #4262
You can enable automatic downloads for some podcasts. Downloaded episodes are then added to the queue automatically.

Folders are tracked in #1711.

[2020-09-21 09:35] #4262 closed

[2020-09-21 10:52] tobybaier commented on #4410
sure, doesn't need to be an open issue. The "ad" will appear tomorrow evening on Spotify. If you want to, I can also send you the direct link to the MP3 if you're interested without having to use Spotify ;)

[2020-09-21 11:01] ByteHamster commented on #4410
That would be great, thanks! Then I don't have to register an account.

[2020-09-21 12:10] keunes commented on #1281
Simply put: it was long regarded as 'not necessary'. I'm glad the current maintainer/lead developer after a while saw the light ;) With that new attitude I was happy to contribute time to organise all this (and it does cost a lot of time).

Agreed. A new brand page is foreseen on our new website.

Very true, and I hope others will step up and contribute. At the same time; it's also that you are ea

[2020-09-21 17:11] ByteHamster opened #4442 "Target API 30"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# Feature description

Starting in November, app updates on Google Play need to target API 30. Review what code changes are needed and then upgrade `build

[2020-09-22 01:19] Dunc0 commented on #1077
Hi All, I just stopped by as a user to say that this issue was why I left the app many years ago. I want to listen to all my podcasts from oldest to newest and it drove me insane that this functonality was not available. All I want to do is be able to view a podcast and have that podcase ONLY play from beginning to end. I always ended up with other podcast episodes mixed through from unrelated pod

[2020-09-22 14:32] tobybaier commented on #4410
Exclusive sneak peak: http://einschlafen-podcast.de/spotify/ep0474s.mp3 (for your ears only! The episode will actually publish tonight at 9:30pm) ;)

[2020-09-22 14:42] ByteHamster commented on #4410
Awesome! Sounds great :)

[2020-09-22 20:13] GitHub-User101 commented on #4297
Yes. only sub-folders are cache and import. Both with no data inside (0 bytes).

[2020-09-22 20:38] rcuocolo commented on #2214
This issue has also occurred to my device after performing (unknowingly) a full sync. A workaround to avoid it in the future would be appreciated. Removing duplicates causes issues with removal of all episodes from "both" subscriptions and requires a new subscription and redownloading the appropriate episodes every time, which is not ideal.

[2020-09-23 05:34] tobybaier commented on #4410
Uhm, did you test something on Monday? http://podseed.org/logs/logs.php?podcast=einschlafen&start=2020-09-21&end=2020-09-21

[2020-09-23 06:50] keunes commented on #4410
The hits seem to be taken on two episodes: 469 and 473. Also there are two peaks since 1 Sept.

The first peak on 9 Sept is caused by 'Podcasts iOS' with a count of 6.5k (while AntennaPod is at its usual 480), and episode 473 has a total count of 14k.

The second peak on 21 Sept is caused by AntennaPod with a count of 44.9k (Podcasts iOS back at its usual 2k), and episode 469 has a total count of

[2020-09-23 06:58] keunes commented on #4410
Byte-Hamster says he didn't do anything special on Monday.
A bit of a wild thought, but could it be that you ended up in the iTunes recommandations for Germany, that we have a lot of German (F-Droid) users, that they subscribed to your podcast, and that AP (auto-)downloaded episode 469 first? A bit far-fetched, probably. But the peak in iOS earlier on is also interesting - would you have (another)

[2020-09-23 07:26] ByteHamster commented on #4410
On Sunday, we released the blog post that we have a new logo. On Monday afternoon (19:07), I uploaded 2.0.0 to Google Play but it was only approved today and only rolled out to 800 users. To me, both things do not sound like they could cause such a massive spike.

Do you log the IP addresses? Did all the requests come from one address of from different ones?

[2020-09-23 07:55] fstern commented on #4410
Hi,

I'll have a look at the logfiles from Monday - we don't log IP adresses but MD5 hashes, so this should be trivial to find out.

Best,

Falk

On Wed, Sep 23, 2020 at 12:26:17AM -0700, H. Lehmann wrote:

[2020-09-23 19:26] doniks opened #4445 "play partially downloaded episodes"
# Checklist

- [X] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 1.8.3 fdroid

# Feature description

It would be nice if Antennapod could start playing even before the download had finis

[2020-09-23 21:26] asdoi commented on #4227
Thank you very much! I will have a look about it.

I have now reproduced the issue and I think a "refresh"-button like the one that appears after a click on the "more" button would solve this.
Anyway if I turn on network and reopen the "add podcast" screen the discovery field gets automatically refreshed and I think the main problem is, that in the current release there is no option (excluded app

[2020-09-24 00:44] dmp1ce opened #4446 "Out of memory crash occurs when manually refreshing over 100 feeds from queue screen"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 1.8.1 From Google Play

**Android version**: 10 4.4.210-g4fecde07e68d

**Device model**

[2020-09-24 14:35] smammy commented on #4206
I can no longer replicate this.

[2020-09-24 14:35] #4206 closed

[2020-09-24 15:00] ByteHamster commented on #4206
AntennaPod's handling of media sessions is a bit fragile sometimes. This issue should get better once we make the media sessions more reliable.

[2020-09-25 03:45] gitdine opened #4447 "[Feature Request] Ability to pin podcasts"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**1.8.1**: Google Play Store

# Feature description

**Problem you may be having, or feature you want**:
I'm subscribed to a ton of podcast

[2020-09-25 07:23] meldron opened #4448 "Media controls disappear / missing buttons"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [ ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 1.8.1 (6e6a64f50) from Google Play Store

**Android version**: 11 (RP1A.200720.009)

**

[2020-09-25 08:37] sebastianelsner commented on #2716
I am having this issue as well. The advice ("play an episode and contact us.") in the commit mentioned above works. Contacting via this channel :)

[2020-09-25 11:40] JeanFred commented on #4447
See also https://github.com/AntennaPod/AntennaPod/issues/1711#issuecomment-384804450

[2020-09-26 03:22] thejeshgn opened #4449 "Support JSONFeed"
Support JSONFeed format.

# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

For all versions

# Feature description
The [JSON Feed](https://jsonfeed.org/version/1) format is a new syndicati

[2020-09-26 09:07] svnpsc opened #4450 "Set/override podcast icon"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 1.8.3 from F-Droid

# Feature description

**Problem you may be having, or feature you want**:

I habe several Podcasts su

[2020-09-26 10:21] jodergrosse commented on #2146
Hi @rubo77
no Progress on my end so far. I would have to start over at this point, and haven't found the time so far. Feel free to jump in!

[2020-09-26 18:13] orionlee commented on #1077
I haven't been able to get the time to finish the serial support (PR #3504).

In the meantime, I'd share my experience of listening to serial podcasts on AntennaPod, having used a branch based on PR #3504 for almost a year.

1. I have listened to more serial podcasts: I was more inclined to subscribe to new serial podcasts with the serial support added. I realize my choice of podcasts is actually

[2020-09-26 21:29] tonytamsf commented on #1077
Thanks for this. Would it make sense if people sort the episodes for a podcast feed from old to new, that is indicating they want to down from oldest to newest?

[2020-09-27 02:14] tonytamsf commented on #4336
watch for this pull request https://github.com/AntennaPod/AntennaPod/pull/3871

[2020-09-27 02:15] tonytamsf commented on #3803
Working on this in this pull request https://github.com/AntennaPod/AntennaPod/pull/3871

[2020-09-27 02:16] tonytamsf commented on #3526
while you are driving, are you sure this is wise?

[2020-09-27 02:16] tonytamsf commented on #3526
I can add the speed setting after this PR is merged for rewind and fast forward https://github.com/AntennaPod/AntennaPod/pull/3871

[2020-09-27 02:24] tonytamsf commented on #1899
I would like to tackle this ticket @ByteHamster

Here are my thoughts about this feature

1) Default backup of 30 days, every day take 1 database backup
2) Because we have added timestamp to the filename like `AntennaPodBackup-2020-03-24.db`, the auto backup filenames will be stored in a subdirectory named `AntennaPod-autobackup` and filenames should be `AntennaPodBackup-v1.db` to `AntennaPodBacku

[2020-09-27 04:11] shbach commented on #3526
It's going to be about the same as any of the other buttons in that menu in terms of risk. If possible I think it should have a few preset speeds like 1.25, 1.5, 2 that you can cycle through quickly.

[2020-09-27 06:15] Pentaphon commented on #1281
Hopefully that means today since a week has passed since this post?

[2020-09-27 12:31] ByteHamster commented on #4447
Hi! Thanks for your suggestion. It is definitely a way to make handling many subscriptions easier. As @JeanFred noted, there already is a request for adding folders (#1711). There also is a request to manually sort subscriptions (#4210). I think that those two methods are more flexible than pinning. Pinning is probably easier to implement but I think that it would get more or less obsolete when ad

[2020-09-27 12:31] #4447 closed

[2020-09-27 12:38] ByteHamster commented on #1711
I just noticed another reason for using folders instead of categories. As soon as we add folders, users will request to change settings on a per-folder basis. When a subscription is located in multiple folders, this can become an issue (which speed, keep updated, etc values do we use?)

Another problem would be the request to sort subscriptions manually (#4210). I don't think there is a method to

[2020-09-27 12:42] ByteHamster commented on #2716
Thanks @sebastianelsner! Sounds like you are using AntennaPod 2.0.0, which I thought should no longer display the notification. If you do use 2.0.0, could you please create a new issue for that? Then we can analyze the problem (which probably has a different cause than the one originally reported+fixed here).

[2020-09-27 12:47] ByteHamster commented on #4227
I don't think a manual refresh button is needed when suggestions are shown successfully. When there is an error, a refresh button could help users who do not realize that they can just reopen the screen.

[2020-09-27 12:58] ByteHamster commented on #1899
Think this issue is about something slightly different. It is about Google's app backup mechanism that allows to restore settings/subscriptions on a new device or when re-installing the app. We can not upload the full database because backups are limited to 2MB, as far as I know. There is already some code in place that uploads the subscriptions to Google's backup service if you enabled it for you

[2020-09-27 13:25] ByteHamster commented on #4446
Thanks for writing this very detailed report! When dealing with out-of-memory errors, the exact stack trace is usually not that important. The actual problem that eats up memory is somewhere else and AntennaPod then just crashes at some arbitrary point when trying to do a normal memory operation. I will therefore close this issue to keep the discussion in a single place (#2312). I suggest to leave

[2020-09-27 13:25] #4446 closed

[2020-09-27 13:36] somini commented on #1899
I would like to request an option to always overwrite the same file. That way you can automatically backup that file out of band.

[2020-09-27 14:16] Dunc0 commented on #1077
Hi Tonytamsf, not 100% sure if this was directed at me or orionlee or both, but from my point of view, yes. If I sort from old to new I expect old episodes at the top of the page and new at the bottom.

[2020-09-27 16:09] kriegaex commented on #2716
2.0.0? My version is 1.8.1, the Google Play store does not seems to have a more recent version. What am I missing here?

[2020-09-27 16:22] ByteHamster commented on #2716
@kriegaex 2.0.0 is currently available for 50% of the users who joined the beta channel and will be rolled out to everyone as soon as possible.

[2020-09-27 16:28] ByteHamster opened #4453 "IllegalArgumentException: shownotesProvider = null"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.0 Play

**Android version**: various (Google Play reports)

# Bug description

Rela

[2020-09-27 19:57] #4227 closed

[2020-09-28 01:29] GS1958 opened #4455 "Continuous playback stops after one minute of new episode"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [ x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

**System info:** Android 10 Kernel 4.14.113

**App version**: 1.8.1   via Google Play

**Device model**: Samsung 10S

[2020-09-28 07:02] #3803 closed

[2020-09-28 07:02] #3447 closed

[2020-09-28 07:02] #4336 closed

[2020-09-28 07:33] BradNut commented on #4448
Same issue happening for me.

System info
App version: 1.8.3 from FDroid
Android version: 11 (RP1A.200720.009)
Device model: Google Pixel 3a

[2020-09-28 09:04] ByteHamster commented on #3808
Looks like `MaterialTimePicker` from Google's Material Components 1.2.0 library provides a full re-implementation of the time picker. Using that picker should work even when running Samsung's broken software.

[2020-09-28 09:31] ByteHamster opened #4457 "Check if free build hack is still needed"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: all F-Droid

We currently use a little hack to allow F-Droid to build without the Google Play dependencies (introduced in

[2020-09-28 09:59] sebastianelsner commented on #2716
The version I use is 1.8.1. If its fixed in 2.0 please ignore me :)

[2020-09-28 19:18] SFMason opened #4458 "Media Sessions Lingering in New Media Controls"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 1.8.1 (from Google Play Store)

**Android version**: 11

**Device model**: Pixel 3

# B

[2020-09-28 21:06] ByteHamster commented on #4458
Hmm. We already release the media session when the service is stopped, just like it is recommended by Google. I do also get multiple session controls at the same time, though. Not sure what is going wrong :(

[2020-09-28 22:07] vitaly-zdanevich opened #4459 "Played status not synced on gpodder"
Yesterday I changed my phone and found my subscriptions (thank you) but listened status from episodes has gone :(

AntennaPod version is 1.8.1

[2020-09-29 04:45] tonytamsf commented on #4458
I can confirm this is happening on AntennaPod 2.0.0, Pixel 3xla and Android 11

[2020-09-29 05:18] tonytamsf commented on #3756
closing this issue

[2020-09-29 05:36] maxbechtold commented on #4448
Same here after Android update.

Android version: 11
AntennaPod version: 1.8.0-RC8
Model: Pixel 2
Device: walleye

[2020-09-29 06:07] ByteHamster commented on #3756
@tonytamsf why? I think it is a good idea.

Does podcastindex.org have an API for country specific categories?

[2020-09-29 06:56] GrimPixel2 opened #4460 "Keep the search result after subscribe"
# Checklist

- [ x ] I have used the search function to see if someone else has already submitted the same feature request.
- [ x ] I will only create one feature request per issue.
- [ x ] I will describe the problem with as much detail as possible.

# System info

**App version**:
1.8.3 F-droid

# Feature description

**Problem you may be having, or feature you want**:

The search result should

[2020-09-29 07:46] #4422 closed

[2020-09-29 08:10] ByteHamster commented on #4460
Hi,

the redirect was added on purpose because my tests with new users showed that they confuse the actual podcast window and the search result preview. Do you have an idea how to make this easier to understand without redirecting? Adding text unfortunately does not work because users typically do not read text.

[2020-09-29 08:44] ByteHamster opened #4461 "Blurred background image does not work on Android 4.4"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.0 develop

**Android version**: 4.4

**Device model**: Emulator

# Bug description

[2020-09-29 11:29] #4453 closed

[2020-09-29 11:30] #4148 closed

[2020-09-29 11:31] ByteHamster commented on #4405
Fixed :) Will be released in 2.0.1

Thanks for reporting!

[2020-09-29 11:31] #4405 closed

[2020-09-29 11:33] #4442 closed

[2020-09-29 11:34] #4393 closed

[2020-09-29 13:36] Pentaphon commented on #4461
Somewhat related question: at what point do you plan to stop supporting Android versions older than 5.x?

[2020-09-29 13:49] ByteHamster commented on #4461
As soon as ExoPlayer or another similar key library no longer supports 5.x

[2020-09-29 15:32] isabelgk commented on #4458
I'm not sure that adding on will help too much, but I'm on the following environment seeing the same.

[ Environment ]
Android version: 11
OS version: 4.4.223-g1bc566a21f60-ab6662096
AntennaPod version: 1.8.1
Model: Pixel 2 XL
Device: taimen
Product: taimen

No crash report recorded

[2020-09-29 16:31] ggshuini opened #4466 "Download problem"
Does not automatically add download list to playlist.
this is Google Translate.^_^

[2020-09-29 17:54] mmirg opened #4467 "Repeating crashes while refreshing feeds"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [ x If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.0(6b173d0c1) Google Play

**Android version**: 11.0

**Device model**: Pixel 3 XL

[2020-09-29 18:39] Matth7878 commented on #4460
IMHO after subscribing and ending in podcast screen the back button should always take you to search results.

[2020-09-29 18:45] Matth7878 commented on #4466
FYI there is a toggle in preferences / play / playlist section to toggle off episodes being added to playlist after downloading.

[2020-09-29 19:49] keunes commented on #4410
Hi @fstern
Did you have a chance to look at this? We'd be curious to your findings :)

[2020-09-29 19:59] keunes commented on #3756
What about "Import podcast list (OPML)" ?

[2020-09-30 06:08] tonytamsf commented on #3756
@ByteHamster I was not sure what we agree on in terms of a better podcast discovery.

I would like a way to look at the top podcasts for very specific and nich genres.

Would anyone be willing to give me a good mock up that I can implement?

[2020-09-30 09:03] ByteHamster opened #4469 "Use localized duration in chapters list"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.0 (state whether from Google Play/F-Droid/Custom built APK)

# Feature description

**Problem you may be having, or fe

[2020-09-30 09:10] ByteHamster opened #4470 "Improve search feature by using keywords instead of full match"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.0

# Feature description

**Problem you may be having, or feature you want**:

The in-app search feature for episodes

[2020-09-30 09:17] ByteHamster opened #4471 "In-app reviews"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.0

# Feature description

Google released a new API called [In-App reviews](https://developer.android.com/guide/playco

[2020-09-30 09:20] ByteHamster opened #4472 "Remove 'navigate_upwards_label' string"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.0 (state whether from Google Play/F-Droid/Custom built APK)

# Feature description

We recently removed the only usage

[2020-09-30 09:31] ByteHamster opened #4473 "When tapping empty space on the player, the progress bar is highlighted"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.0 (Where did you download the app?)

# Bug description

**Steps to reproduce**:
1.

[2020-09-30 09:37] BoJacobs commented on #4470
Hi, I would like to tackle this issue!

[2020-09-30 09:40] ByteHamster opened #4474 "Move notification settings to their own screen"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.0

# Feature description

**Problem you may be having, or feature you want**:

AntennaPod has some notification featur

[2020-09-30 09:50] ByteHamster opened #4475 "In-app search: Visual indication that it is filtered to specific podcast"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.0 (state whether from Google Play/F-Droid/Custom built APK)

# Feature description

**Problem you may be having, or fe

[2020-09-30 10:13] ByteHamster opened #4476 "Add style for "add podcast" screen buttons"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.0 (state whether from Google Play/F-Droid/Custom built APK)

# Feature description

**Problem you may be having, or fe

[2020-09-30 11:08] damlayildiz commented on #4471
Hi, can I work on this?

[2020-09-30 11:38] Algure commented on #4475
I'd like to work on this

[2020-09-30 11:42] dev-darrell commented on #4476
I'll like to work on this issue.

[2020-09-30 11:52] GrimPixel2 commented on #4460
There are two scenarios:
1. The user want to subscribe the exact one podcast;
2. The user want to subscribe multiple podcasts.

In my opinion, the redirection can be delayed for 3 seconds with text notice. In the first scenario, waiting 3 seconds is acceptable, I think; in the second scenario, the user, seeing that text notice and by instinct, may tap the "return" button to interrupt the redirecti

[2020-09-30 13:09] lyallemma commented on #4469
Hey, can I work on this?

[2020-09-30 13:19] rahullli commented on #4476
I would like to work on this issue .

[2020-09-30 13:23] rahullli commented on #4473
I would like to work on this issue .

[2020-09-30 13:26] rahullli commented on #4472
I would like to work on this issue.

[2020-09-30 13:52] ByteHamster commented on #4471
Hi! Great to hear that you want to help making AntennaPod better. I am looking forward to your pull request :) If you have any questions, don't hesitate to ask.

Please keep in mind that only pull requests opened in October count for Hacktoberfest, so it would be good to wait a few more hours before starting :)

[2020-09-30 13:52] ByteHamster commented on #4475
Hi! Great to hear that you want to help making AntennaPod better. I am looking forward to your pull request :) If you have any questions, don't hesitate to ask.

Please keep in mind that only pull requests opened in October count for Hacktoberfest, so it would be good to wait a few more hours before starting :)

[2020-09-30 14:01] ByteHamster commented on #4469
Hi! Great to hear that you want to help making AntennaPod better. I am looking forward to your pull request :) If you have any questions, don't hesitate to ask.

Please keep in mind that only pull requests opened in October count for Hacktoberfest, so it would be good to wait a few more hours before starting :)

[2020-09-30 14:05] ByteHamster commented on #4473
Hi! Great to hear that you want to help making AntennaPod better. I am looking forward to your pull request :) If you have any questions, don't hesitate to ask.

Please keep in mind that only pull requests opened in October count for Hacktoberfest, so it would be good to wait a few more hours before starting :)

I suggest to start with one of the multiple issues you have expressed interest in. If

[2020-09-30 14:05] ByteHamster commented on #4472
Hi! Great to hear that you want to help making AntennaPod better. I am looking forward to your pull request :) If you have any questions, don't hesitate to ask.

Please keep in mind that only pull requests opened in October count for Hacktoberfest, so it would be good to wait a few more hours before starting :)

I suggest to start with one of the multiple issues you have expressed interest in. If

[2020-09-30 14:16] tonytamsf commented on #3982
@ByteHamster what do you think of this format as a OPML feed for categories?

https://github.com/tonytamsf/apple-rss-data-generator/blob/master/opml/us.genre.opml

This is in reference to your comment https://github.com/AntennaPod/AntennaPod/pull/3788#issuecomment-584540280

[2020-09-30 14:26] ByteHamster commented on #4470
Hi! Great to hear that you want to help making AntennaPod better. I am looking forward to your pull request :) If you have any questions, don't hesitate to ask.

Please keep in mind that only pull requests opened in October count for Hacktoberfest, so it would be good to wait a few more hours before starting :)

[2020-09-30 14:29] ByteHamster commented on #4333
Should be fixed by #4464

[2020-09-30 14:29] #4333 closed

[2020-09-30 14:34] ByteHamster commented on #3900
Did you already check v2? I think that the probability for this behavior should be decreased a lot in v2, even though I still think there might be ways to trigger it.

[2020-09-30 14:36] heyyviv commented on #4223
I am not able to find the xml file where miniplayer code is written.
it will very kind if anybody give me the  file(xml) name.

[2020-09-30 14:37] ByteHamster commented on #3394
The search features now filter podcasts without a feed url. This is not optimal (because some podcasts might be missing) but it is at least a lot better than having non-working results. As for the root cause of missing feedUrl, there already is #4041, so there is nothing left to do for this issue :)

[2020-09-30 14:37] #3394 closed

[2020-09-30 14:41] ByteHamster commented on #3065
Thanks to @asdoi, AntennaPod can now filter subscriptions if their counter is zero. To close this issue, having four more filters would be great:

- auto download enabled/disabled
- Keep updated enabled/disabled

This should be rather easy to add, so it should be a good fit for Hacktoberfest.

[2020-09-30 14:48] ByteHamster commented on #4223
Hi,

a good starting point should be the class `ExternalPlayerFragment`. This is the place where the play button is set to visible for audio and to invisible for video.

[2020-09-30 14:57] ByteHamster commented on #3756
Sounds good. Could you write a new issue for that, please? Would be a good fit for Hacktoberfest, too :)

To be honest, I am still not 100% happy about having to scrape the apple website. If podcastindex.org had an API like that, it would be a lot less painful.

Does OPML allow nesting to create sub-categories? That would be a great thing to have, given that iTunes has something like that, too.

[2020-09-30 17:26] rahullli commented on #4473
Can you please tell whether I have to only fix the bug that on clicking somewhere on the screen , it should not highlight the progressbar.

[2020-09-30 17:27] rahullli commented on #4472
Can you please tell me more about this issue ?

[2020-09-30 17:41] ByteHamster commented on #4472
Not much more than what it says in the title. This issue is about removing a string from Android's strings.xml resources file.

[2020-09-30 17:43] ByteHamster commented on #4473
It should not highlight but it should also not be a regression and re-introduce #4014

[2020-09-30 19:18] sbadux commented on #3900
Hello,
I've changed my phone because the previous broke. With the new phone and the v2 I don't see this behaviour anymore. I think you can close the issue. Thanks!

[2020-10-01 04:28] rahullli commented on #4474
I would like to work on this issue .

[2020-10-01 05:07] tonytamsf commented on #4458
Can anyone figure out how to cause this lingering control to appear? Even thought I notice the problem, after I reboot my phone, I was not able to replicate the problem.  But after a while using AntennaPod, I see 4 lingering panels

[2020-10-01 06:43] ByteHamster commented on #4458
If I remember correctly, I had to press the pause button in the media controls section, not within AntennaPod.

[2020-10-01 06:56] keunes opened #4479 "Clarify 'OPML Import' action"
**Problem you may be having, or feature you want**:
Not everybody knows what OPML is (as noted in #3756).

**Suggested solution**:
In the 'Add podcast screen', under 'Advanced', focus on the user action, not on the technical specs.
Replace `OPML Import` with `Import podcast list (OPML)`. New string will be translated via Transifex, guess the string name can remain the same.

[2020-10-01 07:05] keunes commented on #3756
Done. Reflecting on it, I think the 'Advanced' title isn't really representative and might scare away users. So in a revamp we might try and get rid of that as well. In fact I preferred the interface that was there for a while with the bigger 'buttons' for some of these 'advanced' options.

podcastindex will support categories, both in a 'flat' format and the iTunes hierarchical format. Didn't hea

[2020-10-01 07:24] #3900 closed

[2020-10-01 12:34] schwedenmut commented on #4479
This sounds like an easy to achieve enhancement. I would like to takle this down after work.
Would this also include the "HTML Import" to be refurbished - which totally would make sense?
Initial PR will follow asap.

[2020-10-01 13:05] #4469 closed

[2020-10-01 13:05] tonytamsf commented on #3756
| Does OPML allow nesting to create sub-categories? That would be a great thing to have, given that iTunes has something like that, too.

Yes, I validated the opml with nested categories using an online linter

[2020-10-01 13:11] ByteHamster commented on #4479
I think the import/export actions that are displayed on the settings screen do not need to be changed. They already have a summary that explains the options. Updating the text there makes the settings screen unnecessarily repetitive. Also, users who look at that screen likely know what they are doing anyway.

The text on the "add podcast" page, though, is displayed to more users and does not have

[2020-10-01 13:18] keunes commented on #4479
Agreed with @ByteHamster. If need be, please do create a new string indeed. Thank for chipping in!

[2020-10-01 13:38] schwedenmut commented on #4479
Your arguments sure are legit - i can switch back and add an explanation to the "add podcast" page.
Need to wait to this afternoon to switch to my dev machine and sure can provide some screenshots in the PR.

[2020-10-01 13:42] ByteHamster commented on #4479
Just changing the text on the "add podcast" page should be enough. No need to add more text :) The more text we add, the less users actually read.

[2020-10-01 15:06] cometchaserde opened #4484 "Download of podcast fails almost every time"
# Checklist

- [X ] I have used the search function to see if someone else has already submitted the same bug report.
- [X ] I will describe the problem with as much detail as possible.
- [X ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 1.8.1 Google Play store

**Android version**: 9 LineageOS

**Device model**: LG-H850

[2020-10-01 15:51] heyyviv commented on #4223
i have sent a pull request can you check that

[2020-10-01 18:19] dev-darrell commented on #4476
While I was working on this issue, I found a fix for a bug someone else has claimed but hasn't resolved yet. Should I make a pull request for that as well or wait for him to resolve it?

[2020-10-01 19:18] keunes commented on #4476
@dev-darrell Which issue/bug/PR does this concern?

[2020-10-01 19:34] keunes commented on #2184
@ByteHamster What do you think? I reckon we can close this issue.

[2020-10-01 19:37] dev-darrell commented on #4476
@keunes It's issue #4473

[2020-10-01 19:51] keunes commented on #725
Related: #724

[2020-10-01 20:31] keunes commented on #2077
in #2228 the following was suggested (emphasis added, as it's new vis-a-vis this issue's title):

[2020-10-01 20:32] keunes commented on #2228
I'm gonna close this as a duplicate of #1077 (I mention the differentiation between A & B type podcasts in https://github.com/AntennaPod/AntennaPod/issues/1077#issuecomment-151789224) and #2077.
There's some new element that is requested here vis-a-vis those issues, which is further tailoring of what should be kept (as mentioned under 'steps to reproduce' step 2: keep forever, keep based on age)

[2020-10-01 20:32] #2228 closed

[2020-10-01 20:38] keunes commented on #2239
Specifying exact location of downloads has been requested in #2379. Let's keep track of the discussion there.

[2020-10-01 20:38] #2239 closed

[2020-10-01 20:39] ByteHamster opened #4487 "Support plural form of download_report_content string"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.0

# Feature description

**Problem you may be having, or feature you want**:

The notification `x downloads succeeded

[2020-10-01 20:48] ByteHamster commented on #4476
I think it would be good to comment on the other issue and ask the person if they already discovered a solution.

Anyway, it should probably be fixed in another PR, not the one that fixes this issue. So let's focus on this one first and continue after it is merged :)

[2020-10-01 21:02] dev-darrell commented on #4476
Alright. Thanks

[2020-10-01 21:06] ByteHamster commented on #2184
Also, this would be pretty hard to make accessible for users. We can not expect users to learn how to write regex to set up that feature correctly.

[2020-10-01 21:06] #2184 closed

[2020-10-01 21:35] patrickjkennedy commented on #4487
Hi @ByteHamster, is it OK if I work on this issue?

[2020-10-01 21:40] ByteHamster opened #4488 "Searching within single podcast shows other podcasts"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.0 (Where did you download the app?)

# Bug description

**Steps to reproduce**:
1.

[2020-10-01 21:49] #4470 closed

[2020-10-01 21:55] #4476 closed

[2020-10-01 21:57] ByteHamster commented on #4487
Sure, that would be great :)

[2020-10-01 23:05] dev-darrell commented on #4473
Hi @rahullli. I want to ask if you've already found a solution to this issue

[2020-10-02 00:35] charlygg commented on #4488
Is this issue open for new contributosr? Can I try it?

[2020-10-02 04:24] rishisundar commented on #4487
@ByteHamster Can I work on this issue?

[2020-10-02 06:05] ByteHamster commented on #4488
Sure, go ahead :)

[2020-10-02 06:09] ByteHamster commented on #4487
@rishisundar Looks like someone else was faster :) I suggest to have a look at issues that no one else has already indicated interest in. That prevents two people working on the same issue and therefore basically wasting time. We can only merge one of them, after all. In theory, you can take any issue but I suggest working on something labelled `hacktoberfest` or `good first issue` because they ha

[2020-10-02 06:14] keunes commented on #4459
Hi @vitaly-zdanevich
Sorry to hear you lost some data. A couple of questions:
* How did you 'sync'? (Are we talking about gpodder?)
* Do you still have access to your old phone with AntennaPod?
* Did you use/make a database export?

[2020-10-02 06:24] keunes commented on #4459
(possibly related: https://github.com/AntennaPod/AntennaPod/issues/1899#issuecomment-699632358)

[2020-10-02 06:48] keunes commented on #4449
@thejeshgn As the bot indicated, can you please still fill out the [feature request template](https://raw.githubusercontent.com/AntennaPod/AntennaPod/develop/.github/ISSUE_TEMPLATE/feature_request.md)? If not we'll close the request to keep our issue tracker focussed and clean. Many thanks!

[2020-10-02 06:53] keunes commented on #4376
Thanks @icubyx for sharing that. I don't think we should implement a bottom navigation bar without reviewing also the drawer menu. What would be your view on this? We should avoid having two duplicate navigation systems. That would complicate code and interface.

[2020-10-02 06:55] keunes commented on #4194
@ByteHamster @shaker-project Any follow-up desired/needed/foreseen on this?

[2020-10-02 07:13] keunes commented on #3650
@Skylead @rogerval Do you still experience this, roughly a year later? I think version 2.0.0 has been rolled out to everybody, so would be good to know if it still occurs with that one.

[2020-10-02 07:16] keunes commented on #3574
@orionlee Can you check if this still is an issue, roughly a year later? I believe there were some changes in this area of the app, so would be good to reconfirm if this still happens in the latest version, 2.0.0

[2020-10-02 07:20] keunes commented on #3445
@DrMcCoy Do you still have this issue, roughly a year later? Would be good to reconfirm with the latest version, 2.0.0.

[2020-10-02 07:22] rogerval commented on #3650
Unfortunately, yes, it does still happen with version 2.0.0. If there are any further tests you'd like me to try, I'm all ears. :-)

[2020-10-02 07:23] keunes commented on #3276
@gappleto97 Would you mind checking this again in the latest version, 2.0.0? If you cannot confirm, I propose we close this issue. Should it crop up again, we can always reopen.

[2020-10-02 07:25] keunes commented on #3244
@segil Any update since then? If you contained the problem, I propose we close the issue (to keep the issue tracker clean & focussed). We can always reopen if necessary.

[2020-10-02 07:30] keunes commented on #3118
I'll close this now to keep the issue tracker clean & focussed. Let's continue the discussion in #1077 - I warmly invite you to give a thumbs-up there if you haven't already, and contribute a comment if you think there's something missing over there.

[2020-10-02 07:30] #3118 closed

[2020-10-02 07:33] DrMcCoy commented on #3445
Ah, sorry, no, I've got a new phone in the mean time (forced by my banking app stopping support for Android 4). Never had that issue on the new phone with Android 9 and 10.

[2020-10-02 07:36] keunes commented on #2953
@gaul @gappleto97 Would you mind checking if this still is an issue, roughly 1,5 year later? If you cannot reconfirm with the latest version (2.0.0) then I propose we close this issue to keep the tracker clean & focussed. We can always reopen the issue if need be.

[2020-10-02 07:39] keunes commented on #2379
In #2920 it was requested to 'add possibility to cast/stream to Sonos'. According to @geraldo:

So maybe we should have several options (if possible, idk if it is): default (in-app), 'Podcasts', custom.

[2020-10-02 07:39] keunes commented on #2920
Thanks for that info. Closing in favour of #2379, then.

[2020-10-02 07:42] keunes commented on #3445
Thanks for reporting back! I'll close this one, then.

[2020-10-02 07:42] #3445 closed

[2020-10-02 07:43] ByteHamster commented on #2953
This issue is still present. I think it got a lot less likely in recent versions but given that it's pretty bad behavior, I would keep it open.

[2020-10-02 07:43] keunes commented on #3650
Ok, I'm sorry to hear that. I'm not a developer and don't know what to do next for debugging. Will keep the issue open, then. Thanks for reporting back.

[2020-10-02 07:49] rogerval commented on #3650
No worries. :-)

[2020-10-02 09:39] thejeshgn commented on #4449
@keunes done. See if it required any other details.

[2020-10-02 10:55] keunes commented on #4449
Hi @thejeshgn That's great, thanks! (If you know of any specifications for JSON-for-podcasts a link to that might be helpful as well.)

[2020-10-02 13:31] Cj-Malone commented on #2184
I never imagined that users should be entering regex themselves, I think it just be done like it is in other podcast clients. Anyway, this problem has been correcting it's self over the years due to podcasters not dirtying the title as much.

[2020-10-02 15:45] schwedenmut commented on #4479
I went ahead and added a new string just for the "add podcast" fragment.

| Add Podcast | advanced settings|
|---|---|
|![New Add Podcast screen](https://user-images.githubusercontent.com/9077622/94942333-6e998780-04d6-11eb-8d96-1ad3f150ffae.png)|![same advanced settings screen](https://user-images.githubusercontent.com/9077622/94942401-88d36580-04d6-11eb-8b21-18ca8ca24e55.png)|

[2020-10-02 15:49] thejeshgn commented on #4449
At the bottom of this page. It has the spec for attachments

https://jsonfeed.org/version/1

[2020-10-02 15:55] keunes commented on #4484
@cometchaserde Would you mind sharing the RSS of the relevant podcast feed? You can copy it by going to the podcast, tapping the (i) icon, and tapping the paperclip next to the URL field. Then we can try the feed as well.

[2020-10-02 16:24] #4479 closed

[2020-10-02 20:06] vitaly-zdanevich commented on #4459
Yes gpodder.

I still have this old phone, but storage is corrupted (software or hardware problem), so in AntennaPod I see `No external storage available`.

No, gpodder.

[2020-10-02 20:20] keunes commented on #2247
The first request of its kind as far as I can quickly tell, but closing it, letting the more recent #2715 take favour as it has more thumbs-ups.

[2020-10-02 20:20] #2247 closed

[2020-10-02 20:26] keunes commented on #2592
Closing this in favour of #2715, which is more recent, but has the same amount of votes and more extensive discussion.
@CryptoStar2000 @nelsonblaha @yzerman19 @clonejo @tasmo @xbao @protist @KenjiE20 @kahnwong If you want to support this idea, please feel free to put your thumbs-up to #2715 and share your comments there, if you haven't already

[2020-10-02 20:26] #2592 closed

[2020-10-02 20:29] keunes commented on #2583
@dmahurin Antennapod developed quite a bit the past 1,5 year or so. Do you still have this issue? If not I propose to close this issue, so we can keep the issue tracker clean & focussed.

[2020-10-02 20:29] keunes commented on #2583
(Oops, sorry, didn't mean to prematurely close.)

[2020-10-02 20:38] keunes commented on #2289
@VonCrab @ngm AntennaPod changed quite considerably in the past 1,5 year. Do you still experience this problem? If not I think we can close this issue, to help keep the issue tracker clean & focussed.

[2020-10-02 20:43] keunes commented on #2229
This, by the way, is covered in #2077

[2020-10-02 20:48] keunes commented on #2166
@yzerman19 A lot happened with AntennaPod and Chromecast in the past four years. Can you still recreate this issue? If not I would propose to close it to help keep the issue tracker clean & focussed.

[2020-10-02 21:04] keunes commented on #4320
I like @Matth7878's proposal as well. However, it would mean that the time dimension (the 'anything launched in the coming 10 minutes') becomes irrelevant, and should be removed from the code as well. What d'you think @ByteHamster?

[2020-10-02 21:10] ByteHamster commented on #4459
If you log into gpodder and open an episode that you know was played, does it display the play action there (click "episode history")?

Should look similar to this:

![image](https://user-images.githubusercontent.com/5811634/94970164-57718e80-0504-11eb-8b8a-0b955ac5a006.png)

[2020-10-02 21:55] ByteHamster commented on #4320
The dialog does not have a time dimension, currently. This is just a one-time permission. (the dialog that has a time dimension is the "download over mobile data" one). I think the time dimension is not needed for streaming because once you started it, you probably do not play lots of other podcasts in the next few minutes, anyway.

Could you please edit the first post to include that? Makes it ea

[2020-10-02 22:00] ByteHamster commented on #4194
No follow-up needed. The tests are still flaky sometimes (and therefore waste CPU time on CI for retrying). I can not reproduce this locally on my machine, so it is hard to fix. This could be considered a confirmed bug but I think that the label does not really fit because this is not a problem of the app itself.

[2020-10-03 08:30] keunes commented on #4320
Ah, thanks for the clarification

[2020-10-03 09:13] cometchaserde commented on #4484
Here is the link:
http://www.deutschlandfunk.de/podcast-sternzeit.733.de.podcast.xml

[2020-10-03 12:25] keunes commented on #4484
I tried and don't have any issues downloading the episodes, and the feed seems fine as well. Do you possibly have a VPN enabled?
Did you try to open the feed and download the episodes in your browser (under the otherwise same circumstances)? Might help check if its not an issue with your connection.

[2020-10-03 12:57] schwedenmut commented on #4461
I wanted to get a look into this, but AntennaPod 2.0.0 didn't even bother to start on a 4.4 emulator.
Ran straight into a ClassNotFoundException ^^. Any thoughts/hints?

[2020-10-03 13:39] ByteHamster commented on #4461
Make the class PodcastApp extend MultiDexApplication. The crash only happens on old devices and only in the debug version. Details (and reasons why this is not already changed) here: #2813

[2020-10-03 14:15] cometchaserde commented on #4484
Hi, no VPN enabled. Download the episodes with the browser works. All other podcasts ( 7 ) work with Antennapod. Only this specific podcast not. Even a podcast from the same domain (www.deutschlandfunk.de/podcast-forschung-aktuell.677.de.podcast.xml) works.

[2020-10-03 17:16] keunes commented on #4484
Then I don't know, sorry.

[2020-10-03 17:23] keunes commented on #4466
@ggshuini Did @Matth7878's tip solve your problem?

[2020-10-03 17:29] vitaly-zdanevich commented on #4459
I will try today again...

![image](https://user-images.githubusercontent.com/3514015/94997939-23a37100-05b7-11eb-88be-9a57bc38f56c.png)

[2020-10-03 17:33] vitaly-zdanevich commented on #4459
This is listened episode on my new phone:

![image](https://user-images.githubusercontent.com/3514015/94997984-767d2880-05b7-11eb-8187-b362db0f65b3.png)

Unlisted episode (no `History` button):

![image](https://user-images.githubusercontent.com/3514015/94998000-91e83380-05b7-11eb-9aee-dc028ca301c8.png)

[2020-10-03 17:34] keunes commented on #3756
Apart from the data source, are you happy with your mock-up? I like it, but I'm wondering if we should not tackle this (easier podcast discovery) with #3952 (add 'home' screen) in one go, so there's consistency and synergy between them.

[2020-10-03 17:35] keunes commented on #4194
Hmm. If there's no follow-up needed I would say this issue could be closed. But since tests are still flaky, I guess the hard fix still needs to be found (so there is still follow-up, so this should remain open). Agreed on the relevancy of the 'confirmed bug' label.

[2020-10-03 17:47] keunes commented on #4474
Hi @rahullli, thanks for your interest! I believe you indicated on several hacktoberfest issues that you wanted to work on them. Since we see a great interest from different people, it'll be better if you choose one of them that you really want to work on. We can then assign it to you. That way others have a chance to contribute as well, and you can focus your attention on one thing and be sure to

[2020-10-03 17:50] ByteHamster commented on #4459
Sorry, I was not specific enough. Does gpodder show that page for episodes that you listened to on your **old** device? That allows to find out if the problem occurs when downloading the state or when uploading the state.

[2020-10-03 17:53] ByteHamster commented on #4194
Oh, sorry. I think I misunderstood the word follow-up. We do not need more details from @shaker-project but it is still a problem that we should take care of at some point. So we should keep the issue open.

[2020-10-03 17:54] keunes commented on #4041
@ByteHamster Don't you think we can consider #4435 to have closed this issue? It's still the beginning of PodcastIndex.org, but I'm confident it's going to be great and certainly will solve our issues with iTunes.

[2020-10-03 18:14] #4041 closed

[2020-10-03 23:13] panoreak commented on #4472
@rahullli Are you working on this? I'd like to take up this issue if you're working on another one 😄

[2020-10-04 02:42] tonytamsf commented on #2965
@ByteHamster I have spent some time to put break points in the code with a debugger, but could not figure out where to start fixing this.

After the episode is done, or when I hit skip, the Android Auto HUD emulator jumps to showing the playlist screen and the next episode plays.

It seems like 2 ways to fix this
1) don't show the playlist screen
2) force the media device to show the 'Playing Now'

[2020-10-04 04:26] askarsyzdykov commented on #4315
Hi, I would like to resolve this issue, but I can't reproduce it. Could you record step by step video?

[2020-10-04 06:23] Matth7878 commented on #2003
Issue is closed but for what it's worth just saw recommended on Xda this app : PodAlarm.
It enabled you to set an alarm and start playing a selected app for the alarm.

[2020-10-04 07:25] keunes commented on #2003
@Matth7878 yeah, I shared that one [before](https://github.com/AntennaPod/AntennaPod/issues/2003#issuecomment-625508178) in this thread. Here's the [play entry](https://play.google.com/store/apps/details?id=com.robj.podalarm) - don't think it's open source though.

[2020-10-04 07:30] Matth7878 commented on #2003
Haaa I started to read comments before posting but they were too many and I skimmed through too quickly. My bad!

[2020-10-04 07:45] keunes commented on #4315
Doesn't crash for me either (in 2.0.1), so can't provide a video. But isn't the logcat enough to get an idea of what might be wrong? A video would just provide the same info as under 'Steps to reproduce' I guess.
@ByteHamster Could it be that this (magically) fixed in 2.0.1? How did you launch the download (manual/automatic; from which screen), if it matters?

[2020-10-04 07:49] ByteHamster commented on #4315
Sorry, I can also no longer reproduce. I think this got fixed in #4439.

[2020-10-04 07:49] #4315 closed

[2020-10-04 13:47] #1797 closed

[2020-10-04 18:12] gappleto97 commented on #3276
I'll let you know as soon as it hits F-Droid

[2020-10-04 18:18] #4487 closed

[2020-10-04 20:09] ByteHamster commented on #3756
After reading some user comments (I think it was on Twitter), it looked like users never bothered to press the "advanced search" button and therefore did not discover gpodder. That's why they are all top-level now, not hidden behind a second layer of buttons. I think having a heading is good to separate it from the discovery section but I am happy to hear suggestions for a better word.

Yeah, I wo

[2020-10-04 20:26] ByteHamster commented on #4472
@panoreak: It does not look like @rahullli has started working on the issue. They did not even fork AntennaPod, yet. They quickly reserved multiple issues and now do not react to messages, so I guess it is okay if you pick it up :)

[2020-10-04 20:35] vitaly-zdanevich commented on #4459
Listened on my old device:

![image](https://user-images.githubusercontent.com/3514015/95026438-fc71a000-0699-11eb-8aab-c51212f0f752.png)

But on my new device all episodes marked as not listened.

[2020-10-04 20:39] ByteHamster commented on #4459
Okay, that means that the problem is downloading the data. Did you link/synchronize your devices using the gpodder web interface?

[2020-10-04 20:58] ByteHamster commented on #4461
I guess this one is pretty hard to fix. An alternative would be to just display the image without blur as a fallback.

[2020-10-04 22:12] vitaly-zdanevich commented on #4459
Web interface? What do you mean?

![Screenshot_20201005-011020_AntennaPod](https://user-images.githubusercontent.com/3514015/95028278-d81cc000-06a7-11eb-924a-9f3702f9f439.png)

[2020-10-05 05:40] keunes commented on #4459
@ByteHamster Just to be sure: this data _should_ sunc, right?

[2020-10-05 05:42] tonytamsf commented on #1899
Got it, I intended to write the to SD card regularly.  Backing up to a single file sounds fine then allowing the user to always restore.

[2020-10-05 05:48] tonytamsf commented on #3755
@ByteHamster with 2.0.0 out, will you consider testing

AntennaPod - Podcast Player
AntennaPod - Ad-free Podcast Player

[2020-10-05 05:51] ByteHamster commented on #4459
Yeah, it should sync (and it does in my tests, so we need to find out what is different here)

Gpodder's UI is sometimes a bit confusing. In order to get devices to sync, you need to link them:

https://forum.antennapod.org/t/question-about-antennapod-and-gpodder/45/2?u=bytehamster

[2020-10-05 05:54] tonytamsf commented on #4458
I cannot replicate this problem consistently.  It does happy on my Android 11 phone. Can anyone else reliable cause this problem to happen so I can trace down the issue in the code?I think Android 11 has a new way to handle the media controls

[2020-10-05 08:16] schwedenmut commented on #4461
I did quite some debugging during the weekend and ran into other issues while downloading the images (SSL Errors).

As a first improvement, I will go ahead and display the unblurred image (fallback). But still would love to find out why the array gehts out of bounds 🤔.

[2020-10-05 08:53] ByteHamster commented on #4461
Do you use the "play" or the "free" build variant? Do you have Google Play services installed? I hope that this is a certificate problem, not a protocol problem.

[2020-10-05 08:56] schwedenmut commented on #4461
Oh bugger, I used the 4.4 AVD without Google (╯ರ ~ ರ）╯︵ ┻━┻
will test that again with the Google AVD ....

[2020-10-05 11:02] ByteHamster commented on #4461
AntennaPod should also work without Google. This is probably caused by #4328. I think I fixed that in #4497 but that PR needs careful review.

[2020-10-05 12:02] #4460 closed

[2020-10-05 13:08] workfilemmfloe opened #4498 "Git coin"
https://www.github.com/gitcoinco/web/tree/master/

[2020-10-05 13:37] #4498 closed

[2020-10-05 14:10] asdoi commented on #3065
Hi @ByteHamster I am currently working on this and some code would be much more comfortable to read if I write them in `Kotlin`. But as every other class is written in `Java` is even allowed to use Kotlin-Code in AntennaPod?
For me it makes no difference if I write Kotlin or Java, but just to make this general question clear.

[2020-10-05 15:30] schwedenmut commented on #4461
btw. i used the freeDebug Variants with the 4.4 non Google AVD.

[2020-10-05 16:05] VonCrab commented on #2289
@keunes I switched phones and don't use the app anymore. I would say you're probably okay to close seeing as over 3 years only 2 reports have come in. Thanks for looking.

[2020-10-05 21:23] panoreak commented on #4472
Thanks! 😊

[2020-10-05 21:57] donty opened #4500 "New playlist feature"
Often find it would be useful to create playlists of podcasts for different times. Could be listening at bedtime, whilst driving or working or themed by genre such as humour, science, history current affairs etc.

Could fit in the UI similar to a list of queues or similar to the way the episodes show under podcasts as some sort of your own curated podcast series assembled from various podcast or e

[2020-10-05 22:01] #4500 closed

[2020-10-06 03:29] xalmat opened #4501 "Download did not pause when switching from Wifi to Mobile data"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [ ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.1

**App source**: Google Play

**Android version**: 10 (Please mention if you are

[2020-10-06 03:32] xalmat commented on #865
This feature is missing in the 2.0 update.

[2020-10-06 05:55] keunes commented on #865
@xalmat What is 'the feature' that you miss in version 2? Several solutions were discussed above.

[2020-10-06 07:29] #4472 closed

[2020-10-06 07:41] abhinavg1997 commented on #4488
Went through the SearchFragment code, can I go ahead with it?

[2020-10-06 07:50] ByteHamster commented on #4488
@charlygg are you still interested in this issue?

[2020-10-06 08:10] ByteHamster commented on #3065
Hmm I would say that we should either commit to Kotlin completely (and gradually convert the whole app) or just keep using Java. I want to have a consistent code base.

I, personally, have not used Kotlin a lot, yet (but it's always good to learn something new). The number of people who can contribute is probably a bit higher when using Java, as it seems to be more common. I would say let's stick

[2020-10-06 09:46] abhinavg1997 commented on #4488
I have fixed the issue, do you want me to send a PR?

[2020-10-06 13:36] FatherMcB opened #4503 "Volume stays at zero after resume from phone call interupt"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [ ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.1

**App source**: Google Play

**Android version**: 10

**Device model**: Model: O

[2020-10-06 19:23] ByteHamster commented on #4488
Yeah that would be nice. Looks like @charlygg is no longer interested in this issue.

[2020-10-06 19:40] abhinavg1997 commented on #4488
Created a PR. It's my first contribution in Github :D

[2020-10-06 20:09] ByteHamster commented on #3755
I still have this issue in the back of my mind. I would wait a little bit though, until we can see the effect of the new icon and screenshots on Google Play before we start changing more things.

[2020-10-06 20:12] ByteHamster commented on #2965
Sorry, I do not know much about Android Auto. I have never used it myself and did not develop the original code base.

Do we explicitly tell Android Auto to display the playlist screen?

[2020-10-06 20:24] ByteHamster opened #4506 "IllegalArgumentException when restoring ViewPager2 state"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.1

**App source**: Google Play

**Android version**: Currently reported on Android

[2020-10-06 20:28] ByteHamster opened #4507 ""Visit website" button crashes app if there is no browser installed"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.1

**App source**: Google Play

# Bug description

**Steps to reproduce**:
1. Get a

[2020-10-06 20:29] carllacan opened #4508 "Podcast doesn't play at its defined speed."
I have playback speeds defined for some podcasts. When an episode of those feeds starts playing from the queue the playback speed indicator shows the correct speed I configured for that podcadt, but the episode plays at the playback speed of the previous episode. Tapping the speed indicator I am able to manually configure the desired speed.

Pd: sorry, I am reporting this from my phone before I fo

[2020-10-06 21:26] studentPavel commented on #4507
Hi, could I take a look at it?

[2020-10-07 02:45] Pentaphon commented on #3755
Are you guys still going to add Antennapod to the https://subscribeonandroid.com/ page?

[2020-10-07 04:52] ankitbeniwal commented on #4507
I am interested to work on this.

[2020-10-07 05:32] Mokura opened #4509 "Toggle for "Discover" display"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: x.y.z

1.8.3 (7f0acbbcf)

**App source**: F-Droid

# Feature description

**Problem you may be having, or feature you want

[2020-10-07 05:48] tonytamsf commented on #4509
I would love to see the Discovery list of podcast be optionally hidden as well. Maybe a long hold and then a remove option

[2020-10-07 07:43] keunes commented on #3755
Thanks for the reminder @Pentaphon. That was certainly in the planning. In fact, would you mind to help out? AntennaPod is a community project, so you're very much encouraged to jump in. And I'd be happy to help if you have any questions.

[2020-10-07 08:29] Pentaphon commented on #3755
Sure, I'll do it.

[2020-10-07 12:09] keunes commented on #3755
@Pentaphon Great, thanks! I see that the only thing they need is URLs and an image. The app icon is here: https://github.com/AntennaPod/Branding/blob/master/Logo/logo_512.png
(If you didn't reach out to them yet, would you mind adding me in CC? (GitHub username [at] mailbox.org) Then we follow up if anything pops up.) Thanks again!

[2020-10-07 12:21] keunes commented on #4507
Hi @studentPavel and @ankitbeniwal! Great to hear that you both want to help make AntennaPod better :-)

I guess we'll assign this to the first person that indicated their interest. We can only merge one PR, after all. @ankitbeniwal I suggest to have a look at issues that hasn't been assigned yet and that no one else has already indicated interest in. In theory, you can take any issue but it's sug

[2020-10-07 12:24] keunes commented on #4473
@dev-darrell It does not look like Rahullli has started working on the issue. They quickly reserved multiple issues but we haven't heard from them since, so I guess it is okay if you pick it up if you're interested in a second challenge :)

[2020-10-07 12:24] studentPavel commented on #4507
Thanks @keunes I will report you all my findings and hope I will fix it as soon as possbile.

[2020-10-07 12:33] keunes commented on #4507
(Just to clarify: PR review will be done by the app developer. I'm just helping out with moderation but I can't by any means code, let alone review.)

[2020-10-07 12:56] dev-darrell commented on #4473
Alright, I will then. Thanks

[2020-10-07 15:00] #4488 closed

[2020-10-07 15:17] user8446 opened #4510 "subscribeonandroid.com"
# Checklist

- [ X] I have used the search function to see if someone else has already submitted the same feature request.
- [ ] I will only create one feature request per issue.
- [ ] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.1

# Feature description

What are your thoughts on adding subscribeonandroid one click podcast add into AntennaPod?

[2020-10-07 18:41] ezesalas7 commented on #4507
Hello, I have the project already set up, may I work on this issue?

[2020-10-07 18:55] ezesalas7 commented on #4507
Hey @ByteHamster , I could not find any read only podcast, do you have any examples?

[2020-10-07 19:11] keunes commented on #4507
Hi @ezesalas7
Thanks for your interest in helping AntennaPod! As you can see in the above comments, there were some other folks interested in working on this as well. As we can only accept one PR per issue, I suggest to have a look at issues that hasn't been assigned yet and that no one else has already indicated interest in. In theory, you can take any issue but it's suggested to pick something l

[2020-10-07 19:14] ezesalas7 commented on #4507
Okay, I will take a look arround other issues, thanks.

[2020-10-07 19:28] keunes commented on #4510
Hi @user8446
Thanks for your request. It's been requested before (in #2297) and was implemented in PR #3739. It's included in AntennaPod version 2.0.1, which is currently rolling out on Google Play. Once that reached a 100% roll-out, it'll be available on F-Droid too. So keep an eye out for updates!

[2020-10-07 19:28] #4510 closed

[2020-10-07 20:07] user8446 commented on #4510
Thank you @keunes
I need to search better next time :)

[2020-10-07 20:31] schaarsomat opened #4512 "Add single files via URL to the queue"
# Checklist

- [X] I have used the search function to see if someone else has already submitted the same feature request.
- [X] I will only create one feature request per issue.
- [X] I will describe the problem with as much detail as possible.

# System info

**App version**: 1.8.1

**App source**: Google Play

# Feature description

I thought it might be nice to be able to add any audio from the

[2020-10-07 21:03] ezesalas7 commented on #4475
Hey I was looking arround this issue and I wanted to get it a little bit more clearly. According to what I understood, the feature/bug would be as follows ---->

When clicked on an specif podcast page, you can search for episodes within that podcast page, when searching, there should be a chip indicating the podcast page were are searching in, righ?

I also noticed something strange. I am subscrib

[2020-10-08 03:59] Pentaphon commented on #3755
@keunes Sent!

[2020-10-08 04:46] keunes commented on #4475
@Algure You indicated an interest in working on this issue, but we haven't heard from you since and it seems you didn't fork AntennaPod yet. If you _are_ working on it, please let us know within 24 hours, otherwise we'll have to give free this issue for someone else to work on. Thanks!

[2020-10-08 04:52] keunes commented on #3755
I saw it. That's great, thanks a lot!

[2020-10-08 10:46] ByteHamster commented on #4475
This was recently fixed in #4505

Exactly

It's the part `long feed = getArguments().getLong(ARG_FEED);`. If the feed is `0`, it searches everywhere. For other numbers, it only searches in the feed with that ID. The ID is set up when calling the `SearchFragment` after pressing the search button.

[2020-10-08 10:56] ByteHamster commented on #4473
Fixed in #4511

[2020-10-08 10:56] #4473 closed

[2020-10-08 11:02] ByteHamster commented on #4509
We already have a huge number of settings. More settings are usually pretty bad for the user experience - especially if they are only used by a few users. If you are interested, you can more read about that here: http://neugierig.org/software/blog/2018/07/options.html

This would mean we need an option to show it again.

An option that could achieve this without adding more settings would be to co

[2020-10-08 12:12] ezesalas7 commented on #4475
Great thanks! Will be working on this.

[2020-10-08 13:52] Mokura commented on #4509
So is being told that you're subhuman, fake, a danger to others just for existing, etc.  Not a developer problem, naturally, but anti-trans sentiment in the media is a huge problem in the US and UK, among other places, and the option to _filter_ (not remove!) your media is crucial.

I am certain you're acting in good faith, but this specific kind of phrasework has always given me pause, as it's al

[2020-10-08 22:11] ezesalas7 commented on #4475
Hey guys! I was working on this issue today and after coding some ideas for the solution I got to the conclussion that passing the podcast name as an argument maybe was not the best chooice.

I coded it anyways, with the argument, I had to add arguments to more than 3 classes if I remeber correclty, so I thought that maybe I could code a solution with more local impact.

So, for my current solutio

[2020-10-09 02:21] tonytamsf commented on #4509
My mock up skills will be slower than me just writing the code.

1) I'm thinking of moving the 'more >>' to the bottom of the list of images
2) adding a '...', user tap it, they see 'Language...'
3) tapping 'Language...'  will show select list of region + language
4) There is a 'none', which will hide the discovery content

[2020-10-09 03:57] Pentaphon commented on #3847
@dallinpstock If you're still out there, myself and a lot of other people would love if you got the scrubbing time overlay done for 2.0.x

Or if anybody else wants to finish what he started, please feel free. Antennapod would benefit from it.

[2020-10-09 06:15] ByteHamster commented on #4509
What about adding the option to the discovery screen (like in #3788)? That way, the "add podcast" screen stays a bit more clean.

[2020-10-09 06:59] #4223 closed

[2020-10-09 07:26] ByteHamster commented on #4475
I don't think this is always the case. Try searching for something that is not included in the podcast's title.

3 classes are fine :) I think this makes the implementation a lot easier and reduces database workload.

[2020-10-09 07:55] openpaul commented on #4458
I was able to reproduce it like this:
Used AntennaPod 1.8.1 (6e6a64f50)

[code]

Hope this helps to enable testing. I did not have to interact with the media control pannel of Andorid 11 besides making sure the episode is showing there,

[2020-10-09 09:09] icubyx commented on #4376
I think to start with, we should have the frequently accessed sections on the bottom navigation bar - like downloads, queue and history. The others - like settings, subscriptions and episodes can go in the drawer menu. As @ByteHamster pointed out, users of this app are used to a certain interface and we should not shift abruptly - open to other suggestions...

[2020-10-09 12:41] heyyviv commented on #4474
i am interested in working on it

[2020-10-09 13:07] LinAGKar opened #4514 "Duplicated podcasts"
# Checklist

- [ x] I have used the search function to see if someone else has already submitted the same bug report.
- [ x] I will describe the problem with as much detail as possible.
- [ x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.1

**App source**: Google Play

**Android version**: 9 (LineageOS 16)

**Device

[2020-10-09 13:42] tonytamsf commented on #4514
You are seeing duplicate in the search results or in your subscription?

[2020-10-09 13:57] heyyviv commented on #4474
According to this issue I have create a option in setting for Notification and add some notification features in it ?

[2020-10-09 15:10] ByteHamster commented on #4474
The idea is to move the existing notification features to a new screen, not to add new ones.

[2020-10-09 16:04] tonytamsf commented on #4509
Can you see this work in progress? https://github.com/AntennaPod/AntennaPod/pull/4515

[2020-10-09 16:41] Xeitor commented on #4475
Okay great. I was thinking maybe some method overriding for when we need to add the tittle. Some the SearchFragment is used with a 0 so that we can search for episodes in every poadcast. For that use case we could use the method that does not have title arguement. Or we could just send a blank string.

[2020-10-09 16:53] Xeitor commented on #4475
I have It working without the method overriding, But I have a problem related with issue #4505. Check the photos...
![issue 2](https://user-images.githubusercontent.com/8825715/95610493-cbe18b80-0a36-11eb-9fd5-8b67c913da25.png)
![issue](https://user-images.githubusercontent.com/8825715/95610519-d6038a00-0a36-11eb-98b3-04032bf79b7c.png)

[2020-10-09 17:20] Mokura commented on #4509
Oh, that looks like a good way to do it!  Thanks for all your hard work on the app.

[2020-10-09 18:06] LinAGKar commented on #4514
The subscriptions were duplicated, so it ended up like this:

![Screenshot_20201009-195917_AntennaPod](https://user-images.githubusercontent.com/3390621/95616662-77f09a00-0a6a-11eb-8557-d60f9d37ddc5.png)

And the duplicates has automatic download enabled, and downloaded the most recent episode, so that filled up the queue with a bunch of stuff.

[2020-10-09 20:44] ByteHamster commented on #4514
Do you use gpodder synchronization? If so, this could be the same as #2214

[2020-10-09 20:52] ByteHamster commented on #4475
Do you mean the `newInstance` method? It already has two variants for with/without limitation

[2020-10-09 21:04] LinAGKar commented on #4514
I do

[2020-10-09 21:38] ByteHamster commented on #4506
Full message:

Steps to reproduce:

1. Start app
2. Tap episode in a list
3. Leave app with home button
4. Stop app process (needs root) or wait a long time for the Android system to stop the app and clear static variables
5. Come back to the app from the recents menu
6. Crash. If it does not crash, repeat from step 3 a few times

Observation:

`ViewPager2` internally uses `ViewCompat.generateView

[2020-10-10 00:45] Xeitor commented on #4475
Ohhh totally missed that, I have completed the feature, how should I proceed ?

[2020-10-10 05:54] heyyviv commented on #4474
sorry for asking but can you tell me on which screen should i add existing notification

[2020-10-10 06:07] ByteHamster commented on #4475
Create a pull request :)

[2020-10-10 06:11] ByteHamster commented on #4474
Create a new preference screen (just like "Network", "Storage", etc) and move the already existing settings for enabling/disabling notifications there.

[2020-10-10 10:31] keunes commented on #4509
I didn't jump in to this discussion before, but I would still like to share my opinion. I think you're absolutely right @Mokura that AntennaPod shouldn't be making you feel bad. However, removing the Discovery section, I feel, is the wrong way to go about it.

We should offer a stable user interface, which is (in principle) the same for all users. I'm not sure I'm fully understanding @ByteHamster'

[2020-10-10 11:45] asdoi commented on #2146
A very easy solution would be, that the `stop at the end of the current track`-checkbox only sets the sleep timer to the remaining time of the episode.
Then we do not have to deal with play/pause etc.
@ByteHamster if this is ok for you, I would prepare a pull request.

[2020-10-10 15:10] tonytamsf commented on #2214
Do we have data around how many users use gpodder and AntennaPod?  I am just trying to weigh how much effort  I personally want to invest into looking at this since I don't use it.

I used gpodder once and I also saw the duplicate issue and it caused a lot of pain to fix for 111 subscription

[2020-10-10 16:29] Xeitor commented on #4507
Hey @studentPavel and @ankitbeniwal , did you manage to take a look at this issue ? Otherwise I am interested in fixing it. Let me know :)

[2020-10-10 16:57] tonytamsf commented on #3826
I think the date has to be accurate reflection even if I uninstall, restore from backup.  I use the statistics data to analyze my usage, I uninstall the app often to get a new build.  Having the date not be correct, is worst than not having it.

Thanks for working on this

[2020-10-10 17:19] rcuocolo commented on #2214
Same here. The first time I (unknowingly) made the mistake of a full sync which caused duplication. A couple days ago a regular sync (strangely) also presented the issue. It is fairly annoying removing duplicates as it also removes the original subscription loosing any data on played/downloaded/queued episodes.

[2020-10-10 18:16] Mokura commented on #4509
I take pains to say I want the section _hidden, not removed, as an option,_ and people still can't read.  If you go back to the original post, maybe you'll notice I'm using the word HIDE.  You're making an argument that doesn't exist, to everyone's detriment.

Stable?  Sure.  The same?  Awful from an accessibility standpoint.

This is the first sensical thing you've said so far, and indeed, this i

[2020-10-10 18:48] studentPavel commented on #4507
Ok Xeitor take it, i have take a look at it but it is quite problem to reproduce bug...chrome is in anroid core and i dont know how to give it away...maybe emulator will help...

[2020-10-10 19:12] ByteHamster commented on #4514
This usually happens when feeds change their URL. Gpodder does not handle that, which leads to problems when syncing. I will close this issue to keep the discussion in one place (#2214). Just upvote the first comment there to show that you are affected too.

[2020-10-10 19:12] #4514 closed

[2020-10-10 19:17] #4371 closed

[2020-10-10 19:17] Xeitor commented on #4507
It seems like It has already beeing fixed, check IntentUtils class:

[code]

[2020-10-10 19:20] ByteHamster commented on #2214
AntennaPod does not collect any analytics. I have no idea how many people use it.

I am not sure if we can cleanly fix this on our end. Gpodder still uses the old URLs, so redirects are a completely different subscriptions for them (meaning that the played state of episodes is also tied to the old URL).

[2020-10-10 19:26] LinAGKar commented on #2214
I've also had a full sync readd some deleted subscriptions.

And once, deleting a duplicate also deleted the original, but it usually doesn't.

Best idea I can come up is for AntennaPod to keep track of both the original URL and the new URL for each feed, using the former when syncing to gPodder, and the latter when fetching the feed.

[2020-10-10 19:31] ByteHamster commented on #4507
`VisitWebsiteActionButton` does not use `openInBrowser`. It creates its own intent and crashes. I guess making `VisitWebsiteActionButton` use `openInBrowser` would be most clean.

[2020-10-10 20:00] tonytamsf commented on #4509
I have ideas already working, which will lead to what you are seeking ( which I support ) there is one particular podcast I cannot stand the sight of personally appearing in that list.

[2020-10-10 20:04] ByteHamster commented on #4509
That option influences all suggestions, in particular those on the full discovery screen where the option is displayed. So I think it is reasonable to put the setting on the discovery screen.

That was basically my idea. #3756 suggests to add an option for selecting the language. My idea was to use the same option for disabling the suggestions altogether. While this is not the most clean approach,

[2020-10-10 20:07] #4471 closed

[2020-10-10 20:32] Mokura commented on #4509
You're good!  Compromise is needed, I just loathe being intentionally misunderstood for the sake of FREEDUMBS or whatever.

If it's the one that rhymes with 'Hoe Jogan' I'm gonna laugh. 😛

[2020-10-10 22:07] tonytamsf commented on #4509
@Mokura laugh away

[2020-10-11 00:33] tomgeor commented on #4448
I just noticed this too.  If iIm actively using antennapod, the controls stay around.  If I leave a podcast paused for a bit (unsure exactly how long), the controls go away and only return when I start playing it again.  Then the controls will stick around, and disappear again.

Kinda wondered if it was related to the adaptive battery option (which is enabled on my phone)

System info
App version:

[2020-10-11 04:03] tonytamsf commented on #4509
@Mokura see my latest update and screenshot. I'm pretty happy with the extra feature of seeing all 250 country's content in Discover, as well as just hide them all.

https://github.com/AntennaPod/AntennaPod/pull/4515#issue-500681331

[2020-10-11 04:08] ankitbeniwal commented on #4507
I think this can now be assigned to me. I am ready to take it up since @studentPavel unassigned himself. @Xeitor I have looked at the bug and I am ready to work on it.

[2020-10-11 04:22] tonytamsf commented on #4458
👀  I had like 20 of these things lingering on my phone.  I'm firing up my debugger now to look at fixing

[2020-10-11 04:35] tonytamsf commented on #4355
See the work in progress on how you can hide the content you don't want https://github.com/AntennaPod/AntennaPod/pull/4515

[2020-10-11 05:34] Mokura commented on #4509
@tonytamsf looks good!

[2020-10-11 05:50] heyyviv commented on #4474
can you please tell me the file where code for setting is written

[2020-10-11 06:02] Xeitor commented on #4507
I was about to submmit the pull request, since I had already discussed the solution with @ByteHamster

[2020-10-11 06:18] ankitbeniwal commented on #4507
oh alright. If you have already fixed it then go ahead and make a PR. No problem @Xeitor

[2020-10-11 07:41] ByteHamster commented on #4474
Search for `preference` - there are multiple files. Sorry, I can not give you step-by-step instructions because that would take longer than just doing it myself. Maybe it is better to look for something more easy.

[2020-10-11 08:39] ByteHamster commented on #2146
Hmm, I do not think this will work reliably. Play/pause might change the time. Also, changed playback speeds or skipping would need to be taken into account. Doing it based on the time will probably end a few seconds too soon or too late in many cases.

[2020-10-11 09:16] delaosa commented on #1565
I'm also missing a setting which allows to continue playing from top of the playlist.

[2020-10-11 09:53] maxbechtold commented on #4448
I updated my build to 2.0.1
The issue remains.

Aside from the lock screen controls, the same happens with the media controls in the quick settings drop-down menu. After a while they are gone.

I.e. if the sounds/media setting is set to Hide player after session ends. If this option is disabled, old podcast episodes will clutter the media controls but without possibility to dismiss or start playba

[2020-10-11 10:22] skyerjoe commented on #4262
Hello @ByteHamster
Thnks for info
but may an a little bit more sophisticated system would be nice not only downloaded podcasts cause I don't want to download every podcast

Best regards

[2020-10-11 16:05] ByteHamster commented on #4507
Closed in #4520

[2020-10-11 16:05] #4507 closed

[2020-10-11 16:22] ByteHamster commented on #4501
Hi, this is already tracked in #2220. I will close this one to keep the discussion in a single place.

[2020-10-11 16:22] #4501 closed

[2020-10-11 16:24] ByteHamster commented on #4475
You closed the pull request. Does that mean that you are no longer interested in implementing this?

[2020-10-11 16:40] ByteHamster commented on #4467
Could you please send me a database export, so I can see if I can reproduce this on my device? You can either post it publicly (be careful, listening behavior or passwords might be exposed) or just send me an email to `info@<my username>.com`.

[2020-10-11 17:08] Xeitor commented on #4475
Hey! I closed the pr because it has a problem. When calling feed.getTittle() sometimes gets called before the search for the feed is completed, giving a null reference exception. I hava been working in some different implementations with live data but doesn't feel very clean. Any ideas or suggestiona?

[2020-10-11 20:04] ByteHamster commented on #4475
Oh, you are right. What about adding a null check for `feed` and then calling `getActivity().invalidateOptionsMenu()` after it is loaded to update the search button?

[2020-10-11 21:08] Xeitor commented on #4475
Like it, will give it a try ;)

[2020-10-12 01:46] Xeitor commented on #3808
Hey! Can I give this a try ?

[2020-10-12 02:26] Xeitor commented on #2279
Hello, is this the widget  you are refering to?
![widget](https://user-images.githubusercontent.com/8825715/95698791-1b7fad00-0c19-11eb-9797-5a9295f31ea0.png)

[2020-10-12 06:16] ByteHamster commented on #3808
Oh, sorry. I recently had another idea how to make the dialog better. When that is implemented, this change would become obsolete.

[2020-10-12 06:24] chrk2205 commented on #4474
can i work on this??

[2020-10-12 08:32] ByteHamster commented on #4467
Thanks, I received your export. Unfortunately, I can not reproduce the problem. Refreshing works fine after importing the database. As this seems to be the same as #2312, I will close your issue to keep everything in a single location. (having different stacktraces is normal for this kind of crash)

[2020-10-12 08:32] #4467 closed

[2020-10-12 20:58] ByteHamster opened #4523 "Show loading indicator in sidebar"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.0

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:

While the

[2020-10-12 22:32] Xeitor commented on #4523
Hello! Would like to give this a try if possible :)

[2020-10-13 06:53] #4506 closed

[2020-10-13 07:55] ByteHamster commented on #4328
Should be fixed by #4497 in 2.0.2

[2020-10-13 07:55] #4328 closed

[2020-10-13 07:56] ByteHamster commented on #4523
Sure, go ahead :)

[2020-10-13 08:12] ByteHamster commented on #4474
Sure :)

[2020-10-13 08:15] ByteHamster commented on #2279
Nope, it's referring to the home screen widget.

<img width="250" src="https://user-images.githubusercontent.com/5811634/95834197-f4ba9700-0d3c-11eb-8889-53fc86c0594f.png" />

[2020-10-13 09:06] rasferret opened #4524 "mass selection icon overwrites and overrides the trash bin icon in Downloads/Log tab"
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [does not apply] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info
**App version**: 2.0.1 (af1a6a7rf)
**App source**: Google Play
**Android version**: 10 (1.Sep

[2020-10-13 13:37] isabelgk commented on #3899
This is happening for me on 1.8.1. I also have automatic download turned off so there should be no episodes to download.

<img width="392" alt="image" src="https://user-images.githubusercontent.com/13615209/95867674-07c66a80-0d2f-11eb-8794-18d46791e2ce.png">

[2020-10-13 13:44] chrk2205 commented on #4474
All i have to do is replace these(download reports, auto download reports and synchronization errors) from there respective fragments to the new fragment(new setting)
what should i name it??
Thankyou
@ByteHamster
![WhatsApp Image 2020-10-13 at 19 09 48](https://user-images.githubusercontent.com/44704035/95868397-c910ce80-0d87-11eb-9105-cb171f82db1f.jpeg)

[2020-10-13 20:05] #4475 closed

[2020-10-13 20:52] ByteHamster commented on #4474
:+1:

Yeah, that sounds good :)

[2020-10-13 21:24] Xeitor commented on #4523
Hey, I was working on this issue. Wanted to know how you feel about this horizontal sidebar...

Pd: of course when the feed get loaded it would dissapear and the progress has no %, its indeterminate.
![horizontal progress bar](https://user-images.githubusercontent.com/8825715/95917766-235a6100-0d81-11eb-8a85-08f6a1bd8482.png)

[2020-10-13 21:41] Xeitor commented on #4523
Okay no problem, I have something like this then

![progress bar](https://user-images.githubusercontent.com/8825715/95919206-8e0c9c00-0d83-11eb-9cac-83f4bb186251.png)

[2020-10-13 21:52] Xeitor commented on #4523
I have an issue I would like to mention, I added some delay to the DBReader method to simulate the long list of feedbacks. So when adding a new podcast the delay is there too. In the picture, I added a new podcast and I am waiting it to appear on the list (this should be pretty quick put it's taking a while because of the delay), while this happens the progress bar is still there behind the alread

[2020-10-13 23:31] Xeitor commented on #2064
Hello, is this issue still open ?

[2020-10-14 06:46] chrk2205 commented on #4474
@ByteHamster
instead of replacing i commented the part that is used in notification fragment
please review the pr!!
thanks

[2020-10-14 08:32] meldron commented on #4448
Same here

[2020-10-14 09:35] akshatishere commented on #4374
@ByteHamster  Can you please share the acceptance tests ?

[2020-10-14 11:11] ByteHamster commented on #2064
Yeah, it's still open :)

[2020-10-14 11:13] ByteHamster commented on #4523
What about moving the progress bar to the front, so that it can not get covered? It could then be set to invisible as soon as loading is finished.

[2020-10-14 13:30] jimsug opened #4527 "Error 504 on specific hostname"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [x ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.1 (af1a6a7ef)

**App source**: Google Play

**Android version**: 11 (Please ment

[2020-10-14 14:59] ByteHamster commented on #4527
Looks like that server does not like the `Cache-Control: no-store` header. Mea culpa, that header is new in AntennaPod 2.0

[2020-10-14 15:59] Xeitor commented on #4523
Sounds good, will give it a try

[2020-10-14 16:02] #4527 closed

[2020-10-14 16:12] Xeitor commented on #4523
Hey, bringed the progress bar on front, what do you think ?

![progess bar](https://user-images.githubusercontent.com/8825715/96016224-e0e76180-0e1e-11eb-89bf-06dad209eec5.png)

![progrss bar 2](https://user-images.githubusercontent.com/8825715/96016198-db8a1700-0e1e-11eb-8577-36565b5103d5.png)

[2020-10-14 17:20] Xeitor commented on #2064
Great, was trying to get my head arround the error and the classes involved. Could you give me some background?

[2020-10-14 19:04] ByteHamster commented on #4523
Looks good :+1: I wonder why it is black. All other progress bars in AntennaPod are blue.

[2020-10-14 19:18] ByteHamster commented on #2064
Should be somewhere in `SyncService.processEpisodeActions`. Removing an item from the queue can be done with `DBWriter.removeQueueItem`

[2020-10-14 19:42] DC7IA opened #4530 "With 2.0 AntennaPod stops playing when put in background"
Hello,

with version 2.0 AntennaPod stops playing when put in background. Not every time, but almost every time.

Before the update (yesterday) it continued playing.

# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [does not apply] If the bug only to occurs with

[2020-10-14 20:29] keunes opened #4531 "Replace Stop with Pause button in Android Auto"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.0-RC7

**App source**: Unknown

# Feature description

**Problem you may be having, or feature you want**: On Android

[2020-10-14 20:38] keunes commented on #4530
Hi @DC7IA
Please share the information requested in the template. Some brands are known to be aggressive in stopping apps when they're just in the background. Or, depending on what exactly may be going on, this might be a bug. So more information is needed.

[2020-10-14 20:56] keunes opened #4532 "Not all episodes are always shown in podcast list on Android Auto"
Copied over from https://forum.antennapod.org/t/does-not-always-list-all-episodes/217

**App version**: 2.0.0-RC7 (4ddee0321) from Google Play

**Android version**: 11

**Device model**: Pixel 3a xl

**Expected behaviour**: Should show all episodes of a feed

**Current behaviour**: On the android auto display when I pick a podcast most of the time it only lists some of the episodes but sometimes i

[2020-10-14 21:12] keunes commented on #4159
@iTzHard AntennaPod is created by volunteers in their spare time. Saying 'Bump' won't help a lot in getting this implemented, unfortunately. Consider giving a thumbs-up to first post - it'll give some visibility (help when issues are being sorted by up-votes) ;)

[2020-10-14 21:26] keunes commented on #4159
@ajayyy As you can see I just referenced this feature request on our forum. It'd be great if you'd be willing to chip in there to help flesh out the idea (e.g. re a nice UI integration, maybe you know of examples of how this could be done which you could share in the forum).

[2020-10-15 08:36] DC7IA commented on #4530
Just found the bot's reply and appended the requested information.

[2020-10-15 10:05] ByteHamster opened #4534 "Create notification channel for gpodder synchronization errors"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.2

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:

The Androi

[2020-10-15 16:14] KAMiKAZOW commented on #2214
Yeah, this turns an otherwise mildly annoying bug into a really bad experience. 😥

[2020-10-15 16:36] asdoi opened #4536 "Show a dialog if an update is available"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# Feature description

**Problem you may be having, or feature you want**:
After some research, I found the following article: https://developer.android.c

[2020-10-15 17:10] ByteHamster commented on #4536
Wouldn't this mean that AntennaPod connects to Google every single time the app is opened? To be honest, I do not really see a benefit of nudging users to update. At least not a benefit that is big enough to justify that we get even more dependent on Google.

[2020-10-15 17:24] asdoi commented on #4536
Yes, I totally agree. I did not thought about that. Sorry

[2020-10-15 17:24] #4536 closed

[2020-10-15 19:46] keunes opened #4537 "AP attempts OPML import of AP database"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.1

**App source**: Google Play

**Android version**: 10

**Device model**: Fairphon

[2020-10-15 19:53] keunes opened #4538 "Make 'import successful' dialog have a proper title"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.1

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**: After succe

[2020-10-15 19:56] keunes commented on #4508
Hi @carllacan, just a kind reminder to complete the template, if you're still experiencing this ;)

[2020-10-15 19:59] keunes commented on #3902
(@tonytamsf I unassigned you as there hasn't been any activity on this for a while. Perfectly fine, of course - this is just to manage expectations ;) Do let us know if you want to pick this up (again))

[2020-10-15 20:00] keunes commented on #2166
Allright, closing the issue. Do let us know if you're still experiencing this, and we'll reopen it.

[2020-10-15 20:00] #2166 closed

[2020-10-15 20:02] tonytamsf commented on #3902
@keunes perfectly fine to unassign me.  I am thinking of what to tackle next.  Looks like a lot of Media Control issues are still open.

[2020-10-15 20:14] keunes commented on #4190
Hi,

Going through old issues, I just looked at this again, and can confirm it still exists. Both on my Fairphone 2 (Android 7.1.2) and Fairphone 3 (Android 10) - both with AntennaPod 2.0.1. Please see attached gif for an illustration.
![AP_pull-resistance](https://user-images.githubusercontent.com/11229646/96181006-97d50180-0f33-11eb-894b-d406e396ad2a.gif)

[2020-10-15 20:36] ByteHamster commented on #4190
Oooh, now I know what you mean. I can reproduce this on my device.

To be honest, I have no idea what to do about it. It's a WebView within a horizontal pager, both displayed in a bottom sheet. Google does not officially support either of those in a bottom sheet. We already have to do some ugly tricks to make that work at all.

[2020-10-15 21:19] keunes commented on #4190
Ok. Well, shall we let it open and label as enhancement, for now, in the hope that someone with an ingenious solutions comes by?

[2020-10-16 03:41] rogerval commented on #3650
I've just tried version 2.02, and the issue I reported remains, unfortunately.

[2020-10-16 05:49] techvanity opened #4540 "Live search filter"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.1

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:
Searching i

[2020-10-16 07:15] #4538 closed

[2020-10-16 07:27] #3398 closed

[2020-10-16 10:39] damlayildiz commented on #4534
Hi, can I work on this?

[2020-10-16 10:49] asaikarthikeya commented on #2682
I would like to work on this. Could you explain me how to get started.

Thankyou.

[2020-10-16 10:59] eckleb opened #4542 "Stuck on downloading podcast data"
Downloading podcast data. Processing downloads" notification is stuck and cannot be dismissed. Dismissing the notification requires force-stopping the app.  This just started happening with the most recent update

[2020-10-16 11:55] #4523 closed

[2020-10-16 11:56] #3065 closed

[2020-10-16 11:57] ByteHamster commented on #4534
Sure, that would be great :)

[2020-10-16 11:59] ByteHamster commented on #2682
There is nothing much I could explain. Add the message to the layout and change its visibility based on media availability. I don't know the layout name from the top of my head but finding the relevant files is part of the challenge ;)

[2020-10-16 13:07] chaulo opened #4544 "can't add podcasts"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [ x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: x.y.z

2.01
**App source**: Google Play / F-Droid / ...

Google Play
**Android versi

[2020-10-16 14:53] #3337 closed

[2020-10-16 16:22] keunes commented on #4544
Hi chaulo,

Thanks for chipping in and I'm sorry you're experiencing this. The problem is that we get information for podcasts from the iTunes database, and their repository is getting worse and worse. You're not the only one to be affected, see e.g. #4390.

Apart from the iTunes database we're also sourcing podcasts from Fyyd. To mitigate the issue, we've submitted a bunch of France Inter/Culture

[2020-10-16 16:22] #4544 closed

[2020-10-16 16:43] keunes commented on #4093
Guess this can be identified as a 'confirmed bug'?

[2020-10-17 09:33] returntrip commented on #2379
Would sharing th

[2020-10-17 14:51] ltGuillaume opened #4546 "Pull down to refresh episodes list"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.1

**App source**: F-Droid

# Feature description

**Problem you may be having, or feature you want**: In most apps, i

[2020-10-17 18:18] forteller opened #4547 "Episodes where end is auto skipped are not deleted/removed from queue"
# Checklist

- [ x] I have used the search function to see if someone else has already submitted the same bug report.
- [ x] I will describe the problem with as much detail as possible.
- [ x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.2

**App source**: Google Play

**Android version**: 8.0

**Device model**: SGS

[2020-10-17 20:22] Coucouf opened #4548 "Filter on downloaded episodes not updated after deletion"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.1

**App source**: F-Droid

**Android version**: LineageOS 17.1 (Android 10)

**Dev

[2020-10-17 20:32] dodobar opened #4549 "Speed"
Is it possible to specify different playback speeds for different podcasts?
Thanks

[2020-10-17 20:43] #4549 closed

[2020-10-17 20:43] ByteHamster commented on #4549
Yes it is. Press the cog :gear: icon on the podcast page to set it up.

For questions like this, please use our forum instead (https://forum.antennapod.org/).

[2020-10-17 20:47] #4356 closed

[2020-10-17 20:50] #3982 closed

[2020-10-17 20:50] #4509 closed

[2020-10-17 20:54] #4534 closed

[2020-10-17 20:59] ByteHamster commented on #4547
Thanks for reporting. This bug is already tracked in #4276. I will close this one to keep the discussion in one place.

[2020-10-17 20:59] #4547 closed

[2020-10-17 21:00] ByteHamster commented on #4546
Duplicate of #1797. The feature will be available in the 2.1.x versions.

[2020-10-17 21:00] #4546 closed

[2020-10-17 21:00] ByteHamster commented on #4542
Duplicate of #3899

[2020-10-17 21:00] #4542 closed

[2020-10-17 21:04] ByteHamster commented on #4524
This has the same cause as #4259 but since the behavior is so different, I will keep both issues opened.

[2020-10-17 21:14] ltGuillaume commented on #4546
Apologies, the reason I didn't find the issue was because of the search results in OctoDroid (so it's either a GitHub API issue, or a problem with OctoDroid).

[2020-10-17 21:56] ByteHamster opened #4550 "Episodes page no longer shows empty view"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.2 develop

**App source**: Google Play

**Android version**: 10 (Please mention if

[2020-10-18 00:16] tonytamsf commented on #4276
Just noticed that I was tagged. Please assign to me

[2020-10-18 00:18] tonytamsf commented on #3982
Fixed in #4515

[2020-10-18 00:19] tonytamsf commented on #4355
@ByteHamster is this fixed by #4515?

[2020-10-18 02:46] gappleto97 commented on #3276
Seems to be fixed

[2020-10-18 06:15] #3276 closed

[2020-10-18 09:13] Matth7878 opened #4552 "Leverage statistics information to give access in screen they are related to"
# Checklist
- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.
# System info

**App version**: 2.0.1
**App source**: Google Play

# Feature description

Right now you can access statistics screen only from settings.

As

[2020-10-18 10:59] Vrihub opened #4553 "http error 429 when streaming long podcasts"
# Checklist

- [x ] I have used the search function to see if someone else has already submitted the same bug report.
- [x ] I will describe the problem with as much detail as possible.
- [ ] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 1.8.3

**App source**: F-Droid

**Android version**: 10

**Device model**:

**Steps t

[2020-10-18 15:37] heyyviv commented on #4550
i want to work on this

[2020-10-18 15:50] ByteHamster commented on #4550
:+1:

Please keep in mind that this issue might require some digging in the code. The view is there and was displayed in old versions. The hard part is to find out why it is no longer displayed :)

[2020-10-18 15:56] rec0de opened #4555 "Stuck player loading notification"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.2

**App source**: Google Play

**Android version**: 9

**Device model**: ONEPLUS A

[2020-10-18 16:44] heyyviv commented on #4550
i will try my best, just give me some time

[2020-10-18 16:55] ByteHamster commented on #4555
Thanks for reporting! Would it be possible for you to send us a log file directly after the notification appears? I thought that the bug would be fixed in 2.0.x :( I can not reproduce this on my device and maybe logs could help to finally fix it.

You can export logs to a file by opening the "Report bug" screen in AntennaPod's settings and pressing the "Export full logs" button. The logs likely co

[2020-10-18 17:11] tonytamsf commented on #4553
Do you have a particular podcast feed?

[2020-10-18 17:15] chaulo commented on #4544
Thanks very much for replying so fast.

I hope that the podcastindex.org list will solve the problem. For the time being, I use the rss links and the "add podcast link" with copy/cut since AntennaPod doesn't appear when clicking directly on a podcast link.

[2020-10-18 17:31] piratenpanda commented on #4448
Doesn't seem to be fixed in 2.02

[2020-10-18 17:37] rec0de commented on #4555
Sure, I'll keep an eye out for the notification to appear again! At the moment I don't really have a clue what triggers it and couldn't reproduce it. Do you know anything that used to trigger it or seems related to it that I could try?

[2020-10-18 17:37] CompmanJX3 opened #4556 "Downloading podcast data notification stuck on"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.1

**App source**: Google Play

**Android version**: 11

**Device model**: Pixel 3

[2020-10-18 17:38] SebiderSushi commented on #4414
Today i installed AntennaPod version 2.0.1 from F-Droid. I can still reproduce the issue with my data (didn't try reinitializing all podcast data). It even feels to me as if the list would be even more limited than with AntennaPod version 1.8.3 still.

I think i'll start investigating this locally. Where can i find the relevant line of code that does the check?

[2020-10-18 18:07] ftobin opened #4557 "This American Life RSS is reported as webpage"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.2

**App source**: Google Play

**Android version**: 8.0.0

**Device model**: F5321

[2020-10-18 18:17] SebiderSushi commented on #4414
Ok i think i found the bug:
https://github.com/AntennaPod/AntennaPod/blob/8f6c560f01334c1fa0e74b05cbf1dbad05119572/app/src/main/java/de/danoeh/antennapod/fragment/EpisodesListFragment.java#L269
https://github.com/AntennaPod/AntennaPod/blob/8f6c560f01334c1fa0e74b05cbf1dbad05119572/app/src/main/java/de/danoeh/antennapod/fragment/AllEpisodesFragment.java#L101

When filtering, `AllEpisodesFragment.loa

[2020-10-18 18:20] ByteHamster commented on #4557
Their feed is broken (they added an empty line before the XML declaration, which is not valid XML). I already contacted them.

[2020-10-18 18:24] hovancik commented on #2214
Is it time for AntennaPod sync service?  :)

[2020-10-18 18:32] SebiderSushi commented on #4414
A possible solution i can think of right now:

Define the contract for `EpisodesListFragment.loadMoreData()` so that it must return `null` if there is no more data. That can be checked for in `EpisodesListFragment.loadMoreItems()` in place of `if (data.size() < EPISODES_PER_PAGE)`. Concequently, the `EpisodesListFragment.hasMoreItems` attribute would behave almost as it does right now, only that i

[2020-10-18 20:25] keunes commented on #4552
I agree that the stats could get a bit more exposure. Maybe in addition to the overflow menu on the podcasts screen, it could also deserve its own menu entry (which can be disabled)?

There are no 'statistics for current podcasts' at the moment (e.g. listening hours per week, for a specific podcast). We (only) have an overview of the statistics of all podcasts.

However, displaying some stats info

[2020-10-18 20:51] Matth7878 commented on #4552
I meant we could display what already exist in statistics screen :
- you have listened to xxx hours
- and xx mo is downloaded

I don't think so. Right now in statistics / download tab you have how much is downloaded for each podcast. What I'm proposing is just next to how much space it is to add how many episodes it is.
I think I'm not clear so here what I mean :
![Untitled](https://user-images.gi

[2020-10-18 22:17] ngm commented on #2289
I have a different phone now, and don't tend to be offline as much. So I can't verify - but I'm sure it's fine to close.

[2020-10-18 22:18] #2289 closed

[2020-10-18 22:52] hmilgraum opened #4559 "Android navigation bar stays white in dark theme"
---
name: Bug report
about: Create a report to help us improve existing features
labels: 'possible bug'
---

# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System i

[2020-10-19 02:11] tjharman commented on #4556
I have this bug too, Pixel 4XL.
I **think** it only appeared after Android 11 was installed, does that sound correct to you @CompmanJX3 ?

Happy to provide any logs that might be useful.

[2020-10-19 02:25] CompmanJX3 commented on #4556
That could definitely be, I did upgrade in the last week.  My Antenna pod icon also changed recently.  Not sure if that was because of AntennaPod 2.0 or Android 11.

[2020-10-19 02:26] tjharman commented on #4556
The new icon was Antenna Pod 2.0.

That's the thing, it's hard to tell if it was 2.0 or Android 11 - they both arrived within a short space of each other.

[2020-10-19 05:23] tonytamsf commented on #4276
@sbadux just confirming, with the 2.0.1 or 2.0.0 version are you still seeing this?

I assume you meant Auto Skip -> Skip last is set for 31 seconds? It seems to work for 2.0.1 on my phone

[2020-10-19 06:55] keunes commented on #4544
Hmm. I seem to have the same issue; the file opens in the browser, rather than proposing a download. I guess that's why we cannot select AntennaPod. @ByteHamster I guess this is due to their server settings, right, rather than being AntennaPod's fault?

[2020-10-19 07:14] keunes commented on #507
The discussion about donations continues here on the forum: https://forum.antennapod.org/t/should-antennapod-begin-accepting-donations/249

[2020-10-19 07:17] sbadux commented on #4276
@tonytamsf Hello,
I'm using the 2.0.2 and I still see this bug.

You assumption is right. I've set the "Skip Last" to 31 seconds or more and "Smart Mark as Played" to 30 seconds.
The playback automatically stops when there are 31 seconds left it the Smart Mark as Played options don't remove it from the queue because the "30 seconds left" have not been reached.

I hope I was clear, but I can make a

[2020-10-19 07:26] bee8bit commented on #4426
This is a very useful feature. I have several feeds with one or more episodes per day. So my list is becoming very long. The problem is, old episodes stay in the list, although they are no longer available.

1. This gives me nightly errors when downloading automatically.
2 I seem to have no way of cleaning up those old entries manually.

This feature should not be a button nor a checkbox to be inv

[2020-10-19 09:00] tristan-k commented on #1946
I'm so eagerly waiting for this feature. Why not give the user an option to activate the bespoken feature in the settings? This way it would not go in the way of the average user.

[2020-10-19 10:57] boblangley commented on #4556
I am experiencing this as well. Android 11 with AntennaPod 2.0.

[2020-10-19 13:41] tonytamsf commented on #4276
@sbadux thanks.  What is your setting for 'Keep Skipped Episodes'?

[2020-10-19 13:51] sbadux commented on #4276
This setting is Enabled in my app.

[2020-10-19 14:25] heyyviv commented on #4550
nah i didn't understand why is that not working

[2020-10-19 21:52] ByteHamster commented on #4544
On my device, AntennaPod is opened. This is either a device setting ("always open with" checkbox) or the used browser does not query the system for supported apps. AntennaPod announces support for all URLs ending with `.xml` and all with the `application/xml` content type. The server has both.

[2020-10-19 22:10] ByteHamster commented on #4557
They fixed it :)

[2020-10-19 22:10] #4557 closed

[2020-10-19 22:14] ByteHamster commented on #4555
To be honest, I don't know. #2716 was related to media buttons but also Bluetooth. Maybe there is still something odd about Bluetooth.

Some of the relevant parts are tagged with `PlaybackService`. Not sure if your log tool prints the package that originally sent the lines. AntennaPod's logs export feature uses the system logs, too (but only the lines created by AntennaPod, not from other apps).

[2020-10-20 00:50] ggshuini commented on #4466
According to Matth7878’s suggestion, the problem has been resolved

[2020-10-20 01:13] tonytamsf commented on #4276
Got it, now I can replicate the problem.

[2020-10-20 06:02] #4466 closed

[2020-10-20 08:40] ByteHamster commented on #4414
Is this actually needed? I think the one in `EpisodesListFragment` should be enough. It then simply no longer calls its children's method.

That would be great!

[2020-10-20 08:56] SebiderSushi commented on #4414
I was trying to get around writig to an attribute defined in the parent class but now that you mention it i've actually been thinking of the troubles arising from redefining the attribite within the subclass 😅

[2020-10-20 09:03] ByteHamster commented on #4414
Couldn't the parent just write its own attribute when the child method returns null?

[2020-10-20 09:53] SebiderSushi commented on #4414
That's what i thought: Have the parent use its own attribute and the children separate ones, since the check `if (data.size() < EPISODES_PER_PAGE)` is off-by one it requires saving the result of this check for the next round.

But from its purpose, it should be ok to use the attribute as declared in the parent class. This should also not be too confusing in code.

Otherwise, i've noticed that the

[2020-10-20 10:03] SebiderSushi commented on #4414
Ok nvm, the `Observable` isn't playing along with `null` return values, this'll take another moment.

[2020-10-20 10:21] ByteHamster commented on #4414
How about adding a child function "hasMore()" and removing the state from the parent? This would prevent using null values.

[2020-10-20 10:24] bmml1 commented on #4556
Same here.
Android 11
AntennaPod 2.0

[2020-10-20 12:52] derekschartung commented on #4556
Same here
Android version: 11
OS version: 4.9.223-g51b9e1042e59-ab6722174
AntennaPod version: 2.0.2
Model: Pixel 3a
Device: sargo
Product: sargo

[2020-10-20 12:57] AKDub opened #4564 "New podcast sort option: By latest episode release date (but podcasts with only played episodes at the bottom)"
# Checklist

- [ x] I have used the search function to see if someone else has already submitted the same feature request.
- [ ] I will only create one feature request per issue.
- [ ] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.1

**App source**:  F-Droid

# Feature description

**Problem you may be having, or feature you want**:

As the title

[2020-10-20 13:11] ByteHamster commented on #4556
Thanks everyone. Instead of chiming in with "Same here", it is better to leave a thumbs-up reaction on the first post. This makes it easier to follow the discussion.

In order to deal with this issue, we need logs. Could someone who is affected please export their logs (on AntennaPod's "report bug" screen » "Export full logs") directly after the notification appears? The logs contain details about

[2020-10-20 14:06] derekschartung commented on #4556
I'd send my logs if Antenna exported them to a location I can get to using native apps.

[2020-10-20 14:33] ByteHamster commented on #4556
The location is on the external storage ("sd card") that can be accessed with normal file managers.

[2020-10-20 15:57] archont00 opened #4565 "Pull down to force update"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.2

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:
Pull down i

[2020-10-20 16:16] archont00 opened #4566 "Minimize risk of accidental deletion of episode"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.2

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:
When operat

[2020-10-20 16:48] KhaaL opened #4567 "Option to refresh podcast suscriptions upon opening the app."
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# Feature description

**Problem you may be having, or feature you want**:

As a user, I'd like to have Antennapod refresh my suscription of podcasts when

[2020-10-20 17:25] ByteHamster commented on #4567
You can already do that. Long-press the app icon and drag the "refresh" button to your home screen.

<img width="250" src="https://user-images.githubusercontent.com/16738348/72163337-087c4a00-3407-11ea-8d9b-21094ee61b92.png" />

[2020-10-20 17:25] #4567 closed

[2020-10-20 17:31] KhaaL commented on #4567
Well, it 'works' but I think this workaround may have other unintended consequences when iconpacks are applied on a system level. Besides, this is a rather unintuitive way for the user to have this feature. But eh, it 'works' :-)

[2020-10-20 17:32] ByteHamster opened #4568 "Share exported logs"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.0

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:

Users seem

[2020-10-20 17:34] ByteHamster commented on #4565
Duplicate of #1797 and #4546. Will be there in 2.1.x

Let's keep this issue opened for a while, so others who do not search closed issues can find it

[2020-10-20 18:52] ByteHamster commented on #4567
To be honest, I do not really think that this feature is a sustainable way to use the app. Why spend your time looking at the feeds getting updated when you can just set it to update every few hours in background and see the up-to-date items directly after opening the app?

[2020-10-20 18:58] ByteHamster commented on #4556
@CompmanJX3 thanks for sending the logs. Unfortunately, there does not seem to be interesting information in that log. Maybe you (or someone else) could try sending it again if the notification appears the next time. (it should contain something about the `DownloadService`)

[2020-10-20 19:04] #4474 closed

[2020-10-20 19:12] rec0de commented on #4555
Okay, I was definitely not using Bluetooth at the time of the issue.

Looks like the logs don't go back far enough for this type of message unfortunately. But I noticed that there was some sort of Android crash that day (first time that happened afaik, might be related?) for which an automated bug report was generated. I'm not sure if the notification was around before that crash or if it appeared

[2020-10-20 19:14] KhaaL commented on #4567
My reason is as stated before to save battery and bandwith. But if you don't see it as a feasible way to use the app - that is fine too!

[2020-10-20 19:28] ByteHamster opened #4569 "Investigate using roboelectric tests"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# Feature description

**Problem you may be having, or feature you want**:

UI tests currently take pretty long to execute. They also fail pretty frequent

[2020-10-20 19:50] nikhil097 commented on #4550
I want to work on this.

[2020-10-20 19:53] ByteHamster commented on #4374
@akshatishere Sorry, I do not yet know how this could be integrated into AntennaPod. If we start with this, users will ask for search features with even more filters (eg. only favorites, only downloaded, etc). We first need to come up with a good way to integrate this with the UI. Also, we need to think about how to not re-invent the wheel for every filter that we add.

Assuming that you are mainl

[2020-10-20 20:03] ByteHamster commented on #4555
Thanks for the logs. Unfortunately, I can not really find things that would help. While there are some mentions of AntennaPod generated by the system, it looks like messages generated actively by AntennaPod are not included. I suggest to use the log export feature within AntennaPod because that one also does not cut away lines that are still related to a message but do not contain the grepped sear

[2020-10-20 20:25] ByteHamster commented on #4552
Could you please make separate issues out of this? Looks like several features that can be discussed independently. This also makes it a lot easier for new contributors because an issue can be worked on as a whole.

- Show episode count on download statistics screen [could be a good first issue]
- Make statistics easier to discover (eg on subscriptions screen) [I want to discuss about this because

[2020-10-20 20:44] ByteHamster commented on #4564
Sorry, I do not really understand your request. Shows can not have a publication date, only episodes. Please describe your request in a bit more detail. What are empty shows? A podcast without any episode?

When writing a feature request, always keep in mind that it usually takes 3+ hours to develop even the simplest features. Making your request easy to understand and pleasant to read increases t

[2020-10-20 21:08] AKDub commented on #4564
Yes I see that my description is not clear.

By empty, I mean podcasts that have no unplayed episodes. If all of the episodes of a podcast have been listened to, it would be lower than a podcast that has 1 or more episodes, even if its most recent published episode is newer.

Newest episode date - 1 or more unplayed
To
Oldest episode date - 1 or more unplayed
Then
Newest episode date - 0 unplayed

[2020-10-20 21:44] xylo opened #4570 "Suddenly dark theme has a white bottom navigation bar"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same bug report.
- [x] I will describe the problem with as much detail as possible.
- [x] If the bug only to occurs with a certain podcast, I will include the URL of that podcast.

# System info

**App version**: 2.0.1

**App source**: F-Droid

**Android version**: 10

**Device model**: Samsung Gala

[2020-10-20 22:01] rec0de commented on #4555
I've tried the log export feature in AntennaPod, but the logs unfortunately didn't go back far enough to the time the notification appeared. I haven't encountered the bug since, but if it ever shows up again I'll make sure to get the logs.

As long as no one else reports anything like this, feel free to close this as a one-time oddity that might have been caused by the crash somewhere else in the

[2020-10-21 06:30] keunes opened #4571 "Support for Podcast Index namespace "Funding" tag"
# Checklist

- [x] I have used the search function to see if someone else has already submitted the same feature request.
- [x] I will only create one feature request per issue.
- [x] I will describe the problem with as much detail as possible.

# System info

**App version**: 2.0.2

**App source**: Google Play

# Feature description

**Problem you may be having, or feature you want**:
Most podcas